Repository spyder-ide/spyder, pull requests merged in 2018-03, with the labels that each got.

#6540 PR: Delay check whether we are running under pytest until run time
  spyder/app/mainwindow.py
  spyder/app/start.py
  spyder/config/base.py
  spyder/plugins/editor.py
  spyder/plugins/ipythonconsole.py
  spyder/utils/external/lockfile.py
  spyder/widgets/editor.py
Labels: type:Task

#6587 PR: Remove ipyconsole and editor attrs from the Help plugin
  spyder/app/tests/test_mainwindow.py
  spyder/plugins/help.py
  spyder/plugins/tests/test_help.py
Labels: OS:Windows, component:Help, type:Bug

#6575 PR: Update deprecated Sphinx directive html_use_smartypants
  spyder/utils/help/conf.py
Labels: component:Help, type:Techdebt

#6597 PR: Add handling for AttributteError when importing module from path
  spyder/otherplugins.py
Labels: component:Main Window, status:Ready For Review, type:Bug

#6598 PR: Be able to open files in the Editor if no template is found
  spyder/plugins/editor.py
  spyder/plugins/tests/test_editor.py
  spyder/widgets/editor.py
Labels: component:Editor, type:Bug

#6543 PR: Fix error when setting a path with a single quote
  spyder/plugins/tests/test_ipythonconsole.py
  spyder/widgets/ipythonconsole/shell.py
Labels: component:IPython Console, status:Pending Changes/Test, type:Bug

#6667 PR: Fix typo in utils.introspection.get_words
  spyder/utils/introspection/utils.py
  spyder/utils/tests/data/example.java
  spyder/utils/tests/data/example.md
  spyder/utils/tests/test_get_words.py
Labels: type:Bug

#6699 PR: Change time elapsed calculation to prevent OSError
  spyder/plugins/tests/test_ipythonconsole.py
  spyder/widgets/ipythonconsole/client.py
  spyder/widgets/ipythonconsole/namespacebrowser.py
Labels: component:IPython Console, type:Bug

#6710 PR: Fix NotImplementedError when browsing a MultiIndex in the Collection Editor
  spyder/widgets/variableexplorer/collectionseditor.py
  spyder/widgets/variableexplorer/tests/test_collectioneditor.py
Labels: component:Variable Explorer, status:Ready For Review, type:Bug

#6714 PR: Make several GUI/qtbot tests more reliable by increasing timeouts and tweaking the methods used
  spyder/app/tests/test_mainwindow.py
  spyder/plugins/tests/test_ipythonconsole.py
  spyder/widgets/variableexplorer/tests/test_arrayeditor.py
  spyder/widgets/variableexplorer/tests/test_dataframeeditor.py
Labels: status:Ready For Review, type:Task

#6703 PR: Set parent for Variable Explorer editors so Spyder closes properly
  spyder/widgets/variableexplorer/collectionseditor.py
  spyder/widgets/variableexplorer/tests/test_collectioneditor.py
Labels: component:Variable Explorer, type:Bug

#6712 PR: Fix new instance validation on Windows.
  spyder/utils/external/lockfile.py
Labels: OS:Windows, component:Main Window, status:Ready For Review, type:Bug

#6713 Add .pytest_cache to gitignore
  .gitignore
Labels: status:Ready For Review, type:Task

#6715 PR: Replace deprecated function in inline CollectionsEditor tests and add recently supported data types
  spyder/widgets/variableexplorer/collectionseditor.py
Labels: component:Variable Explorer, status:Ready For Review, type:Techdebt

#6731 PR: Fix various bugs in Variable Explorer, including an application crash to desktop
  MANIFEST.in
  setup.py
  spyder/widgets/variableexplorer/collectionseditor.py
  spyder/widgets/variableexplorer/tests/dom_element_test.xml
  spyder/widgets/variableexplorer/tests/test_collectioneditor.py
  spyder/widgets/variableexplorer/tests/test_dataframeeditor.py
Labels: component:Variable Explorer, type:Bug

#6736 PR: Error report stopgap to make instructions harder to miss
  appveyor.yml
  continuous_integration/travis/install.sh
  spyder/widgets/reporterror.py
Labels: component:Main Window, status:Ready For Review, tag:Ux-usability, type:Task

#6769 PR: Initialize start time to a time and not None
  spyder/widgets/ipythonconsole/client.py
Labels: component:IPython Console, type:Bug

#6759 PR: Change Editor's tab switcher from Qt.SubWindow to Qt.Popup for tiling window managers
  spyder/widgets/editor.py
Labels: component:File Switcher, tag:Ux-usability, type:Enhancement

#6832 PR: Add option to use Jedi in the IPython console + warning on greedy completer
  spyder/config/main.py
  spyder/plugins/ipythonconsole.py
  spyder/utils/ipython/kernelspec.py
  spyder/utils/ipython/start_kernel.py
Labels: component:Preferences, status:Pending Changes/Test, tag:Ui, type:Bug

#6707 PR: Add authentication dialog to submit issues to Github
  spyder/app/mainwindow.py
  spyder/images/GitHub-Mark-Light.png
  spyder/images/GitHub-Mark.png
  spyder/utils/external/github.py
  spyder/utils/icon_manager.py
  spyder/widgets/github/__init__.py
  spyder/widgets/github/backend.py
  spyder/widgets/github/gh_login.py
  spyder/widgets/reporterror.py
  spyder/widgets/tests/test_github.py
  spyder/widgets/tests/test_reporterror.py
Labels: tag:Ux-usability, type:Enhancement
