Repository spyder-ide/spyder, pull requests merged in 2018-10, with the labels that each got.

#7968 PR: Sync Outline Explorer at startup and preserve the file order in the tabbar
  spyder/plugins/editor/plugin.py
  spyder/plugins/editor/tests/test_plugin.py
  spyder/plugins/editor/widgets/editor.py
Labels: component:Editor, component:Outline Explorer, type:Bug, type:Enhancement

#7975 PR: Fix Go to definition feature in the Editor in Windows after the changes introduced with the new LSP
  spyder/plugins/editor/lsp/providers/document.py
Labels: component:Editor, severity:2-Major, type:Bug

#7984 PR: Show the root file item of files that are not Python files in the Outline Explorer
  spyder/plugins/editor/widgets/editor.py
  spyder/plugins/editor/widgets/tests/test_editor_and_outline.py
  spyder/plugins/outlineexplorer/api.py
  spyder/plugins/outlineexplorer/editor.py
  spyder/plugins/outlineexplorer/tests/test_outline_explorer.py
  spyder/plugins/outlineexplorer/widgets.py
Labels: component:Outline Explorer, type:Enhancement

#7929 PR: Improve the Shortcut Editor and fix and extend emacs shortcut support
  spyder/config/gui.py
  spyder/preferences/shortcuts.py
  spyder/preferences/tests/test_shorcuts.py
Labels: component:Preferences, status:Ready For Review

#8079 PR: Accept event if Shift+Tab is pressed in the CodeEditor keyPressEvent to avoid losing focus
  spyder/plugins/editor/widgets/codeeditor.py
Labels: component:Editor, severity:3-Moderate, status:Ready For Review, type:Bug

#8020 PR: Initial support for Spyder's dark theme
  README.md
  appveyor.yml
  continuous_integration/posix/install.sh
  requirements/requirements.txt
  setup.py
  spyder/app/mainwindow.py
  spyder/config/gui.py
  spyder/config/main.py
  spyder/preferences/configdialog.py
  spyder/utils/icon_manager.py
Labels: tag:Ui

#7734 PR: Replace debug_print for the logging module and deprecate its use
  bootstrap.py
  spyder/api/editorextension.py
  spyder/api/panel.py
  spyder/app/cli_options.py
  spyder/app/mainwindow.py
  spyder/app/start.py
  spyder/config/base.py
  spyder/plugins/console/plugin.py
  spyder/plugins/console/widgets/internalshell.py
  spyder/plugins/console/widgets/shell.py
  spyder/plugins/editor/extensions/manager.py
  spyder/plugins/editor/lsp/client.py
  spyder/plugins/editor/lsp/providers/document.py
  spyder/plugins/editor/panels/manager.py
  spyder/plugins/editor/plugin.py
  spyder/plugins/editor/utils/editor.py
  spyder/plugins/editor/widgets/codeeditor.py
  spyder/plugins/editor/widgets/editor.py
  spyder/plugins/ipythonconsole/widgets/namespacebrowser.py
  spyder/plugins/lspmanager.py
  spyder/plugins/profiler/widgets/profilergui.py
  spyder/preferences/shortcuts.py
  spyder/tests/test_dont_use.py
  spyder/utils/bsdsocket.py
  spyder/utils/codeanalysis.py
  spyder/utils/misc.py
Labels: type:Techdebt

#8104 PR: Hide plugins that do not have a layout
  spyder/plugins/lspmanager.py
  spyder/plugins/workingdirectory/plugin.py
Labels: component:Main Window, status:Ready For Review, type:Bug

#7655 PR: Add validation in Python 2 to prevent the addition of paths with unicode characters to the PYTHONPATH
  spyder/widgets/pathmanager.py
Labels: component:IPython Console, type:Bug

#8015 PR: Add the option to sync file order between the Outline Explorer and the current EditorStack
  spyder/config/main.py
  spyder/plugins/editor/plugin.py
  spyder/plugins/editor/widgets/editor.py
  spyder/plugins/editor/widgets/tests/test_editor_and_outline.py
  spyder/plugins/outlineexplorer/plugin.py
  spyder/plugins/outlineexplorer/widgets.py
Labels: component:Outline Explorer, status:Ready For Review, type:Enhancement

#7698 PR: Show normalized paths in "Create Project" dialog
  spyder/plugins/projects/widgets/projectdialog.py
  spyder/plugins/projects/widgets/tests/test_projectdialog.py
Labels: component:Projects, tag:Ux-usability, type:Bug

#7310 PR: Run cells through a function instead of pasting their contents to the console
  spyder/app/tests/script.py
  spyder/app/tests/test_mainwindow.py
  spyder/config/main.py
  spyder/plugins/editor/plugin.py
  spyder/plugins/editor/widgets/base.py
  spyder/plugins/editor/widgets/editor.py
  spyder/plugins/ipythonconsole/plugin.py
  spyder/plugins/outlineexplorer/widgets.py
  spyder/utils/syntaxhighlighters.py
Labels: type:Enhancement

#8058 PR: Change the TODO checkmark
  spyder/utils/icon_manager.py
Labels: component:Editor, tag:Ui, type:Discussion

#8086 PR: Add dark css for the Help and IPython Console plugins
  spyder/app/mainwindow.py
  spyder/plugins/help/plugin.py
  spyder/plugins/help/utils/sphinxify.py
  spyder/plugins/help/utils/sphinxthread.py
  spyder/plugins/help/utils/static/dark_css/default.css
  spyder/plugins/help/utils/static/dark_css/pygments.css
  spyder/plugins/help/utils/static/images/collapse_expand_dark.png
  spyder/plugins/help/utils/templates/usage.html
  spyder/plugins/ipythonconsole/plugin.py
  spyder/plugins/ipythonconsole/widgets/client.py
Labels: component:Help, tag:Ui, type:Enhancement

#8059 Variable Explorer: Use distinctive background for missings in DataFrames
  spyder/plugins/variableexplorer/widgets/dataframeeditor.py
  spyder/plugins/variableexplorer/widgets/tests/test_dataframeeditor.py
Labels: component:Variable Explorer, type:Enhancement

#4473 PR: Add Hungarian translation
  spyder/config/base.py
  spyder/locale/hu/LC_MESSAGES/spyder.mo
  spyder/locale/hu/LC_MESSAGES/spyder.po
  spyder_breakpoints/locale/hu/LC_MESSAGES/breakpoints.mo
  spyder_breakpoints/locale/hu/LC_MESSAGES/breakpoints.po
  spyder_profiler/locale/hu/LC_MESSAGES/profiler.mo
  spyder_profiler/locale/hu/LC_MESSAGES/profiler.po
  spyder_pylint/locale/hu/LC_MESSAGES/pylint.mo
  spyder_pylint/locale/hu/LC_MESSAGES/pylint.po
Labels: tag:Ux-usability, type:Task
