Repository spyder-ide/spyder, pull requests merged in 2018-08, with the labels that each got.

#7598 PR Update capitalization of Spyder name, and standardize description with everywhere else
  create_exe.py
  scripts/spyder.desktop
  scripts/spyder3.appdata.xml
  scripts/spyder3.desktop
  scripts/spyder_win_post_install.py
  spyder/app/mainwindow.py
  spyder/utils/help/tutorial.rst
Labels: status:Ready For Review, type:Task

#7606 PR: Fix bug in spyder3.appdata.xml
  scripts/spyder3.appdata.xml
Labels: type:Bug

#7610 PR: Update conda install command for spyder-kernels 1.x
  CONTRIBUTING.md
  README.md
Labels: status:Ready For Review, tag:Documentation, type:Task

#7611 PR: Upgrade all links to use HTTPS where available, and fix link targets when broken/redirected
  .ciocheck
  CONTRIBUTING.md
  README.md
  TROUBLESHOOTING.md
  png-convert-and-optimize.sh
  spyder/__init__.py
  spyder/app/mainwindow.py
  spyder/app/start.py
  spyder/app/tour.py
  spyder/interpreter.py
  spyder/plugins/configdialog.py
  spyder/plugins/editor.py
  spyder/utils/codeanalysis.py
  spyder/utils/external/binaryornot/helpers.py
  spyder/utils/external/lockfile.py
  spyder/utils/help/templates/layout.html
  spyder/utils/help/templates/usage.html
  spyder/utils/help/templates/warning.html
  spyder/utils/help/tutorial.rst
  spyder/utils/introspection/fallback_plugin.py
  spyder/utils/introspection/rope_patch.py
  spyder/utils/ipython/templates/blank.html
  spyder/utils/ipython/templates/kernel_error.html
  spyder/utils/ipython/templates/loading.html
  spyder/utils/programs.py
  spyder/utils/sourcecode.py
  spyder/utils/system.py
  spyder/widgets/browser.py
  spyder/widgets/helperwidgets.py
  spyder/widgets/ipythonconsole/client.py
  spyder/widgets/ipythonconsole/help.py
  spyder/widgets/tests/test_browser.py
  spyder/widgets/variableexplorer/arrayeditor.py
  spyder/widgets/variableexplorer/collectionseditor.py
  spyder/widgets/variableexplorer/dataframeeditor.py
  spyder_profiler/widgets/profilergui.py
Labels: status:Ready For Review, type:Task

#7643 PR: Edit tutorial to update it, fix errors, copyedit and clarify
  spyder/utils/help/static/images/debug-continue.png
  spyder/utils/help/static/images/debug-step-in.png
  spyder/utils/help/static/images/debug-step-out.png
  spyder/utils/help/static/images/debug-step-over.png
  spyder/utils/help/tutorial.rst
Labels: component:Help, status:Ready For Review, tag:Documentation, type:Enhancement

#7659 PR: Conform tutorial to docs style guide and further minor improvements
  spyder/utils/help/tutorial.rst
Labels: component:Help, status:Ready For Review, tag:Documentation, type:Task

#7642 PR: Handle error when doing a browser history update
  spyder/widgets/explorer.py
Labels: component:File Explorer, type:Bug

#7566 PR: Improve selection of custom interpreter
  spyder/config/main.py
  spyder/plugins/configdialog.py
  spyder/plugins/maininterpreter.py
  spyder/widgets/comboboxes.py
Labels: component:Preferences, type:Enhancement

#7679 PR: Make editor for collection types which copy incorrectly read-only
  spyder/widgets/variableexplorer/collectionseditor.py
  spyder/widgets/variableexplorer/tests/test_collectioneditor.py
Labels: component:Variable Explorer, status:Ready For Review, type:Bug

#7710 PR: Fix cog menu not showing in the variable explorer when more than one IPython console is opened
  spyder/plugins/variableexplorer.py
  spyder/widgets/variableexplorer/namespacebrowser.py
Labels: component:Variable Explorer, type:Bug

#7714 PR: Fix variable explorer actions are disabled when undocked in a new window
  spyder/plugins/variableexplorer.py
Labels: component:Variable Explorer, type:Bug

#6430 PR: Add of a Plots plugin to browse figures generated by the IPython console
  spyder/app/mainwindow.py
  spyder/config/main.py
  spyder/plugins/ipythonconsole.py
  spyder/plugins/plots.py
  spyder/widgets/figurebrowser.py
  spyder/widgets/ipythonconsole/__init__.py
  spyder/widgets/ipythonconsole/figurebrowser.py
  spyder/widgets/ipythonconsole/shell.py
Labels: component:Figure Explorer, status:Work In Progress, type:Feature

#4751 PR: Migrate introspection services to use the Language Server Protocol (LSP)
  .circleci/install.sh
  .circleci/modules_test.sh
  .gitignore
  appveyor.yml
  continuous_integration/travis/install.sh
  continuous_integration/travis/runtests.sh
  spyder/app/mainwindow.py
  spyder/app/tests/test_mainwindow.py
  spyder/config/main.py
  spyder/plugins/editor.py
  spyder/plugins/lspmanager.py
  spyder/plugins/tests/test_editor_introspection.py
  spyder/utils/code_analysis/__init__.py
  spyder/utils/code_analysis/decorators.py
  spyder/utils/code_analysis/lsp_client.py
  spyder/utils/code_analysis/lsp_providers/__init__.py
  spyder/utils/code_analysis/lsp_providers/document.py
  spyder/utils/code_analysis/lsp_transport/__init__.py
  spyder/utils/code_analysis/lsp_transport/consumer.py
  spyder/utils/code_analysis/lsp_transport/main.py
  spyder/utils/code_analysis/lsp_transport/producer.py
  spyder/utils/editor.py
  spyder/utils/icon_manager.py
  spyder/widgets/calltip.py
  spyder/widgets/editor.py
  spyder/widgets/helperwidgets.py
  spyder/widgets/mixins.py
  spyder/widgets/panels/linenumber.py
  spyder/widgets/panels/scrollflag.py
  spyder/widgets/panels/tests/test_scrollflag.py
  spyder/widgets/sourcecode/api/decoration.py
  spyder/widgets/sourcecode/base.py
  spyder/widgets/sourcecode/codeeditor.py
  spyder/widgets/sourcecode/tests/test_warnings.py
  spyder/widgets/sourcecode/utils/lsp.py
Labels: component:Code Completion, status:Ready For Review, type:Techdebt

#7720 PR: Implement a workaround to toggle on/off fullscreen mode for Windows systems
  spyder/app/mainwindow.py
Labels: component:Main Window, type:Bug

#7727 PR: Make the text of the About Spyder message box selectable
  spyder/app/mainwindow.py
Labels: component:Main Window, tag:Ui, tag:Ux-usability, type:Enhancement

#7730 PR: Add a "get_cursor_line_number" method to OutlineExplorerProxyEditor
  spyder/plugins/outlineexplorer/editor.py
  spyder/plugins/outlineexplorer/tests/test_widgets.py
  spyder/plugins/outlineexplorer/widgets.py
Labels: component:Outline Explorer, type:Bug

#7745 PR: Make the "Go to cursor position" button of the outline explorer work also when the cursor is in the last item of the Editor
  spyder/plugins/outlineexplorer/tests/test_widgets.py
  spyder/plugins/outlineexplorer/widgets.py
Labels: component:Outline Explorer, severity:4-Low, type:Bug

#7758 PR: Fix saving a new file or renaming an existing file in master
  spyder/plugins/editor/widgets/editor.py
  spyder/plugins/editor/widgets/tests/test_save.py
Labels: component:Editor, severity:2-Major, type:Bug

#7765 PR: Fix minor issues with the tutorial as pointed out by Dr. Fangohr himself
  spyder/utils/help/tutorial.rst
Labels: component:Help, status:Ready For Review, tag:Documentation, type:Bug

#7791 PR: Remove gettext scripts separated into their own repo
  gettext_compile.py
  gettext_helpers.py
  gettext_scan.py
Labels: status:Ready For Review, type:Task
