Repository spyder-ide/spyder, pull requests merged in 2018-12, with the labels that each got.

#8257 PR: LSP fixes, debugging, and minor code cleanup
  .gitignore
  spyder/config/utils.py
  spyder/plugins/editor/lsp/client.py
  spyder/plugins/editor/lsp/providers/__init__.py
  spyder/plugins/editor/lsp/providers/document.py
  spyder/plugins/editor/lsp/providers/window.py
  spyder/plugins/editor/lsp/transport/consumer.py
  spyder/plugins/editor/lsp/transport/main.py
  spyder/plugins/editor/lsp/transport/producer.py
  spyder/plugins/editor/plugin.py
  spyder/plugins/editor/tests/test_introspection.py
  spyder/plugins/editor/utils/languages.py
  spyder/plugins/editor/widgets/codeeditor.py
  spyder/plugins/editor/widgets/editor.py
  spyder/plugins/lspmanager.py
  spyder/plugins/projects/plugin.py
  spyder/utils/misc.py
Labels: component:Code Completion, type:Bug

#8347 PR: Do atomic writes when saving files
  README.md
  appveyor.yml
  continuous_integration/posix/install.sh
  requirements/conda.txt
  requirements/pip.txt
  setup.py
  spyder/utils/encoding.py
Labels: type:Bug

#5676 PR: Change word highlighting to support dot notation
  spyder/plugins/editor/widgets/codeeditor.py
Labels: component:Editor, type:Enhancement

#8351 PR: Improve robustness when starting pyls
  spyder/plugins/editor/lsp/client.py
  spyder/plugins/editor/lsp/transport/producer.py
Labels: OS:MacOS, type:Enhancement

#8349 PR: Validation of dockwidget existence before raising it
  spyder/api/plugins.py
Labels: component:Main Window, type:Bug

#8357 PR: Improve Spyder Dark syntax highlighting theme
  spyder/config/main.py
Labels: tag:Ui, type:Enhancement

#8403 PR: Fix dark CSS for tables and add custom dark scrollbar for the Help plugin
  NOTICE.txt
  spyder/plugins/help/utils/static/dark_css/default.css
  spyder/plugins/help/utils/static/images/down_arrow.png
  spyder/plugins/help/utils/static/images/down_arrow_disabled.png
  spyder/plugins/help/utils/static/images/up_arrow.png
  spyder/plugins/help/utils/static/images/up_arrow_disabled.png
Labels: component:Help

#8390 PR: Change method/function/class icons
  spyder/utils/icon_manager.py
Labels: component:Main Window, tag:Ui, type:Enhancement

#8419 PR: Increase width of the ThumbnailScrollBar and add render message
  spyder/app/tests/test_mainwindow.py
  spyder/config/main.py
  spyder/plugins/ipythonconsole/widgets/figurebrowser.py
  spyder/plugins/plots/widgets/figurebrowser.py
Labels: component:Plots

#8429 PR: Set projet filenames correctly when closing a project
  spyder/plugins/projects/plugin.py
  spyder/plugins/projects/tests/test_plugin.py
Labels: component:Projects, type:Bug

#8446 PR: Add kwarg for FigureCanvas background color
  spyder/plugins/plots/widgets/figurebrowser.py
Labels: component:Plots, type:Enhancement

#8192 PR: Remove dockwidget title bars by default and improve dock/undock behavior
  README.md
  spyder/api/plugins.py
  spyder/app/mainwindow.py
  spyder/app/tests/test_mainwindow.py
  spyder/app/tour.py
  spyder/plugins/base.py
  spyder/plugins/editor/plugin.py
  spyder/plugins/editor/widgets/editor.py
  spyder/plugins/explorer/plugin.py
  spyder/plugins/explorer/widgets.py
  spyder/plugins/findinfiles/plugin.py
  spyder/plugins/help/plugin.py
  spyder/plugins/ipythonconsole/plugin.py
  spyder/plugins/ipythonconsole/widgets/client.py
  spyder/plugins/plots/plugin.py
  spyder/plugins/variableexplorer/plugin.py
  spyder/plugins/workingdirectory/plugin.py
  spyder/requirements.py
  spyder/utils/icon_manager.py
  spyder/widgets/dock.py
  spyder/widgets/tabs.py
  spyder/widgets/tests/test_dock.py
Labels: component:Main Window, tag:Ui, type:Enhancement

#8470 PR: Add the ability to copy a figure from the plot widget
  spyder/config/main.py
  spyder/plugins/plots/plugin.py
  spyder/plugins/plots/widgets/figurebrowser.py
Labels: component:Plots, type:Enhancement

#8489 PR: Fix actions shown on the Editor Options menu for undocked and new windows
  spyder/plugins/editor/plugin.py
  spyder/plugins/editor/widgets/editor.py
Labels: component:Editor, tag:Ui, type:Bug

#8460 PR: Handle non-existing saved editor layout when loading projects
  spyder/plugins/editor/plugin.py
  spyder/plugins/editor/tests/test_plugin.py
Labels: component:Editor, type:Bug
