Repository spyder-ide/spyder, pull requests merged in 2019-03, with the labels that each got.

#8854 PR: Fix stuck arrow and conditional breakpoints in the debugger panel
  spyder/plugins/editor/panels/debugger.py
  spyder/plugins/editor/plugin.py
  spyder/plugins/editor/utils/debugger.py
  spyder/plugins/editor/widgets/codeeditor.py
  spyder/utils/icon_manager.py
Labels: component:Debugger, component:Editor, type:Bug

#8907 PR: Fix force_refresh to only force with valid object entries (Help plugin)
  spyder/plugins/help.py
Labels: component:Help, type:Bug

#8921 PR: Set enabled value of start_button with is_valid (Static Code Analysis)
  spyder_pylint/widgets/pylintgui.py
Labels: component:Pylint, type:Bug

#8928 PR: Use generic Qt name instead of Qt4 when switching backend for Mayavi
  spyder/widgets/ipythonconsole/shell.py
Labels: component:IPython Console, type:Techdebt

#8700 PR: Automatic docstring generation for functions
  spyder/config/main.py
  spyder/plugins/editor/confpage.py
  spyder/plugins/editor/extensions/__init__.py
  spyder/plugins/editor/extensions/closequotes.py
  spyder/plugins/editor/extensions/docstring.py
  spyder/plugins/editor/extensions/tests/test_docstring.py
  spyder/plugins/editor/widgets/codeeditor.py
  spyder/widgets/mixins.py
Labels: component:Editor, type:Enhancement

#8932 PR: Catch error in Outline explorer when renaming file
  spyder/plugins/outlineexplorer/widgets.py
Labels: component:Outline Explorer, type:Bug

#8993 PR: Fix over-height resize of the Github login dialog
  spyder/widgets/github/gh_login.py
Labels: type:Bug

#9048 PR: Add basic active git branch display on status bar
  spyder/images/code_fork.png
  spyder/plugins/editor/plugin.py
  spyder/plugins/editor/widgets/editor.py
  spyder/plugins/editor/widgets/status.py
  spyder/plugins/editor/widgets/tests/test_status.py
  spyder/utils/icon_manager.py
  spyder/utils/tests/test_vcs.py
  spyder/utils/vcs.py
  spyder/widgets/status.py
Labels: component:Main Window, type:Enhancement

#8481 PR: Add cursor position bookmarks in Editor
  conftest.py
  spyder/plugins/editor/plugin.py
  spyder/plugins/editor/utils/bookmarks.py
  spyder/plugins/editor/utils/editor.py
  spyder/plugins/editor/widgets/codeeditor.py
  spyder/plugins/editor/widgets/editor.py
  spyder/plugins/editor/widgets/tests/test_bookmarks.py
  spyder/tests/fixtures/bookmark_fixtures.py
Labels: component:Editor, type:Enhancement
