Repository spyder-ide/spyder, pull requests merged in 2019-06, with the labels that each got.

#9502 PR: Restore cursor properly in the Editor after a key release or a focus out event.
  spyder/plugins/editor/widgets/codeeditor.py
Labels: component:Editor, type:Bug

#9507 PR: Fix editor tab switcher vertical position
  spyder/plugins/editor/widgets/editor.py
Labels: component:Editor, tag:Ui, type:Bug

#9518 PR: Add icons to toggle uppercase/lowercase menu action
  spyder/plugins/editor/plugin.py
  spyder/utils/icon_manager.py
Labels: component:Main Window, tag:Ui

#9521 PR: Fix Fileswitcher for 'EditorStack' instances
  spyder/plugins/editor/widgets/editor.py
Labels: component:Editor, type:Bug

#9524 PR: Add validation for Enter in the File Switcher
  spyder/widgets/fileswitcher.py
Labels: component:File Switcher, type:Bug

#8768 PR: Change IPython Console icon
  spyder/app/mainwindow.py
  spyder/plugins/ipythonconsole/plugin.py
  spyder/utils/icon_manager.py
Labels: component:IPython Console, type:Enhancement

#9485 PR: Use file contents to decide when to autosave
  spyder/plugins/editor/plugin.py
  spyder/plugins/editor/tests/test_plugin.py
  spyder/plugins/editor/utils/autosave.py
  spyder/plugins/editor/utils/tests/test_autosave.py
  spyder/plugins/editor/widgets/editor.py
  spyder/plugins/editor/widgets/tests/test_editor.py
  spyder/plugins/editor/widgets/tests/test_save.py
  spyder/utils/syntaxhighlighters.py
Labels: component:Editor, type:Bug

#9523 PR: Fix Prev/Next cursor position for unsaved files
  spyder/plugins/editor/plugin.py
  spyder/plugins/editor/tests/test_plugin.py
Labels: component:Editor, type:Bug

#9550 PR: Preserve file permissions when saving in the editor
  spyder/utils/encoding.py
  spyder/utils/tests/test_encoding.py
Labels: component:Editor, type:Bug

#9555 PR: Fix line count when code is collapsed
  spyder/plugins/editor/widgets/codeeditor.py
Labels: component:Editor, type:Bug

#9552 PR: Don't stay with selected text when it's found valid in the Help pane
  spyder/app/tests/test_mainwindow.py
  spyder/plugins/help/widgets.py
Labels: component:Help, type:Enhancement

#9556 PR: Remove extra padding around plots and variable explorer plugins
  spyder/plugins/plots/plugin.py
  spyder/plugins/variableexplorer/plugin.py
Labels: tag:Ui

#9533 PR: Add documentation element to calltips in the IPython Console
  spyder/plugins/ipythonconsole/tests/test_ipythonconsole.py
  spyder/plugins/ipythonconsole/widgets/help.py
  spyder/widgets/mixins.py
Labels: component:IPython Console

#9569 PR: Add a worker to VCSStatus for getting Git active branch, state, branches (plus tags)
  spyder/plugins/editor/widgets/status.py
Labels: component:Editor, type:Enhancement

#9584 PR: Style improvement to the wait spinner used in the Find plugin
  spyder/plugins/findinfiles/widgets.py
  spyder/utils/qthelpers.py
  spyder/widgets/waitingspinner.py
Labels: component:Find in files, tag:Ui

#9586 PR: Add and get "Search in" combo box index of the "Find" plugin from/to config
  spyder/plugins/findinfiles/plugin.py
  spyder/plugins/findinfiles/widgets.py
Labels: component:Find in files, type:Enhancement

#9582 PR: Add validation for empty signature while getting calltip in the IPython Console
  spyder/plugins/ipythonconsole/plugin.py
  spyder/plugins/ipythonconsole/widgets/help.py
Labels: component:IPython Console, type:Bug

#9571 PR: Fix error when launching Preferences in Chinese
  spyder/locale/zh_CN/LC_MESSAGES/spyder.mo
  spyder/locale/zh_CN/LC_MESSAGES/spyder.po
Labels: type:Bug

#8381 PR: Add some color schemes from Eclipse
  spyder/config/appearance.py
  spyder/config/main.py
Labels: component:Editor, type:Enhancement

#9585 PR: Wrap text in tooltips, hints and calltips
  spyder/plugins/editor/widgets/codeeditor.py
  spyder/plugins/ipythonconsole/widgets/help.py
  spyder/widgets/mixins.py
Labels: tag:Ui, type:Bug

#9630 PR: Add an option to turn on/off the underlining of errors and warnings in the Editor.
  spyder/config/main.py
  spyder/plugins/editor/confpage.py
  spyder/plugins/editor/plugin.py
  spyder/plugins/editor/widgets/codeeditor.py
  spyder/plugins/editor/widgets/editor.py
  spyder/preferences/appearance.py
Labels: component:Editor, component:Preferences, type:Enhancement

#9636 PR: Fix and improvement to the highlighting and underlining of errors and warnings in the Editor
  spyder/plugins/editor/widgets/codeeditor.py
Labels: component:Editor, type:Bug, type:Enhancement

#9637 PR: Fix checkboxes loading from config file in macOS
  spyder/preferences/configdialog.py
  spyder/preferences/languageserver.py
Labels: OS:MacOS, component:Preferences, type:Bug

#8852 PR: Add an Object Explorer to the Variable Explorer
  NOTICE.txt
  README.md
  continuous_integration/circle/modules_test.sh
  requirements/conda.txt
  setup.py
  spyder/config/main.py
  spyder/plugins/variableexplorer/tests/test_variableexplorer.py
  spyder/plugins/variableexplorer/widgets/collectionseditor.py
  spyder/plugins/variableexplorer/widgets/namespacebrowser.py
  spyder/plugins/variableexplorer/widgets/objectexplorer/__init__.py
  spyder/plugins/variableexplorer/widgets/objectexplorer/attribute_model.py
  spyder/plugins/variableexplorer/widgets/objectexplorer/objectexplorer.py
  spyder/plugins/variableexplorer/widgets/objectexplorer/tests/__init__.py
  spyder/plugins/variableexplorer/widgets/objectexplorer/tests/test_objectexplorer.py
  spyder/plugins/variableexplorer/widgets/objectexplorer/toggle_column_mixin.py
  spyder/plugins/variableexplorer/widgets/objectexplorer/tree_item.py
  spyder/plugins/variableexplorer/widgets/objectexplorer/tree_model.py
  spyder/plugins/variableexplorer/widgets/objectexplorer/utils.py
  spyder/plugins/variableexplorer/widgets/tests/test_collectioneditor.py
  spyder/py3compat.py
Labels: component:Variable Explorer, type:Enhancement

#9660 PR: Disable autosave if not running in single instance mode
  spyder/plugins/editor/tests/conftest.py
  spyder/plugins/editor/tests/test_plugin.py
  spyder/plugins/editor/utils/autosave.py
Labels: component:Editor, status:Ready For Review

#9670 PR: Fix formating of text/documentation in tooltips and calltips
  spyder/plugins/editor/widgets/codeeditor.py
  spyder/plugins/ipythonconsole/tests/test_ipythonconsole.py
  spyder/plugins/ipythonconsole/widgets/help.py
  spyder/widgets/mixins.py
Labels: component:Editor, type:Bug

#9677 PR: Fix texts out of pattern in Preferences
  spyder/plugins/editor/confpage.py
  spyder/plugins/ipythonconsole/confpage.py
  spyder/plugins/workingdirectory/confpage.py
  spyder/preferences/general.py
  spyder/preferences/runconfig.py
Labels: tag:Ui, type:Enhancement
