Repository spyder-ide/spyder, pull requests merged in 2019-02, with the labels that each got.

#8578 PR: Restructure console menus
  spyder/app/mainwindow.py
  spyder/plugins/ipythonconsole/plugin.py
  spyder/plugins/ipythonconsole/widgets/client.py
Labels: component:IPython Console, status:Ready For Review, tag:Ui, type:Enhancement

#8590 PR: Adjust attribute icons size on Linux and Windows
  spyder/utils/icon_manager.py
Labels: component:Code Completion, tag:Ui, type:Task

#8717 PR: Change the max number of files in the file switcher to 15
  spyder/widgets/fileswitcher.py
Labels: component:File Switcher, type:Enhancement

#8678 PR: Use file type icons in the File Switcher
  spyder/plugins/explorer/widgets.py
  spyder/utils/icon_manager.py
  spyder/widgets/fileswitcher.py
Labels: component:File Switcher, type:Enhancement

#8719 PR: Show a place holder text in the switcher text field to explain users how to use it
  spyder/widgets/fileswitcher.py
Labels: component:File Switcher, tag:Ux-usability, type:Enhancement

#8740 PR: Use a single infowidget in the IPython console
  spyder/plugins/ipythonconsole/plugin.py
  spyder/plugins/ipythonconsole/widgets/client.py
Labels: component:Help, type:Techdebt

#8724 PR: Add position to text completion
  spyder/plugins/editor/tests/test_introspection.py
  spyder/plugins/editor/widgets/base.py
  spyder/plugins/editor/widgets/codeeditor.py
  spyder/widgets/mixins.py
Labels: component:Code Completion, type:Bug

#8802 PR: Upgrade Travis config to use Xenial image
  .travis.yml
  spyder/plugins/tests/test_ipythonconsole.py
Labels: type:Task

#8821 PR: Handle async functions and methods properly in Outline Explorer
  spyder/plugins/outlineexplorer/tests/test_widgets.py
  spyder/plugins/outlineexplorer/widgets.py
  spyder/utils/syntaxhighlighters.py
Labels: component:Outline Explorer, type:Enhancement

#8769 PR: Add new font size for file switcher according to the OS
  spyder/config/fonts.py
  spyder/config/main.py
  spyder/plugins/explorer/widgets.py
  spyder/utils/icon_manager.py
  spyder/widgets/fileswitcher.py
Labels: component:File Switcher, tag:Ui, type:Enhancement

#8837 PR: Automatically use a separate but persistent configuration directory for non-stable releases
  spyder/config/base.py
  spyder/config/tests/test_base.py
  spyder/utils/programs.py
  spyder/utils/tests/test_programs.py
  spyder/workers/updates.py
Labels: component:Preferences, type:Enhancement

#8644 PR: Add ability to paste auto-formatted file paths into the Editor from the system file manager
  conftest.py
  spyder/plugins/editor/widgets/codeeditor.py
  spyder/plugins/editor/widgets/tests/test_codeeditor_1.py
  spyder/plugins/explorer/tests/test_explorer.py
  spyder/tests/fixtures/__init__.py
  spyder/tests/fixtures/file_fixtures.py
Labels: component:Editor, type:Enhancement
