Repository spyder-ide/spyder, pull requests merged in 2019-01, with the labels that each got.

#8508 PR: Fix handling background color of Webview when using QWebView
  spyder/plugins/help/widgets.py
  spyder/plugins/ipythonconsole/widgets/client.py
Labels: type:Bug

#8512 PR: Fix the "Copy Figure" shortcut of Plots pane with multiple consoles
  spyder/plugins/plots/widgets/figurebrowser.py
Labels: component:Figure Explorer, type:Bug

#8456 PR: Setup proxy filter before setting the root index
  spyder/plugins/explorer/widgets.py
  spyder/plugins/projects/tests/test_plugin.py
  spyder/plugins/projects/widgets/explorer.py
Labels: component:Projects, status:Ready For Review, type:Bug

#8516 PR: Fix delete project by moving the code from the project explorer to the plugin
  spyder/plugins/projects/plugin.py
  spyder/plugins/projects/tests/test_plugin.py
  spyder/plugins/projects/widgets/explorer.py
Labels: component:Projects, status:Ready For Review, type:Bug

#8517 PR: Fix go to cursor position in Outline for newly created files
  spyder/plugins/outlineexplorer/tests/test_widgets.py
  spyder/plugins/outlineexplorer/widgets.py
Labels: component:Projects, status:Ready For Review, type:Bug

#8524 PR: Fix bad context menu stylesheet and figure blinking in the Plots plugin
  spyder/plugins/plots/widgets/figurebrowser.py
Labels: component:Plots, status:Ready For Review, type:Enhancement

#8434 PR: Fix completion insertion in the Editor
  spyder/plugins/editor/tests/test_introspection.py
  spyder/plugins/editor/widgets/base.py
  spyder/widgets/mixins.py
Labels: component:Editor, type:Bug

#8541 PR: Use dark logo for the light theme
  spyder/app/mainwindow.py
  spyder/images/spyder_dark.png
  spyder/images/spyder_dark.svg
Labels: component:Main Window, type:Enhancement

#8550 PR: Improve index column resize in dataframe editor
  spyder/plugins/variableexplorer/widgets/dataframeeditor.py
Labels: component:Variable Explorer, type:Enhancement

#8552 PR: Improve layout of Appearance entry in Preferences (2)
  spyder/config/main.py
  spyder/preferences/configdialog.py
Labels: component:Preferences, tag:Ui, type:Enhancement

#8604 PR: Fix missing IPython prompt
  spyder/plugins/ipythonconsole/widgets/figurebrowser.py
Labels: component:IPython Console, type:Bug

#8599 PR: Add ability to delete long nested directories on Windows from File/Project Explorers
  spyder/plugins/explorer/tests/test_explorer.py
  spyder/plugins/explorer/widgets.py
Labels: component:File Explorer, component:Projects, type:Bug

#5764 PR: Handle namespace browser column width
  spyder/plugins/variableexplorer/widgets/collectionseditor.py
  spyder/plugins/variableexplorer/widgets/namespacebrowser.py
  spyder/plugins/variableexplorer/widgets/tests/test_namespacebrowser.py
Labels: component:Variable Explorer, tag:Ui, type:Enhancement

#8598 PR: Enclose contents of load_more_data method in try/except NameError Block
  spyder/plugins/variableexplorer/widgets/arrayeditor.py
  spyder/plugins/variableexplorer/widgets/dataframeeditor.py
Labels: component:Variable Explorer, type:Bug

#7660 PR: Implement autosave for the Editor
  spyder/config/main.py
  spyder/plugins/editor/plugin.py
  spyder/plugins/editor/tests/test_plugin.py
  spyder/plugins/editor/utils/autosave.py
  spyder/plugins/editor/utils/tests/test_autosave.py
  spyder/plugins/editor/widgets/autosaveerror.py
  spyder/plugins/editor/widgets/editor.py
  spyder/plugins/editor/widgets/recover.py
  spyder/plugins/editor/widgets/tests/test_autosaveerror.py
  spyder/plugins/editor/widgets/tests/test_editor.py
  spyder/plugins/editor/widgets/tests/test_recover.py
  spyder/plugins/editor/widgets/tests/test_save.py
Labels: component:Editor, status:Ready For Review, type:Feature

#8632 PR: Don't force write flag to True in ArrayEditor, to fix compat with Numpy >=1.16
  spyder/app/tests/test_mainwindow.py
  spyder/widgets/variableexplorer/arrayeditor.py
Labels: component:Variable Explorer, status:Ready For Review, type:Bug

#8600 PR: Fix LSP consumer reading block on Windows
  azure-pipelines.yml
  requirements/conda.txt
  setup.py
  spyder/plugins/editor/lsp/transport/consumer.py
Labels: component:Code Completion, type:Bug

#8616 PR: Use single row for file name and path and use gray for paths in file switcher
  spyder/widgets/fileswitcher.py
Labels: component:File Switcher, tag:Ui, type:Enhancement

#8650 PR: Fall back to copy and delete if replace fails when restoring autosave
  spyder/plugins/editor/widgets/recover.py
  spyder/plugins/editor/widgets/tests/test_recover.py
Labels: component:Editor, status:Ready For Review, type:Bug

#8653 PR: Move some preferences entries to their own modules
  spyder/app/mainwindow.py
  spyder/preferences/appearance.py
  spyder/preferences/configdialog.py
  spyder/preferences/general.py
  spyder/preferences/maininterpreter.py
Labels: component:Preferences, tag:Ux-usability, type:Enhancement

#8637 PR: Make a closebrackets extension for smarter brackets
  spyder/plugins/editor/extensions/closebrackets.py
  spyder/plugins/editor/extensions/tests/test_closebrackets.py
  spyder/plugins/editor/widgets/codeeditor.py
  spyder/plugins/editor/widgets/tests/test_codeeditor.py
Labels: component:Editor, type:Enhancement

#8636 PR: Improve warning for when only some namespace objs couldn't be saved
  README.md
  spyder/app/mainwindow.py
  spyder/widgets/variableexplorer/namespacebrowser.py
Labels: component:Variable Explorer, status:Ready For Review, type:Enhancement

#8657 PR: Change font size for file name and path in the file switcher
  spyder/widgets/fileswitcher.py
Labels: component:File Switcher, type:Enhancement

#8665 PR: Move config pages of missing plugins to their own modules
  spyder/plugins/editor/confpage.py
  spyder/plugins/editor/plugin.py
  spyder/plugins/ipythonconsole/confpage.py
  spyder/plugins/ipythonconsole/plugin.py
  spyder/plugins/ipythonconsole/utils/ssh.py
  spyder/plugins/plots/plugin.py
  spyder/plugins/profiler/confpage.py
  spyder/plugins/profiler/plugin.py
  spyder/plugins/pylint/confpage.py
  spyder/plugins/pylint/plugin.py
Labels: component:Preferences, type:Techdebt
