Repository spyder-ide/spyder, pull requests merged in 2019-10, with the labels that each got.

#10338 PR: Add LSP log option when spyder is in debug mode
  spyder/app/mainwindow.py
Labels: component:Code Completion, component:Main Window, type:Enhancement

#10251 PR: Add an installation UI for Kite
  NOTICE.txt
  spyder/app/mainwindow.py
  spyder/config/main.py
  spyder/images/kite.gif
  spyder/images/kite_copilot.png
  spyder/images/spyder_kite.svg
  spyder/images/spyder_kite_dark.svg
  spyder/plugins/completion/kite/plugin.py
  spyder/plugins/completion/kite/providers/document.py
  spyder/plugins/completion/kite/utils/install.py
  spyder/plugins/completion/kite/utils/tests/test_install.py
  spyder/plugins/completion/kite/widgets/__init__.py
  spyder/plugins/completion/kite/widgets/install.py
  spyder/plugins/completion/plugin.py
Labels: component:Code Completion

#10365 PR: Fix Kite error when args in signature is None
  spyder/plugins/completion/kite/providers/document.py
Labels: component:Code Completion, type:Bug

#10166 PR: Add status bar widget for Kite
  spyder/app/mainwindow.py
  spyder/app/tests/test_mainwindow.py
  spyder/images/kite_dark.svg
  spyder/images/kite_light.svg
  spyder/plugins/completion/kite/__init__.py
  spyder/plugins/completion/kite/client.py
  spyder/plugins/completion/kite/plugin.py
  spyder/plugins/completion/kite/providers/document.py
  spyder/plugins/completion/kite/utils/install.py
  spyder/plugins/completion/kite/utils/status.py
  spyder/plugins/completion/kite/widgets/calltoaction.py
  spyder/plugins/completion/kite/widgets/install.py
  spyder/plugins/completion/kite/widgets/status.py
  spyder/plugins/editor/plugin.py
  spyder/utils/icon_manager.py
  spyder/utils/qthelpers.py
  spyder/widgets/calltip.py
  spyder/widgets/status.py
Labels: component:Code Completion, tag:Ui

#10405 PR: Add validation for completion signature processing
  spyder/widgets/mixins.py
Labels: component:Code Completion, type:Bug

#10411 PR: Add validation for number of parameters in function calltip
  spyder/plugins/editor/widgets/codeeditor.py
Labels: component:Editor, type:Bug

#10421 PR: Update highlighter regex for 'as' keyword
  spyder/utils/syntaxhighlighters.py
Labels: component:Editor, type:Bug

#10418 PR: Check length of parameters data vs active parameter index
  spyder/plugins/editor/widgets/codeeditor.py
Labels: component:Editor, type:Bug

#10420 PR: Editor plugin is raised after selecting file in the switcher
  spyder/plugins/editor/plugin.py
  spyder/plugins/editor/utils/switcher.py
Labels: component:Editor, component:File Switcher, type:Bug

#10419 PR: Handle paths for recent files on a different mount than the project root path
  spyder/plugins/projects/projecttypes/__init__.py
  spyder/plugins/projects/tests/test_plugin.py
Labels: component:Projects, type:Bug

#10433 PR: Fix encoding issues when using Python 2
  spyder/plugins/completion/fallback/actor.py
  spyder/plugins/completion/kite/__init__.py
  spyder/plugins/completion/kite/providers/document.py
  spyder/plugins/completion/languageserver/providers/document.py
  spyder/plugins/completion/languageserver/providers/utils.py
  spyder/plugins/editor/widgets/codeeditor.py
Labels: component:Editor, type:Bug

#10480 PR: Handle inotify error on Linux
  spyder/plugins/projects/utils/watcher.py
Labels: component:Projects, type:Bug

#10508 PR: Remove thumbnails on plots pane successfully
  spyder/plugins/plots/widgets/figurebrowser.py
  spyder/plugins/plots/widgets/tests/test_plots_widgets.py
Labels: component:Plots, type:Bug
