Repository spyder-ide/spyder, pull requests merged in 2019-04, with the labels that each got.

#9075 PR: Make completion work in split panels again
  spyder/plugins/editor/widgets/editor.py
Labels: component:Code Completion, type:Bug

#9031 PR: Automatically unbind conflicting shortcuts when pressing okay in shortcut manager
  spyder/preferences/shortcuts.py
  spyder/preferences/tests/test_shorcuts.py
Labels: component:Preferences, type:Enhancement

#9057 PR: Fix completion popup dismissed after typing delimeters or operators
  spyder/plugins/editor/extensions/closebrackets.py
  spyder/plugins/editor/extensions/closequotes.py
  spyder/plugins/editor/tests/test_introspection.py
  spyder/plugins/editor/widgets/codeeditor.py
Labels: component:Code Completion, type:Bug

#9024 PR: Add single click to open files on file and project explorer
  spyder/config/main.py
  spyder/plugins/explorer/plugin.py
  spyder/plugins/explorer/tests/test_explorer.py
  spyder/plugins/explorer/widgets.py
Labels: component:File Explorer, type:Enhancement

#9109 PR: Add an option to sort editor tabs alphabetically
  spyder/plugins/editor/widgets/editor.py
  spyder/plugins/editor/widgets/tests/test_editor_sort_tabs.py
Labels: component:Editor, type:Enhancement

#9123 PR: Add preference to show/hide cmd windows generated by the subprocess module
  spyder/config/main.py
  spyder/plugins/ipythonconsole.py
  spyder/utils/ipython/kernelspec.py
Labels: component:IPython Console, component:Preferences

#8647 PR: Provide graphical options to configure the PyLS
  spyder/config/lsp.py
  spyder/config/main.py
  spyder/plugins/editor/lsp/__init__.py
  spyder/plugins/editor/lsp/manager.py
  spyder/plugins/editor/lsp/tests/test_client.py
  spyder/plugins/editor/widgets/editor.py
  spyder/plugins/editor/widgets/tests/test_warnings.py
  spyder/plugins/help/confpage.py
  spyder/plugins/ipythonconsole/confpage.py
  spyder/preferences/configdialog.py
  spyder/preferences/languageserver.py
  spyder/utils/icon_manager.py
  spyder/utils/introspection/module_completion.py
Labels: component:Preferences, tag:Ui, type:Enhancement

#9155 PR: Simplify custom layout definition with the new features in Qt 5.6
  spyder/app/mainwindow.py
  spyder/app/tests/test_mainwindow.py
Labels: component:Main Window, type:Techdebt

#9140 PR: Use calltip widget to display calltips and tooltips
  spyder/app/tests/test_mainwindow.py
  spyder/plugins/editor/panels/linenumber.py
  spyder/plugins/editor/widgets/base.py
  spyder/plugins/editor/widgets/codeeditor.py
  spyder/plugins/ipythonconsole/widgets/help.py
  spyder/widgets/calltip.py
  spyder/widgets/mixins.py
Labels: component:Code Completion, type:Enhancement

#9166 PR: Fix Help plugin string validation for the console
  continuous_integration/azure/install.bat
  spyder/app/tests/test_mainwindow.py
  spyder/plugins/help.py
Labels: component:Help, type:Bug

#9205 PR: Prevent rehighlight() from setting changed_since_autosave_flag
  spyder/plugins/editor/widgets/editor.py
  spyder/plugins/editor/widgets/tests/test_editor.py
  spyder/utils/syntaxhighlighters.py
Labels: component:Editor, type:Bug

#9203 PR: Add option to connect to external PyLS servers
  spyder/config/main.py
  spyder/plugins/editor/lsp/manager.py
  spyder/preferences/languageserver.py
Labels: component:Editor, component:Preferences, type:Bug

#9230 PR: Display extension type icons and create entry as files are opened in "Open recent" menu
  spyder/plugins/editor/plugin.py
Labels: component:Main Window, type:Enhancement

#9054 PR: Add an "Fit plots to window" option to the plots pane
  spyder/config/main.py
  spyder/plugins/plots/plugin.py
  spyder/plugins/plots/widgets/figurebrowser.py
  spyder/plugins/plots/widgets/tests/test_plots_widgets.py
Labels: component:Plots, type:Enhancement
