Repository spyder-ide/spyder, pull requests merged in 2019-12, with the labels that each got.

#10910 PR: Show indent guides for splited editor panels
  spyder/plugins/editor/widgets/codeeditor.py
Labels: component:Editor, type:Bug

#10929 PR: Use proxy_model when refreshing plot actions state
  spyder/plugins/variableexplorer/widgets/collectionseditor.py
Labels: component:Variable Explorer, type:Bug

#10950 Add link to try out current Spyder on mybinder.org
  README.md
  binder/Desktop/Spyder.desktop
  binder/apt.txt
  binder/environment.yml
  binder/postBuild
  requirements/conda.txt
  requirements/tests.txt
Labels: type:Task

#10865 PR: Handle non-ascii text in the switcher
  spyder/plugins/editor/utils/switcher.py
  spyder/utils/stringmatching.py
  spyder/widgets/switcher.py
  spyder/widgets/tests/test_switcher.py
Labels: component:File Switcher, type:Bug

#11057 PR: Set a minimum value for the scrollflag's slider height
  spyder/plugins/editor/panels/scrollflag.py
Labels: component:Editor, type:Enhancement

#10914 PR: Automatically scroll down to newest plot in Plots pane
  spyder/plugins/plots/widgets/figurebrowser.py
  spyder/plugins/plots/widgets/tests/test_plots_widgets.py
Labels: component:Plots, type:Enhancement

#11102 PR: Set time limit to calculate columns size hint for Dataframe Editor
  spyder/plugins/variableexplorer/widgets/dataframeeditor.py
Labels: component:Variable Explorer, type:Bug

#11100 PR: Copy index and headers of dataframe
  spyder/plugins/variableexplorer/widgets/dataframeeditor.py
Labels: component:Variable Explorer, type:Bug

#11104 PR: Handle enconding error when copying dataframes in Python 2
  spyder/plugins/variableexplorer/widgets/dataframeeditor.py
Labels: component:Variable Explorer, type:Bug

#11091 PR: Workaround to avoid a glitch when duplicating current line or text selection
  spyder/plugins/editor/widgets/base.py
  spyder/plugins/editor/widgets/tests/test_editor.py
Labels: component:Editor, type:Bug

#11114 PR: Handle CompletionWidget position when undocking editor
  spyder/api/plugins.py
  spyder/plugins/base.py
  spyder/plugins/editor/plugin.py
Labels: component:Editor, type:Bug
