Repository spyder-ide/spyder, pull requests merged in 2019-07, with the labels that each got.

#9745 PR: Fix height of thumbnail scrollbar arrow buttons in the Plots plugin
  spyder/plugins/plots/widgets/figurebrowser.py
Labels: component:Plots

#9673 PR: Add support to run files in external system terminal for macOS
  spyder/utils/programs.py
  spyder/utils/tests/test_programs.py
Labels: OS:MacOS, component:Main Window, type:Enhancement

#9760 PR: Backport PR #9552
  spyder/app/tests/test_mainwindow.py
  spyder/plugins/help.py
Labels: component:Help

#9793 PR: Improve rendering of equations with MathJax on Windows in the Help pane
  spyder/plugins/help/utils/js/math_config.js
  spyder/plugins/help/utils/sphinxify.py
Labels: component:Help, type:Bug

#9813 PR: Use text instead of key in the editor close bracket extension
  spyder/plugins/editor/extensions/closebrackets.py
Labels: component:Editor, type:Bug

#9814 PR: Use text instead of key in the editor close quotes extension
  spyder/plugins/editor/extensions/closequotes.py
Labels: component:Editor, type:Bug

#9792 PR: Preserve selected working directory in Preferences after a restart
  pytest.ini
  spyder/config/main.py
  spyder/plugins/ipythonconsole/plugin.py
  spyder/plugins/ipythonconsole/tests/test_ipythonconsole.py
  spyder/plugins/workingdirectory/plugin.py
  spyder/plugins/workingdirectory/tests/test_workingdirectory.py
Labels: component:Preferences, type:Bug

#9857 PR: Fix control-click URL in tutorial ValueError
  spyder/widgets/browser.py
Labels: component:Help, type:Bug

#9806 PR: Add edition capabilities for object's attributes in the Object Explorer
  spyder/plugins/variableexplorer/widgets/collectionsdelegate.py
  spyder/plugins/variableexplorer/widgets/collectionseditor.py
  spyder/plugins/variableexplorer/widgets/objectexplorer/__init__.py
  spyder/plugins/variableexplorer/widgets/objectexplorer/objectexplorer.py
  spyder/plugins/variableexplorer/widgets/objectexplorer/toggle_column_mixin.py
  spyder/plugins/variableexplorer/widgets/objectexplorer/tree_model.py
  spyder/plugins/variableexplorer/widgets/tests/test_collectioneditor.py
Labels: component:Variable Explorer

#9840 PR: Fix sorting by column in the Variable Explorer
  spyder/plugins/variableexplorer/widgets/collectionseditor.py
  spyder/plugins/variableexplorer/widgets/tests/test_namespacebrowser.py
Labels: component:Variable Explorer, type:Bug

#9877 PR: Inherit style in the output dialog from code analysis
  spyder/plugins/pylint/widgets/pylintgui.py
Labels: tag:Ui, type:Bug

#9887 PR: Prevent errors when LSP servers don't specify some settings
  spyder/plugins/editor/widgets/codeeditor.py
Labels: component:Code Completion, type:Bug

#9384 PR: Add fuzzy search to the Variable Explorer
  spyder/app/tests/test_mainwindow.py
  spyder/plugins/variableexplorer/widgets/collectionsdelegate.py
  spyder/plugins/variableexplorer/widgets/collectionseditor.py
  spyder/plugins/variableexplorer/widgets/namespacebrowser.py
  spyder/plugins/variableexplorer/widgets/objectexplorer/tree_model.py
  spyder/plugins/variableexplorer/widgets/tests/test_collectioneditor.py
  spyder/plugins/variableexplorer/widgets/tests/test_namespacebrowser.py
  spyder/preferences/shortcuts.py
  spyder/widgets/helperwidgets.py
Labels: component:Variable Explorer, type:Enhancement

#5260 PR: Add support for object arrays in the Variable Explorer
  spyder/plugins/variableexplorer/widgets/arrayeditor.py
  spyder/plugins/variableexplorer/widgets/tests/test_arrayeditor.py
Labels: component:Variable Explorer, type:Enhancement

#8923 PR: Show icons in Options menus for macOS
  spyder/app/mainwindow.py
  spyder/plugins/base.py
  spyder/plugins/console/plugin.py
  spyder/plugins/editor/widgets/editor.py
  spyder/utils/qthelpers.py
Labels: OS:MacOS, component:Main Window
