Repository spyder-ide/spyder, pull requests merged in 2019-11, with the labels that each got.

#10607 PR: Fix 'run file' project explorer action and add test for it
  spyder/app/tests/test_mainwindow.py
  spyder/plugins/projects/plugin.py
Labels: component:Projects, type:Bug

#10615 PR: Prevent reload of kite onboarding file
  spyder/plugins/completion/kite/plugin.py
Labels: type:Bug

#10605 PR: Filter completions with an empty value for the 'insertText' key
  spyder/plugins/editor/widgets/codeeditor.py
Labels: component:Code Completion, type:Bug

#10546 PR: Improvements to the Object Explorer (font, resize, and actions over row)
  spyder/plugins/variableexplorer/widgets/collectionsdelegate.py
  spyder/plugins/variableexplorer/widgets/objectexplorer/attribute_model.py
  spyder/plugins/variableexplorer/widgets/objectexplorer/objectexplorer.py
  spyder/plugins/variableexplorer/widgets/objectexplorer/tests/test_objectexplorer.py
  spyder/plugins/variableexplorer/widgets/objectexplorer/toggle_column_mixin.py
  spyder/plugins/variableexplorer/widgets/objectexplorer/tree_model.py
Labels: component:Variable Explorer, type:Enhancement

#10662 PR: Fix handling of inotify error
  spyder/plugins/projects/utils/watcher.py
Labels: component:Projects, type:Bug

#10549 PR: Add scrollbar to autosave dialog
  spyder/plugins/editor/utils/autosave.py
  spyder/plugins/editor/widgets/recover.py
Labels: component:Editor, tag:Ui

#10683 PR: Make the list view of the file switcher look active at all times.
  spyder/widgets/switcher.py
Labels: component:File Switcher, tag:Ui, type:Enhancement

#10690 PR: Fix an error with the Python path manager widget
  spyder/app/mainwindow.py
Labels: type:Bug

#10688 PR: Fix completion of function/method definition in Kite
  spyder/plugins/editor/extensions/snippets.py
Labels: component:Code Completion, type:Bug

#10708 PR: Minor improvements to the shortcut editor
  spyder/preferences/shortcuts.py
Labels: component:Preferences, type:Enhancement

#10713 PR: Show the recovery dialog on top of the splash screen
  spyder/plugins/editor/widgets/recover.py
Labels: OS:MacOS, tag:Ui, type:Bug

#10727 PR: Fix updating actions tooltips after a change is applied to the shortcuts
  spyder/utils/qthelpers.py
Labels: component:Main Window, tag:Ui, type:Bug

#10715 PR: Add restart option to PluginConfigPage
  spyder/api/preferences.py
  spyder/preferences/configdialog.py
Labels: component:Plugins, component:Preferences

#10729 PR: Map indexes from proxy model when removing variables
  spyder/app/tests/test_mainwindow.py
  spyder/plugins/variableexplorer/widgets/collectionseditor.py
  spyder/plugins/variableexplorer/widgets/tests/test_collectioneditor.py
Labels: component:Variable Explorer, type:Bug

#10739 PR: Map indexes from proxy model to source model for Variable Explorer actions
  spyder/app/tests/test_mainwindow.py
  spyder/plugins/variableexplorer/widgets/collectionseditor.py
  spyder/plugins/variableexplorer/widgets/tests/test_collectioneditor.py
Labels: component:Variable Explorer, type:Bug

#10755 PR: Fix link handling and pydoc numpy related import for Online Help
  spyder/plugins/onlinehelp/pydoc_patch.py
  spyder/plugins/onlinehelp/tests/test_pydocgui.py
  spyder/plugins/onlinehelp/widgets.py
  spyder/widgets/browser.py
Labels: component:Online Help, type:Bug
