Repository spyder-ide/spyder, pull requests merged in 2019-09, with the labels that each got.

#10143 PR: Set error dialog as non-modal
  spyder/widgets/reporterror.py
Labels: tag:Ui

#9897 PR: Improvements to the completion widget
  spyder/config/main.py
  spyder/plugins/editor/confpage.py
  spyder/plugins/editor/plugin.py
  spyder/plugins/editor/widgets/base.py
  spyder/plugins/editor/widgets/codeeditor.py
  spyder/plugins/editor/widgets/completion.py
  spyder/plugins/editor/widgets/editor.py
  spyder/plugins/editor/widgets/tests/test_introspection.py
  spyder/utils/icon_manager.py
  spyder/widgets/calltip.py
  spyder/widgets/mixins.py
Labels: component:Code Completion, component:Editor, type:Enhancement

#10114 PR: Handle Sympy foreground color setting following a color scheme change
  spyder/plugins/ipythonconsole/widgets/shell.py
Labels: component:IPython Console

#9720 PR: Make the width of thumbnails scrollbar resizable
  spyder/app/tests/test_mainwindow.py
  spyder/plugins/plots/widgets/figurebrowser.py
  spyder/plugins/plots/widgets/tests/test_plots_widgets.py
Labels: component:Plots, type:Enhancement

#10173 PR: Fix error when response is None in Kite client
  spyder/plugins/completion/kite/client.py
Labels: component:Code Completion, type:Bug

#10196 PR: Detect zombie process and add python as default Kite client available language
  spyder/plugins/completion/kite/client.py
  spyder/plugins/completion/kite/plugin.py
Labels: type:Bug

#10215 PR: Fix keyboard shortcut dialog crash
  spyder/plugins/findinfiles/widgets.py
  spyder/widgets/helperwidgets.py
Labels: Package:PyQt, component:Preferences, type:Bug

#10216 PR: Fix signature processing when no signature is retrieved with Kite
  spyder/plugins/completion/kite/providers/document.py
Labels: component:Code Completion, type:Bug

#10205 PR: Add checkbox to verify changes in advanced options of LSP preferences
  spyder/config/main.py
  spyder/plugins/completion/languageserver/confpage.py
Labels: component:Code Completion, component:Preferences, tag:Ui, type:Enhancement

#10218 PR: Add minimal requirement for pyxdg to 0.26
  setup.py
Labels: type:Bug

#10179 PR: Implement Kite installation logic
  .travis.yml
  spyder/plugins/completion/kite/plugin.py
  spyder/plugins/completion/kite/utils/__init__.py
  spyder/plugins/completion/kite/utils/install.py
  spyder/plugins/completion/kite/utils/status.py
  spyder/plugins/completion/kite/utils/tests/__init__.py
  spyder/plugins/completion/kite/utils/tests/test_install.py
Labels: component:Code Completion

#10236 PR: Fix OSError when saving files on Linux
  spyder/plugins/editor/widgets/editor.py
  spyder/utils/encoding.py
Labels: component:Editor, type:Bug

#10278 PR: Add several validations for external LSP servers
  spyder/plugins/completion/languageserver/client.py
  spyder/plugins/completion/languageserver/confpage.py
  spyder/plugins/completion/languageserver/plugin.py
  spyder/utils/misc.py
Labels: component:Code Completion, type:Bug

#10300 PR: Add branding for Kite completion items
  NOTICE.txt
  spyder/images/kite_dark.svg
  spyder/images/kite_light.svg
  spyder/plugins/completion/fallback/actor.py
  spyder/plugins/completion/kite/providers/document.py
  spyder/plugins/completion/languageserver/providers/document.py
  spyder/plugins/editor/widgets/completion.py
  spyder/utils/icon_manager.py
Labels: component:Code Completion

#10309 PR: Fix test and path shortening for the switcher
  spyder/app/tests/test_mainwindow.py
  spyder/utils/switcher.py
Labels: component:File Switcher

#10324 PR: Add branding for code snippets completions
  spyder/plugins/completion/kite/providers/document.py
Labels: component:Code Completion, type:Bug
