Repository spyder-ide/spyder, pull requests merged in 2019-08, with the labels that each got.

#9925 PR: Fix wrapping calltip text for elements without signature in the IPython console
  spyder/plugins/ipythonconsole/tests/test_ipythonconsole.py
  spyder/widgets/mixins.py
Labels: component:IPython Console, type:Bug

#9894 PR: Change the way to show/hide the search widget in the Variable Explorer
  spyder/config/main.py
  spyder/plugins/editor/plugin.py
  spyder/plugins/variableexplorer/widgets/collectionseditor.py
  spyder/plugins/variableexplorer/widgets/namespacebrowser.py
  spyder/widgets/findreplace.py
Labels: component:Variable Explorer, type:Bug

#9948 PR: Enable edition only with double click (Variable Explorer)
  spyder/plugins/variableexplorer/widgets/collectionsdelegate.py
  spyder/plugins/variableexplorer/widgets/collectionseditor.py
Labels: component:Variable Explorer, type:Bug

#9943 PR: Add last line warnings/errors to their menu list
  spyder/plugins/editor/widgets/codeeditor.py
  spyder/plugins/editor/widgets/tests/test_warnings.py
Labels: component:Editor, type:Bug

#9967 PR: Improve error handling while getting objects attributes
  spyder/plugins/variableexplorer/widgets/objectexplorer/tests/test_objectexplorer.py
  spyder/plugins/variableexplorer/widgets/objectexplorer/tree_model.py
Labels: component:Variable Explorer, type:Bug

#9980 PR: Don't convert values to text strings and fix sorting issues in the Variable Explorer
  spyder/plugins/variableexplorer/widgets/collectionseditor.py
  spyder/plugins/variableexplorer/widgets/tests/test_collectioneditor.py
  spyder/plugins/variableexplorer/widgets/tests/test_namespacebrowser.py
Labels: component:Variable Explorer, type:Bug

#9133 PR: Create generic switcher
  spyder/plugins/editor/widgets/recover.py
  spyder/widgets/switcher.py
  spyder/widgets/tests/test_switcher.py
Labels: component:File Switcher, type:Enhancement

#10016 PR: Escape regex characters from parameters while processing a signature
  spyder/plugins/editor/widgets/tests/test_codeeditor_1.py
  spyder/widgets/mixins.py
Labels: component:Editor, type:Bug

#9014 PR: Use cell name in runcell to run it from the console and add functionality to debug cells
  spyder/app/tests/test_mainwindow.py
  spyder/config/main.py
  spyder/images/editor/debug_cell.png
  spyder/plugins/editor/plugin.py
  spyder/plugins/editor/widgets/base.py
  spyder/plugins/editor/widgets/codeeditor.py
  spyder/plugins/editor/widgets/editor.py
  spyder/plugins/ipythonconsole/comms/tests/test_runcell.py
  spyder/plugins/ipythonconsole/plugin.py
  spyder/plugins/ipythonconsole/widgets/debugging.py
  spyder/plugins/ipythonconsole/widgets/shell.py
  spyder/preferences/tests/test_shorcuts.py
  spyder/utils/icon_manager.py
  spyder/widgets/mixins.py
Labels: component:IPython Console, type:Enhancement

#10077 PR: Store autosave information in separate files instead of the Spyder config
  spyder/plugins/editor/tests/conftest.py
  spyder/plugins/editor/tests/test_plugin.py
  spyder/plugins/editor/utils/autosave.py
  spyder/plugins/editor/utils/tests/test_autosave.py
  spyder/plugins/editor/widgets/recover.py
  spyder/plugins/editor/widgets/tests/test_editor.py
  spyder/plugins/editor/widgets/tests/test_recover.py
  spyder/utils/external/lockfile.py
  spyder/utils/programs.py
Labels: component:Editor, status:Ready For Review

#10100 PR: Update autosave information after file is renamed
  spyder/plugins/editor/plugin.py
  spyder/plugins/editor/tests/test_plugin.py
  spyder/plugins/editor/utils/autosave.py
  spyder/plugins/editor/utils/tests/test_autosave.py
Labels: component:Editor, status:Ready For Review
