Repository spyder-ide/spyder, pull requests merged in 2019-05, with the labels that each got.

#9210 PR: Add a syntax highlighter for Python log files
  spyder/utils/syntaxhighlighters.py
Labels: component:Editor, type:Enhancement

#9228 PR: Add icon for Latex files
  NOTICE.txt
  spyder/images/file_type_light_tex.svg
  spyder/images/file_type_tex.svg
  spyder/utils/icon_manager.py
Labels: component:File Explorer, type:Enhancement

#9231 PR: Handle empty options in pycodestyle and pydocstyle preferences
  spyder/plugins/editor/lsp/manager.py
  spyder/plugins/editor/widgets/tests/test_warnings.py
Labels: component:Editor, component:Preferences, type:Bug

#8716 PR: Put section header rows in the file switcher at item level
  spyder/widgets/fileswitcher.py
Labels: component:File Switcher, type:Enhancement

#9182 PR: Fix Source menu entry to show code style warnings
  spyder/app/tests/test_mainwindow.py
  spyder/config/main.py
  spyder/plugins/editor/confpage.py
  spyder/plugins/editor/plugin.py
  spyder/plugins/editor/widgets/codeeditor.py
  spyder/plugins/editor/widgets/editor.py
  spyder/preferences/languageserver.py
Labels: component:Main Window, type:Bug

#9282 PR: Fix update calls of status bars for new Editor windows
  spyder/plugins/editor/widgets/editor.py
Labels: component:Editor, type:Bug

#9280 PR: Avoid the possibility of duplicate preferences dialogs
  spyder/app/mainwindow.py
Labels: component:Preferences, type:Bug

#9191 PR: Enable hover hints
  spyder/config/lsp.py
  spyder/config/main.py
  spyder/plugins/editor/widgets/codeeditor.py
  spyder/plugins/editor/widgets/editor.py
  spyder/plugins/editor/widgets/tests/test_editor.py
  spyder/plugins/editor/widgets/tests/test_editor_and_outline.py
  spyder/plugins/ipythonconsole/widgets/help.py
  spyder/preferences/languageserver.py
  spyder/widgets/calltip.py
  spyder/widgets/mixins.py
Labels: component:Code Completion, type:Enhancement

#9300 PR: Request a didChange when deleting a line in the Editor
  spyder/plugins/editor/widgets/base.py
  spyder/plugins/editor/widgets/tests/test_warnings.py
Labels: component:Editor, status:Ready For Review, type:Bug

#9312 PR: Improvements to the cmd used to start external terminals on Windows
  spyder/utils/programs.py
  spyder/utils/tests/test_programs.py
Labels: OS:Windows, tag:Ux-usability, type:Bug

#9260 PR: Improvements to autocompletion
  spyder/plugins/editor/widgets/base.py
  spyder/plugins/editor/widgets/codeeditor.py
  spyder/plugins/editor/widgets/tests/test_introspection.py
Labels: component:Code Completion, tag:Ux-usability, type:Enhancement

#9333 PR: Fix fileswitcher search and add/improve tests
  spyder/app/tests/test_mainwindow.py
  spyder/widgets/fileswitcher.py
Labels: component:File Switcher, type:Bug

#9327 PR: Remove autosaves on successful file close to partially mitigate spurious creation bugs
  spyder/plugins/editor/plugin.py
  spyder/plugins/editor/utils/autosave.py
  spyder/plugins/editor/utils/tests/test_autosave.py
  spyder/plugins/editor/widgets/editor.py
  spyder/plugins/editor/widgets/tests/test_editor.py
  spyder/plugins/editor/widgets/tests/test_save.py
Labels: component:Editor, type:Bug

#9289 PR: Hide debugger panel for files that are not Python ones
  spyder/plugins/editor/widgets/codeeditor.py
Labels: component:Editor, type:Bug

#9288 PR: Reorganize LSP server editor dialog
  spyder/plugins/editor/widgets/codeeditor.py
  spyder/preferences/languageserver.py
Labels: component:Preferences, tag:Ui, type:Enhancement

#9348 PR: Fix code editor background color
  spyder/plugins/editor/widgets/base.py
  spyder/plugins/editor/widgets/codeeditor.py
Labels: component:Editor, tag:Ui

#9249 PR: Add stdio LSP transport client
  conftest.py
  requirements/conda.txt
  requirements/tests.txt
  setup.py
  spyder/config/lsp.py
  spyder/config/main.py
  spyder/plugins/editor/lsp/__init__.py
  spyder/plugins/editor/lsp/client.py
  spyder/plugins/editor/lsp/manager.py
  spyder/plugins/editor/lsp/providers/window.py
  spyder/plugins/editor/lsp/tests/fixtures.py
  spyder/plugins/editor/lsp/tests/test_client.py
  spyder/plugins/editor/lsp/transport/common/__init__.py
  spyder/plugins/editor/lsp/transport/common/consumer.py
  spyder/plugins/editor/lsp/transport/common/producer.py
  spyder/plugins/editor/lsp/transport/main.py
  spyder/plugins/editor/lsp/transport/producer.py
  spyder/plugins/editor/lsp/transport/stdio/__init__.py
  spyder/plugins/editor/lsp/transport/stdio/consumer.py
  spyder/plugins/editor/lsp/transport/stdio/producer.py
  spyder/plugins/editor/lsp/transport/tcp/__init__.py
  spyder/plugins/editor/lsp/transport/tcp/consumer.py
  spyder/plugins/editor/lsp/transport/tcp/producer.py
  spyder/plugins/editor/widgets/codeeditor.py
  spyder/preferences/languageserver.py
Labels: component:Code Completion, type:Enhancement

#9385 PR: Improve LSP preferences UI
  spyder/preferences/languageserver.py
Labels: component:Preferences, tag:Ui, type:Enhancement

#9219 PR: Highlight current entry in the Outline Explorer and update it on-the-fly
  spyder/plugins/editor/plugin.py
  spyder/plugins/editor/widgets/editor.py
  spyder/plugins/outlineexplorer/api.py
  spyder/plugins/outlineexplorer/editor.py
  spyder/plugins/outlineexplorer/tests/test_outline_explorer.py
  spyder/plugins/outlineexplorer/tests/test_widgets.py
  spyder/plugins/outlineexplorer/widgets.py
  spyder/utils/syntaxhighlighters.py
Labels: component:Outline Explorer, type:Enhancement

#9386 PR: Resize plot when Plots pane is resized and "Fits plots to window" is checked.
  spyder/plugins/plots/widgets/figurebrowser.py
  spyder/plugins/plots/widgets/tests/test_plots_widgets.py
Labels: component:Plots, type:Bug

#9407 PR: Disable zooming and update displayed scaling percent when "Fits plot to window" is checked
  spyder/plugins/plots/widgets/figurebrowser.py
  spyder/plugins/plots/widgets/tests/test_plots_widgets.py
Labels: component:Plots, status:Ready For Review, tag:Ui

#9410 PR: Minor layout improvement to the "Appearance" preference panel.
  spyder/preferences/appearance.py
Labels: component:Preferences, tag:Ui

#9387 PR: Underline URIs in the Editor and enable opening them by Ctrl+click
  spyder/plugins/editor/widgets/codeeditor.py
  spyder/plugins/editor/widgets/tests/test_goto.py
  spyder/utils/syntaxhighlighters.py
Labels: component:Editor, type:Enhancement

#8734 PR: Remove blanks if no content is added in a line and Enter is pressed to create a new line
  spyder/config/main.py
  spyder/plugins/editor/confpage.py
  spyder/plugins/editor/plugin.py
  spyder/plugins/editor/widgets/codeeditor.py
  spyder/plugins/editor/widgets/editor.py
  spyder/plugins/editor/widgets/tests/test_codeeditor.py
  spyder/utils/syntaxhighlighters.py
Labels: component:Editor, type:Enhancement

#9274 PR: Shutdown running kernels more forcefully so they close faster
  spyder/plugins/ipythonconsole/widgets/client.py
Labels: component:IPython Console, type:Enhancement

#9450 PR: Fix editor scrollflag area position and height under the dark theme
  spyder/plugins/editor/panels/scrollflag.py
Labels: component:Editor, tag:Ui, type:Bug

#9082 PR: Use blocks to identify lines and add unique cell names
  spyder/plugins/editor/panels/classfunctiondropdown.py
  spyder/plugins/editor/panels/tests/test_classfunctiondropdown.py
  spyder/plugins/editor/utils/debugger.py
  spyder/plugins/editor/utils/editor.py
  spyder/plugins/editor/widgets/base.py
  spyder/plugins/editor/widgets/codeeditor.py
  spyder/plugins/editor/widgets/editor.py
  spyder/plugins/editor/widgets/tests/test_bookmarks.py
  spyder/plugins/editor/widgets/tests/test_breakpoints.py
  spyder/plugins/outlineexplorer/api.py
  spyder/plugins/outlineexplorer/editor.py
  spyder/plugins/outlineexplorer/plugin.py
  spyder/plugins/outlineexplorer/tests/test_outline_explorer.py
  spyder/plugins/outlineexplorer/tests/test_outline_explorer_editor.py
  spyder/plugins/outlineexplorer/tests/test_widgets.py
  spyder/plugins/outlineexplorer/widgets.py
  spyder/utils/syntaxhighlighters.py
  spyder/widgets/fileswitcher.py
  spyder/widgets/mixins.py
Labels: component:Editor, type:Enhancement

#9422 PR: Enhance the display of warnings and errors
  spyder/plugins/editor/panels/linenumber.py
  spyder/plugins/editor/widgets/codeeditor.py
  spyder/utils/icon_manager.py
  spyder/widgets/mixins.py
Labels: component:Editor, tag:Ui, type:Enhancement

#9430 PR: Make Code Analysis pane follow the currently active file
  spyder/app/tests/test_mainwindow.py
  spyder/plugins/editor/plugin.py
  spyder/plugins/pylint/plugin.py
  spyder/plugins/pylint/widgets/pylintgui.py
Labels: component:Pylint, type:Enhancement

#9468 PR: Disable LSP services on CodeEditors before restarting LSP client
  spyder/plugins/editor/lsp/manager.py
  spyder/plugins/editor/plugin.py
  spyder/plugins/editor/widgets/codeeditor.py
  spyder/plugins/editor/widgets/editor.py
Labels: component:Code Completion, component:Editor, type:Bug
