Repository spyder-ide/spyder, pull requests merged in 2020-01, with the labels that each got.

#11210 PR: Use Pandas tolist to get formatted indexes and headers in the DataFrame editor
  spyder/plugins/variableexplorer/widgets/dataframeeditor.py
  spyder/plugins/variableexplorer/widgets/tests/test_dataframeeditor.py
Labels: component:Variable Explorer, tag:Ui

#11241 PR: Handle error when disconnecting object info signal after idle
  spyder/plugins/editor/widgets/editor.py
Labels: component:Editor, type:Bug

#11239 PR: Handle AttributeError when generating context menu on dockwidget tabs
  spyder/widgets/dock.py
Labels: component:Main Window, type:Bug

#11238 PR: Handle AttributeError when creating an ArrayEditor
  spyder/plugins/variableexplorer/widgets/arrayeditor.py
  spyder/plugins/variableexplorer/widgets/tests/issue_11216.mat
  spyder/plugins/variableexplorer/widgets/tests/test_arrayeditor.py
Labels: component:Variable Explorer, type:Bug

#11271 PR: Hide tooltip when the window is blocked
  spyder/widgets/calltip.py
Labels: component:Editor, type:Bug

#11254 PR: Validate custom scale factor not being below 1.0
  spyder/preferences/general.py
Labels: component:Preferences, type:Bug

#11270 PR: Add css to style parameters in the Help pane when using Sphinx >=2
  spyder/plugins/help/utils/sphinxify.py
  spyder/plugins/help/utils/static/base_css/base.css
  spyder/plugins/help/utils/templates/layout.html
Labels: component:Help, type:Bug

#11256 PR: Change unmatched brackets in line validation
  spyder/plugins/editor/extensions/closebrackets.py
  spyder/plugins/editor/extensions/tests/test_closebrackets.py
Labels: component:Editor, type:Bug

#11272 PR: Improvements to the Help pane (style, loading page and some other issues)
  spyder/plugins/editor/widgets/editor.py
  spyder/plugins/help/plugin.py
  spyder/plugins/help/utils/sphinxify.py
  spyder/plugins/help/utils/static/css/default.css
  spyder/plugins/help/utils/static/dark_css/default.css
  spyder/plugins/help/utils/static/dark_css/pygments.css
  spyder/plugins/help/utils/templates/loading.html
  spyder/widgets/mixins.py
  spyder/widgets/tests/test_mixins.py
Labels: component:Help

#11287 PR: Fix snippets completion with a single token with placeholder
  spyder/plugins/completion/languageserver/tests/conftest.py
  spyder/plugins/editor/extensions/snippets.py
  spyder/plugins/editor/widgets/tests/conftest.py
  spyder/plugins/editor/widgets/tests/test_introspection.py
Labels: component:Code Completion, type:Bug

#11322 PR: Add a restart message when a monitor scale change is detected
  spyder/app/mainwindow.py
Labels: component:Main Window, tag:Ui

#11321 PR: Don't close autocompletion menu when AltGr is pressed
  spyder/plugins/editor/widgets/completion.py
Labels: component:Code Completion

#11122 PR: Rename copy line and duplicate line shortcuts
  spyder/config/main.py
  spyder/plugins/editor/widgets/base.py
  spyder/plugins/editor/widgets/codeeditor.py
  spyder/plugins/editor/widgets/tests/test_editor.py
Labels: tag:Ui, type:Enhancement

#11361 PR: Fix tooltip position after the editor is undocked
  spyder/plugins/editor/widgets/editor.py
  spyder/widgets/calltip.py
  spyder/widgets/mixins.py
Labels: component:Editor, type:Bug

#11389 PR: Add support for third party plugins to react to color scheme changes
  spyder/preferences/appearance.py
Labels: component:Plugins, tag:Ui, type:Enhancement

#11393 PR: Use normpath to set network folders as cwd on Windows
  spyder/plugins/ipythonconsole/widgets/shell.py
Labels: type:Bug

#11395 PR: Handle screen change to trigger restart and prevent display issues
  spyder/app/mainwindow.py
Labels: component:Main Window, type:Bug

#11334 PR: Fix several indentation cases
  spyder/plugins/editor/widgets/codeeditor.py
  spyder/plugins/editor/widgets/tests/test_autoindent.py
  spyder/plugins/editor/widgets/tests/test_codeeditor.py
Labels: component:Editor, type:Bug

#11441 PR: Properly register shortcuts for some actions of the Variable Explorer
  spyder/plugins/variableexplorer/plugin.py
  spyder/plugins/variableexplorer/widgets/namespacebrowser.py
Labels: component:Variable Explorer, type:Bug

#11422 PR: Enable signature request without automatic bracket completion
  spyder/plugins/editor/widgets/codeeditor.py
  spyder/plugins/editor/widgets/tests/test_hints_and_calltips.py
Labels: component:Editor, type:Bug
