Repository spyder-ide/spyder, pull requests merged in 2020-02, with the labels that each got.

#11462 PR: Add debug logger calls for dragEnterEvent in the Editor
  spyder/plugins/editor/widgets/codeeditor.py
  spyder/plugins/editor/widgets/editor.py
Labels: component:Editor

#11530 PR: Prevent editor stealing focus of other widgets while scrolling
  spyder/plugins/editor/widgets/base.py
Labels: component:Editor, type:Bug

#11533 PR: Add console_namespace positional arg (set to False) when calling Run in an Explorer widget
  spyder/plugins/explorer/plugin.py
Labels: component:File Explorer, type:Bug

#11505 PR: Handle file renamed in the explorer correctly in the editor
  spyder/plugins/editor/plugin.py
  spyder/plugins/editor/tests/test_plugin.py
  spyder/plugins/explorer/widgets/explorer.py
  spyder/plugins/explorer/widgets/tests/test_explorer.py
Labels: component:Editor, component:File Explorer, type:Bug

#11540 PR: Update Chinese translation text to use the correct % character
  spyder/locale/zh_CN/LC_MESSAGES/spyder.mo
  spyder/locale/zh_CN/LC_MESSAGES/spyder.po
  spyder/tests/test_dont_use.py
Labels: component:Preferences, type:Bug

#11449 PR: Pass url params to request for proper url encoding (Kite status)
  spyder/plugins/completion/kite/__init__.py
  spyder/plugins/completion/kite/client.py
  spyder/plugins/completion/kite/utils/tests/test_install.py
Labels: component:Code Completion, type:Bug

#11567 PR: Reset source model from parent after setting data (Variable explorer)
  spyder/plugins/variableexplorer/widgets/collectionseditor.py
Labels: component:Variable Explorer, type:Bug

#11574 PR: Add handling for PicklingError when getting values from the kernel
  spyder/plugins/ipythonconsole/widgets/namespacebrowser.py
Labels: component:Variable Explorer, type:Bug

#11555 PR: Change variable explorer title for NumPy object arrays
  spyder/plugins/variableexplorer/widgets/arrayeditor.py
Labels: component:Variable Explorer, type:Enhancement

#11587 PR: Fix TypeError in `spyder --defaults`
  spyder/app/mainwindow.py
Labels: type:Bug

#10610 PR: Update debugging actions and panel with current Console pdb state
  spyder/app/mainwindow.py
  spyder/plugins/editor/plugin.py
  spyder/plugins/editor/tests/conftest.py
  spyder/plugins/editor/widgets/codeeditor.py
  spyder/plugins/editor/widgets/editor.py
  spyder/plugins/ipythonconsole/plugin.py
  spyder/plugins/ipythonconsole/widgets/debugging.py
  spyder/plugins/ipythonconsole/widgets/shell.py
Labels: component:Debugger, type:Enhancement

#11592 PR: Handle TextEdit correctly when receiving completions
  spyder/plugins/editor/widgets/base.py
  spyder/widgets/mixins.py
Labels: v4.1.0

#11554 PR: Fix focus to the editor given the focus_to_editor option
  spyder/plugins/editor/widgets/editor.py
Labels: component:Editor, type:Bug, v4.1.0

#11585 PR: Set OpenGL backend before the QApplication is created
  spyder/app/mainwindow.py
  spyder/app/utils.py
Labels: v4.1.0

#11593 PR: Ensure Help pane actions are enabled after being undocked
  spyder/plugins/help/plugin.py
Labels: component:Help, component:Plugins, type:Bug, v4.1.0

#11590 PR: Fix running tests locally from file
  conftest.py
Labels: type:Bug, v4.1.0

#11608 PR: Handle corrupted pid files in autosave component
  spyder/plugins/editor/utils/autosave.py
  spyder/plugins/editor/utils/tests/test_autosave.py
Labels: component:Editor, type:Bug, v4.1.0

#11626 PR: Skip some tests that are failing or timing out too much
  spyder/app/tests/test_mainwindow.py
  spyder/plugins/editor/panels/tests/test_scrollflag.py
  spyder/plugins/editor/widgets/tests/test_editor.py
  spyder/plugins/editor/widgets/tests/test_goto.py
Labels: v4.1.0

#11531 PR: Prevent fallback to output completions when the prefix is invalid
  spyder/plugins/completion/fallback/actor.py
  spyder/plugins/completion/fallback/tests/data/example.py
  spyder/plugins/completion/fallback/tests/test_fallback.py
  spyder/plugins/completion/fallback/utils.py
Labels: v4.1.0

#11602 PR: Add handling for faulty Kite installations
  spyder/config/main.py
  spyder/plugins/completion/kite/plugin.py
Labels: component:Code Completion, type:Bug, v4.1.0

#11627 PR: Validation for tab indexes when refreshing the Editor
  spyder/plugins/editor/widgets/editor.py
Labels: component:Editor, type:Bug, v4.1.0

#11656 PR: Fix test_conda_env_activation
  continuous_integration/azure/install.bat
  continuous_integration/azure/install.sh
  continuous_integration/travis/install.sh
  spyder/plugins/editor/widgets/tests/test_introspection.py
Labels: v4.1.0

#11619 PR: Convert autosave mapping to ASCII before saving
  spyder/plugins/editor/utils/autosave.py
  spyder/plugins/editor/utils/tests/test_autosave.py
Labels: component:Editor, status:Ready For Review, type:Bug, v4.1.0

#11647 PR: Fix KeyError on autosave
  spyder/plugins/editor/utils/autosave.py
  spyder/plugins/editor/utils/tests/test_autosave.py
Labels: component:Editor, status:Ready For Review, type:Bug, v4.1.0

#11576 PR: UX and UI Improvements to the Plots pane
  spyder/config/main.py
  spyder/plugins/plots/widgets/figurebrowser.py
  spyder/plugins/plots/widgets/tests/test_plots_widgets.py
Labels: component:Plots, type:Enhancement, v4.1.0

#11661 PR: Use register_shortcut for a successful remap of cell shortcuts
  spyder/plugins/editor/plugin.py
Labels: component:Editor, type:Bug, v4.1.0

#11628 PR: Handle loading data from NpzFile instances and add an override flag to the load
  external-deps/spyder-kernels/.gitrepo
  external-deps/spyder-kernels/requirements/windows.txt
  external-deps/spyder-kernels/spyder_kernels/console/kernel.py
  external-deps/spyder-kernels/spyder_kernels/console/tests/load_data.npz
  external-deps/spyder-kernels/spyder_kernels/console/tests/test_console_kernel.py
  external-deps/spyder-kernels/spyder_kernels/customize/namespace_manager.py
  external-deps/spyder-kernels/spyder_kernels/utils/iofuncs.py
  external-deps/spyder-kernels/spyder_kernels/utils/misc.py
  external-deps/spyder-kernels/spyder_kernels/utils/tests/import_data.npz
  external-deps/spyder-kernels/spyder_kernels/utils/tests/test_iofuncs.py
  spyder/plugins/ipythonconsole/widgets/namespacebrowser.py
Labels: component:IPython Console, component:Variable Explorer, type:Bug, v4.1.0

#11488 PR: Optimise keyPressEvent in the editor
  spyder/plugins/editor/extensions/snippets.py
  spyder/plugins/editor/panels/scrollflag.py
  spyder/plugins/editor/utils/debugger.py
  spyder/plugins/editor/utils/decoration.py
  spyder/plugins/editor/widgets/base.py
  spyder/plugins/editor/widgets/codeeditor.py
  spyder/plugins/outlineexplorer/api.py
  spyder/utils/syntaxhighlighters.py
Labels: v4.1.0

#11672 PR: Fix hover endpoint for Kite on Windows and allow docs without signature in Help
  spyder/app/tests/test_mainwindow.py
  spyder/plugins/completion/kite/providers/document.py
  spyder/plugins/completion/kite/utils/tests/test_install.py
  spyder/plugins/editor/widgets/editor.py
Labels: component:Editor, component:Help, type:Bug, v4.1.0

#11670 PR: Remember last saved path in Plots pane
  spyder/plugins/plots/widgets/figurebrowser.py
Labels: component:Plots, type:Enhancement, v4.1.0

#11664 PR: Remove highlight on key release event
  spyder/plugins/editor/widgets/codeeditor.py
Labels: v4.1.0

#11681 PR: Prevent code folding from not being called on startup
  spyder/plugins/completion/plugin.py
Labels: v4.1.0

#11650 PR: Prevent Tab/Backtab from triggering completions
  spyder/plugins/editor/widgets/codeeditor.py
  spyder/plugins/editor/widgets/tests/test_introspection.py
Labels: v4.1.0

#9554 PR: Remove stylesheet workarounds for the options and browse button when under the dark theme
  binder/environment.yml
  requirements/conda.txt
  setup.py
  spyder/config/gui.py
  spyder/dependencies.py
  spyder/plugins/editor/widgets/editor.py
  spyder/plugins/ipythonconsole/widgets/client.py
  spyder/widgets/tabs.py
Labels: tag:Ui, v4.1.0

#11103 PR: Add IPython magic runcell test
  external-deps/spyder-kernels/.gitrepo
  external-deps/spyder-kernels/spyder_kernels/console/start.py
  external-deps/spyder-kernels/spyder_kernels/customize/spydercustomize.py
  spyder/app/tests/test_mainwindow.py
  spyder/plugins/ipythonconsole/tests/test_ipythonconsole.py
  spyder/plugins/ipythonconsole/widgets/debugging.py
Labels: v4.1.0
