Repository spyder-ide/spyder, pull requests merged in 2020-05, with the labels that each got.

#12549 PR: More improvements to Online Help
  NOTICE.txt
  spyder/plugins/onlinehelp/pydoc_patch.py
  spyder/plugins/onlinehelp/static/css/dark_pydoc.css
  spyder/plugins/onlinehelp/static/css/light_pydoc.css
  spyder/plugins/onlinehelp/widgets.py
  spyder/widgets/comboboxes.py
Labels: component:Online Help, type:Enhancement

#12700 PR: Handle NaT values (Variable Explorer)
  spyder/plugins/variableexplorer/widgets/collectionsdelegate.py
Labels: component:Variable Explorer, type:Bug

#12745 PR: Fix selected range after "Replace Selection"
  spyder/widgets/findreplace.py
  spyder/widgets/tests/test_findreplace.py
Labels: component:Editor, component:Find and Replace, type:Bug

#12617 PR: Make middle mouse button click on editor tabs close the intended tab
  spyder/widgets/tabs.py
Labels: component:Editor, tag:Ui, tag:Ux-usability, type:Bug

#12710 PR: Fix showing/hiding completions when backspace is pressed
  spyder/plugins/editor/widgets/codeeditor.py
  spyder/plugins/editor/widgets/tests/test_completions_hide.py
Labels: component:Code Completion, type:Bug

#12822 PR: Ensure autosave files don't overwrite existing files
  spyder/plugins/editor/utils/autosave.py
  spyder/plugins/editor/utils/tests/test_autosave.py
  spyder/plugins/editor/widgets/tests/test_editor.py
Labels: component:Editor, status:Ready For Review, type:Bug

#12843 PR: Unmaximize on new/open/close/delete project
  spyder/plugins/projects/plugin.py
  spyder/plugins/projects/tests/test_plugin.py
Labels: component:Projects, status:Ready For Review, type:Bug

#11741 PR: Create new API for plugins and widgets
  spyder/api/exceptions.py
  spyder/api/menus.py
  spyder/api/plugins.py
  spyder/api/preferences.py
  spyder/api/toolbars.py
  spyder/api/widgets/__init__.py
  spyder/api/widgets/auxiliary_widgets.py
  spyder/api/widgets/menus.py
  spyder/api/widgets/mixins.py
  spyder/api/widgets/toolbars.py
  spyder/app/mainwindow.py
  spyder/app/tests/test_mainwindow.py
  spyder/preferences/appearance.py
  spyder/preferences/tests/conftest.py
Labels: v5.0beta1

#12874 PR: Fix customizing Code Analysis history
  spyder/plugins/pylint/plugin.py
  spyder/plugins/pylint/tests/test_pylint.py
  spyder/plugins/pylint/tests/test_pylint_config_dialog.py
  spyder/plugins/pylint/widgets/pylintgui.py
Labels: component:Pylint, type:Bug
