Repository spyder-ide/spyder, pull requests merged in 2020-12, with the labels that each got.

#14344 PR: Catch RuntimeError in the editor
  spyder/plugins/editor/widgets/base.py
Labels: component:Editor, type:Bug

#14187 PR: Fix bug in preferences with max line length
  spyder/app/tests/test_mainwindow.py
  spyder/plugins/completion/languageserver/confpage.py
Labels: component:Code Completion, component:Preferences, type:Bug

#12834 PR: Improve handling of IPython Console preferences
  binder/environment.yml
  requirements/conda.txt
  setup.py
  spyder/dependencies.py
  spyder/plugins/ipythonconsole/plugin.py
  spyder/plugins/ipythonconsole/widgets/__init__.py
  spyder/plugins/ipythonconsole/widgets/client.py
  spyder/plugins/ipythonconsole/widgets/debugging.py
  spyder/plugins/ipythonconsole/widgets/restartdialog.py
  spyder/plugins/ipythonconsole/widgets/shell.py
Labels: component:IPython Console, type:Enhancement

#14390 PR: Pin cryptography to 3.2.1 to avoid issues with lack of wheels for version 3.3 (Windows installer)
  installers/Windows/installer.py
  installers/Windows/req-extras-pull-request.txt
  installers/Windows/req-extras-release.txt
  installers/Windows/req-pull-request.txt
  installers/Windows/req-release.txt
Labels: OS:Windows, tag:Installer

#14071 PR: Replace deprecated imp with importlib
  spyder/otherplugins.py
  spyder/plugins/completion/fallback/utils.py
  spyder/plugins/io_hdf5/plugin.py
  spyder/utils/introspection/old_fallback.py
  spyder/utils/programs.py
Labels: type:Techdebt

#14332 PR: Improve detection of conda and pyenv environments
  .github/scripts/install.sh
  pytest.ini
  spyder/app/mainwindow.py
  spyder/preferences/maininterpreter.py
  spyder/preferences/tests/test_config_dialog.py
  spyder/utils/conda.py
  spyder/utils/programs.py
  spyder/utils/pyenv.py
  spyder/utils/tests/test_conda.py
  spyder/utils/tests/test_pyenv.py
  spyder/widgets/status.py
  spyder/widgets/tests/test_status.py
Labels: component:Preferences, tag:Ux-usability, type:Enhancement

#11101 PR: Support IPython files
  spyder/config/appearance.py
  spyder/plugins/editor/plugin.py
  spyder/plugins/editor/utils/languages.py
  spyder/plugins/editor/widgets/codeeditor.py
  spyder/plugins/editor/widgets/editor.py
  spyder/plugins/editor/widgets/tests/assets/ipython_file.ipy
  spyder/plugins/editor/widgets/tests/test_editor.py
  spyder/plugins/outlineexplorer/editor.py
  spyder/utils/syntaxhighlighters.py
Labels: component:Editor, component:IPython Console, type:Enhancement

#14514 PR: Fix test compatibility with Pandas 1.2.0
  spyder/plugins/variableexplorer/widgets/tests/test_collectioneditor.py
Labels: type:Bug
