Repository spyder-ide/spyder, pull requests merged in 2020-06, with the labels that each got.

#12901 PR: Use UserRole to sort columns by actual value and not display value (Variable Explorer)
  external-deps/spyder-kernels/.gitrepo
  external-deps/spyder-kernels/spyder_kernels/customize/spydercustomize.py
  external-deps/spyder-kernels/spyder_kernels/utils/nsview.py
  spyder/plugins/variableexplorer/widgets/collectionseditor.py
  spyder/plugins/variableexplorer/widgets/tests/test_collectioneditor.py
  spyder/py3compat.py
Labels: component:Variable Explorer, type:Bug

#12912 PR: Use QProcess instead of subprocess for the LPS transport layer and server
  spyder/plugins/completion/languageserver/__init__.py
  spyder/plugins/completion/languageserver/client.py
  spyder/plugins/completion/languageserver/plugin.py
Labels: component:Code Completion

#12884 PR: Verify if file is already shown in the combobox to avoid duplicates (Code Analysis)
  spyder/plugins/pylint/confpage.py
  spyder/plugins/pylint/plugin.py
  spyder/plugins/pylint/tests/test_pylint.py
  spyder/plugins/pylint/widgets/pylintgui.py
Labels: component:Pylint, type:Bug

#12986 PR: Add minimum width for the color names in the edit appearance panel
  spyder/widgets/colors.py
Labels: component:Preferences, tag:Ui, tag:Ux-usability, type:Bug

#12937 PR: Enable/disable folding guides when cursor enters/exits the left panel
  spyder/plugins/editor/panels/codefolding.py
  spyder/plugins/editor/widgets/codeeditor.py
Labels: component:Editor

#13040 PR: Fix ValueError when an untitled file is open in the editor
  spyder/plugins/editor/plugin.py
Labels: component:Editor, type:Bug

#12985 PR: Add message when the debug mode is on and the file cannot be closed
  spyder/plugins/editor/plugin.py
  spyder/plugins/ipythonconsole/plugin.py
  spyder/plugins/ipythonconsole/tests/test_ipython_config_dialog.py
Labels: component:Editor, component:IPython Console, type:Enhancement

#13032 PR: Show the context menu with disabled options in the file explorer when it is empty
  spyder/plugins/explorer/widgets/explorer.py
Labels: OS:Windows, component:File Explorer, type:Bug

#13003 PR: Store the analyzed filenames of the Code Analysis plugin
  spyder/config/main.py
  spyder/plugins/pylint/plugin.py
  spyder/plugins/pylint/widgets/pylintgui.py
Labels: component:Pylint, type:Enhancement

#13047 PR: Clear old set shortcuts if they are now empty (Shortcuts)
  spyder/app/mainwindow.py
  spyder/app/tests/test_mainwindow.py
Labels: component:Preferences, type:Bug

#12812 PR: Implement workspace/didChangeWorkspaceFolders correctly and fix major issues with workspace-only servers
  spyder/plugins/completion/languageserver/__init__.py
  spyder/plugins/completion/languageserver/client.py
  spyder/plugins/completion/languageserver/plugin.py
  spyder/plugins/completion/languageserver/providers/__init__.py
  spyder/plugins/completion/languageserver/providers/client.py
  spyder/plugins/completion/languageserver/providers/workspace.py
  spyder/plugins/completion/languageserver/tests/test_client.py
  spyder/plugins/completion/languageserver/transport/common/consumer.py
  spyder/plugins/completion/languageserver/transport/common/producer.py
  spyder/plugins/completion/languageserver/transport/stdio/producer.py
  spyder/plugins/completion/plugin.py
  spyder/plugins/editor/panels/manager.py
  spyder/plugins/projects/plugin.py
Labels: severity:1-Critical

#13071 PR: Show the scrollflag in macOS
  spyder/plugins/editor/panels/scrollflag.py
  spyder/plugins/editor/panels/tests/test_scrollflag.py
  spyder/plugins/editor/widgets/codeeditor.py
Labels: component:Editor, type:Bug
