Repository spyder-ide/spyder, pull requests merged in 2020-04, with the labels that each got.

#12093 PR: Fix file association dialog example in settings
  spyder/plugins/explorer/widgets/fileassociations.py
Labels: component:File Explorer, type:Bug

#12131 PR: Update plots plugin to Python 3
  spyder/plugins/plots/plugin.py
  spyder/plugins/plots/widgets/figurebrowser.py
  spyder/plugins/plots/widgets/tests/test_plots_widgets.py
Labels: component:Plots, component:Plugins, type:Enhancement

#12109 PR: Catch NameError when trying to load more data in the dataframe and array viewers
  spyder/plugins/variableexplorer/widgets/arrayeditor.py
  spyder/plugins/variableexplorer/widgets/dataframeeditor.py
Labels: component:Variable Explorer, type:Bug

#12094 PR: Remove size parameter in TextEditor constructor call
  spyder/plugins/profiler/widgets/profilergui.py
Labels: component:Profiler, type:Bug

#12178 PR: Patch asyncio to start Spyder with Python 3.8 on Windows
  spyder/plugins/ipythonconsole/plugin.py
  spyder/py3compat.py
Labels: OS:Windows, component:IPython Console, type:Bug

#11704 PR: Fix issues parsing runtests.py args and passing them properly to Spyder and Pytest
  .gitignore
  runtests.py
  spyder/app/mainwindow.py
  spyder/app/tests/test_mainwindow.py
Labels: type:Bug, type:Task

#12260 PR: Remove restriction to populate object attributes in the Object Explorer
  spyder/plugins/variableexplorer/widgets/objectexplorer/objectexplorer.py
  spyder/plugins/variableexplorer/widgets/objectexplorer/tests/test_objectexplorer.py
  spyder/plugins/variableexplorer/widgets/objectexplorer/tree_model.py
Labels: component:Variable Explorer, type:Enhancement

#12308 PR: Fix TypeError in the Help plugin in plain text mode
  spyder/plugins/help/plugin.py
Labels: component:Help

#12342 PR: Use def instead of lambda to define slots for data conversion (Variable Explorer)
  spyder/plugins/variableexplorer/widgets/dataframeeditor.py
  spyder/plugins/variableexplorer/widgets/tests/test_dataframeeditor.py
Labels: component:Variable Explorer, type:Bug

#12363 PR: Make refresh namespacebrowser an interrupt call (Variable Explorer)
  spyder/app/tests/test_mainwindow.py
  spyder/plugins/ipythonconsole/widgets/namespacebrowser.py
  spyder/plugins/variableexplorer/widgets/namespacebrowser.py
Labels: component:Variable Explorer, type:Bug

#12362 PR: Fix the same font in Preferences and update action icons (Online Help)
  spyder/plugins/onlinehelp/plugin.py
  spyder/plugins/onlinehelp/pydoc_patch.py
  spyder/plugins/onlinehelp/static/css/dark_pydoc.css
  spyder/plugins/onlinehelp/static/css/light_pydoc.css
  spyder/plugins/onlinehelp/widgets.py
  spyder/utils/qthelpers.py
  spyder/widgets/browser.py
Labels: component:Online Help, type:Bug

#12452 PR: Code analysis and debug markers correctly positioned when code is folded
  spyder/plugins/editor/widgets/codeeditor.py
Labels: component:Editor, type:Bug

#12448 PR: Catch AttributeError when closing a console
  spyder/plugins/ipythonconsole/widgets/client.py
Labels: component:IPython Console, type:Bug

#12359 PR: Fix inconsistent behavior when creating/saving files with default names
  spyder/plugins/editor/plugin.py
  spyder/plugins/editor/tests/conftest.py
  spyder/plugins/editor/tests/test_plugin.py
Labels: component:Editor, severity:4-Low, type:Bug

#12508 PR: Handle KeyError when processing rename in autosave
  spyder/plugins/editor/utils/autosave.py
  spyder/plugins/editor/utils/tests/test_autosave.py
Labels: component:Editor, status:Ready For Review, type:Bug

#12114 PR: Fix go to previous/next cursor position
  spyder/config/main.py
  spyder/plugins/editor/plugin.py
  spyder/plugins/editor/tests/test_plugin.py
  spyder/plugins/editor/widgets/editor.py
Labels: component:Editor, type:Bug

#12453 PR: Fix unstable completions when using backspace
  spyder/plugins/editor/widgets/codeeditor.py
Labels: component:Code Completion, component:Editor, type:Bug

#12516 PR: Handle error when checking if Kite is already running
  spyder/plugins/completion/kite/utils/status.py
Labels: component:Code Completion, type:Bug

#12519 PR: Correctly display messages from the pyls-mypy plugin
  spyder/plugins/editor/widgets/codeeditor.py
Labels: component:Code Completion, type:Bug

#12455 PR: Add broken icon in the plots if the figure is corrupted
  spyder/plugins/plots/widgets/figurebrowser.py
  spyder/utils/icon_manager.py
Labels: component:Plots, type:Bug
