Repository spyder-ide/spyder, pull requests merged in 2020-07, with the labels that each got.

#10843 PR: Fix sorting and loading data in the Variable Explorer
  spyder/config/base.py
  spyder/plugins/completion/languageserver/plugin.py
  spyder/plugins/variableexplorer/widgets/collectionseditor.py
  spyder/plugins/variableexplorer/widgets/namespacebrowser.py
  spyder/plugins/variableexplorer/widgets/tests/test_collectioneditor.py
  spyder/plugins/variableexplorer/widgets/tests/test_namespacebrowser.py
Labels: component:Variable Explorer, type:Bug

#13215 PR: Some improvements for the Find pane
  spyder/plugins/findinfiles/widgets.py
Labels: component:Find in files, type:Enhancement

#13226 PR: Fix segfault when right-clicking any entry in the project explorer (2)
  spyder/plugins/explorer/widgets/explorer.py
Labels: component:Projects, severity:1-Critical, type:Bug

#13259 PR: Update Contributing guide to specify forking the Spyder repo
  CONTRIBUTING.md
Labels: tag:Documentation, type:Task, v4.2.0

#13299 PR: Fix project logic to allow for extra dialogs
  spyder/plugins/projects/plugin.py
  spyder/plugins/projects/tests/test_plugin.py
  spyder/plugins/projects/widgets/projectdialog.py
Labels: component:Projects, type:Enhancement

#13317 PR: Add name validation and status of project methods
  spyder/plugins/projects/api.py
  spyder/plugins/projects/plugin.py
  spyder/plugins/projects/widgets/projectdialog.py
  spyder/plugins/projects/widgets/tests/test_projectdialog.py
Labels: component:Projects, type:Enhancement

#13334 PR: Fix for consistent numbering when saving multiple plots
  spyder/plugins/plots/widgets/figurebrowser.py
  spyder/plugins/plots/widgets/tests/test_plots_widgets.py
Labels: component:Plots, type:Bug

#13294 PR: Enable filtering in multiple columns in the shortcuts table (Preferences)
  spyder/preferences/shortcuts.py
  spyder/preferences/tests/test_shorcuts.py
Labels: component:Preferences, type:Bug

#10542 PR: Add startup lines to the debugger
  spyder/plugins/ipythonconsole/confpage.py
  spyder/plugins/ipythonconsole/tests/test_ipythonconsole.py
  spyder/plugins/ipythonconsole/widgets/debugging.py
  spyder/plugins/variableexplorer/widgets/tests/test_arrayeditor.py
Labels: component:Debugger, type:Enhancement

#13359 PR: Add a "Show in external file browser" shortcut (Editor)
  spyder/config/main.py
  spyder/plugins/editor/widgets/editor.py
  spyder/preferences/shortcuts.py
Labels: component:Editor, tag:Ux-usability, type:Enhancement

#13375 PR: Generalize error reporting via signal and simplify widget
  spyder/api/plugins.py
  spyder/api/widgets/__init__.py
  spyder/app/mainwindow.py
  spyder/app/tests/test_mainwindow.py
  spyder/plugins/console/widgets/main_widget.py
  spyder/plugins/variableexplorer/widgets/objectexplorer/tests/test_objectexplorer.py
  spyder/widgets/reporterror.py
  spyder/widgets/tests/test_reporterror.py
Labels: type:Enhancement

#13407 PR: Catch BrokenPipeError when trying to open a port (Online Help)
  spyder/plugins/onlinehelp/pydoc_patch.py
Labels: component:Online Help, type:Bug

#13367 PR: Add file hover-go-to relative to project root
  spyder/plugins/editor/plugin.py
  spyder/plugins/editor/widgets/codeeditor.py
  spyder/plugins/editor/widgets/editor.py
  spyder/plugins/editor/widgets/tests/test_goto.py
  spyder/plugins/projects/plugin.py
Labels: component:Projects, type:Enhancement
