Repository spyder-ide/spyder, pull requests merged in 2020-10, with the labels that each got.

#13833 PR: Fix some UX/UI issues in the Files pane
  spyder/config/main.py
  spyder/plugins/explorer/confpage.py
  spyder/plugins/explorer/plugin.py
  spyder/plugins/explorer/widgets/explorer.py
  spyder/plugins/explorer/widgets/tests/test_explorer.py
  spyder/plugins/projects/plugin.py
  spyder/plugins/projects/widgets/explorer.py
Labels: component:File Explorer, tag:Ui, tag:Ux-usability, type:Enhancement

#13867 PR: Improve performance when painting indent guides
  spyder/plugins/editor/panels/indentationguides.py
Labels: component:Editor

#13717 PR: Fix technical bugs on tour
  spyder/__init__.py
  spyder/app/mainwindow.py
  spyder/app/tour.py
Labels: component:Main Window, tag:Ux-usability, type:Bug, type:Enhancement

#13958 PR: Update, revise and copyedit existing tour steps
  spyder/app/tour.py
Labels: component:Main Window, tag:Ux-usability, type:Enhancement

#13953 PR: Change Kite dialog to tour dialog when starting Spyder for first time
  spyder/app/mainwindow.py
  spyder/app/tests/test_mainwindow.py
  spyder/app/tour.py
  spyder/config/main.py
  spyder/plugins/completion/kite/plugin.py
Labels: component:Main Window, tag:Ux-usability, type:Enhancement
