Repository spyder-ide/spyder, pull requests merged in 2020-09, with the labels that each got.

#13590 PR: Fix height of "Run > Configuration per file" dialog by adding a scrollbar to it
  spyder/preferences/runconfig.py
Labels: type:Bug

#13753 PR: Handle IndexError in Pylint history
  spyder/plugins/pylint/widgets/pylintgui.py
Labels: component:Pylint, type:Bug

#13598 PR: Fix messages shown in plain text (Help)
  spyder/plugins/help/plugin.py
Labels: component:Help, type:Bug

#13281 PR: Improve performance when processing linting results and scrolling (Editor)
  spyder/plugins/editor/api/decoration.py
  spyder/plugins/editor/plugin.py
  spyder/plugins/editor/utils/decoration.py
  spyder/plugins/editor/widgets/base.py
  spyder/plugins/editor/widgets/codeeditor.py
  spyder/plugins/editor/widgets/completion.py
  spyder/plugins/editor/widgets/tests/test_decorations.py
  spyder/plugins/editor/widgets/tests/test_extra_selections.py
  spyder/plugins/editor/widgets/tests/test_warnings.py
Labels: component:Editor, type:Enhancement

#13843 PR: Update optional dependency on Pandas to 1.1.1
  spyder/dependencies.py
Labels: component:Variable Explorer, type:Bug

#13834 PR: Only highlight multiple ocurrences in the editor
  spyder/plugins/editor/widgets/codeeditor.py
Labels: component:Editor, type:Bug

#13379 PR: Fix close button while debugging
  spyder/plugins/editor/plugin.py
  spyder/plugins/ipythonconsole/plugin.py
  spyder/plugins/ipythonconsole/tests/test_ipythonconsole.py
  spyder/plugins/ipythonconsole/widgets/client.py
  spyder/plugins/ipythonconsole/widgets/debugging.py
Labels: v4.2.0

#10873 PR: Add a cache to runcell
  spyder/app/tests/test_mainwindow.py
  spyder/plugins/ipythonconsole/plugin.py
  spyder/plugins/ipythonconsole/tests/test_ipythonconsole.py
  spyder/plugins/ipythonconsole/widgets/debugging.py
  spyder/plugins/ipythonconsole/widgets/shell.py
Labels: component:IPython Console, type:Enhancement

#13876 PR: Make date objects editable in the object explorer
  spyder/plugins/variableexplorer/widgets/collectionsdelegate.py
  spyder/plugins/variableexplorer/widgets/tests/test_collectioneditor.py
Labels: component:Variable Explorer, type:Bug
