Repository spyder-ide/spyder, pull requests merged in 2020-03, with the labels that each got.

#11684 PR: Give focus to Plots pane when switching to it by shortcut if it's visible
  spyder/plugins/plots/plugin.py
Labels: component:Plots, type:Enhancement, v4.1.0

#11064 PR: Add Github action to close duplicate issues
  .github/workflows/duplicates.yml
Labels: type:Task

#11711 PR: Update translation files
  spyder/locale/de/LC_MESSAGES/spyder.po
  spyder/locale/es/LC_MESSAGES/spyder.po
  spyder/locale/fr/LC_MESSAGES/spyder.po
  spyder/locale/hu/LC_MESSAGES/spyder.po
  spyder/locale/ja/LC_MESSAGES/spyder.po
  spyder/locale/pl/LC_MESSAGES/spyder.po
  spyder/locale/pt_BR/LC_MESSAGES/spyder.po
  spyder/locale/ru/LC_MESSAGES/spyder.po
  spyder/locale/spyder.pot
  spyder/locale/zh_CN/LC_MESSAGES/spyder.po
Labels: v4.1.0

#11690 PR: Date/time-based filename (when saving) figures in Plots pane
  spyder/plugins/plots/widgets/figurebrowser.py
Labels: component:Plots, type:Enhancement, v4.1.0

#11713 PR: Fix translations
  spyder/locale/de/LC_MESSAGES/spyder.po
  spyder/locale/es/LC_MESSAGES/spyder.po
  spyder/locale/fr/LC_MESSAGES/spyder.po
  spyder/locale/hu/LC_MESSAGES/spyder.po
  spyder/locale/ja/LC_MESSAGES/spyder.po
  spyder/locale/pl/LC_MESSAGES/spyder.po
  spyder/locale/pt_BR/LC_MESSAGES/spyder.po
  spyder/locale/ru/LC_MESSAGES/spyder.po
  spyder/locale/spyder.pot
  spyder/locale/zh_CN/LC_MESSAGES/spyder.po
Labels: v4.1.0

#11708 PR: Make pylint plugin find most local .pylintrc to given file and set cwd correctly
  spyder/app/tests/test_mainwindow.py
  spyder/plugins/pylint/tests/test_pylint.py
  spyder/plugins/pylint/utils.py
  spyder/plugins/pylint/widgets/pylintgui.py
Labels: component:Pylint, type:Enhancement, v4.1.0

#11714 PR: Fix issues with autocompletion characters and prevent whitespace from triggering completions
  spyder/plugins/editor/widgets/codeeditor.py
  spyder/plugins/editor/widgets/tests/test_introspection.py
Labels: v4.1.0

#11722 PR: Use resolved path (without symlinks) to save files
  spyder/utils/encoding.py
  spyder/utils/tests/test_encoding.py
Labels: component:Editor, type:Bug

#11715 PR: Disable code folding when files are too long and add an option to disable code folding
  spyder/config/main.py
  spyder/plugins/editor/confpage.py
  spyder/plugins/editor/plugin.py
  spyder/plugins/editor/widgets/codeeditor.py
  spyder/plugins/editor/widgets/editor.py
Labels: v4.1.0

#11745 Editor: Only ask for completions when text is generated after pressing a key
  spyder/plugins/editor/widgets/codeeditor.py
  spyder/utils/tests/test_encoding.py
Labels: v4.1.0

#11746 PR: Fix highlighting based on Pygments
  spyder/plugins/editor/widgets/codeeditor.py
  spyder/utils/syntaxhighlighters.py
Labels: v4.1.0

#11732 PR: Do not include complete words as part of completion suggestions
  spyder/plugins/editor/widgets/codeeditor.py
  spyder/plugins/editor/widgets/tests/test_introspection.py
Labels: component:Code Completion, type:Bug, v4.1.0

#11739 PR: Add API entry for translation utilities
  spyder/api/translations.py
Labels: type:Enhancement, v4.1.0

#11770 PR: Remove line wrap from po files
  spyder/locale/de/LC_MESSAGES/spyder.po
  spyder/locale/es/LC_MESSAGES/spyder.po
  spyder/locale/fr/LC_MESSAGES/spyder.po
  spyder/locale/hu/LC_MESSAGES/spyder.po
  spyder/locale/ja/LC_MESSAGES/spyder.po
  spyder/locale/pl/LC_MESSAGES/spyder.po
  spyder/locale/pt_BR/LC_MESSAGES/spyder.po
  spyder/locale/ru/LC_MESSAGES/spyder.po
  spyder/locale/spyder.pot
  spyder/locale/zh_CN/LC_MESSAGES/spyder.po
Labels: v4.1.0

#11764 PR: Fix saving protected files on Windows by checking if they are read-only
  spyder/plugins/editor/widgets/editor.py
Labels: component:Editor, type:Bug, v4.1.0

#11762 PR: Use the same temp base dir for Sphinx config, src and build paths
  spyder/plugins/help/utils/sphinxify.py
Labels: component:Help, type:Bug, v4.1.0

#11766 PR: Fix broken completions highlighting in the iPython console
  spyder/plugins/ipythonconsole/utils/style.py
Labels: v4.1.0

#11755 PR: Some improvements to fallback completions
  spyder/app/tests/test_mainwindow.py
  spyder/plugins/completion/fallback/actor.py
  spyder/plugins/completion/fallback/tests/test_fallback.py
  spyder/plugins/completion/fallback/utils.py
  spyder/plugins/completion/plugin.py
  spyder/plugins/editor/widgets/codeeditor.py
  spyder/plugins/editor/widgets/tests/conftest.py
  spyder/plugins/editor/widgets/tests/test_introspection.py
  spyder/widgets/mixins.py
Labels: v4.1.0

#11793 PR: Update spyder-kernels subrepo
  external-deps/spyder-kernels/.circleci/config.yml
  external-deps/spyder-kernels/.github/workflows/linux-tests.yml
  external-deps/spyder-kernels/.github/workflows/macos-tests.yml
  external-deps/spyder-kernels/.github/workflows/windows-tests.yml
  external-deps/spyder-kernels/.gitrepo
  external-deps/spyder-kernels/.travis.yml
  external-deps/spyder-kernels/README.md
  external-deps/spyder-kernels/appveyor.yml
  external-deps/spyder-kernels/ci/install.sh
  external-deps/spyder-kernels/ci/runtests.sh
  external-deps/spyder-kernels/requirements/posix.txt
  external-deps/spyder-kernels/requirements/tests.txt
  external-deps/spyder-kernels/requirements/windows.txt
  external-deps/spyder-kernels/setup.py
  external-deps/spyder-kernels/spyder_kernels/console/kernel.py
  external-deps/spyder-kernels/spyder_kernels/customize/namespace_manager.py
  external-deps/spyder-kernels/spyder_kernels/customize/spyderpdb.py
  external-deps/spyder-kernels/spyder_kernels/customize/tests/test_utils.py
Labels: v4.1.0

#11800 PR: Update version constraints for spyder-kernels
  binder/environment.yml
  requirements/conda.txt
  setup.py
  spyder/dependencies.py
  spyder/plugins/ipythonconsole/plugin.py
  spyder/tests/test_dependencies_in_sync.py
Labels: v4.1.0

#11801 PR: Disable Polish translation
  spyder/config/base.py
Labels: v4.1.0

#11812 PR: Fix validation for import as ndarray/array
  spyder/plugins/variableexplorer/widgets/importwizard.py
Labels: component:Variable Explorer

#11816 PR: Update Pylint plugin to Python 3
  spyder/plugins/pylint/plugin.py
  spyder/plugins/pylint/tests/test_pylint.py
  spyder/plugins/pylint/tests/test_pylint_config_dialog.py
  spyder/plugins/pylint/widgets/pylintgui.py
Labels: Package:Python3, component:Plugins, type:Enhancement

#11815 PR: Update Breakpoints plugin to Python 3
  spyder/plugins/breakpoints/plugin.py
  spyder/plugins/breakpoints/widgets/breakpointsgui.py
Labels: Package:Python3, component:Plugins, type:Enhancement

#11840 PR: Update Find plugin to Python 3
  spyder/plugins/findinfiles/plugin.py
  spyder/plugins/findinfiles/tests/test_plugin.py
  spyder/plugins/findinfiles/tests/test_widgets.py
  spyder/plugins/findinfiles/widgets.py
Labels: Package:Python3, component:Plugins, type:Enhancement

#11365 PR: Detect unavailable dependencies for special consoles
  spyder/plugins/ipythonconsole/widgets/client.py
Labels: component:IPython Console

#11884 PR: Disable screen resolution change message in macOS and allow to hide it during the current session
  spyder/app/mainwindow.py
Labels: OS:MacOS, component:Main Window, type:Bug

#12003 PR: Fix OSError when importing Numpy in Object Explorer
  spyder/plugins/variableexplorer/widgets/objectexplorer/attribute_model.py
Labels: component:Variable Explorer, type:Bug

#11888 PR: Activate code folding when the panel is not visible
  spyder/config/main.py
  spyder/plugins/editor/widgets/codeeditor.py
  spyder/plugins/editor/widgets/tests/test_classfunc_selector.py
  spyder/plugins/editor/widgets/tests/test_folding.py
  spyder/plugins/editor/widgets/tests/test_warnings.py
Labels: component:Editor, type:Bug

#12008 PR: Catch RuntimeError to prevent errors when disconnecting monitors
  spyder/app/mainwindow.py
Labels: component:Main Window, type:Bug

#11824 PR: Correctly hide already complete word in completion widget
  spyder/plugins/editor/widgets/codeeditor.py
  spyder/plugins/editor/widgets/tests/test_completions_hide.py
Labels: component:Editor, type:Enhancement
