Repository spyder-ide/spyder, pull requests merged in 2020-11, with the labels that each got.

#13950 PR: Show conda and pyenv environments in Main interpreter entry (Preferences)
  spyder/preferences/maininterpreter.py
  spyder/utils/conda.py
  spyder/utils/programs.py
  spyder/widgets/status.py
  spyder/widgets/tests/test_status.py
Labels: type:Enhancement

#14160 PR: Fix detection of conda and pyenv environments on Windows
  spyder/utils/conda.py
  spyder/utils/programs.py
  spyder/widgets/status.py
Labels: OS:Windows, type:Bug

#14147 PR: Set column width automatically after changing autoformatter
  spyder/config/main.py
  spyder/plugins/completion/languageserver/confpage.py
  spyder/plugins/completion/languageserver/plugin.py
  spyder/plugins/editor/confpage.py
  spyder/plugins/editor/panels/edgeline.py
Labels: component:Code Completion, component:Preferences, type:Enhancement

#14059 PR: Add build for Windows installer with extra packages
  .github/workflows/installer-win.yml
  installers/Windows/assets/black/black-20.8b1.dist-info/INSTALLER
  installers/Windows/assets/black/black-20.8b1.dist-info/LICENSE
  installers/Windows/assets/black/black-20.8b1.dist-info/METADATA
  installers/Windows/assets/black/black-20.8b1.dist-info/RECORD
  installers/Windows/assets/black/black-20.8b1.dist-info/WHEEL
  installers/Windows/assets/black/black-20.8b1.dist-info/entry_points.txt
  installers/Windows/assets/black/black-20.8b1.dist-info/top_level.txt
  installers/Windows/assets/jedi/__main__.py
  installers/Windows/assets/nsist/spyder.nsi
  installers/Windows/installer.py
  installers/Windows/req-extras-pull-request.txt
  installers/Windows/req-extras-release.txt
  installers/Windows/req-pull-request.txt
  spyder/__init__.py
  spyder/dependencies.py
  spyder/plugins/ipythonconsole/utils/kernelspec.py
Labels: OS:Windows, type:Enhancement

#14178 PR: Fix conda environment list on Windows application
  spyder/utils/programs.py
Labels: OS:Windows

#14195 PR: Pin NumPy version to prevent RuntimeError - sanity check on Windows installer (Windows 10)
  installers/Windows/req-extras-pull-request.txt
  installers/Windows/req-extras-release.txt
Labels: OS:Windows, tag:Installer, type:Bug, upstream

#14219 PR: Context menu entry to open files with Spyder and taskbar pinned icon (Windows installer)
  installers/Windows/assets/nsist/plugins/x86-unicode/WinShell.dll
  installers/Windows/assets/nsist/spyder.nsi
  installers/Windows/installer.py
  spyder/utils/programs.py
Labels: OS:Windows, tag:Installer

#14246 PR: Set base permission to 0o666 minus umask for files when saving
  spyder/utils/encoding.py
Labels: component:Editor

#14259 PR: Recalculate index when sorting (Variable Explorer)
  spyder/plugins/variableexplorer/widgets/dataframeeditor.py
  spyder/plugins/variableexplorer/widgets/tests/test_dataframeeditor.py
Labels: component:Variable Explorer

#14278 PR: Catch IOError and OSError in spyder-kernels get_cwd
  external-deps/spyder-kernels/.github/workflows/linux-tests.yml
  external-deps/spyder-kernels/.github/workflows/macos-tests.yml
  external-deps/spyder-kernels/.github/workflows/windows-tests.yml
  external-deps/spyder-kernels/.gitrepo
  external-deps/spyder-kernels/spyder_kernels/console/kernel.py
Labels: component:IPython Console, type:Bug

#14279 PR: Add Rtree wheel to the Windows installer
  .github/workflows/installer-win.yml
  installers/Windows/assets/rtree/Rtree-0.9.4-cp37-cp37m-win_amd64.whl
  installers/Windows/req-extras-pull-request.txt
  installers/Windows/req-extras-release.txt
  installers/Windows/req-pull-request.txt
  installers/Windows/req-release.txt
  spyder/dependencies.py
Labels: OS:Windows, tag:Installer

#14305 PR: Normalize file paths for correct handling of filenames for static code analysis
  spyder/plugins/pylint/widgets/pylintgui.py
Labels: OS:Windows, component:Pylint, type:Bug

#14337 PR: Update view after applying filters if filters are on (Files)
  .github/workflows/installer-macos.yml
  installers/macOS/req-const.txt
  spyder/plugins/explorer/widgets/explorer.py
  spyder/plugins/explorer/widgets/tests/test_explorer.py
Labels: component:File Explorer, tag:Ux-usability, type:Bug
