Repository spyder-ide/spyder, pull requests merged in 2021-02, with the labels that each got.

#14682 PR: Add flag to prevent adding initial empty QAction on Mac for non-migrated menus
  spyder/api/widgets/menus.py
  spyder/plugins/mainmenu/plugin.py
Labels: OS:MacOS, tag:Ui, type:Bug

#13864 PR: Synchronize symbols and folding after a timeout (Editor)
  spyder/plugins/editor/widgets/codeeditor.py
  spyder/plugins/editor/widgets/tests/test_classfunc_selector.py
  spyder/plugins/editor/widgets/tests/test_decorations.py
  spyder/plugins/editor/widgets/tests/test_editor_and_outline.py
  spyder/plugins/editor/widgets/tests/test_folding.py
Labels: component:Editor

#14761 PR: Catch type error when sorting by size in variable explorer
  spyder/plugins/variableexplorer/widgets/collectionseditor.py
Labels: component:Variable Explorer, type:Bug

#14810 PR: Panels and extensions cleanup (Editor)
  spyder/plugins/editor/extensions/closebrackets.py
  spyder/plugins/editor/extensions/docstring.py
  spyder/plugins/editor/extensions/snippets.py
  spyder/plugins/editor/panels/classfunctiondropdown.py
  spyder/plugins/editor/panels/codefolding.py
  spyder/plugins/editor/panels/linenumber.py
  spyder/plugins/editor/panels/manager.py
  spyder/plugins/editor/panels/scrollflag.py
  spyder/plugins/editor/panels/utils.py
  spyder/plugins/editor/utils/editor.py
Labels: component:Editor, type:Enhancement

#14816 PR: Remove unexpected argument in Kite installation dialog
  spyder/plugins/completion/kite/widgets/install.py
Labels: component:Code Completion, type:Bug
