Repository spyder-ide/spyder, pull requests merged in 2021-03, with the labels that each got.

#14874 PR: Add external panels API to the editor
  spyder/api/panel.py
  spyder/plugins/editor/panels/classfunctiondropdown.py
  spyder/plugins/editor/panels/codefolding.py
  spyder/plugins/editor/panels/edgeline.py
  spyder/plugins/editor/panels/indentationguides.py
  spyder/plugins/editor/panels/linenumber.py
  spyder/plugins/editor/panels/manager.py
  spyder/plugins/editor/panels/scrollflag.py
  spyder/plugins/editor/plugin.py
  spyder/plugins/editor/widgets/codeeditor.py
  spyder/plugins/editor/widgets/editor.py
  spyder/plugins/editor/widgets/tests/test_panels.py
Labels: component:Editor, type:Feature

#14956 PR: Update hexstate handling to fallback to default layout when moving from Spyder 5 to Spyder 4
  spyder/app/mainwindow.py
Labels: component:Main Window

#15049 PR: Set right roles for some actions on macOS menu bar
  spyder/plugins/application/container.py
  spyder/plugins/preferences/widgets/container.py
Labels: OS:MacOS, tag:Ui, type:Bug

#15050 PR: Prevent setting negative sizes in the Plots pane
  spyder/plugins/plots/widgets/figurebrowser.py
Labels: component:Plots, type:Bug

#15051 PR: Add option to hide the date column from Projects
  spyder/config/main.py
Labels: component:Projects, type:Bug

#15052 PR: Fix tour icons
  spyder/app/tour.py
Labels: type:Bug
