Repository spyder-ide/spyder, pull requests merged in 2022-08, with the labels that each got.

#18869 PR: Make style of "Print preview" dialog follow the rest of Spyder
  spyder/plugins/editor/plugin.py
  spyder/plugins/editor/widgets/codeeditor.py
  spyder/plugins/editor/widgets/gotoline.py
  spyder/plugins/editor/widgets/printer.py
  spyder/plugins/editor/widgets/tests/test_shortcuts.py
  spyder/utils/icon_manager.py
Labels: type:Enhancement, component:Editor, tag:Ui

#18877 PR: Add debug cell icon to the debug toolbar
  spyder/plugins/editor/plugin.py
Labels: component:Editor, tag:Ux-usability, component:Main Window

#18831 PR: Don't apply color schemes that require a restart and fix other issues about them
  spyder/api/_version.py
  spyder/api/plugins/new_api.py
  spyder/config/manager.py
  spyder/plugins/appearance/confpage.py
  spyder/plugins/appearance/plugin.py
  spyder/plugins/appearance/tests/test_confpage.py
  spyder/plugins/editor/plugin.py
  spyder/plugins/editor/widgets/codeeditor.py
  spyder/plugins/editor/widgets/editor.py
  spyder/plugins/help/widgets.py
  spyder/plugins/history/widgets.py
  spyder/plugins/ipythonconsole/widgets/main_widget.py
  spyder/plugins/preferences/api.py
  spyder/plugins/pylint/main_widget.py
Labels: tag:Ui, tag:Ux-usability, component:Main Window

#18910 PR: Fix call to show compatibility message for plugins (Mainwindow)
  spyder/app/mainwindow.py
Labels: type:Bug, component:Plugins, component:Main Window

#18941 PR: Prevent triggering Dask tasks when getting variables properties (IPython console)
  external-deps/spyder-kernels/.gitrepo
  external-deps/spyder-kernels/spyder_kernels/console/kernel.py
  external-deps/spyder-kernels/spyder_kernels/console/tests/test_console_kernel.py
Labels: type:Bug, component:Variable Explorer, component:IPython Console

#18911 PR: Add methods to simplify access to our config system in `MainWindow`
  spyder/app/mac_stylesheet.qss
  spyder/app/mainwindow.py
Labels: type:Enhancement, type:Techdebt, component:Main Window

#18981 PR: Add PYDEVD debug warning message to benign errors (IPython Console)
  spyder/plugins/ipythonconsole/widgets/client.py
Labels: type:Bug, component:IPython Console

#18928 PR: Improve `Maintain focus in the editor` option and unmaximize plugins when running/debugging code
  spyder/api/plugins/new_api.py
  spyder/api/widgets/main_widget.py
  spyder/app/mainwindow.py
  spyder/app/tests/test_mainwindow.py
  spyder/plugins/base.py
  spyder/plugins/editor/confpage.py
  spyder/plugins/editor/plugin.py
  spyder/plugins/editor/widgets/editor.py
  spyder/plugins/explorer/plugin.py
  spyder/plugins/ipythonconsole/plugin.py
  spyder/plugins/ipythonconsole/widgets/debugging.py
  spyder/plugins/ipythonconsole/widgets/main_widget.py
  spyder/plugins/layout/plugin.py
  spyder/plugins/projects/plugin.py
  spyder/plugins/tours/container.py
  spyder/plugins/tours/plugin.py
Labels: type:Bug, type:Enhancement, component:Main Window

#18992 PR: Pass resample kwarg when getting .ico icon for Windows
  spyder/app/mainwindow.py
Labels: type:Bug, component:Main Window

#19025 PR: Allow plugins/widgets to ask for app restarts by emitting a signal
  bootstrap.py
  spyder/api/plugins/new_api.py
  spyder/app/mainwindow.py
  spyder/plugins/application/plugin.py
  spyder/plugins/completion/plugin.py
  spyder/plugins/completion/providers/languageserver/widgets/messagebox.py
  spyder/plugins/completion/tests/conftest.py
  spyder/plugins/preferences/plugin.py
  spyder/plugins/preferences/tests/conftest.py
  spyder/plugins/preferences/widgets/container.py
Labels: type:Techdebt, component:Main Window

#19027 PR: Add cast for custom syntax highlighting themes names to string (Appereance)
  spyder/plugins/appearance/confpage.py
  spyder/plugins/preferences/api.py
Labels: type:Bug, component:Preferences

#18837 PR: Make the debugger work faster
  external-deps/spyder-kernels/.gitrepo
  external-deps/spyder-kernels/spyder_kernels/console/kernel.py
  external-deps/spyder-kernels/spyder_kernels/console/shell.py
  external-deps/spyder-kernels/spyder_kernels/console/start.py
  external-deps/spyder-kernels/spyder_kernels/console/tests/test_console_kernel.py
  external-deps/spyder-kernels/spyder_kernels/customize/spydercustomize.py
  external-deps/spyder-kernels/spyder_kernels/customize/spyderpdb.py
  spyder/app/tests/test_mainwindow.py
  spyder/plugins/debugger/widgets/framesbrowser.py
  spyder/plugins/debugger/widgets/main_widget.py
  spyder/plugins/editor/widgets/tests/test_introspection.py
  spyder/plugins/ipythonconsole/widgets/client.py
  spyder/plugins/ipythonconsole/widgets/debugging.py
  spyder/plugins/ipythonconsole/widgets/main_widget.py
  spyder/plugins/ipythonconsole/widgets/shell.py
Labels: type:Task

#19037 PR: Set elide mode to prevent tabs text eliding on MacOS (Tabs)
  spyder/widgets/tabs.py
Labels: type:Bug, OS:MacOS, tag:Ui

#18962 PR: Restore plugins that were visible during the previous session
  spyder/api/config/mixins.py
  spyder/app/mainwindow.py
  spyder/app/tests/test_mainwindow.py
  spyder/plugins/help/plugin.py
  spyder/plugins/ipythonconsole/plugin.py
  spyder/plugins/layout/plugin.py
Labels: type:Bug, component:Main Window

#19082 PR: Add regex check for interpreter info output (Programs)
  spyder/utils/programs.py
Labels: type:Bug, component:Main Window

#19068 PR: Fix syncing IPython console cwd with the Working directory toolbar
  spyder/app/tests/test_mainwindow.py
  spyder/plugins/explorer/plugin.py
  spyder/plugins/explorer/widgets/explorer.py
  spyder/plugins/ipythonconsole/plugin.py
  spyder/plugins/ipythonconsole/tests/test_ipythonconsole.py
  spyder/plugins/ipythonconsole/widgets/client.py
  spyder/plugins/ipythonconsole/widgets/main_widget.py
  spyder/plugins/ipythonconsole/widgets/shell.py
  spyder/plugins/workingdirectory/plugin.py
Labels: type:Bug, component:IPython Console, component:File Explorer

#19083 PR: Handle default Win installer pythonw interpreter to get Python version (Status)
  spyder/plugins/maininterpreter/widgets/status.py
  spyder/utils/programs.py
Labels: OS:Windows, tag:Installer

#19114 PR: Catch an error when creating new editor windows
  spyder/plugins/editor/widgets/base.py
  spyder/plugins/editor/widgets/completion.py
Labels: type:Bug, component:Editor

#19142 PR: Update translations for 5.3.3
  spyder/locale/de/LC_MESSAGES/spyder.po
  spyder/locale/es/LC_MESSAGES/spyder.po
  spyder/locale/fa/LC_MESSAGES/spyder.po
  spyder/locale/fr/LC_MESSAGES/spyder.po
  spyder/locale/hr/LC_MESSAGES/spyder.po
  spyder/locale/hu/LC_MESSAGES/spyder.po
  spyder/locale/ja/LC_MESSAGES/spyder.po
  spyder/locale/pl/LC_MESSAGES/spyder.po
  spyder/locale/pt_BR/LC_MESSAGES/spyder.po
  spyder/locale/ru/LC_MESSAGES/spyder.po
  spyder/locale/spyder.pot
  spyder/locale/te/LC_MESSAGES/spyder.po
  spyder/locale/uk/LC_MESSAGES/spyder.po
  spyder/locale/zh_CN/LC_MESSAGES/spyder.po
Labels: type:Task

#19124 PR: Fix a couple of bugs in the Find plugin
  spyder/plugins/findinfiles/tests/test_plugin.py
  spyder/plugins/findinfiles/widgets/main_widget.py
  spyder/plugins/findinfiles/widgets/results_browser.py
  spyder/plugins/findinfiles/widgets/search_thread.py
  spyder/plugins/findinfiles/widgets/tests/test_widgets.py
Labels: type:Bug, component:Find in files

#19123 PR: Recreate config in case of errors while reading it (Projects)
  spyder/plugins/projects/api.py
  spyder/plugins/projects/plugin.py
  spyder/plugins/projects/tests/test_plugin.py
Labels: type:Bug, component:Projects

#19160 PR: Ensure correct client and shellwidget are used to execute code in new consoles when multiple scripts are run at the same time (IPython Console)
  spyder/plugins/ipythonconsole/tests/test_ipythonconsole.py
  spyder/plugins/ipythonconsole/widgets/main_widget.py
Labels: type:Bug, component:IPython Console

#19177 PR: Validate that Layout plugin exists in `moveEvent` method (Main Window)
  spyder/app/mainwindow.py
Labels: type:Bug, component:Main Window

#19163 PR: Several fixes related to the tabify plugins functionality
  spyder/api/plugins/__init__.py
  spyder/api/plugins/enum.py
  spyder/api/plugins/new_api.py
  spyder/app/mainwindow.py
  spyder/plugins/base.py
  spyder/plugins/completion/tests/conftest.py
  spyder/plugins/layout/api.py
  spyder/plugins/layout/layouts.py
  spyder/plugins/layout/plugin.py
  spyder/plugins/preferences/tests/conftest.py
  spyder/plugins/profiler/plugin.py
  spyder/plugins/pylint/plugin.py
  spyder/plugins/pylint/tests/test_pylint.py
  spyder/plugins/workingdirectory/tests/test_workingdirectory.py
Labels: type:Bug, component:Plugins, component:Main Window

#19224 PR: Update core dependencies for 5.3.3
  binder/environment.yml
  external-deps/spyder-kernels/.gitrepo
  external-deps/spyder-kernels/CHANGELOG.md
  requirements/main.yml
  setup.py
  spyder/config/base.py
  spyder/dependencies.py
  spyder/plugins/editor/widgets/tests/test_introspection.py
Labels: type:Task
