Repository spyder-ide/spyder, pull requests merged in 2022-11, with the labels that each got.

#19978 PR: Update core dependencies for 5.4.0
  .github/scripts/install.sh
  .github/workflows/test-files.yml
  .github/workflows/test-linux.yml
  RELEASE.md
  binder/environment.yml
  external-deps/python-lsp-server/.gitrepo
  external-deps/python-lsp-server/CHANGELOG.md
  external-deps/python-lsp-server/RELEASE.md
  external-deps/qtconsole/.gitrepo
  external-deps/qtconsole/docs/source/changelog.rst
  external-deps/qtconsole/qtconsole/_version.py
  external-deps/qtconsole/qtconsole/console_widget.py
  external-deps/qtconsole/qtconsole/frontend_widget.py
  external-deps/qtconsole/qtconsole/tests/test_00_console_widget.py
  external-deps/spyder-kernels/.gitrepo
  external-deps/spyder-kernels/CHANGELOG.md
  external-deps/spyder-kernels/spyder_kernels/_version.py
  external-deps/spyder-kernels/spyder_kernels/utils/iofuncs.py
  installers-conda/build_conda_pkgs.py
  installers/macOS/req-extras.txt
  requirements/main.yml
  setup.py
  spyder/dependencies.py
  spyder/plugins/ipythonconsole/__init__.py
Labels: type:Task

#20000 PR: Restore context menu on tabs (IPython console)
  spyder/plugins/ipythonconsole/widgets/main_widget.py
Labels: type:Bug, component:IPython Console

#20004 PR: Add binder badges for Spyder latest release, 5.x and master versions (Docs)
  README.md
Labels: type:Task

#20002 PR: Update remote when syncing subrepos
  CONTRIBUTING.md
Labels: type:Task

#20005 PR: Add left spacer to Working directory toolbar
  .github/workflows/installer-win.yml
  NOTICE.txt
  README.md
  spyder/config/main.py
  spyder/plugins/ipythonconsole/widgets/main_widget.py
  spyder/plugins/workingdirectory/container.py
  spyder/widgets/comboboxes.py
  spyder/widgets/helperwidgets.py
Labels: type:Enhancement, tag:Ui

#20036 PR: Add validation to prevent calling uninitialized `application_update_status` widget on conda installations (Application)
  spyder/plugins/application/container.py
Labels: type:Bug, component:Main Window

#20012 PR: Correctly handle the option to run in a dedicated console without clearing variables
  spyder/app/tests/test_mainwindow.py
  spyder/plugins/ipythonconsole/widgets/main_widget.py
Labels: type:Bug, component:IPython Console

#19992 PR: Update python-lsp-server subrepo and change CI Python versions
  .github/workflows/test-files.yml
  .github/workflows/test-linux.yml
  external-deps/python-lsp-server/.gitrepo
  external-deps/python-lsp-server/CONFIGURATION.md
  external-deps/python-lsp-server/README.md
  external-deps/python-lsp-server/docs/autoimport.md
  external-deps/python-lsp-server/pylsp/config/config.py
  external-deps/python-lsp-server/pylsp/config/flake8_conf.py
  external-deps/python-lsp-server/pylsp/config/schema.json
  external-deps/python-lsp-server/pylsp/plugins/flake8_lint.py
  external-deps/python-lsp-server/pylsp/plugins/rope_autoimport.py
  external-deps/python-lsp-server/pylsp/python_lsp.py
  external-deps/python-lsp-server/pylsp/workspace.py
  external-deps/python-lsp-server/pyproject.toml
  external-deps/python-lsp-server/test/fixtures.py
  external-deps/python-lsp-server/test/plugins/test_autoimport.py
  spyder/api/widgets/auxiliary_widgets.py
  spyder/plugins/outlineexplorer/main_widget.py
Labels: type:Task

#20064 PR: Fixes profiler extension and buttons
  spyder/plugins/profiler/widgets/main_widget.py
Labels: type:Bug, component:Profiler

#19092 PR: Use cached kernel for faster kernel restart (IPython console)
  spyder/app/tests/test_mainwindow.py
  spyder/plugins/ipythonconsole/utils/kernel_handler.py
  spyder/plugins/ipythonconsole/widgets/client.py
  spyder/plugins/ipythonconsole/widgets/main_widget.py
  spyder/plugins/ipythonconsole/widgets/shell.py
Labels: type:Enhancement, component:IPython Console

#20080 PR: Prevent crash at startup if importing `pylint.config` fails (Code Analysis)
  spyder/plugins/pylint/utils.py
Labels: type:Bug, component:Pylint

#20082 PR: Catch a couple of reported RuntimeError's (Editor)
  spyder/plugins/editor/plugin.py
  spyder/plugins/editor/widgets/codeeditor.py
Labels: type:Bug, component:Editor

#20047 PR: Fix some LSP issues
  spyder/app/tests/test_mainwindow.py
  spyder/plugins/editor/widgets/codeeditor.py
  spyder/plugins/editor/widgets/tests/conftest.py
  spyder/plugins/editor/widgets/tests/test_decorations.py
  spyder/plugins/editor/widgets/tests/test_editorsplitter.py
  spyder/plugins/editor/widgets/tests/test_save.py
Labels: type:Bug, component:Code Completion

#20070 PR: Fix QIntValidator to handle '+' sign
  spyder/plugins/editor/widgets/gotoline.py
  spyder/plugins/editor/widgets/tests/test_gotoline.py
  spyder/plugins/variableexplorer/widgets/importwizard.py
Labels: type:Bug

#18871 PR: Make automatic completions more responsive (Editor)
  spyder/config/main.py
  spyder/plugins/completion/confpage.py
  spyder/plugins/editor/plugin.py
  spyder/plugins/editor/widgets/codeeditor.py
  spyder/plugins/editor/widgets/editor.py
  spyder/plugins/editor/widgets/tests/conftest.py
  spyder/plugins/editor/widgets/tests/test_completions_hide.py
  spyder/plugins/editor/widgets/tests/test_introspection.py
Labels: type:Enhancement, component:Editor, component:Code Completion
