Repository spyder-ide/spyder, pull requests merged in 2022-04, with the labels that each got.

#16789 PR: Create Reviewer Guidelines
  REVIEW.md
Labels: tag:Documentation, type:Task

#17641 PR: Skip Changelog files from manifest
  MANIFEST.in
  setup.cfg
Labels: type:Task

#17612 PR: Update py2app to 0.28 (Mac app)
  .github/workflows/installer-macos.yml
  installers/macOS/Readme.md
  installers/macOS/packages.py
  installers/macOS/req-build.txt
  installers/macOS/setup.py
Labels: OS:MacOS, tag:Installer

#17656 PR: Ignore `REVIEW.md` from `check-manifest` and fix `setup.py` patch for Windows installers on PRs
  setup.cfg
  setup.py
Labels: type:Task

#17646 PR: Ensure `QFont.setPointSize` receives an int argument (Shortcuts)
  spyder/plugins/shortcuts/widgets/summary.py
Labels: type:Bug

#17687 PR: Fix clear for `Open with` menu in the Files pane
  spyder/plugins/explorer/widgets/explorer.py
Labels: type:Bug

#17473 PR: Add context menu entries for collections to a toolbar (Variable Explorer)
  spyder/utils/icon_manager.py
  spyder/widgets/collectionseditor.py
Labels: component:Variable Explorer

#17706 PR: Add `Qt.AccessibleTextRole` data to completion widget items
  spyder/plugins/editor/widgets/completion.py
Labels: type:Bug, component:Editor, component:Code Completion, tag:Ux-usability

#17700 PR: Remove duplicates when sorting in the outline explorer
  spyder/plugins/outlineexplorer/widgets.py
Labels: type:Bug, component:Outline Explorer

#17622 PR: Check tests robustness, number of concurrent jobs and try to decrease segfault failures on CI
  .github/scripts/install.sh
  .github/workflows/test-mac.yml
  .github/workflows/test-win.yml
  spyder/app/mainwindow.py
  spyder/app/tests/test_mainwindow.py
  spyder/plugins/editor/widgets/codeeditor.py
  spyder/plugins/ipythonconsole/tests/test_ipythonconsole.py
  spyder/plugins/onlinehelp/tests/test_pydocgui.py
  spyder/plugins/pylint/tests/test_pylint.py
  spyder/widgets/mixins.py
Labels: type:Task

#17735 PR: Move deleteLater calls to be done after validating plugin can be closed
  spyder/api/plugin_registration/registry.py
Labels: type:Bug

#17728 PR: Add some info regarding command line arguments for the Windows installer
  installers/Windows/README.md
Labels: OS:Windows, tag:Documentation, type:Task, tag:Installer

#17740 PR: Change restart script for macOS app
  installers/macOS/test_app.sh
  spyder/app/restart.py
Labels: OS:MacOS, tag:Installer

#17757 PR: Calculate index when autoformating on save from the Editor
  spyder/plugins/editor/widgets/editor.py
Labels: component:Editor

#17767 PR: Subscribe to configs for Matplotlib inline backend (IPython Console)
  spyder/plugins/ipythonconsole/tests/test_ipythonconsole.py
  spyder/plugins/ipythonconsole/widgets/main_widget.py
Labels: type:Bug, component:IPython Console

#17786 PR: Implement mouse XButton navigation in the editor
  spyder/plugins/editor/widgets/base.py
  spyder/plugins/editor/widgets/editor.py
Labels: type:Enhancement, component:Editor
