Repository spyder-ide/spyder, pull requests merged in 2022-09, with the labels that each got.

#19208 PR: Move breakpoints logic from editor plugin to debugger plugin
  spyder/api/manager.py
  spyder/app/tests/test_mainwindow.py
  spyder/config/main.py
  spyder/plugins/breakpoints/plugin.py
  spyder/plugins/debugger/panels/__init__.py
  spyder/plugins/debugger/panels/debuggerpanel.py
  spyder/plugins/debugger/plugin.py
  spyder/plugins/debugger/utils/__init__.py
  spyder/plugins/debugger/utils/breakpointsmanager.py
  spyder/plugins/debugger/widgets/framesbrowser.py
  spyder/plugins/debugger/widgets/main_widget.py
  spyder/plugins/editor/confpage.py
  spyder/plugins/editor/panels/__init__.py
  spyder/plugins/editor/panels/tests/test_scrollflag.py
  spyder/plugins/editor/plugin.py
  spyder/plugins/editor/widgets/codeeditor.py
  spyder/plugins/editor/widgets/editor.py
  spyder/plugins/editor/widgets/tests/test_breakpoints.py
  spyder/plugins/editor/widgets/tests/test_save.py
  spyder/plugins/ipythonconsole/plugin.py
  spyder/plugins/ipythonconsole/tests/test_ipythonconsole.py
  spyder/plugins/ipythonconsole/widgets/client.py
  spyder/plugins/ipythonconsole/widgets/debugging.py
  spyder/plugins/ipythonconsole/widgets/main_widget.py
  spyder/plugins/ipythonconsole/widgets/shell.py
  spyder/plugins/shortcuts/tests/test_shortcuts.py
Labels: component:Debugger, type:Task

#19314 PR: Change colours in Dependencies dialog window
  spyder/widgets/dependencies.py
Labels: tag:Ui, status:Ready For Review

#19306 PR: Add a debug current line or selection button
  spyder/app/tests/test_mainwindow.py
  spyder/config/main.py
  spyder/images/dark/debug_selection.svg
  spyder/images/light/debug_selection.svg
  spyder/plugins/debugger/plugin.py
  spyder/plugins/debugger/widgets/main_widget.py
  spyder/plugins/editor/plugin.py
  spyder/plugins/editor/widgets/editor.py
  spyder/plugins/shortcuts/tests/test_shortcuts.py
Labels: type:Enhancement, component:Debugger

#19265 PR: Move debug functions from IPython plugin to debugger plugin
  spyder/plugins/debugger/plugin.py
  spyder/plugins/debugger/utils/breakpointsmanager.py
  spyder/plugins/debugger/widgets/framesbrowser.py
  spyder/plugins/debugger/widgets/main_widget.py
  spyder/plugins/editor/plugin.py
  spyder/plugins/editor/tests/conftest.py
  spyder/plugins/ipythonconsole/plugin.py
  spyder/plugins/ipythonconsole/widgets/debugging.py
  spyder/plugins/ipythonconsole/widgets/main_widget.py
  spyder/plugins/ipythonconsole/widgets/shell.py
Labels: component:Debugger, type:Task

#19332 PR: Show symbols for namespace packages in the Outline
  external-deps/python-lsp-server/.gitrepo
  external-deps/python-lsp-server/CHANGELOG.md
  external-deps/python-lsp-server/CONFIGURATION.md
  external-deps/python-lsp-server/README.md
  external-deps/python-lsp-server/RELEASE.md
  external-deps/python-lsp-server/pylsp/config/config.py
  external-deps/python-lsp-server/pylsp/config/schema.json
  external-deps/python-lsp-server/pylsp/plugins/jedi_completion.py
  external-deps/python-lsp-server/pylsp/plugins/symbols.py
  external-deps/python-lsp-server/pyproject.toml
  external-deps/python-lsp-server/test/__init__.py
  external-deps/python-lsp-server/test/plugins/test_completion.py
  external-deps/python-lsp-server/test/plugins/test_pylint_lint.py
  spyder/app/tests/conftest.py
  spyder/app/tests/script_outline_3.py
  spyder/app/tests/script_outline_4.py
  spyder/app/tests/test_mainwindow.py
  spyder/config/lsp.py
Labels: type:Bug, component:Outline Explorer

#19360 PR: Reload symbols when saving a file through the `Save as` menu entry (Outline)
  spyder/plugins/editor/widgets/tests/test_save.py
  spyder/plugins/outlineexplorer/editor.py
  spyder/plugins/outlineexplorer/tests/assets/text_exp_test_widgets.json
  spyder/plugins/outlineexplorer/tests/assets/text_test_widgets.json
  spyder/plugins/outlineexplorer/tests/assets/text_test_widgets.py
  spyder/plugins/outlineexplorer/tests/test_widgets.py
  spyder/plugins/outlineexplorer/widgets.py
Labels: type:Bug, component:Outline Explorer

#19380 PR: Only autoformat on save if the file is a Python file (Editor)
  spyder/plugins/editor/widgets/editor.py
Labels: type:Bug, component:Editor

#19477 PR: Add `APPDATA` environment variable to Pylint process (Pylint)
  spyder/plugins/pylint/main_widget.py
Labels: type:Bug, component:Pylint

#19549 PR: Fix errors when Projects plugin is disabled
  spyder/plugins/editor/plugin.py
  spyder/plugins/editor/tests/conftest.py
  spyder/plugins/editor/tests/test_plugin.py
  spyder/plugins/mainmenu/plugin.py
Labels: type:Bug, component:Projects

#19620 PR: Pin Sphinx to version 5.1.1 to prevent errors on MacOS installer build
  installers/macOS/req-build.txt
Labels: OS:MacOS, type:Task, tag:Installer

#19617 PR: Temporary fix for function `test_no_empty_file_items`
  spyder/plugins/findinfiles/widgets/tests/test_widgets.py
Labels: type:Bug, type:Task
