Repository spyder-ide/spyder, pull requests merged in 2022-05, with the labels that each got.

#17760 PR: Fix setting working directory at startup and for new IPython consoles
  spyder/api/plugin_registration/mixins.py
  spyder/config/main.py
  spyder/plugins/ipythonconsole/plugin.py
  spyder/plugins/ipythonconsole/tests/test_ipythonconsole.py
  spyder/plugins/ipythonconsole/widgets/client.py
  spyder/plugins/ipythonconsole/widgets/main_widget.py
  spyder/plugins/workingdirectory/confpage.py
  spyder/plugins/workingdirectory/container.py
  spyder/plugins/workingdirectory/plugin.py
  spyder/plugins/workingdirectory/tests/test_workingdirectory.py
Labels: type:Enhancement, component:IPython Console, tag:Ui

#17817 PR: Fix saving of external plugin config in on_close()
  spyder/api/plugin_registration/registry.py
Labels: type:Bug

#17826 PR: Fix Editor new window to be indenpendent of the main window
  spyder/plugins/editor/widgets/editor.py
Labels: type:Bug, component:Editor

#17820 PR: Don’t emit `sig_shellwidget_created` before shell widget is initialized
  spyder/plugins/ipythonconsole/widgets/main_widget.py
Labels: type:Bug, component:IPython Console

#17828 PR: Fix collision between `format_on_save` and other Editor formatting options
  spyder/plugins/editor/confpage.py
  spyder/plugins/editor/widgets/editor.py
Labels: type:Bug, component:Editor, component:Code Completion

#17838 PR: Update translations for 5.3.1
  spyder/locale/de/LC_MESSAGES/spyder.po
  spyder/locale/es/LC_MESSAGES/spyder.po
  spyder/locale/fa/LC_MESSAGES/spyder.po
  spyder/locale/fr/LC_MESSAGES/spyder.po
  spyder/locale/hr/LC_MESSAGES/spyder.po
  spyder/locale/hu/LC_MESSAGES/spyder.po
  spyder/locale/ja/LC_MESSAGES/spyder.po
  spyder/locale/pl/LC_MESSAGES/spyder.po
  spyder/locale/pt_BR/LC_MESSAGES/spyder.po
  spyder/locale/ru/LC_MESSAGES/spyder.po
  spyder/locale/spyder.pot
  spyder/locale/te/LC_MESSAGES/spyder.po
  spyder/locale/uk/LC_MESSAGES/spyder.po
  spyder/locale/zh_CN/LC_MESSAGES/spyder.po
Labels: type:Task

#17846 PR: Update translations for 5.3.1 with config page fix
  spyder/locale/de/LC_MESSAGES/spyder.po
  spyder/locale/es/LC_MESSAGES/spyder.po
  spyder/locale/fa/LC_MESSAGES/spyder.po
  spyder/locale/fr/LC_MESSAGES/spyder.po
  spyder/locale/hr/LC_MESSAGES/spyder.po
  spyder/locale/hu/LC_MESSAGES/spyder.po
  spyder/locale/ja/LC_MESSAGES/spyder.po
  spyder/locale/pl/LC_MESSAGES/spyder.po
  spyder/locale/pt_BR/LC_MESSAGES/spyder.po
  spyder/locale/ru/LC_MESSAGES/spyder.po
  spyder/locale/spyder.pot
  spyder/locale/te/LC_MESSAGES/spyder.po
  spyder/locale/uk/LC_MESSAGES/spyder.po
  spyder/locale/zh_CN/LC_MESSAGES/spyder.po
  spyder/plugins/workingdirectory/confpage.py
Labels: type:Bug

#17849 PR: Pre-render menus in all operating systems (Main menus)
  spyder/plugins/mainmenu/plugin.py
Labels: component:Main Window

#17854 PR: Wait for autoformat before returning on 'save' method (Editor)
  spyder/plugins/editor/widgets/codeeditor.py
  spyder/plugins/editor/widgets/editor.py
  spyder/plugins/editor/widgets/tests/conftest.py
  spyder/plugins/editor/widgets/tests/test_formatting.py
Labels: type:Bug, component:Editor

#17856 PR: Add micromamba executable to the Windows installer
  .github/workflows/installer-win.yml
  installers/Windows/installer.py
  spyder/config/base.py
Labels: OS:Windows, tag:Installer

#17811 PR: Improve style and UX of new toolbar in collections viewer (Variable Explorer)
  spyder/plugins/variableexplorer/widgets/main_widget.py
  spyder/utils/icon_manager.py
  spyder/widgets/collectionseditor.py
  spyder/widgets/tests/test_collectioneditor.py
Labels: type:Enhancement, component:Variable Explorer, tag:Ui

#17912 PR: Don't use create_application when showing message about not being able to load CONF
  spyder/config/manager.py
Labels: type:Bug, component:Main Window
