Repository spyder-ide/spyder, pull requests merged in 2022-03, with the labels that each got.

#17247 PR: Add spyder-terminal to the Windows installers
  installers/Windows/req-extras-pull-request.txt
  installers/Windows/req-extras-release.txt
  installers/Windows/req-pull-request.txt
  installers/Windows/req-release.txt
  setup.py
Labels: type:Enhancement

#16914 PR: Cache previous kernel attributes to speed up kernel launch (IPython console)
  spyder/app/tests/test_mainwindow.py
  spyder/plugins/ipythonconsole/tests/test_ipythonconsole.py
  spyder/plugins/ipythonconsole/utils/stdfile.py
  spyder/plugins/ipythonconsole/widgets/client.py
  spyder/plugins/ipythonconsole/widgets/main_widget.py
Labels: type:Enhancement, component:IPython Console

#17485 PR: Avoid external plugins to be disabled
  spyder/api/plugin_registration/_confpage.py
Labels: type:Bug, component:Preferences

#17465 PR: Completely disable Kite provider (Completions)
  bootstrap.py
  setup.py
  spyder/config/main.py
  spyder/plugins/completion/confpage.py
  spyder/plugins/completion/plugin.py
Labels: component:Code Completion

#17490 PR: Fix validations to add/remove completion status widgets
  spyder/plugins/completion/plugin.py
Labels: type:Bug, component:Code Completion, component:Main Window

#16209 PR: Add option to per-file run configuration to use default run configuration
  spyder/app/tests/test_mainwindow.py
  spyder/plugins/editor/plugin.py
  spyder/plugins/run/widgets.py
  spyder/utils/programs.py
Labels: tag:Ux-usability

#17491 PR: Use only paths last element for filtering in the project explorer
  spyder/plugins/projects/widgets/projectexplorer.py
Labels: type:Bug, component:Projects

#17528 PR: Make entries of `Convert end-of-line characters` menu match the ones in Preferences
  spyder/plugins/editor/plugin.py
Labels: component:Editor

#17533 PR: Change validation to force clean application close
  spyder/app/mainwindow.py
Labels: component:Main Window

#17526 PR: Prompt user to reset Spyder config files in case `CONF` instance initialization fails
  spyder/config/manager.py
Labels: type:Bug, component:Main Window

#17547 PR: Fix zip archive in macOS app bundle so that pkg_resources will find entry points
  installers/macOS/packages.py
  installers/macOS/req-build.txt
  installers/macOS/setup.py
Labels: type:Bug, OS:MacOS, tag:Installer

#17522 PR: Update translations for 5.3.0
  spyder/locale/de/LC_MESSAGES/spyder.po
  spyder/locale/es/LC_MESSAGES/spyder.po
  spyder/locale/fa/LC_MESSAGES/spyder.po
  spyder/locale/fr/LC_MESSAGES/spyder.po
  spyder/locale/hr/LC_MESSAGES/spyder.po
  spyder/locale/hu/LC_MESSAGES/spyder.po
  spyder/locale/ja/LC_MESSAGES/spyder.po
  spyder/locale/pl/LC_MESSAGES/spyder.po
  spyder/locale/pt_BR/LC_MESSAGES/spyder.po
  spyder/locale/ru/LC_MESSAGES/spyder.po
  spyder/locale/spyder.pot
  spyder/locale/uk/LC_MESSAGES/spyder.po
  spyder/locale/zh_CN/LC_MESSAGES/spyder.po
Labels: type:Task

#17553 PR: Pass new environment variable to the kernel and remove some benign errors thanks to debugpy 1.6.0 (IPython console)
  installers/macOS/req-build.txt
  spyder/plugins/ipythonconsole/utils/kernelspec.py
  spyder/plugins/ipythonconsole/widgets/client.py
Labels: component:IPython Console

#17555 PR: Preserve EOL characters when formatting text (Editor)
  binder/environment.yml
  external-deps/python-lsp-server/.gitrepo
  external-deps/python-lsp-server/CHANGELOG.md
  external-deps/python-lsp-server/README.md
  external-deps/python-lsp-server/RELEASE.md
  external-deps/python-lsp-server/pylsp/plugins/flake8_lint.py
  external-deps/python-lsp-server/pylsp/plugins/pylint_lint.py
  external-deps/python-lsp-server/pylsp/plugins/yapf_format.py
  external-deps/python-lsp-server/test/plugins/test_autopep8_format.py
  external-deps/python-lsp-server/test/plugins/test_flake8_lint.py
  external-deps/python-lsp-server/test/plugins/test_yapf_format.py
  requirements/conda.txt
  setup.py
  spyder/dependencies.py
  spyder/plugins/editor/widgets/codeeditor.py
  spyder/plugins/editor/widgets/tests/test_formatting.py
  spyder/utils/sourcecode.py
  spyder/utils/tests/test_sourcecode.py
Labels: type:Bug, component:Editor, component:Code Completion

#17567 PR: Fix setting max line length for Black (Completions)
  spyder/config/lsp.py
  spyder/plugins/completion/providers/languageserver/provider.py
  spyder/plugins/editor/widgets/tests/assets/autopep8_max_line.py
  spyder/plugins/editor/widgets/tests/assets/black_max_line.py
  spyder/plugins/editor/widgets/tests/assets/yapf_max_line.py
  spyder/plugins/editor/widgets/tests/test_formatting.py
Labels: type:Bug, component:Code Completion

#17573 PR: Fix usage of `os._exit` to save Editor and Projects plugins state
  spyder/app/mainwindow.py
  spyder/utils/workers.py
Labels: type:Bug

#17578 PR: Update core dependencies for 5.3.0
  MAINTENANCE.md
  RELEASE.md
  binder/environment.yml
  external-deps/python-lsp-server/.gitrepo
  external-deps/python-lsp-server/README.md
  external-deps/qtconsole/.gitrepo
  external-deps/qtconsole/docs/source/changelog.rst
  external-deps/qtconsole/qtconsole/_version.py
  external-deps/spyder-kernels/.gitrepo
  external-deps/spyder-kernels/CHANGELOG.md
  external-deps/spyder-kernels/spyder_kernels/_version.py
  installers/Windows/req-extras-pull-request.txt
  installers/Windows/req-extras-release.txt
  installers/Windows/req-pull-request.txt
  installers/Windows/req-release.txt
  installers/macOS/req-extras.txt
  requirements/conda.txt
  setup.py
  spyder/dependencies.py
  spyder/plugins/ipythonconsole/widgets/main_widget.py
Labels: type:Task

#17579 PR: Fix layout issue when closing with unsaved files
  spyder/api/plugin_registration/registry.py
  spyder/app/mainwindow.py
Labels: type:Bug, component:Editor, component:Main Window
