Repository spyder-ide/spyder, pull requests merged in 2022-12, with the labels that each got.

#20146 PR: Add default value for `IconLineEdit` helper widget constructor params (Widgets)
  spyder/widgets/helperwidgets.py
Labels: component:Plugins

#20167 PR: Restore cursor position after inserting auto-formatted text (Editor)
  spyder/plugins/editor/widgets/codeeditor.py
  spyder/plugins/editor/widgets/editor.py
Labels: type:Bug, component:Editor, tag:Ux-usability

#20183 PR: Simplify the way we add sections to menus (API)
  spyder/api/widgets/menus.py
  spyder/plugins/mainmenu/plugin.py
  spyder/plugins/shortcuts/plugin.py
  spyder/plugins/tours/plugin.py
Labels: type:Bug, component:Main Window

#20218 PR: Improve syncing symbols and folding (Editor)
  external-deps/python-lsp-server/.gitrepo
  external-deps/python-lsp-server/README.md
  external-deps/python-lsp-server/pylsp/plugins/_rope_task_handle.py
  external-deps/python-lsp-server/pylsp/plugins/autopep8_format.py
  external-deps/python-lsp-server/pylsp/plugins/definition.py
  external-deps/python-lsp-server/pylsp/plugins/flake8_lint.py
  external-deps/python-lsp-server/pylsp/plugins/jedi_completion.py
  external-deps/python-lsp-server/pylsp/plugins/jedi_rename.py
  external-deps/python-lsp-server/pylsp/plugins/mccabe_lint.py
  external-deps/python-lsp-server/pylsp/plugins/pycodestyle_lint.py
  external-deps/python-lsp-server/pylsp/plugins/pydocstyle_lint.py
  external-deps/python-lsp-server/pylsp/plugins/pyflakes_lint.py
  external-deps/python-lsp-server/pylsp/plugins/pylint_lint.py
  external-deps/python-lsp-server/pylsp/plugins/references.py
  external-deps/python-lsp-server/pylsp/plugins/rope_autoimport.py
  external-deps/python-lsp-server/pylsp/plugins/rope_rename.py
  external-deps/python-lsp-server/pylsp/plugins/symbols.py
  external-deps/python-lsp-server/pylsp/plugins/yapf_format.py
  external-deps/python-lsp-server/pylsp/workspace.py
  external-deps/python-lsp-server/test/fixtures.py
  external-deps/python-lsp-server/test/plugins/test_autoimport.py
  external-deps/python-lsp-server/test/plugins/test_autopep8_format.py
  external-deps/python-lsp-server/test/plugins/test_definitions.py
  external-deps/python-lsp-server/test/plugins/test_flake8_lint.py
  external-deps/python-lsp-server/test/plugins/test_mccabe_lint.py
  external-deps/python-lsp-server/test/plugins/test_pydocstyle_lint.py
  external-deps/python-lsp-server/test/plugins/test_pyflakes_lint.py
  external-deps/python-lsp-server/test/plugins/test_pylint_lint.py
  external-deps/python-lsp-server/test/plugins/test_references.py
  external-deps/python-lsp-server/test/plugins/test_symbols.py
  external-deps/python-lsp-server/test/plugins/test_yapf_format.py
  external-deps/python-lsp-server/test/test_workspace.py
  spyder/plugins/editor/panels/classfunctiondropdown.py
  spyder/plugins/editor/widgets/codeeditor.py
  spyder/plugins/editor/widgets/tests/test_save.py
Labels: type:Enhancement, component:Editor

#20224 PR: Inform users when kernel can't be interrupted (IPython console)
  spyder/plugins/ipythonconsole/widgets/shell.py
  spyder/plugins/variableexplorer/widgets/tests/test_dataframeeditor.py
  spyder/widgets/collectionseditor.py
Labels: type:Bug, component:IPython Console

#20226 PR: Prevent Python variable validation to get current word and position when doing completions
  spyder/plugins/editor/widgets/tests/test_introspection.py
  spyder/widgets/mixins.py
Labels: type:Bug, component:Editor, component:Code Completion

#20233 PR: Fix showing Spyder-kernels message on kernel restarts (IPython console)
  .github/scripts/install.sh
  spyder/plugins/ipythonconsole/tests/test_ipythonconsole.py
  spyder/plugins/ipythonconsole/widgets/client.py
  spyder/plugins/ipythonconsole/widgets/shell.py
Labels: type:Bug, component:IPython Console

#20238 PR: Fix a small kernel restart issue (IPython console)
  .github/scripts/install.sh
  spyder/plugins/ipythonconsole/widgets/shell.py
Labels: type:Bug, component:IPython Console, type:Task

#20049 PR: Improve UX/UI of the `FindReplace` widget
  .github/workflows/test-files.yml
  spyder/images/spyder2_icon_theme/whole_words.png
  spyder/plugins/console/widgets/main_widget.py
  spyder/plugins/editor/plugin.py
  spyder/plugins/editor/widgets/codeeditor.py
  spyder/plugins/editor/widgets/editor.py
  spyder/plugins/editor/widgets/tests/test_editor.py
  spyder/plugins/help/widgets.py
  spyder/plugins/history/widgets.py
  spyder/utils/icon_manager.py
  spyder/widgets/comboboxes.py
  spyder/widgets/findreplace.py
  spyder/widgets/tests/test_findreplace.py
Labels: type:Enhancement, tag:Ui

#20251 PR: Update translations for 5.4.1
  spyder/locale/de/LC_MESSAGES/spyder.po
  spyder/locale/es/LC_MESSAGES/spyder.po
  spyder/locale/fa/LC_MESSAGES/spyder.po
  spyder/locale/fr/LC_MESSAGES/spyder.po
  spyder/locale/hr/LC_MESSAGES/spyder.po
  spyder/locale/hu/LC_MESSAGES/spyder.po
  spyder/locale/ja/LC_MESSAGES/spyder.po
  spyder/locale/pl/LC_MESSAGES/spyder.po
  spyder/locale/pt_BR/LC_MESSAGES/spyder.po
  spyder/locale/ru/LC_MESSAGES/spyder.po
  spyder/locale/spyder.pot
  spyder/locale/te/LC_MESSAGES/spyder.po
  spyder/locale/uk/LC_MESSAGES/spyder.po
  spyder/locale/zh_CN/LC_MESSAGES/spyder.po
Labels: type:Task

#20254 PR: Cancel runs in progress when pushing new commits (CI)
  .github/workflows/installer-macos.yml
  .github/workflows/installer-win.yml
  .github/workflows/installers-conda.yml
  .github/workflows/test-files.yml
  .github/workflows/test-linux.yml
  .github/workflows/test-mac.yml
  .github/workflows/test-win.yml
Labels: type:Enhancement, type:Task

#20259 PR: Fix concurrency for installers-conda workflow
  .github/workflows/installers-conda.yml
Labels: type:Task

#20269 PR: Require py2app 0.28.4 for the Mac installer
  installers/macOS/req-build.txt
  installers/macOS/req-scientific.txt
Labels: type:Bug, OS:MacOS, tag:Installer

#20264 PR: Fix Pycodestyle linting with line endings other than LF (Completions)
  external-deps/python-lsp-server/.github/workflows/static.yml
  external-deps/python-lsp-server/.github/workflows/test-linux.yml
  external-deps/python-lsp-server/.github/workflows/test-mac.yml
  external-deps/python-lsp-server/.github/workflows/test-win.yml
  external-deps/python-lsp-server/.gitrepo
  external-deps/python-lsp-server/pylsp/plugins/pycodestyle_lint.py
  external-deps/python-lsp-server/pyproject.toml
  external-deps/python-lsp-server/test/plugins/test_pycodestyle_lint.py
  spyder/plugins/editor/widgets/codeeditor.py
Labels: type:Bug, component:Code Completion

#20268 PR: Use a better icon when no matches are found (Find/Replace widget)
  spyder/utils/icon_manager.py
  spyder/widgets/comboboxes.py
  spyder/widgets/findreplace.py
  spyder/widgets/tests/test_findreplace.py
Labels: type:Enhancement, tag:Ui, component:Find and Replace

#20221 PR: Several fixes for new Editor windows
  runtests.py
  spyder/api/_version.py
  spyder/api/plugins/new_api.py
  spyder/api/widgets/auxiliary_widgets.py
  spyder/app/mainwindow.py
  spyder/app/tests/test_mainwindow.py
  spyder/plugins/editor/plugin.py
  spyder/plugins/editor/tests/test_plugin.py
  spyder/plugins/editor/widgets/codeeditor.py
  spyder/plugins/editor/widgets/editor.py
  spyder/plugins/ipythonconsole/tests/test_ipythonconsole.py
  spyder/plugins/outlineexplorer/editor.py
  spyder/plugins/outlineexplorer/main_widget.py
  spyder/plugins/outlineexplorer/plugin.py
  spyder/plugins/outlineexplorer/widgets.py
Labels: type:Bug, component:Editor, component:Outline Explorer

#20271 PR: Add support for IPython 8
  .github/scripts/install.sh
  binder/environment.yml
  external-deps/spyder-kernels/.github/workflows/linux-pip-tests.yml
  external-deps/spyder-kernels/.github/workflows/linux-tests.yml
  external-deps/spyder-kernels/.github/workflows/macos-tests.yml
  external-deps/spyder-kernels/.github/workflows/windows-tests.yml
  external-deps/spyder-kernels/.gitrepo
  external-deps/spyder-kernels/CHANGELOG.md
  external-deps/spyder-kernels/requirements/posix.txt
  external-deps/spyder-kernels/requirements/windows.txt
  external-deps/spyder-kernels/setup.py
  external-deps/spyder-kernels/spyder_kernels/console/tests/test_console_kernel.py
  external-deps/spyder-kernels/spyder_kernels/utils/tests/test_dochelpers.py
  external-deps/spyder-kernels/spyder_kernels/utils/tests/test_nsview.py
  requirements/main.yml
  setup.py
  spyder/dependencies.py
  spyder/plugins/pythonpath/widgets/pathmanager.py
Labels: type:Task

#20274 PR: Improve completions for scientific modules (Code completion)
  external-deps/python-lsp-server/.gitrepo
  external-deps/python-lsp-server/CONFIGURATION.md
  external-deps/python-lsp-server/pylsp/config/schema.json
  external-deps/python-lsp-server/pylsp/plugins/definition.py
  external-deps/python-lsp-server/pylsp/plugins/hover.py
  external-deps/python-lsp-server/pylsp/plugins/pylint_lint.py
  external-deps/python-lsp-server/pylsp/plugins/symbols.py
  external-deps/python-lsp-server/test/plugins/test_definitions.py
  external-deps/python-lsp-server/test/plugins/test_pylint_lint.py
  spyder/config/lsp.py
Labels: type:Enhancement, component:Code Completion

#20277 PR: Update core dependencies for 5.4.1
  .github/workflows/test-files.yml
  .github/workflows/test-linux.yml
  .github/workflows/test-mac.yml
  .github/workflows/test-win.yml
  binder/environment.yml
  external-deps/python-lsp-server/.gitrepo
  external-deps/python-lsp-server/CHANGELOG.md
  installers/Windows/req-extras-pull-request.txt
  installers/Windows/req-extras-release.txt
  requirements/main.yml
  setup.py
  spyder/dependencies.py
Labels: type:Task
