Repository spyder-ide/spyder, pull requests merged in 2023-05, with the labels that each got.

#20886 PR: Prevent saving `None` value as Editor bookmarks
  spyder/plugins/editor/plugin.py
Labels: type:Bug, component:Editor

#20905 PR: Fix typo in kernel error message (IPython console)
  spyder/plugins/completion/providers/kite/widgets/install.py
  spyder/plugins/console/widgets/main_widget.py
  spyder/plugins/ipythonconsole/widgets/client.py
  spyder/plugins/variableexplorer/widgets/dataframeeditor.py
  spyder/utils/palette.py
Labels: User Interface (UI)

#20884 PR: Cleanup Environments for Conda-based Installers
  .github/workflows/installers-conda.yml
  installers-conda/build_conda_pkgs.py
  installers-conda/build_installers.py
  installers-conda/resources/post-install-linux.sh
  installers-conda/resources/post-install.sh
  installers-conda/resources/pre-install.sh
  spyder/plugins/application/container.py
Labels: type:Enhancement, Installers

#20952 PR: Add support for the future `python-lsp-black` 2.0 version
  binder/environment.yml
  requirements/main.yml
  setup.py
  spyder/config/lsp.py
  spyder/dependencies.py
  spyder/plugins/completion/providers/languageserver/provider.py
  spyder/utils/programs.py
Labels: component:Code Completion and linting, type:Task

#20954 PR: Backport PR 20952 (Add support for the future `python-lsp-black` 2.0 version)
  binder/environment.yml
  requirements/main.yml
  setup.py
  spyder/config/lsp.py
  spyder/dependencies.py
  spyder/plugins/completion/providers/languageserver/provider.py
  spyder/utils/programs.py
Labels: type:Task

#20893 PR: Move LSP related code from the `CodeEditor` class definition to a new mixin and `CodeEditor` related elements to a `codeeditor` module (Editor)
  .github/scripts/modules_test.sh
  spyder/plugins/editor/widgets/codeeditor/__init__.py
  spyder/plugins/editor/widgets/codeeditor/codeeditor.py
  spyder/plugins/editor/widgets/codeeditor/lsp_mixin.py
  spyder/plugins/editor/widgets/codeeditor/tests/__init__.py
  spyder/plugins/editor/widgets/codeeditor/tests/assets/autopep8_max_line.py
  spyder/plugins/editor/widgets/codeeditor/tests/assets/autopep8_range.py
  spyder/plugins/editor/widgets/codeeditor/tests/assets/autopep8_result.py
  spyder/plugins/editor/widgets/codeeditor/tests/assets/black_max_line.py
  spyder/plugins/editor/widgets/codeeditor/tests/assets/black_range.py
  spyder/plugins/editor/widgets/codeeditor/tests/assets/black_result.py
  spyder/plugins/editor/widgets/codeeditor/tests/assets/braces.py
  spyder/plugins/editor/widgets/codeeditor/tests/assets/original_file.py
  spyder/plugins/editor/widgets/codeeditor/tests/assets/text.py
  spyder/plugins/editor/widgets/codeeditor/tests/assets/text_trees.json
  spyder/plugins/editor/widgets/codeeditor/tests/assets/yapf_max_line.py
  spyder/plugins/editor/widgets/codeeditor/tests/assets/yapf_range.py
  spyder/plugins/editor/widgets/codeeditor/tests/assets/yapf_result.py
  spyder/plugins/editor/widgets/codeeditor/tests/conftest.py
  spyder/plugins/editor/widgets/codeeditor/tests/test_autocolon.py
  spyder/plugins/editor/widgets/codeeditor/tests/test_autoindent.py
  spyder/plugins/editor/widgets/codeeditor/tests/test_bookmarks.py
  spyder/plugins/editor/widgets/codeeditor/tests/test_breakpoints.py
  spyder/plugins/editor/widgets/codeeditor/tests/test_classfunc_selector.py
  spyder/plugins/editor/widgets/codeeditor/tests/test_codeeditor.py
  spyder/plugins/editor/widgets/codeeditor/tests/test_comments.py
  spyder/plugins/editor/widgets/codeeditor/tests/test_completions_hide.py
  spyder/plugins/editor/widgets/codeeditor/tests/test_decorations.py
  spyder/plugins/editor/widgets/codeeditor/tests/test_folding.py
  spyder/plugins/editor/widgets/codeeditor/tests/test_formatting.py
  spyder/plugins/editor/widgets/codeeditor/tests/test_goto.py
  spyder/plugins/editor/widgets/codeeditor/tests/test_gotoline.py
  spyder/plugins/editor/widgets/codeeditor/tests/test_hints_and_calltips.py
  spyder/plugins/editor/widgets/codeeditor/tests/test_indentation.py
  spyder/plugins/editor/widgets/codeeditor/tests/test_introspection.py
  spyder/plugins/editor/widgets/codeeditor/tests/test_outline.py
  spyder/plugins/editor/widgets/codeeditor/tests/test_panels.py
  spyder/plugins/editor/widgets/codeeditor/tests/test_warnings.py
  spyder/plugins/editor/widgets/editor.py
  spyder/plugins/editor/widgets/tabswitcher.py
  spyder/plugins/editor/widgets/tests/conftest.py
  spyder/plugins/editor/widgets/tests/test_bookmarks.py
  spyder/plugins/editor/widgets/tests/test_editor_and_outline.py
  spyder/plugins/editor/widgets/tests/test_formatting.py
  spyder/plugins/editor/widgets/tests/test_panels.py
Labels: component:Editor, type:Task

#20948 PR: Catch `PermissionsError` when trying to get applications executables (Files)
  spyder/plugins/explorer/widgets/fileassociations.py
Labels: type:Bug, component:Preferences, component:File Explorer

#20947 PR: Add `-Xfrozen_modules` flag to prevent Python incorrectly compiled message (IPython Console)
  spyder/plugins/ipythonconsole/utils/kernelspec.py
Labels: type:Bug, component:IPython Console

#20965 PR: Fix typo in Announcements.md
  Announcements.md
Labels: type:Task

#20971 PR: Fix searching in a single file (Find)
  spyder/plugins/findinfiles/widgets/results_browser.py
  spyder/plugins/findinfiles/widgets/search_thread.py
  spyder/plugins/findinfiles/widgets/tests/test_widgets.py
Labels: type:Bug, component:Find in files
