Repository spyder-ide/spyder, pull requests merged in 2023-07, with the labels that each got.

#20933 PR: Make the font used by the application configurable and other UI fixes
  spyder/api/config/__init__.py
  spyder/api/config/fonts.py
  spyder/api/plugins/new_api.py
  spyder/api/widgets/status.py
  spyder/app/mainwindow.py
  spyder/app/restart.py
  spyder/app/tests/conftest.py
  spyder/app/tests/test_mainwindow.py
  spyder/app/utils.py
  spyder/config/appearance.py
  spyder/config/fonts.py
  spyder/config/main.py
  spyder/images/dark/new_cell.svg
  spyder/images/light/new_cell.svg
  spyder/plugins/appearance/confpage.py
  spyder/plugins/completion/providers/languageserver/widgets/serversconfig.py
  spyder/plugins/completion/providers/snippets/widgets/snippetsconfig.py
  spyder/plugins/console/plugin.py
  spyder/plugins/debugger/widgets/framesbrowser.py
  spyder/plugins/editor/plugin.py
  spyder/plugins/editor/widgets/base.py
  spyder/plugins/findinfiles/widgets/results_browser.py
  spyder/plugins/help/plugin.py
  spyder/plugins/help/widgets.py
  spyder/plugins/history/plugin.py
  spyder/plugins/history/widgets.py
  spyder/plugins/ipythonconsole/plugin.py
  spyder/plugins/ipythonconsole/widgets/main_widget.py
  spyder/plugins/mainmenu/plugin.py
  spyder/plugins/onlinehelp/pydoc_patch.py
  spyder/plugins/plots/widgets/figurebrowser.py
  spyder/plugins/plots/widgets/main_widget.py
  spyder/plugins/preferences/api.py
  spyder/plugins/shortcuts/widgets/table.py
  spyder/plugins/variableexplorer/widgets/arrayeditor.py
  spyder/plugins/variableexplorer/widgets/collectionsdelegate.py
  spyder/plugins/variableexplorer/widgets/dataframeeditor.py
  spyder/plugins/variableexplorer/widgets/objectexplorer/objectexplorer.py
  spyder/plugins/variableexplorer/widgets/objectexplorer/tree_model.py
  spyder/plugins/variableexplorer/widgets/texteditor.py
  spyder/utils/icon_manager.py
  spyder/utils/qthelpers.py
  spyder/utils/stylesheet.py
  spyder/widgets/collectionseditor.py
  spyder/widgets/reporterror.py
Labels: type:Bug, type:Enhancement, User Interface (UI)

#21092 PR: Remove setting font for update status bar widget (Application)
  spyder/plugins/application/widgets/status.py
Labels: type:Bug, component:Main Window

#20895 PR: Add switcher integration to projects
  spyder/app/tests/test_mainwindow.py
  spyder/plugins/editor/plugin.py
  spyder/plugins/editor/utils/switcher_manager.py
  spyder/plugins/editor/widgets/editor.py
  spyder/plugins/projects/plugin.py
  spyder/plugins/projects/widgets/main_widget.py
  spyder/plugins/switcher/plugin.py
  spyder/plugins/switcher/tests/test_switcher.py
  spyder/plugins/switcher/widgets/proxymodel.py
  spyder/plugins/switcher/widgets/switcher.py
Labels: component:Projects, type:Feature, component:File Switcher

#21084 PR: Automatically launch Spyder after installation (Installers)
  .github/workflows/installers-conda.yml
  installers-conda/build_installers.py
  installers-conda/resources/post-install.bat
  installers-conda/resources/post-install.sh
Labels: type:Enhancement, Installers

#19350 PR: Improve debugging for IPython kernels
  external-deps/spyder-kernels/.gitrepo
  external-deps/spyder-kernels/CHANGELOG.md
  external-deps/spyder-kernels/spyder_kernels/console/shell.py
  external-deps/spyder-kernels/spyder_kernels/customize/spyderpdb.py
  spyder/app/tests/test_mainwindow.py
  spyder/plugins/debugger/widgets/framesbrowser.py
  spyder/plugins/ipythonconsole/widgets/debugging.py
  spyder/plugins/ipythonconsole/widgets/shell.py
Labels: type:Enhancement, component:IPython Console

#21107 PR: Add `exitdb` command and some speed optimizations to the debugger
  external-deps/spyder-kernels/.gitrepo
  external-deps/spyder-kernels/spyder_kernels/comms/decorators.py
  external-deps/spyder-kernels/spyder_kernels/console/kernel.py
  external-deps/spyder-kernels/spyder_kernels/console/shell.py
  external-deps/spyder-kernels/spyder_kernels/customize/spyderpdb.py
Labels: type:Enhancement, component:Debugger

#21111 PR: Add better shortcuts to switch edit tabs for macOS
  spyder/widgets/tabs.py
Labels: type:Enhancement, component:Editor, User Experience (UX)

#21128 PR: Fix LSP status widget logic when it is `None` using early return
  spyder/plugins/completion/providers/languageserver/widgets/status.py
Labels: type:Bug, component:Code Completion and linting

#20868 PR: Improve Variable Explorer UX
  external-deps/spyder-kernels/.gitrepo
  external-deps/spyder-kernels/spyder_kernels/console/tests/test_console_kernel.py
  external-deps/spyder-kernels/spyder_kernels/utils/nsview.py
  spyder/config/main.py
  spyder/plugins/ipythonconsole/comms/tests/test_comms.py
  spyder/plugins/ipythonconsole/tests/test_ipythonconsole.py
  spyder/plugins/maininterpreter/plugin.py
  spyder/plugins/variableexplorer/confpage.py
  spyder/plugins/variableexplorer/plugin.py
  spyder/plugins/variableexplorer/widgets/main_widget.py
  spyder/widgets/collectionseditor.py
Labels: type:Enhancement, component:Variable Explorer, User Interface (UI), User Experience (UX)

#21140 PR: Prevent failures when Codecov action fails and switch to `setup-micromamba` (CI)
  .github/workflows/test-files.yml
  .github/workflows/test-linux.yml
  .github/workflows/test-mac.yml
  .github/workflows/test-win.yml
  spyder/plugins/editor/widgets/tests/test_formatting.py
Labels: type:Task

#21131 PR: Reinstate notarization of conda-based macOS installer
  .github/workflows/installers-conda.yml
Labels: type:Task, Installers

#21154 PR: Fix notarizing for 5.x branch
  installers/macOS/notarize.sh
Labels: OS:MacOS, type:Task, Installers

#21155 PR: Update core dependencies for 5.4.4
  binder/environment.yml
  external-deps/python-lsp-server/.gitrepo
  external-deps/python-lsp-server/CHANGELOG.md
  external-deps/python-lsp-server/README.md
  external-deps/python-lsp-server/pylsp/plugins/_rope_task_handle.py
  external-deps/python-lsp-server/pylsp/plugins/pylint_lint.py
  external-deps/python-lsp-server/pylsp/workspace.py
  external-deps/python-lsp-server/pyproject.toml
  external-deps/python-lsp-server/test/test_workspace.py
  external-deps/spyder-kernels/.gitrepo
  external-deps/spyder-kernels/CHANGELOG.md
  requirements/main.yml
  setup.py
  spyder/dependencies.py
Labels: type:Task

#21156 PR: Some fixes for the report error dialog (UI)
  spyder/widgets/reporterror.py
Labels: type:Bug, User Interface (UI)

#20926 PR: Add help info widget to show tooltips in Preferences (UX/UI)
  spyder/app/tests/test_mainwindow.py
  spyder/plugins/appearance/confpage.py
  spyder/plugins/application/confpage.py
  spyder/plugins/completion/confpage.py
  spyder/plugins/completion/providers/languageserver/conftabs/advanced.py
  spyder/plugins/completion/providers/languageserver/conftabs/docstring.py
  spyder/plugins/completion/providers/languageserver/conftabs/formatting.py
  spyder/plugins/completion/providers/languageserver/conftabs/introspection.py
  spyder/plugins/completion/providers/languageserver/conftabs/linting.py
  spyder/plugins/editor/confpage.py
  spyder/plugins/ipythonconsole/confpage.py
  spyder/plugins/maininterpreter/confpage.py
  spyder/plugins/preferences/api.py
  spyder/plugins/statusbar/confpage.py
  spyder/plugins/variableexplorer/confpage.py
  spyder/plugins/workingdirectory/confpage.py
  spyder/utils/icon_manager.py
Labels: component:Preferences, User Interface (UI), User Experience (UX)

#21169 PR: Update `spyder.appdata.xml` to include more info
  scripts/org.spyder_ide.spyder.appdata.xml
Labels: type:Enhancement, OS:Linux

#21185 PR: Fix config page radiobutton reference (Main interpreter)
  spyder/plugins/maininterpreter/confpage.py
Labels: type:Bug, component:Main interpreter

#21186 PR: Do not overwrite test script to allow tests to be rerun
  spyder/app/tests/test_mainwindow.py
Labels: type:Task

#21193 PR: Fix `ReadOnlyCollectionsModel` tooltip logic (Widgets/Variable Explorer)
  spyder/widgets/collectionseditor.py
Labels: type:Bug, component:Variable Explorer

#21133 PR: Improve style of dockwidget tabbars (UI)
  spyder/api/shellconnect/main_widget.py
  spyder/api/widgets/main_widget.py
  spyder/app/mainwindow.py
  spyder/plugins/application/confpage.py
  spyder/plugins/debugger/widgets/framesbrowser.py
  spyder/plugins/editor/plugin.py
  spyder/plugins/findinfiles/widgets/main_widget.py
  spyder/plugins/help/widgets.py
  spyder/plugins/ipythonconsole/widgets/main_widget.py
  spyder/plugins/onlinehelp/widgets.py
  spyder/plugins/plots/widgets/figurebrowser.py
  spyder/plugins/profiler/widgets/main_widget.py
  spyder/plugins/pylint/main_widget.py
  spyder/plugins/variableexplorer/widgets/namespacebrowser.py
  spyder/plugins/workingdirectory/plugin.py
  spyder/utils/stylesheet.py
  spyder/widgets/browser.py
  spyder/widgets/dock.py
  spyder/widgets/findreplace.py
  spyder/widgets/helperwidgets.py
Labels: type:Enhancement, User Interface (UI), component:Main Window

#21101 PR: Improve UI of Plugins page in Preferences
  binder/environment.yml
  changelogs/Spyder-6.md
  requirements/main.yml
  setup.py
  spyder/api/_version.py
  spyder/api/plugin_registration/_confpage.py
  spyder/api/plugin_registration/registry.py
  spyder/api/plugins/new_api.py
  spyder/app/mainwindow.py
  spyder/app/tests/spyder-boilerplate/spyder_boilerplate/spyder/plugin.py
  spyder/dependencies.py
  spyder/plugins/appearance/plugin.py
  spyder/plugins/application/plugin.py
  spyder/plugins/breakpoints/plugin.py
  spyder/plugins/completion/plugin.py
  spyder/plugins/console/plugin.py
  spyder/plugins/debugger/plugin.py
  spyder/plugins/editor/plugin.py
  spyder/plugins/explorer/plugin.py
  spyder/plugins/externalconsole/plugin.py
  spyder/plugins/findinfiles/plugin.py
  spyder/plugins/help/plugin.py
  spyder/plugins/history/plugin.py
  spyder/plugins/ipythonconsole/plugin.py
  spyder/plugins/layout/plugin.py
  spyder/plugins/maininterpreter/plugin.py
  spyder/plugins/mainmenu/plugin.py
  spyder/plugins/onlinehelp/plugin.py
  spyder/plugins/outlineexplorer/plugin.py
  spyder/plugins/plots/plugin.py
  spyder/plugins/preferences/plugin.py
  spyder/plugins/profiler/plugin.py
  spyder/plugins/projects/plugin.py
  spyder/plugins/pylint/plugin.py
  spyder/plugins/pythonpath/plugin.py
  spyder/plugins/run/plugin.py
  spyder/plugins/shortcuts/plugin.py
  spyder/plugins/shortcuts/widgets/table.py
  spyder/plugins/statusbar/plugin.py
  spyder/plugins/switcher/plugin.py
  spyder/plugins/toolbar/plugin.py
  spyder/plugins/tours/plugin.py
  spyder/plugins/variableexplorer/plugin.py
  spyder/plugins/workingdirectory/plugin.py
  spyder/utils/icon_manager.py
  spyder/widgets/elementstable.py
  spyder/widgets/helperwidgets.py
Labels: type:Enhancement, component:Preferences, User Interface (UI)

#21134 PR: Improve UI of `PaneEmptyWidget`, show message on panes connected to dead consoles and improve About dialog UI
  spyder/api/shellconnect/main_widget.py
  spyder/api/shellconnect/mixins.py
  spyder/api/utils.py
  spyder/app/mainwindow.py
  spyder/plugins/debugger/plugin.py
  spyder/plugins/debugger/widgets/main_widget.py
  spyder/plugins/ipythonconsole/plugin.py
  spyder/plugins/ipythonconsole/widgets/client.py
  spyder/plugins/ipythonconsole/widgets/main_widget.py
  spyder/plugins/ipythonconsole/widgets/shell.py
  spyder/plugins/ipythonconsole/widgets/status.py
  spyder/plugins/plots/plugin.py
  spyder/plugins/plots/widgets/main_widget.py
  spyder/plugins/variableexplorer/plugin.py
  spyder/plugins/variableexplorer/widgets/main_widget.py
  spyder/utils/stylesheet.py
  spyder/widgets/about.py
  spyder/widgets/helperwidgets.py
Labels: type:Enhancement, component:IPython Console, User Interface (UI), User Experience (UX)

#21182 PR: Cache subrepo conda builds for installers
  .github/workflows/installers-conda.yml
  installers-conda/resources/post-install.sh
Labels: type:Task, Installers

#20493 PR: Fix capitalization on Windows when opening a file in debug mode
  spyder/plugins/editor/plugin.py
Labels: type:Bug, OS:Windows, component:Debugger

#21184 PR: Remove locals inspection from the kernel (IPython console)
  external-deps/spyder-kernels/.gitrepo
  external-deps/spyder-kernels/spyder_kernels/console/kernel.py
  external-deps/spyder-kernels/spyder_kernels/console/shell.py
  spyder/config/main.py
  spyder/plugins/debugger/confpage.py
  spyder/plugins/debugger/widgets/framesbrowser.py
  spyder/plugins/debugger/widgets/main_widget.py
Labels: type:Bug, component:IPython Console

#21194 PR: Move classes in `editor.py` to their own modules (Editor)
  .github/scripts/modules_test.sh
  spyder/plugins/editor/plugin.py
  spyder/plugins/editor/tests/test_plugin.py
  spyder/plugins/editor/widgets/editorstack/__init__.py
  spyder/plugins/editor/widgets/editorstack/editorstack.py
  spyder/plugins/editor/widgets/editorstack/helpers.py
  spyder/plugins/editor/widgets/editorstack/tests/__init__.py
  spyder/plugins/editor/widgets/editorstack/tests/assets/ipython_file.ipy
  spyder/plugins/editor/widgets/editorstack/tests/conftest.py
  spyder/plugins/editor/widgets/editorstack/tests/test_editorstack.py
  spyder/plugins/editor/widgets/editorstack/tests/test_editorstack_and_outline.py
  spyder/plugins/editor/widgets/editorstack/tests/test_save.py
  spyder/plugins/editor/widgets/editorstack/tests/test_shortcuts.py
  spyder/plugins/editor/widgets/splitter.py
  spyder/plugins/editor/widgets/tests/conftest.py
  spyder/plugins/editor/widgets/tests/test_editorsplitter.py
  spyder/plugins/editor/widgets/window.py
  spyder/plugins/help/plugin.py
Labels: component:Editor, type:Task

#19492 PR: Merge Breakpoints and Debugger plugins
  changelogs/Spyder-6.md
  setup.py
  spyder/api/plugins/enum.py
  spyder/api/shellconnect/main_widget.py
  spyder/config/main.py
  spyder/plugins/breakpoints/__init__.py
  spyder/plugins/breakpoints/api.py
  spyder/plugins/breakpoints/plugin.py
  spyder/plugins/breakpoints/widgets/__init__.py
  spyder/plugins/debugger/plugin.py
  spyder/plugins/debugger/utils/breakpointsmanager.py
  spyder/plugins/debugger/widgets/breakpoint_table_view.py
  spyder/plugins/debugger/widgets/main_widget.py
  spyder/plugins/editor/confpage.py
  spyder/plugins/layout/plugin.py
  spyder/plugins/mainmenu/api.py
  spyder/plugins/shortcuts/tests/test_shortcuts.py
Labels: type:Enhancement, component:Debugger, User Experience (UX)
