Repository spyder-ide/spyder, pull requests merged in 2023-11, with the labels that each got.

#21317 PR: Add toolbar to array editor (Variable Explorer)
  spyder/plugins/variableexplorer/widgets/arrayeditor.py
  spyder/utils/icon_manager.py
Labels: type:Enhancement, component:Variable Explorer, User Interface (UI)

#21481 PR: Fix unchecking `Display variables and attributes` not updating tree (Outline explorer)
  spyder/plugins/outlineexplorer/tests/test_widgets.py
  spyder/plugins/outlineexplorer/widgets.py
Labels: type:Bug, component:Outline Explorer

#21233 PR: Improve style of the Preferences dialog (UI)
  binder/environment.yml
  requirements/main.yml
  setup.py
  spyder/api/preferences.py
  spyder/app/mainwindow.py
  spyder/app/tests/conftest.py
  spyder/config/main.py
  spyder/dependencies.py
  spyder/plugins/appearance/confpage.py
  spyder/plugins/appearance/tests/test_confpage.py
  spyder/plugins/application/confpage.py
  spyder/plugins/completion/confpage.py
  spyder/plugins/completion/providers/languageserver/conftabs/otherlanguages.py
  spyder/plugins/completion/providers/snippets/conftabs.py
  spyder/plugins/completion/tests/conftest.py
  spyder/plugins/editor/confpage.py
  spyder/plugins/explorer/confpage.py
  spyder/plugins/ipythonconsole/confpage.py
  spyder/plugins/layout/plugin.py
  spyder/plugins/maininterpreter/tests/test_confpage.py
  spyder/plugins/preferences/__init__.py
  spyder/plugins/preferences/api.py
  spyder/plugins/preferences/plugin.py
  spyder/plugins/preferences/tests/conftest.py
  spyder/plugins/preferences/widgets/config_widgets.py
  spyder/plugins/preferences/widgets/configdialog.py
  spyder/plugins/preferences/widgets/container.py
  spyder/plugins/run/confpage.py
  spyder/utils/stylesheet.py
  spyder/widgets/dock.py
  spyder/widgets/elementstable.py
Labels: type:Enhancement, component:Preferences, User Interface (UI)

#21494 PR: Skip IPython `8.17.1` in our dependencies for Python 3.9+ and update Qtconsole to `>=5.5.0,<5.6.0`
  binder/environment.yml
  external-deps/qtconsole/.github/workflows/linux-tests.yml
  external-deps/qtconsole/.github/workflows/macos-tests.yml
  external-deps/qtconsole/.github/workflows/windows-tests.yml
  external-deps/qtconsole/.gitignore
  external-deps/qtconsole/.gitrepo
  external-deps/qtconsole/README.md
  external-deps/qtconsole/docs/source/changelog.rst
  external-deps/qtconsole/docs/source/installation.rst
  external-deps/qtconsole/qtconsole/_version.py
  external-deps/qtconsole/qtconsole/comms.py
  external-deps/qtconsole/qtconsole/completion_html.py
  external-deps/qtconsole/qtconsole/completion_plain.py
  external-deps/qtconsole/qtconsole/console_widget.py
  external-deps/qtconsole/qtconsole/frontend_widget.py
  external-deps/qtconsole/qtconsole/inprocess.py
  external-deps/qtconsole/qtconsole/rich_jupyter_widget.py
  external-deps/qtconsole/qtconsole/tests/test_inprocess_kernel.py
  external-deps/qtconsole/qtconsole/util.py
  external-deps/qtconsole/requirements/environment.yml
  external-deps/qtconsole/setup.py
  external-deps/spyder-kernels/.gitrepo
  external-deps/spyder-kernels/setup.py
  requirements/main.yml
  setup.py
  spyder/dependencies.py
Labels: type:Task

#21500 PR: Increase minimal supported PyQt version to 5.10
  .github/scripts/install.sh
  README.md
  binder/environment.yml
  requirements/main.yml
  setup.py
  spyder/requirements.py
Labels: type:Task

#21502 PR: Update core dependencies for 5.5.0
  .github/scripts/install.sh
  binder/environment.yml
  external-deps/python-lsp-server/.gitrepo
  external-deps/python-lsp-server/CHANGELOG.md
  external-deps/python-lsp-server/README.md
  external-deps/spyder-kernels/.gitrepo
  external-deps/spyder-kernels/CHANGELOG.md
  external-deps/spyder-kernels/spyder_kernels/_version.py
  requirements/main.yml
  setup.py
  spyder/dependencies.py
  spyder/plugins/ipythonconsole/__init__.py
Labels: type:Task

#20546 PR: Add edition menu and toolbar to dataframe viewer
  spyder/plugins/ipythonconsole/tests/test_ipythonconsole.py
  spyder/plugins/variableexplorer/widgets/dataframeeditor.py
  spyder/plugins/variableexplorer/widgets/tests/test_dataframeeditor.py
  spyder/utils/icon_manager.py
Labels: type:Enhancement, component:Variable Explorer

#21517 PR: Install QDarkstyle 3.2.0 on Linux pip slots (CI)
  .github/scripts/install.sh
Labels: type:Task

#21510 PR: Fix deprecated top-level `developer_name` in AppData XML (Linux)
  scripts/org.spyder_ide.spyder.appdata.xml
Labels: OS:Linux, type:Task

#21518 PR: Fix not displaying math equations in the Help pane
  spyder/plugins/help/utils/conf.py
Labels: type:Bug, component:Help

#21530 PR: Cast to `int` parameters used inside `ItemDelegate.sizeHint` return value (Widgets)
  spyder/widgets/helperwidgets.py
Labels: type:Bug, component:Preferences

#21320 PR: Group kernel config calls (IPython console)
  .github/scripts/install.sh
  external-deps/spyder-kernels/.gitrepo
  external-deps/spyder-kernels/spyder_kernels/comms/frontendcomm.py
  external-deps/spyder-kernels/spyder_kernels/comms/utils.py
  external-deps/spyder-kernels/spyder_kernels/console/kernel.py
  external-deps/spyder-kernels/spyder_kernels/console/shell.py
  external-deps/spyder-kernels/spyder_kernels/console/start.py
  external-deps/spyder-kernels/spyder_kernels/console/tests/test_console_kernel.py
  external-deps/spyder-kernels/spyder_kernels/customize/code_runner.py
  external-deps/spyder-kernels/spyder_kernels/customize/tests/test_umr.py
  external-deps/spyder-kernels/spyder_kernels/customize/umr.py
  external-deps/spyder-kernels/spyder_kernels/utils/mpl.py
  spyder/app/tests/conftest.py
  spyder/app/tests/test_mainwindow.py
  spyder/config/main.py
  spyder/plugins/debugger/widgets/framesbrowser.py
  spyder/plugins/ipythonconsole/confpage.py
  spyder/plugins/ipythonconsole/plugin.py
  spyder/plugins/ipythonconsole/tests/conftest.py
  spyder/plugins/ipythonconsole/tests/test_ipythonconsole.py
  spyder/plugins/ipythonconsole/utils/client.py
  spyder/plugins/ipythonconsole/utils/kernel_handler.py
  spyder/plugins/ipythonconsole/utils/kernelspec.py
  spyder/plugins/ipythonconsole/widgets/client.py
  spyder/plugins/ipythonconsole/widgets/main_widget.py
  spyder/plugins/ipythonconsole/widgets/shell.py
  spyder/plugins/ipythonconsole/widgets/status.py
  spyder/plugins/variableexplorer/widgets/main_widget.py
  spyder/plugins/variableexplorer/widgets/namespacebrowser.py
  spyder/utils/programs.py
Labels: type:Enhancement, component:IPython Console

#21536 PR: Remove comments from the function definition lines before generating docstrings
  spyder/plugins/editor/extensions/docstring.py
  spyder/plugins/editor/extensions/tests/test_docstring.py
Labels: type:Bug, component:Editor

#21540 PR: Remove double message on restart after kernel dies (IPython console)
  spyder/plugins/ipythonconsole/tests/test_ipythonconsole.py
  spyder/plugins/ipythonconsole/utils/kernelspec.py
  spyder/plugins/ipythonconsole/widgets/client.py
  spyder/plugins/ipythonconsole/widgets/main_widget.py
  spyder/plugins/ipythonconsole/widgets/shell.py
Labels: type:Bug, component:IPython Console, User Interface (UI)

#21553 PR: Pin IPykernel to 6.26.0, QDarkstyle to 3.2.0 and fix building the Linux installer (CI)
  .github/scripts/install.sh
  .github/workflows/installers-conda.yml
  installers-conda/build-environment.yml
Labels: OS:Linux, type:Task, Installers

#21548 PR: Fix KeyError issue with format in update worker
  spyder/workers/updates.py
Labels: type:Bug, component:Main Window

#21312 PR: Add Refresh button to editors from Variable Explorer
  spyder/plugins/variableexplorer/widgets/arrayeditor.py
  spyder/plugins/variableexplorer/widgets/collectionsdelegate.py
  spyder/plugins/variableexplorer/widgets/dataframeeditor.py
  spyder/plugins/variableexplorer/widgets/objectexplorer/objectexplorer.py
  spyder/plugins/variableexplorer/widgets/objectexplorer/tests/test_objectexplorer.py
  spyder/plugins/variableexplorer/widgets/objectexplorer/toggle_column_mixin.py
  spyder/plugins/variableexplorer/widgets/tests/test_arrayeditor.py
  spyder/plugins/variableexplorer/widgets/tests/test_dataframeeditor.py
  spyder/utils/qthelpers.py
  spyder/widgets/collectionseditor.py
  spyder/widgets/tests/test_collectioneditor.py
Labels: type:Enhancement, component:Variable Explorer
