Repository spyder-ide/spyder, pull requests merged in 2023-08, with the labels that each got.

#21210 PR: Move Editor API inside the plugin (Editor)
  spyder/api/editor.py
  spyder/plugins/debugger/panels/debuggerpanel.py
  spyder/plugins/debugger/utils/breakpointsmanager.py
  spyder/plugins/editor/api/editorextension.py
  spyder/plugins/editor/api/manager.py
  spyder/plugins/editor/api/panel.py
  spyder/plugins/editor/extensions/closebrackets.py
  spyder/plugins/editor/extensions/closequotes.py
  spyder/plugins/editor/extensions/manager.py
  spyder/plugins/editor/extensions/snippets.py
  spyder/plugins/editor/panels/classfunctiondropdown.py
  spyder/plugins/editor/panels/codefolding.py
  spyder/plugins/editor/panels/edgeline.py
  spyder/plugins/editor/panels/indentationguides.py
  spyder/plugins/editor/panels/linenumber.py
  spyder/plugins/editor/panels/manager.py
  spyder/plugins/editor/panels/scrollflag.py
  spyder/plugins/editor/plugin.py
  spyder/plugins/editor/utils/decoration.py
  spyder/plugins/editor/widgets/codeeditor/codeeditor.py
  spyder/plugins/editor/widgets/editorstack/editorstack.py
  spyder/plugins/editor/widgets/tests/test_panels.py
  spyder/plugins/tours/api.py
  spyder/plugins/tours/widgets.py
Labels: component:Editor

#10990 PR: Add scroll line up/down keyboard shortcuts (Editor)
  spyder/config/main.py
  spyder/plugins/editor/widgets/codeeditor/codeeditor.py
  spyder/plugins/editor/widgets/editorstack/tests/test_editorstack.py
  spyder/plugins/editor/widgets/editorstack/tests/test_shortcuts.py
Labels: type:Enhancement, component:Editor

#21213 PR: Update installer workflow to only restore cache of subrepo builds (Installers)
  .github/workflows/installers-conda.yml
Labels: type:Task, Installers

#21215 PR: Fix showing text in the dark theme for keyboard sequences in the Shortcurts page (Preferences)
  spyder/plugins/completion/providers/languageserver/conftabs/otherlanguages.py
  spyder/plugins/completion/providers/languageserver/widgets/serversconfig.py
  spyder/plugins/completion/providers/snippets/widgets/snippetsconfig.py
  spyder/plugins/shortcuts/confpage.py
  spyder/plugins/shortcuts/widgets/table.py
Labels: type:Bug, component:Preferences, User Interface (UI)

#21205 PR: Add copy absolute and relative paths to file context menu (Editor)
  spyder/plugins/editor/widgets/editorstack/editorstack.py
Labels: type:Enhancement, component:Editor

#21226 PR: Fixes to improve compatibility with PySide2
  spyder/plugins/completion/providers/fallback/utils.py
  spyder/plugins/debugger/utils/breakpointsmanager.py
  spyder/plugins/debugger/widgets/framesbrowser.py
  spyder/plugins/debugger/widgets/main_widget.py
  spyder/plugins/editor/utils/decoration.py
  spyder/plugins/help/tests/test_plugin.py
  spyder/plugins/ipythonconsole/utils/kernel_handler.py
  spyder/plugins/ipythonconsole/widgets/debugging.py
  spyder/plugins/ipythonconsole/widgets/shell.py
  spyder/plugins/run/models.py
Labels: type:Bug, Package:PySide

#21236 PR: Fix error after changes to Plugins page (Preferences)
  spyder/api/plugin_registration/_confpage.py
Labels: type:Bug, component:Preferences

#21245 PR: Catch errors when trying to detect the pylintrc file (Code Analysis)
  spyder/plugins/pylint/utils.py
Labels: type:Bug, component:Pylint

#21244 PR: Expand patterns to detect possible `site-packages` directories (Pythonpath manager)
  spyder/plugins/pythonpath/tests/__init__.py
  spyder/plugins/pythonpath/tests/test_utils.py
  spyder/plugins/pythonpath/utils.py
Labels: type:Bug, component:Pythonpath manager

#21253 PR: Catch errors when trying to reload a file (Editor)
  spyder/plugins/editor/widgets/editor.py
Labels: type:Bug, component:Editor

#21260 PR: Add `fzf` and `fcitx-qt5` as conda requirements
  binder/environment.yml
  requirements/linux.yml
  requirements/main.yml
Labels: type:Bug, type:Task

#21112 PR: Change updater messaging to promote our installers
  spyder/plugins/application/container.py
  spyder/utils/conda.py
Labels: type:Enhancement, Installers

#21266 PR: Do not include spyder-terminal in standalone applications
  installers/Windows/req-extras-pull-request.txt
  installers/Windows/req-extras-release.txt
  installers/Windows/req-pull-request.txt
  installers/Windows/req-release.txt
  installers/macOS/packages.py
  installers/macOS/req-plugins.txt
Labels: type:Task, Installers

#21275 PR: Compute Projects switcher results in a worker to avoid freezes
  spyder/app/tests/test_mainwindow.py
  spyder/app/utils.py
  spyder/config/utils.py
  spyder/plugins/editor/utils/switcher_manager.py
  spyder/plugins/projects/plugin.py
  spyder/plugins/projects/tests/test_plugin.py
  spyder/plugins/projects/widgets/main_widget.py
  spyder/plugins/switcher/container.py
  spyder/plugins/switcher/plugin.py
  spyder/plugins/switcher/widgets/item.py
  spyder/plugins/switcher/widgets/switcher.py
  spyder/utils/workers.py
Labels: type:Bug, type:Enhancement, component:Projects, component:File Switcher

#21290 PR: Don't try to reverse the dict of scroll flags in Python 3.7 (Editor)
  spyder/app/mainwindow.py
  spyder/plugins/editor/panels/scrollflag.py
Labels: type:Bug, component:Editor, Package:Python3

#21295 PR: Support all real number dtypes in dataframe editor
  spyder/plugins/variableexplorer/widgets/dataframeeditor.py
  spyder/plugins/variableexplorer/widgets/tests/test_dataframeeditor.py
Labels: type:Enhancement, component:Variable Explorer

#21235 PR: Display plots from collections editor in the Plots pane
  spyder/app/tests/test_mainwindow.py
  spyder/plugins/ipythonconsole/plugin.py
  spyder/plugins/ipythonconsole/widgets/main_widget.py
  spyder/plugins/plots/plugin.py
  spyder/plugins/plots/widgets/figurebrowser.py
  spyder/plugins/plots/widgets/main_widget.py
  spyder/plugins/plots/widgets/tests/test_plots_widgets.py
  spyder/plugins/variableexplorer/plugin.py
  spyder/plugins/variableexplorer/widgets/collectionsdelegate.py
  spyder/plugins/variableexplorer/widgets/main_widget.py
  spyder/plugins/variableexplorer/widgets/namespacebrowser.py
  spyder/plugins/variableexplorer/widgets/objectexplorer/objectexplorer.py
  spyder/plugins/variableexplorer/widgets/objectexplorer/toggle_column_mixin.py
  spyder/plugins/variableexplorer/widgets/tests/test_namespacebrowser.py
  spyder/widgets/collectionseditor.py
  spyder/widgets/tests/test_collectioneditor.py
Labels: type:Enhancement, component:Variable Explorer, User Experience (UX), status:Ready For Review, component:Plots
