Repository spyder-ide/spyder, pull requests merged in 2023-02, with the labels that each got.

#20456 PR: Skip `test_tk_backend` on Windows with IPykernel 6.21.0
  spyder/plugins/ipythonconsole/tests/test_ipythonconsole.py
Labels: type:Task

#20450 PR: Restore `pickle` import in `py3compat.py` and some fixes to the main window tests
  spyder/app/tests/conftest.py
  spyder/app/tests/test_mainwindow.py
  spyder/py3compat.py
Labels: Package:Python3, type:Task

#20460 PR: Fix failure installing Spyder-kernels from master on Windows and other minor fixes on CIS
  .github/scripts/install.sh
  conftest.py
  spyder/plugins/ipythonconsole/tests/test_ipythonconsole.py
Labels: type:Task

#20452 PR: Update GitHub actions
  .github/workflows/installer-macos.yml
  .github/workflows/installer-win.yml
  .github/workflows/test-files.yml
  .github/workflows/test-linux.yml
  .github/workflows/test-mac.yml
  .github/workflows/test-win.yml
Labels: type:Task

#20466 PR: Fix installer triggers
  .github/workflows/installer-macos.yml
  .github/workflows/installer-win.yml
  .github/workflows/installers-conda.yml
  .github/workflows/test-files.yml
  .github/workflows/test-linux.yml
  .github/workflows/test-mac.yml
  .github/workflows/test-win.yml
Labels: type:Task

#20464 PR: Prevent error when trying to show arrays without an actual `dtype` (Variable Explorer)
  spyder/plugins/editor/widgets/tests/test_formatting.py
  spyder/plugins/variableexplorer/widgets/arrayeditor.py
  spyder/plugins/variableexplorer/widgets/collectionsdelegate.py
Labels: type:Bug, component:Variable Explorer

#20106 PR: Fix issue where user environment variables with line endings were not parsed correctly on Unix platforms
  spyder/app/tests/conftest.py
  spyder/app/tests/test_mainwindow.py
  spyder/utils/environ.py
  spyder/utils/tests/test_environ.py
Labels: type:Bug, component:Pythonpath manager

#20473 PR: Use .format() to format floats in array and dataframe editors
  spyder/plugins/variableexplorer/widgets/arrayeditor.py
  spyder/plugins/variableexplorer/widgets/dataframeeditor.py
  spyder/plugins/variableexplorer/widgets/tests/test_arrayeditor.py
  spyder/plugins/variableexplorer/widgets/tests/test_dataframeeditor.py
  spyder/widgets/tests/test_collectioneditor.py
Labels: type:Enhancement, component:Variable Explorer, status:Ready For Review

#20492 PR: Initialize `content` variable for update available message (Application)
  spyder/plugins/application/container.py
Labels: component:Main Window

#20482 PR: Add `--no-sandbox` argument for QtApplication
  spyder/config/manager.py
  spyder/utils/qthelpers.py
Labels: type:Bug, OS:Linux, Package:PyQt

#20515 PR: Make pane tabs to be left aligned on macOS again
  spyder/utils/stylesheet.py
Labels: type:Bug, OS:MacOS, User Interface (UI)

#20368 PR: Remove original installers in favor of the conda-based ones
  .github/workflows/installer-macos.yml
  .github/workflows/installer-win.yml
  .github/workflows/installers-conda.yml
  installers-conda/build_conda_pkgs.py
  installers-conda/build_installers.py
  installers/Windows/README.md
  installers/Windows/assets/.keep
  installers/Windows/installer.py
  installers/Windows/req-extras-pull-request.txt
  installers/Windows/req-extras-release.txt
  installers/Windows/req-pull-request.txt
  installers/Windows/req-release.txt
  installers/macOS/Readme.md
  installers/macOS/certkeychain.sh
  installers/macOS/codesign.sh
  installers/macOS/dmg_settings.py
  installers/macOS/notarize.sh
  installers/macOS/packages.py
  installers/macOS/qt_webengine.xml
  installers/macOS/req-build.txt
  installers/macOS/req-extras.txt
  installers/macOS/req-plugins.txt
  installers/macOS/req-scientific.txt
  installers/macOS/setup.py
  installers/macOS/test_app.sh
  spyder/app/restart.py
  spyder/app/utils.py
  spyder/config/base.py
  spyder/plugins/completion/providers/languageserver/provider.py
  spyder/plugins/ipythonconsole/scripts/conda-activate.sh
  spyder/plugins/ipythonconsole/utils/kernelspec.py
  spyder/plugins/profiler/widgets/main_widget.py
  spyder/plugins/pylint/main_widget.py
  spyder/utils/conda.py
  spyder/utils/programs.py
  spyder/utils/pyenv.py
Labels: tag:Installer

#19842 PR: Update Variable Explorer from the kernel
  external-deps/spyder-kernels/.gitrepo
  external-deps/spyder-kernels/spyder_kernels/comms/frontendcomm.py
  external-deps/spyder-kernels/spyder_kernels/comms/utils.py
  external-deps/spyder-kernels/spyder_kernels/console/kernel.py
  external-deps/spyder-kernels/spyder_kernels/console/shell.py
  external-deps/spyder-kernels/spyder_kernels/customize/spyderpdb.py
  external-deps/spyder-kernels/spyder_kernels/customize/tests/test_utils.py
  spyder/app/tests/test_mainwindow.py
  spyder/plugins/ipythonconsole/comms/kernelcomm.py
  spyder/plugins/ipythonconsole/plugin.py
  spyder/plugins/ipythonconsole/tests/test_ipythonconsole.py
  spyder/plugins/ipythonconsole/widgets/client.py
  spyder/plugins/ipythonconsole/widgets/debugging.py
  spyder/plugins/ipythonconsole/widgets/main_widget.py
  spyder/plugins/ipythonconsole/widgets/shell.py
  spyder/plugins/variableexplorer/widgets/main_widget.py
  spyder/plugins/variableexplorer/widgets/namespacebrowser.py
Labels: type:Enhancement, component:IPython Console

#20497 PR: Fix issue where replace all did not respect whole words filter
  spyder/widgets/findreplace.py
  spyder/widgets/tests/test_findreplace.py
Labels: type:Bug, component:Find and Replace

#20475 PR: Stop automatic scrolling when a plot is selected (Plots)
  spyder/app/tests/test_mainwindow.py
  spyder/plugins/plots/widgets/figurebrowser.py
Labels: type:Enhancement, component:Plots

#20538 PR: Fix reinstalling Spyder in editable mode when switching from 5.x to master and viceversa (Development)
  .gitignore
  bootstrap.py
  scripts/spyder.bat
Labels: type:Bug, type:Task

#20542 PR: Fix error in public API of Python Path Manager
  spyder/plugins/pythonpath/plugin.py
Labels: type:Bug, component:Pythonpath manager

#20543 PR: Fix “Last edit location” for unsaved files
  spyder/plugins/editor/plugin.py
Labels: type:Enhancement, component:Editor

#20541 PR: Fix error when Python Path Manager is reopened
  spyder/plugins/pythonpath/widgets/pathmanager.py
Labels: type:Bug, component:Pythonpath manager

#20548 PR: Fix test_shell_execution for macOS
  spyder/app/tests/bash_example.sh
  spyder/app/tests/test_mainwindow.py
Labels: type:Task

#20562 PR: Wait on all shutdown threads (IPython console)
  spyder/app/tests/test_mainwindow.py
  spyder/plugins/ipythonconsole/utils/kernel_handler.py
  spyder/plugins/ipythonconsole/widgets/main_widget.py
Labels: type:Bug, component:IPython Console

#20568 PR: Add public API method to set custom interpreter (Main interpreter)
  spyder/plugins/maininterpreter/plugin.py
Labels: type:Enhancement, component:Main interpreter

#20574 PR: Remove API method that's no longer necessary (Run)
  spyder/plugins/run/container.py
  spyder/plugins/run/plugin.py
Labels: type:Task, component:Run

#20575 PR: Fix conda script selection for custom interpreter env activation on Windows
  spyder/plugins/ipythonconsole/__init__.py
  spyder/plugins/ipythonconsole/utils/kernelspec.py
  spyder/utils/conda.py
Labels: OS:Windows, component:IPython Console

#20588 PR: Remove macOS and Windows conda-based installers from 5.x branch
  .github/workflows/installers-conda.yml
Labels: type:Task, Installers

#20471 PR: Update conda-based installers
  .github/workflows/installers-conda.yml
  installers-conda/resources/post-install.sh
  installers-conda/resources/spyder-menu.json
Labels: type:Task, Installers

#20272 PR: Display warning message before loading spydata files
  external-deps/spyder-kernels/.gitrepo
  external-deps/spyder-kernels/spyder_kernels/customize/spydercustomize.py
  external-deps/spyder-kernels/spyder_kernels/customize/tests/test_utils.py
  external-deps/spyder-kernels/spyder_kernels/utils/iofuncs.py
  external-deps/spyder-kernels/spyder_kernels/utils/tests/export_data.spydata
  external-deps/spyder-kernels/spyder_kernels/utils/tests/export_data_renamed.spydata
  external-deps/spyder-kernels/spyder_kernels/utils/tests/test_iofuncs.py
  spyder/plugins/variableexplorer/widgets/namespacebrowser.py
Labels: type:Enhancement, component:Variable Explorer

#20587 PR: Add sha256sum to release assets
  .github/workflows/installers-conda.yml
Labels: Installers

#20586 PR: Fix segfault when closing files removed outside Spyder (Editor)
  .git-blame-ignore-revs
  spyder/plugins/editor/widgets/editor.py
Labels: type:Bug, component:Editor

#20596 PR: Set `PYDEVD_DISABLE_FILE_VALIDATION` to prevent errors when searching for numpy docs (Online Help)
  spyder/plugins/onlinehelp/widgets.py
Labels: OS:Windows, component:Online Help, Installers

#20601 PR: Add installer tests for Linux and Windows
  .github/workflows/installers-conda.yml
Labels: type:Task, Installers
