Repository spyder-ide/spyder, pull requests merged in 2023-01, with the labels that each got.

#20287 PR: Avoid showing a `logger.error` message when auto-saving (Editor)
  spyder/plugins/editor/utils/autosave.py
Labels: type:Bug, component:Editor, tag:Ux-usability

#20288 PR: Catch error when trying to revert unexisting files (Editor)
  spyder/plugins/editor/widgets/editor.py
Labels: type:Bug, component:Editor

#20301 PR: Fix pydocstyle linting
  external-deps/python-lsp-server/.gitrepo
  external-deps/python-lsp-server/pylsp/plugins/pydocstyle_lint.py
  external-deps/python-lsp-server/pylsp/plugins/pylint_lint.py
  external-deps/python-lsp-server/pyproject.toml
Labels: type:Bug, component:Code Completion and linting

#20306 PR: Skip a test that started to fail on Windows
  spyder/app/tests/test_mainwindow.py
Labels: type:Task

#20297 PR: Fix installer issues and bug when getting environment variables
  .github/workflows/installer-macos.yml
  .github/workflows/installers-conda.yml
  spyder/utils/environ.py
Labels: type:Bug, tag:Installer

#20298 PR: Fix automatic completions after a dot is written next to a module
  spyder/plugins/editor/widgets/base.py
  spyder/plugins/editor/widgets/codeeditor.py
  spyder/plugins/editor/widgets/tests/test_introspection.py
  spyder/widgets/mixins.py
Labels: type:Bug, component:Code Completion and linting

#20324 PR: Fix getting object signature from kernel in Python 3.11 (IPython console)
  external-deps/spyder-kernels/.gitrepo
  external-deps/spyder-kernels/spyder_kernels/utils/dochelpers.py
  spyder/plugins/ipythonconsole/widgets/shell.py
Labels: type:Bug, component:IPython Console, Package:Python3

#20329 PR: Catch any possible error when trying to get the user environment variables (Utils)
  spyder/utils/environ.py
Labels: type:Bug, component:Pythonpath manager

#20315 PR: Update installer workflows to run as release on push of `pre` tag
  .github/workflows/installer-macos.yml
  .github/workflows/installer-win.yml
  .github/workflows/installers-conda.yml
  RELEASE.md
Labels: type:Enhancement, tag:Installer

#20319 PR: Improvements to Conda-based Linux installer
  installers-conda/build_conda_pkgs.py
  installers-conda/build_installers.py
  installers-conda/resources/build-patch.sh
  installers-conda/resources/post-install.sh
  installers-conda/resources/spyder-menu.json
Labels: type:Enhancement, OS:Linux, tag:Installer

#20376 PR: Fix patch for conda-based installers
  installers-conda/build_conda_pkgs.py
Labels: type:Bug, tag:Installer

#20391 PR: Rely on `jupyter-client` 7.4.9+ because it's compatible with PyZMQ 25 (IPython console)
  external-deps/spyder-kernels/.github/workflows/linux-tests.yml
  external-deps/spyder-kernels/.github/workflows/macos-tests.yml
  external-deps/spyder-kernels/.github/workflows/windows-tests.yml
  external-deps/spyder-kernels/.gitrepo
  external-deps/spyder-kernels/requirements/posix.txt
  external-deps/spyder-kernels/requirements/windows.txt
  external-deps/spyder-kernels/setup.py
Labels: type:Bug, component:IPython Console

#20350 PR: Introduce completions correctly for autocompletion characters and improve file completions (Editor)
  .github/scripts/install.sh
  .github/workflows/test-win.yml
  external-deps/python-lsp-server/.gitrepo
  external-deps/python-lsp-server/pylsp/plugins/jedi_completion.py
  external-deps/python-lsp-server/pylsp/plugins/pylint_lint.py
  external-deps/python-lsp-server/pyproject.toml
  external-deps/python-lsp-server/test/plugins/test_completion.py
  spyder/plugins/editor/extensions/closequotes.py
  spyder/plugins/editor/extensions/tests/test_closequotes.py
  spyder/plugins/editor/widgets/base.py
  spyder/plugins/editor/widgets/tests/test_introspection.py
  spyder/plugins/ipythonconsole/utils/tests/test_spyder_kernel.py
  spyder/plugins/ipythonconsole/widgets/client.py
Labels: type:Bug, component:Editor

#20395 PR: Update core dependencies for 5.4.2
  binder/environment.yml
  external-deps/python-lsp-server/.gitrepo
  external-deps/python-lsp-server/CHANGELOG.md
  external-deps/spyder-kernels/.gitrepo
  external-deps/spyder-kernels/CHANGELOG.md
  installers/Windows/req-extras-pull-request.txt
  installers/Windows/req-extras-release.txt
  installers/macOS/req-extras.txt
  requirements/main.yml
  setup.py
  spyder/dependencies.py
Labels: type:Task

#20411 PR: Pin PyZMQ to version 24 to prevent hangs in our CIs
  .github/scripts/install.sh
Labels: type:Task

#20405 PR: Fix check for UNC working directory path when running code in external terminals
  spyder/utils/programs.py
Labels: type:Bug, OS:Windows

#20420 PR: Make Readme and License files to match
  LICENSE.txt
  README.md
Labels: type:Task

#20425 PR: Better split test suite between slow and fast slots in CIs and other improvements for CIs
  .github/scripts/check_skip.sh
  .github/scripts/install.sh
  .github/scripts/run_tests.sh
  .github/workflows/test-files.yml
  .github/workflows/test-linux.yml
  .github/workflows/test-mac.yml
  .github/workflows/test-win.yml
  conftest.py
  spyder/app/tests/test_mainwindow.py
  spyder/config/base.py
  spyder/plugins/editor/widgets/tests/test_classfunc_selector.py
  spyder/plugins/editor/widgets/tests/test_completions_hide.py
  spyder/plugins/editor/widgets/tests/test_editor_and_outline.py
  spyder/plugins/editor/widgets/tests/test_editorsplitter.py
  spyder/plugins/editor/widgets/tests/test_folding.py
  spyder/plugins/editor/widgets/tests/test_formatting.py
  spyder/plugins/editor/widgets/tests/test_hints_and_calltips.py
  spyder/plugins/editor/widgets/tests/test_introspection.py
  spyder/plugins/editor/widgets/tests/test_save.py
  spyder/plugins/editor/widgets/tests/test_warnings.py
  spyder/plugins/ipythonconsole/tests/conftest.py
  spyder/plugins/ipythonconsole/tests/test_ipythonconsole.py
  spyder/plugins/maininterpreter/widgets/tests/test_status.py
  spyder/plugins/pylint/tests/test_pylint.py
  spyder/utils/tests/test_conda.py
Labels: type:Task
