Repository spyder-ide/spyder, pull requests merged in 2023-03, with the labels that each got.

#20612 PR: Remove `PYTHONEXECUTABLE` for process that runs the profiler
  spyder/plugins/profiler/widgets/main_widget.py
Labels: type:Bug, component:Profiler

#20593 PR: Show icon instead of text for small widths and clear found results correctly in Find/Replace widget
  spyder/plugins/editor/widgets/editor.py
  spyder/plugins/editor/widgets/tests/test_editor.py
  spyder/utils/icon_manager.py
  spyder/widgets/findreplace.py
  spyder/widgets/tests/test_findreplace.py
Labels: type:Bug, component:Find and Replace

#20644 PR: Fix displaying images that have float width or height (IPython console)
  external-deps/qtconsole/.github/workflows/linux-tests.yml
  external-deps/qtconsole/.github/workflows/macos-tests.yml
  external-deps/qtconsole/.github/workflows/windows-tests.yml
  external-deps/qtconsole/.gitrepo
  external-deps/qtconsole/qtconsole/rich_jupyter_widget.py
  external-deps/qtconsole/qtconsole/tests/test_jupyter_widget.py
Labels: type:Bug, component:IPython Console

#20650 PR: Change usage of `iteritems` for `items` in dataframe editor (Variable Explorer)
  spyder/plugins/variableexplorer/widgets/dataframeeditor.py
Labels: type:Bug, component:Variable Explorer

#20653 PR: Fix debugger tests with the latest version of IPykernel
  external-deps/spyder-kernels/.gitrepo
  external-deps/spyder-kernels/spyder_kernels/console/shell.py
Labels: component:Debugger, type:Task

#20664 PR: Add validations before doing operations with the current editor (Editor)
  spyder/plugins/editor/plugin.py
Labels: type:Bug, component:Editor

#20674 PR: Avoid crash at startup when trying to restore the previous session (Editor)
  spyder/plugins/editor/plugin.py
  spyder/plugins/editor/widgets/editor.py
Labels: type:Bug, component:Editor

#20685 PR: Fix error in `document_did_open` when the LSP failed to start (Editor)
  spyder/plugins/editor/widgets/codeeditor.py
Labels: type:Bug, component:Editor, component:Code Completion and linting

#20686 PR: Fix issue where keyring backends are not found in macOS standalone app
  installers/macOS/packages.py
Labels: type:Bug, OS:MacOS, Installers

#20620 PR: Initial code changes for old menu actions to use the `Mainmenu` plugin (Editor)
  spyder/app/mainwindow.py
  spyder/app/tests/test_mainwindow.py
  spyder/plugins/editor/plugin.py
  spyder/plugins/editor/tests/test_editor_config_dialog.py
  spyder/plugins/findinfiles/plugin.py
  spyder/plugins/ipythonconsole/plugin.py
  spyder/plugins/mainmenu/api.py
  spyder/plugins/mainmenu/plugin.py
  spyder/plugins/pylint/plugin.py
Labels: component:Editor, component:Main Window, type:Task

#20689 PR: Fix `Source` menu order (Editor)
  spyder/plugins/editor/plugin.py
Labels: type:Bug, component:Editor, component:Main Window

#20690 PR: Avoid error when updating environments (Main interpreter)
  spyder/plugins/maininterpreter/widgets/status.py
Labels: type:Bug, component:Main interpreter

#20707 PR: Fix copy/paste shortcuts in Files and Projects
  spyder/config/main.py
  spyder/plugins/editor/widgets/completion.py
  spyder/plugins/explorer/widgets/explorer.py
  spyder/utils/qthelpers.py
Labels: type:Bug, component:Projects, component:File Explorer

#20699 PR: Fix restart mechanism for the Windows standalone installer (Installers)
  spyder/app/restart.py
  spyder/app/start.py
Labels: type:Bug, OS:Windows, component:Main Window, Installers

#20725 PR: Fix clicking on file names in tracebacks for IPython 8 and minor fixes for messages shown in the console
  spyder/app/tests/test_mainwindow.py
  spyder/plugins/ipythonconsole/widgets/control.py
  spyder/plugins/ipythonconsole/widgets/figurebrowser.py
  spyder/plugins/ipythonconsole/widgets/main_widget.py
  spyder/plugins/ipythonconsole/widgets/shell.py
  spyder/utils/misc.py
  spyder/widgets/mixins.py
Labels: type:Bug, component:IPython Console

#20727 PR: Update base translation strings for 5.4.3
  spyder/locale/de/LC_MESSAGES/spyder.po
  spyder/locale/es/LC_MESSAGES/spyder.po
  spyder/locale/fa/LC_MESSAGES/spyder.po
  spyder/locale/fr/LC_MESSAGES/spyder.po
  spyder/locale/hr/LC_MESSAGES/spyder.po
  spyder/locale/hu/LC_MESSAGES/spyder.po
  spyder/locale/ja/LC_MESSAGES/spyder.po
  spyder/locale/pl/LC_MESSAGES/spyder.po
  spyder/locale/pt_BR/LC_MESSAGES/spyder.po
  spyder/locale/ru/LC_MESSAGES/spyder.po
  spyder/locale/spyder.pot
  spyder/locale/te/LC_MESSAGES/spyder.po
  spyder/locale/uk/LC_MESSAGES/spyder.po
  spyder/locale/zh_CN/LC_MESSAGES/spyder.po
Labels: type:Task

#20733 PR: Fix `test_clickable_ipython_tracebacks`
  spyder/app/tests/test_mainwindow.py
Labels: type:Task

#20735 PR: Add support for Jupyter-client 8
  .github/scripts/install.sh
  external-deps/qtconsole/.gitrepo
  external-deps/qtconsole/docs/source/changelog.rst
  external-deps/qtconsole/qtconsole/client.py
  external-deps/qtconsole/qtconsole/frontend_widget.py
  external-deps/qtconsole/qtconsole/jupyter_widget.py
  external-deps/qtconsole/qtconsole/manager.py
  external-deps/qtconsole/qtconsole/qtconsoleapp.py
  external-deps/qtconsole/qtconsole/tests/test_00_console_widget.py
  external-deps/qtconsole/setup.py
  external-deps/spyder-kernels/.gitrepo
  external-deps/spyder-kernels/requirements/posix.txt
  external-deps/spyder-kernels/requirements/python-27.txt
  external-deps/spyder-kernels/requirements/windows.txt
  external-deps/spyder-kernels/setup.py
  external-deps/spyder-kernels/spyder_kernels/console/kernel.py
  external-deps/spyder-kernels/spyder_kernels/console/start.py
Labels: type:Bug, component:IPython Console

#20749 PR: Check if the `iopub` channel is not closed before flushing it (IPython console)
  external-deps/qtconsole/.gitrepo
  external-deps/qtconsole/qtconsole/client.py
  external-deps/qtconsole/qtconsole/frontend_widget.py
  spyder/plugins/ipythonconsole/widgets/debugging.py
Labels: type:Bug, component:IPython Console

#20751 PR: Remove constraint for PyZMQ < 25 (Installers)
  installers/Windows/req-extras-pull-request.txt
  installers/Windows/req-extras-release.txt
  installers/macOS/req-extras.txt
Labels: type:Task

#20726 PR: Improve and refactor the way we run and debug code in the IPython console
  external-deps/spyder-kernels/.gitrepo
  external-deps/spyder-kernels/spyder_kernels/console/kernel.py
  external-deps/spyder-kernels/spyder_kernels/console/shell.py
  external-deps/spyder-kernels/spyder_kernels/console/start.py
  external-deps/spyder-kernels/spyder_kernels/console/tests/test_console_kernel.py
  external-deps/spyder-kernels/spyder_kernels/customize/code_runner.py
  external-deps/spyder-kernels/spyder_kernels/customize/namespace_manager.py
  external-deps/spyder-kernels/spyder_kernels/customize/spydercustomize.py
  external-deps/spyder-kernels/spyder_kernels/customize/spyderpdb.py
  external-deps/spyder-kernels/spyder_kernels/customize/utils.py
  spyder/app/tests/test_mainwindow.py
  spyder/plugins/debugger/plugin.py
  spyder/plugins/ipythonconsole/tests/test_ipythonconsole.py
  spyder/plugins/ipythonconsole/widgets/debugging.py
Labels: type:Enhancement, component:IPython Console
