Repository spyder-ide/spyder, pull requests merged in 2023-04, with the labels that each got.

#20633 PR: Create magics for run|debug file|cell (IPython console)
  external-deps/spyder-kernels/.gitrepo
  external-deps/spyder-kernels/spyder_kernels/console/shell.py
  external-deps/spyder-kernels/spyder_kernels/console/tests/test_console_kernel.py
  external-deps/spyder-kernels/spyder_kernels/customize/code_runner.py
  external-deps/spyder-kernels/spyder_kernels/customize/namespace_manager.py
  external-deps/spyder-kernels/spyder_kernels/customize/spyderpdb.py
  spyder/app/tests/test_mainwindow.py
  spyder/plugins/console/utils/interpreter.py
  spyder/plugins/console/widgets/main_widget.py
  spyder/plugins/help/utils/tutorial.rst
  spyder/plugins/ipythonconsole/plugin.py
  spyder/plugins/ipythonconsole/tests/test_ipythonconsole.py
  spyder/plugins/ipythonconsole/widgets/main_widget.py
  spyder/plugins/run/container.py
Labels: type:Enhancement, component:IPython Console

#20763 PR: Sync latest changes in PyLSP
  .github/scripts/install.sh
  external-deps/python-lsp-server/.gitrepo
  external-deps/python-lsp-server/pylsp/_utils.py
  external-deps/python-lsp-server/pylsp/plugins/autopep8_format.py
  external-deps/python-lsp-server/pylsp/plugins/definition.py
  external-deps/python-lsp-server/pylsp/plugins/jedi_rename.py
  external-deps/python-lsp-server/pylsp/plugins/pydocstyle_lint.py
  external-deps/python-lsp-server/pylsp/plugins/references.py
  external-deps/python-lsp-server/pylsp/plugins/rope_rename.py
  external-deps/python-lsp-server/pylsp/plugins/yapf_format.py
  external-deps/python-lsp-server/pylsp/python_lsp.py
  external-deps/python-lsp-server/pylsp/workspace.py
  external-deps/python-lsp-server/pyproject.toml
  external-deps/python-lsp-server/test/fixtures.py
  external-deps/python-lsp-server/test/plugins/test_definitions.py
  external-deps/python-lsp-server/test/plugins/test_references.py
  external-deps/python-lsp-server/test/plugins/test_yapf_format.py
  external-deps/python-lsp-server/test/test_workspace.py
Labels: type:Task

#20766 PR: Add support for QDarkstyle 3.1
  binder/environment.yml
  requirements/main.yml
  setup.py
  spyder/dependencies.py
  spyder/plugins/variableexplorer/widgets/dataframeeditor.py
  spyder/plugins/variableexplorer/widgets/tests/test_dataframeeditor.py
  spyder/widgets/tests/test_collectioneditor.py
Labels: type:Task

#20773 PR: Fix `test_collectionseditor` after merge (Widgets)
  spyder/widgets/tests/test_collectioneditor.py
Labels: type:Task

#20772 PR: Update core dependencies for 5.4.3
  .github/scripts/install.sh
  binder/environment.yml
  external-deps/python-lsp-server/.gitrepo
  external-deps/python-lsp-server/CHANGELOG.md
  external-deps/qtconsole/.gitrepo
  external-deps/qtconsole/docs/source/changelog.rst
  external-deps/spyder-kernels/.gitrepo
  external-deps/spyder-kernels/CHANGELOG.md
  external-deps/spyder-kernels/spyder_kernels/customize/spydercustomize.py
  external-deps/spyder-kernels/spyder_kernels/customize/spyderpdb.py
  requirements/main.yml
  setup.py
  spyder/dependencies.py
Labels: type:Task

#20781 PR: Update `RELEASE.md` following 5.4.3 release experience
  RELEASE.md
Labels: type:Task

#20714 PR: Make the switcher a plugin
  .github/scripts/modules_test.sh
  setup.py
  spyder/api/plugins/enum.py
  spyder/app/mainwindow.py
  spyder/app/tests/test_mainwindow.py
  spyder/config/main.py
  spyder/config/manager.py
  spyder/plugins/editor/plugin.py
  spyder/plugins/editor/widgets/editor.py
  spyder/plugins/switcher/__init__.py
  spyder/plugins/switcher/api.py
  spyder/plugins/switcher/container.py
  spyder/plugins/switcher/manager.py
  spyder/plugins/switcher/plugin.py
  spyder/plugins/switcher/tests/__init__.py
  spyder/plugins/switcher/tests/test_switcher.py
  spyder/plugins/switcher/utils.py
  spyder/plugins/switcher/widgets/__init__.py
  spyder/plugins/switcher/widgets/item.py
  spyder/plugins/switcher/widgets/proxymodel.py
  spyder/plugins/switcher/widgets/switcher.py
  spyder/widgets/switcher.py
  spyder/widgets/tests/test_switcher.py
Labels: type:Enhancement, component:File Switcher

#20789 PR: Remove code that tried to load old third-party plugins and move IO plugins to Spyder-kernels
  external-deps/spyder-kernels/.github/workflows/linux-pip-tests.yml
  external-deps/spyder-kernels/.github/workflows/linux-tests.yml
  external-deps/spyder-kernels/.github/workflows/macos-tests.yml
  external-deps/spyder-kernels/.github/workflows/windows-tests.yml
  external-deps/spyder-kernels/.gitrepo
  external-deps/spyder-kernels/requirements/tests.txt
  external-deps/spyder-kernels/setup.py
  external-deps/spyder-kernels/spyder_kernels/utils/iofuncs.py
  external-deps/spyder-kernels/spyder_kernels/utils/tests/data.dcm
  external-deps/spyder-kernels/spyder_kernels/utils/tests/test_iofuncs.py
  external-deps/spyder-kernels/spyder_kernels/utils/tests/test_nsview.py
  spyder/app/mainwindow.py
  spyder/otherplugins.py
  spyder/plugins/io_dcm/__init__.py
  spyder/plugins/io_dcm/plugin.py
  spyder/plugins/io_hdf5/__init__.py
  spyder/plugins/io_hdf5/plugin.py
Labels: type:Bug, component:Main Window

#20509 PR: Improve cells support in the Editor
  spyder/api/panel.py
  spyder/config/main.py
  spyder/plugins/debugger/panels/debuggerpanel.py
  spyder/plugins/editor/panels/codefolding.py
  spyder/plugins/editor/panels/linenumber.py
  spyder/plugins/editor/plugin.py
  spyder/plugins/editor/widgets/codeeditor.py
Labels: type:Enhancement, component:Editor, User Experience (UX)

#20810 PR: Remove some unused methods from MainWindow and fix Code Analysis and Profiler actions in menus position
  spyder/app/mainwindow.py
  spyder/plugins/profiler/plugin.py
  spyder/plugins/pylint/plugin.py
Labels: type:Techdebt, component:Main Window

#20817 PR: Update codecov coverage upload to use GitHub Action (CI)
  .github/scripts/install.sh
  .github/workflows/test-linux.yml
  .github/workflows/test-mac.yml
  .github/workflows/test-win.yml
  runtests.py
Labels: type:Task

#20830 PR: Don't treat warnings as errors when installing Spyder and subrepos (CI)
  .github/scripts/install.sh
Labels: type:Task

#20833 PR: Skip a test that started to fail on Linux and Mac
  spyder/plugins/ipythonconsole/tests/test_ipythonconsole.py
Labels: type:Task

#20835 PR: Install wheel in macOS build environment
  .github/workflows/installer-macos.yml
Labels: type:Bug, OS:MacOS, Installers

#20421 PR: Add menu to use specific environment interpreter for a new console instance
  spyder/plugins/ipythonconsole/plugin.py
  spyder/plugins/ipythonconsole/tests/conftest.py
  spyder/plugins/ipythonconsole/tests/test_ipythonconsole.py
  spyder/plugins/ipythonconsole/utils/kernelspec.py
  spyder/plugins/ipythonconsole/widgets/client.py
  spyder/plugins/ipythonconsole/widgets/main_widget.py
  spyder/plugins/maininterpreter/confpage.py
  spyder/plugins/maininterpreter/widgets/status.py
  spyder/utils/envs.py
Labels: component:IPython Console, User Interface (UI), User Experience (UX), type:Feature

#20825 PR: Move CONF usage for bookmarks logic and use `SpyderConfiguratorAccessor` class in Editor widgets (Editor)
  spyder/plugins/editor/plugin.py
  spyder/plugins/editor/utils/bookmarks.py
  spyder/plugins/editor/widgets/base.py
  spyder/plugins/editor/widgets/codeeditor.py
  spyder/plugins/editor/widgets/editor.py
Labels: component:Editor, type:Task

#20837 PR: Define Switcher Plugin public API + fix switcher position bug
  spyder/app/tests/conftest.py
  spyder/app/tests/test_mainwindow.py
  spyder/plugins/editor/plugin.py
  spyder/plugins/editor/tests/test_editor_config_dialog.py
  spyder/plugins/editor/utils/switcher_manager.py
  spyder/plugins/editor/widgets/editor.py
  spyder/plugins/editor/widgets/tests/conftest.py
  spyder/plugins/editor/widgets/tests/test_editor.py
  spyder/plugins/editor/widgets/tests/test_editor_and_outline.py
  spyder/plugins/editor/widgets/tests/test_editorsplitter.py
  spyder/plugins/editor/widgets/tests/test_save.py
  spyder/plugins/editor/widgets/tests/test_shortcuts.py
  spyder/plugins/switcher/container.py
  spyder/plugins/switcher/plugin.py
  spyder/plugins/switcher/widgets/switcher.py
Labels: type:Bug, type:Enhancement, component:Editor, component:File Switcher

#20870 PR: Fix errors with OnlineHelp plugin regarding readonly properties and ModuleScanner errors
  spyder/plugins/onlinehelp/pydoc_patch.py
  spyder/plugins/onlinehelp/tests/test_pydocgui.py
Labels: type:Bug, component:Online Help

#20823 PR: Change reporting of macOS system from Darwin to macOS and include machine type
  spyder/__init__.py
  spyder/widgets/about.py
Labels: type:Enhancement

#20838 PR: Remove installer option to initialize the conda environment and misc improvements
  installers-conda/build_installers.py
  installers-conda/resources/post-install.sh
Labels: OS:Linux, Installers

#20827 PR: Change logic to detect conda-based installers and micromamba on them
  .github/workflows/installers-conda.yml
  installers-conda/build_installers.py
  installers-conda/notarize.sh
  installers-conda/resources/post-install-linux.sh
  installers-conda/resources/spyder-menu.json
  spyder/__init__.py
  spyder/app/cli_options.py
  spyder/app/mainwindow.py
  spyder/app/start.py
  spyder/app/utils.py
  spyder/config/base.py
  spyder/dependencies.py
  spyder/plugins/application/confpage.py
  spyder/plugins/application/container.py
  spyder/plugins/application/widgets/install.py
  spyder/plugins/application/widgets/status.py
  spyder/plugins/completion/providers/languageserver/client.py
  spyder/plugins/ipythonconsole/scripts/conda-activate.bat
  spyder/plugins/ipythonconsole/scripts/conda-activate.sh
  spyder/plugins/ipythonconsole/utils/kernelspec.py
  spyder/plugins/ipythonconsole/widgets/shell.py
  spyder/plugins/maininterpreter/confpage.py
  spyder/plugins/maininterpreter/widgets/status.py
  spyder/plugins/onlinehelp/widgets.py
  spyder/plugins/projects/plugin.py
  spyder/plugins/pylint/main_widget.py
  spyder/plugins/variableexplorer/widgets/collectionsdelegate.py
  spyder/utils/conda.py
  spyder/utils/programs.py
  spyder/utils/qthelpers.py
  spyder/utils/tests/test_conda.py
  spyder/utils/vcs.py
  spyder/widgets/reporterror.py
Labels: type:Enhancement, Installers
