Repository spyder-ide/spyder, pull requests merged in 2023-06, with the labels that each got.

#21003 PR: Prevent error when removing several unsaved files from Projects or Files (Editor)
  spyder/plugins/editor/widgets/editor.py
Labels: type:Bug, component:Editor

#14199 PR: Show Matplotlib backend state in status bar
  external-deps/spyder-kernels/.gitrepo
  spyder/api/shellconnect/mixins.py
  spyder/app/mainwindow.py
  spyder/plugins/ipythonconsole/plugin.py
  spyder/plugins/ipythonconsole/widgets/__init__.py
  spyder/plugins/ipythonconsole/widgets/main_widget.py
  spyder/plugins/ipythonconsole/widgets/status.py
  spyder/plugins/plots/plugin.py
  spyder/utils/icon_manager.py
Labels: type:Enhancement, component:IPython Console

#20970 PR: Paint find matches above errors and warnings in scrollflags
  spyder/plugins/editor/panels/scrollflag.py
Labels: type:Enhancement, component:Editor, User Experience (UX)

#21014 PR: Catch error when a file is pointed by too many levels of symlinks (Find)
  spyder/plugins/findinfiles/widgets/main_widget.py
  spyder/plugins/findinfiles/widgets/search_thread.py
Labels: type:Bug, component:Find in files

#21018 PR: Disable IPython's debugger skip functionality by default (IPython console)
  external-deps/spyder-kernels/.github/workflows/linux-pip-tests.yml
  external-deps/spyder-kernels/.github/workflows/linux-tests.yml
  external-deps/spyder-kernels/.github/workflows/macos-tests.yml
  external-deps/spyder-kernels/.github/workflows/windows-tests.yml
  external-deps/spyder-kernels/.gitrepo
  external-deps/spyder-kernels/requirements/tests.txt
  external-deps/spyder-kernels/setup.py
  external-deps/spyder-kernels/spyder_kernels/console/tests/test_console_kernel.py
  external-deps/spyder-kernels/spyder_kernels/customize/spyderpdb.py
  external-deps/spyder-kernels/spyder_kernels/utils/tests/test_nsview.py
Labels: type:Bug, component:IPython Console

#21019 PR: Skip more buggy IPython versions
  binder/environment.yml
  external-deps/spyder-kernels/.gitrepo
  external-deps/spyder-kernels/setup.py
  requirements/main.yml
  setup.py
  spyder/dependencies.py
Labels: type:Bug, component:IPython Console

#21020 PR: Catch an error when trying to kill the kernel children processes (IPython console)
  spyder/plugins/ipythonconsole/utils/manager.py
Labels: type:Bug, component:IPython Console

#20764 PR: Various Fixes to improve compatibility with PySide2.
  spyder/config/gui.py
  spyder/plugins/completion/providers/languageserver/provider.py
  spyder/plugins/console/widgets/main_widget.py
  spyder/plugins/explorer/widgets/fileassociations.py
  spyder/plugins/preferences/widgets/container.py
  spyder/plugins/pylint/plugin.py
  spyder/widgets/findreplace.py
  spyder/widgets/github/gh_login.py
Labels: type:Bug, Package:PySide

#21031 PR: Prevent setting cursor in a negative position (Editor)
  spyder/plugins/editor/widgets/codeeditor.py
Labels: type:Bug, component:Editor

#21030 PR: Update core dependencies for 6.0 alpha1
  binder/environment.yml
  external-deps/spyder-kernels/.gitrepo
  external-deps/spyder-kernels/CHANGELOG.md
  requirements/main.yml
  setup.py
  spyder/dependencies.py
  spyder/plugins/ipythonconsole/__init__.py
  spyder/plugins/ipythonconsole/tests/test_ipythonconsole.py
Labels: type:Task

#21034 PR: Increase minimal required version of pylint-venv (Code analysis)
  binder/environment.yml
  requirements/main.yml
  setup.py
  spyder/dependencies.py
Labels: type:Bug, component:Pylint

#21036 PR: Add `spyder_kernels_rc` conda-forge label (Installers)
  installers-conda/build_installers.py
Labels: type:Bug, Installers

#21037 PR: Fix line number painting when wrap text option is active (Editor)
  spyder/plugins/editor/panels/linenumber.py
Labels: type:Bug, component:Editor

#20758 PR: Remove quotes from `conda-activate.bat` params and fix `micromamba.exe` detection (Installers)
  spyder/plugins/ipythonconsole/scripts/conda-activate.bat
Labels: OS:Windows, component:IPython Console, Installers

#21041 PR: Skip notarization of our Mac app (Installers)
  .github/workflows/installers-conda.yml
Labels: type:Bug, Installers

#21042 PR: Make `match` and `case` be highlighted as Python keywords (Editor)
  spyder/plugins/ipythonconsole/tests/test_ipythonconsole.py
  spyder/utils/syntaxhighlighters.py
Labels: type:Bug, component:Editor

#21038 PR: Use cursor `position` instead of `blockNumber` when restoring cursor after format (Editor)
  spyder/plugins/editor/widgets/codeeditor.py
  spyder/plugins/editor/widgets/tests/test_formatting.py
Labels: type:Bug, component:Editor

#21050 PR: Small fixes to release files after 6.0a1
  Announcements.md
  changelogs/Spyder-6.md
Labels: type:Task

#21053 PR: Fix issues for all-user install in post-install script (Installers)
  .github/workflows/installers-conda.yml
  installers-conda/resources/post-install.sh
  installers-conda/resources/spyder-menu.json
Labels: type:Bug, Installers

#14092 PR: Open file pasted into working directory toolbar
  MANIFEST.in
  spyder/plugins/workingdirectory/container.py
  spyder/plugins/workingdirectory/plugin.py
  spyder/plugins/workingdirectory/tests/test_workingdirectory.py
  spyder/widgets/comboboxes.py
Labels: type:Enhancement, component:Working directory

#21057 PR: Remove Spyder 5 changelog from tarball
  MANIFEST.in
  RELEASE.md
  setup.cfg
Labels: type:Task

#21056 PR: Fix showing a PyZMQ warning when filtering warnings
  external-deps/spyder-kernels/.gitrepo
  external-deps/spyder-kernels/requirements/posix.txt
  external-deps/spyder-kernels/requirements/windows.txt
  external-deps/spyder-kernels/setup.py
Labels: type:Bug, component:IPython Console

#20961 PR: Fix class/function selector for split editors (Editor)
  spyder/app/tests/conftest.py
  spyder/app/tests/test_mainwindow.py
  spyder/plugins/editor/widgets/codeeditor.py
  spyder/plugins/editor/widgets/editor.py
Labels: type:Bug, component:Editor

#21060 PR: Update translations for 5.4.4
  spyder/locale/de/LC_MESSAGES/spyder.po
  spyder/locale/es/LC_MESSAGES/spyder.po
  spyder/locale/fa/LC_MESSAGES/spyder.po
  spyder/locale/fr/LC_MESSAGES/spyder.po
  spyder/locale/hr/LC_MESSAGES/spyder.po
  spyder/locale/hu/LC_MESSAGES/spyder.po
  spyder/locale/ja/LC_MESSAGES/spyder.po
  spyder/locale/pl/LC_MESSAGES/spyder.po
  spyder/locale/pt_BR/LC_MESSAGES/spyder.po
  spyder/locale/ru/LC_MESSAGES/spyder.po
  spyder/locale/spyder.pot
  spyder/locale/te/LC_MESSAGES/spyder.po
  spyder/locale/uk/LC_MESSAGES/spyder.po
  spyder/locale/zh_CN/LC_MESSAGES/spyder.po
Labels: type:Task

#21059 PR: Save fonts with delta in our font cache (Config)
  spyder/config/gui.py
Labels: type:Bug, User Interface (UI)

#21062 PR: Fix issue where cmd.exe window flashes on Spyder startup on Windows (installer)
  installers-conda/build-environment.yml
  installers-conda/build_installers.py
  installers-conda/resources/spyder-menu.json
  setup.py
Labels: type:Bug, User Interface (UI), Installers

#20762 PR: Enable running renamed and IPython files again
  spyder/app/tests/conftest.py
  spyder/app/tests/test_mainwindow.py
  spyder/plugins/debugger/plugin.py
  spyder/plugins/editor/plugin.py
  spyder/plugins/editor/utils/autosave.py
  spyder/plugins/editor/widgets/editor.py
  spyder/plugins/externalconsole/plugin.py
  spyder/plugins/ipythonconsole/plugin.py
  spyder/plugins/profiler/plugin.py
  spyder/plugins/pylint/plugin.py
  spyder/plugins/run/api.py
  spyder/plugins/run/container.py
  spyder/plugins/run/models.py
  spyder/plugins/run/plugin.py
  spyder/plugins/run/tests/test_run.py
Labels: type:Bug, component:Editor, component:Run

#21065 PR: Fix issue getting user environment variables on Posix systems and pass them to the IPython console
  installers-conda/resources/spyder-menu.json
  spyder/plugins/ipythonconsole/utils/kernelspec.py
  spyder/utils/environ.py
Labels: type:Enhancement, component:IPython Console

#21075 PR: Update installers to use Python 3.10
  .github/workflows/installers-conda.yml
Labels: type:Enhancement, Installers

#21082 PR: Fix crash at startup when plugins fail their compatibility checks
  spyder/app/mainwindow.py
  spyder/plugins/layout/plugin.py
Labels: type:Bug, component:Plugins

#21085 PR: Rehighlight found results in the editor when switching between files
  .github/workflows/test-linux.yml
  .github/workflows/test-mac.yml
  .github/workflows/test-win.yml
  spyder/plugins/editor/widgets/editor.py
  spyder/plugins/editor/widgets/tests/test_editor.py
Labels: type:Bug, component:Editor, User Interface (UI)
