Repository spyder-ide/spyder, pull requests merged in 2024-08, with the labels that each got.

#22308 PR: Enable showing calltip widget even with signatures without parameters (Editor/Completion)
  spyder/plugins/editor/widgets/codeeditor/lsp_mixin.py
Labels: type:Enhancement, component:Editor, component:Code Completion and linting

#22320 PR: Improve text of several strings for translation (Files/Projects)
  spyder/plugins/explorer/widgets/explorer.py
Labels: type:Bug, component:Projects, User Interface (UI), component:File Explorer

#22285 PR: Handle remote connection lost (Remote client)
  spyder/api/shellconnect/main_widget.py
  spyder/plugins/ipythonconsole/tests/test_ipythonconsole.py
  spyder/plugins/ipythonconsole/utils/client.py
  spyder/plugins/ipythonconsole/utils/kernel_handler.py
  spyder/plugins/ipythonconsole/widgets/client.py
  spyder/plugins/ipythonconsole/widgets/main_widget.py
  spyder/plugins/remoteclient/api/client.py
  spyder/plugins/remoteclient/api/jupyterhub/__init__.py
  spyder/plugins/remoteclient/api/protocol.py
  spyder/plugins/remoteclient/api/ssh.py
  spyder/plugins/remoteclient/plugin.py
  spyder/plugins/remoteclient/widgets/container.py
Labels: type:Enhancement, component:Remote client

#22300 PR: Update Spyder installer base environment with conda-lock file
  .github/workflows/installers-conda.yml
  binder/environment.yml
  installers-conda/build-environment.yml
  installers-conda/build_installers.py
  installers-conda/resources/post-install.bat
  installers-conda/resources/pre-install.bat
  requirements/main.yml
  setup.py
  spyder/dependencies.py
  spyder/plugins/updatemanager/scripts/install.bat
  spyder/plugins/updatemanager/scripts/install.sh
  spyder/plugins/updatemanager/widgets/update.py
  spyder/plugins/updatemanager/workers.py
Labels: type:Enhancement, Installers

#22327 PR: Fix typo in shebang line in `user-env.sh`
  spyder/utils/environ.py
Labels: type:Bug

#22328 PR: Add a widget to show connection logs to `ConnectionDialog` (Remote client)
  spyder/api/widgets/dialogs.py
  spyder/config/appearance.py
  spyder/config/main.py
  spyder/plugins/findinfiles/widgets/main_widget.py
  spyder/plugins/findinfiles/widgets/tests/test_widgets.py
  spyder/plugins/remoteclient/api/__init__.py
  spyder/plugins/remoteclient/api/client.py
  spyder/plugins/remoteclient/plugin.py
  spyder/plugins/remoteclient/widgets/connectiondialog.py
  spyder/plugins/remoteclient/widgets/connectionstatus.py
  spyder/plugins/remoteclient/widgets/container.py
  spyder/utils/stylesheet.py
  spyder/widgets/sidebardialog.py
  spyder/widgets/simplecodeeditor.py
Labels: type:Enhancement, User Experience (UX), component:Remote client

#22333 PR: Update translations for 6.0.0 (extra strings)
  spyder/locale/de/LC_MESSAGES/spyder.po
  spyder/locale/es/LC_MESSAGES/spyder.po
  spyder/locale/fa/LC_MESSAGES/spyder.po
  spyder/locale/fr/LC_MESSAGES/spyder.po
  spyder/locale/hr/LC_MESSAGES/spyder.po
  spyder/locale/hu/LC_MESSAGES/spyder.po
  spyder/locale/ja/LC_MESSAGES/spyder.po
  spyder/locale/pl/LC_MESSAGES/spyder.po
  spyder/locale/pt_BR/LC_MESSAGES/spyder.po
  spyder/locale/ru/LC_MESSAGES/spyder.po
  spyder/locale/spyder.pot
  spyder/locale/te/LC_MESSAGES/spyder.po
  spyder/locale/uk/LC_MESSAGES/spyder.po
  spyder/locale/zh_CN/LC_MESSAGES/spyder.po
Labels: type:Task

#22336 PR: Update core dependencies for 6.0.0 rc1
  binder/environment.yml
  external-deps/spyder-kernels/.gitrepo
  external-deps/spyder-kernels/CHANGELOG.md
  requirements/main.yml
  setup.py
  spyder/dependencies.py
  spyder/plugins/ipythonconsole/__init__.py
Labels: type:Task

#22338 PR: Ensure "Update Assets" job runs when "Build Subrepos" is skipped
  .github/workflows/installers-conda.yml
Labels: type:Bug, Installers

#22339 PR: Recreate Spyder runtime environment on minor updates (Installers)
  installers-conda/build_installers.py
  spyder/plugins/updatemanager/scripts/install.bat
  spyder/plugins/updatemanager/scripts/install.sh
  spyder/plugins/updatemanager/widgets/update.py
Labels: type:Enhancement, Installers

#22303 PR: Update connections dialog size constants, title and icon (Remote Client)
  spyder/plugins/remoteclient/widgets/connectiondialog.py
Labels: User Interface (UI), component:Remote client

#22350 PR: Add statusbar widget to display the env info associated to the current console (IPython console)
  external-deps/spyder-kernels/.github/workflows/linux-pip-tests.yml
  external-deps/spyder-kernels/.github/workflows/linux-tests.yml
  external-deps/spyder-kernels/.github/workflows/macos-tests.yml
  external-deps/spyder-kernels/.github/workflows/windows-tests.yml
  external-deps/spyder-kernels/.gitrepo
  external-deps/spyder-kernels/spyder_kernels/comms/utils.py
  external-deps/spyder-kernels/spyder_kernels/console/kernel.py
  external-deps/spyder-kernels/spyder_kernels/console/tests/test_console_kernel.py
  external-deps/spyder-kernels/spyder_kernels/utils/pythonenv.py
  external-deps/spyder-kernels/spyder_kernels/utils/tests/test_pythonenv.py
  spyder/__init__.py
  spyder/api/shellconnect/main_widget.py
  spyder/api/shellconnect/status.py
  spyder/api/widgets/status.py
  spyder/app/tests/test_mainwindow.py
  spyder/plugins/ipythonconsole/plugin.py
  spyder/plugins/ipythonconsole/utils/kernelspec.py
  spyder/plugins/ipythonconsole/widgets/__init__.py
  spyder/plugins/ipythonconsole/widgets/client.py
  spyder/plugins/ipythonconsole/widgets/main_widget.py
  spyder/plugins/ipythonconsole/widgets/shell.py
  spyder/plugins/ipythonconsole/widgets/status.py
  spyder/plugins/maininterpreter/confpage.py
  spyder/plugins/maininterpreter/container.py
  spyder/plugins/maininterpreter/plugin.py
  spyder/plugins/maininterpreter/tests/test_confpage.py
  spyder/plugins/maininterpreter/widgets/__init__.py
  spyder/plugins/maininterpreter/widgets/status.py
  spyder/plugins/remoteclient/widgets/container.py
  spyder/plugins/statusbar/plugin.py
  spyder/utils/conda.py
  spyder/utils/programs.py
  spyder/utils/tests/test_conda.py
  spyder/widgets/reporterror.py
Labels: type:Enhancement, component:IPython Console, User Interface (UI)

#22360 PR: Fix redirection flag for micromamba (IPython console)
  spyder/plugins/ipythonconsole/utils/kernelspec.py
Labels: type:Bug, component:IPython Console

#22361 PR: Fix buttons style of the start tour dialog (Tours)
  spyder/api/widgets/dialogs.py
  spyder/plugins/tours/widgets.py
Labels: type:Bug, User Interface (UI), component:Main Window

#22362 PR: Update menuinst version for file-type association (Installers)
  installers-conda/build-environment.yml
  installers-conda/build_installers.py
Labels: type:Enhancement, Installers

#22355 PR: Prevent first time render glitch by calling position logic via a timer in `showEvent` (Menus)
  spyder/api/widgets/menus.py
Labels: type:Bug, component:Main Window

#22367 PR: Update core dependencies for 6.0.0rc2
  binder/environment.yml
  external-deps/spyder-kernels/.gitrepo
  external-deps/spyder-kernels/CHANGELOG.md
  requirements/main.yml
  setup.py
  spyder/dependencies.py
  spyder/plugins/ipythonconsole/__init__.py
Labels: type:Task

#22364 PR: Sync the IPython console current env with the one used in the Editor for completions
  .github/scripts/install.sh
  spyder/api/shellconnect/status.py
  spyder/app/tests/test_mainwindow.py
  spyder/plugins/completion/api.py
  spyder/plugins/completion/plugin.py
  spyder/plugins/completion/providers/languageserver/provider.py
  spyder/plugins/editor/widgets/codeeditor/tests/test_introspection.py
  spyder/plugins/ipythonconsole/plugin.py
  spyder/plugins/ipythonconsole/widgets/main_widget.py
  spyder/plugins/ipythonconsole/widgets/status.py
  spyder/plugins/maininterpreter/container.py
  spyder/plugins/maininterpreter/plugin.py
Labels: type:Enhancement, component:Code Completion and linting, component:IPython Console, User Experience (UX), component:Main interpreter

#22368 PR: Update `spyder-remote-services` installation script (Remote client)
  spyder/plugins/remoteclient/api/client.py
  spyder/plugins/remoteclient/api/jupyterhub/__init__.py
  spyder/plugins/remoteclient/utils/installation.py
Labels: type:Bug, component:Remote client

#22371 PR: Fix starting kernels for old Conda versions (IPython console)
  spyder/plugins/ipythonconsole/utils/kernelspec.py
Labels: type:Bug, component:IPython Console

#22370 PR: Limit sphinx version to `<7.4.0` to prevent bug with splash screen on Windows
  binder/environment.yml
  installers-conda/build_installers.py
  requirements/main.yml
  setup.py
  spyder/dependencies.py
  spyder/plugins/help/confpage.py
Labels: type:Bug, component:Main Window, Installers

#22372 PR: Update the `python-lsp-server` subrepo
  .github/workflows/test-linux.yml
  .github/workflows/test-mac.yml
  .github/workflows/test-win.yml
  external-deps/python-lsp-server/.github/workflows/static.yml
  external-deps/python-lsp-server/.github/workflows/test-linux.yml
  external-deps/python-lsp-server/.github/workflows/test-mac.yml
  external-deps/python-lsp-server/.github/workflows/test-win.yml
  external-deps/python-lsp-server/.gitrepo
  external-deps/python-lsp-server/CONFIGURATION.md
  external-deps/python-lsp-server/README.md
  external-deps/python-lsp-server/pylsp/__main__.py
  external-deps/python-lsp-server/pylsp/_utils.py
  external-deps/python-lsp-server/pylsp/config/config.py
  external-deps/python-lsp-server/pylsp/config/flake8_conf.py
  external-deps/python-lsp-server/pylsp/config/schema.json
  external-deps/python-lsp-server/pylsp/config/source.py
  external-deps/python-lsp-server/pylsp/hookspecs.py
  external-deps/python-lsp-server/pylsp/plugins/_resolvers.py
  external-deps/python-lsp-server/pylsp/plugins/_rope_task_handle.py
  external-deps/python-lsp-server/pylsp/plugins/flake8_lint.py
  external-deps/python-lsp-server/pylsp/plugins/preload_imports.py
  external-deps/python-lsp-server/pylsp/plugins/pycodestyle_lint.py
  external-deps/python-lsp-server/pylsp/plugins/pydocstyle_lint.py
  external-deps/python-lsp-server/pylsp/plugins/pyflakes_lint.py
  external-deps/python-lsp-server/pylsp/plugins/pylint_lint.py
  external-deps/python-lsp-server/pylsp/plugins/rope_autoimport.py
  external-deps/python-lsp-server/pylsp/python_lsp.py
  external-deps/python-lsp-server/pylsp/workspace.py
  external-deps/python-lsp-server/pyproject.toml
  external-deps/python-lsp-server/scripts/jsonschema2md.py
  external-deps/python-lsp-server/test/fixtures.py
  external-deps/python-lsp-server/test/plugins/test_autoimport.py
  external-deps/python-lsp-server/test/plugins/test_autopep8_format.py
  external-deps/python-lsp-server/test/plugins/test_completion.py
  external-deps/python-lsp-server/test/plugins/test_definitions.py
  external-deps/python-lsp-server/test/plugins/test_flake8_lint.py
  external-deps/python-lsp-server/test/plugins/test_folding.py
  external-deps/python-lsp-server/test/plugins/test_highlight.py
  external-deps/python-lsp-server/test/plugins/test_hover.py
  external-deps/python-lsp-server/test/plugins/test_jedi_rename.py
  external-deps/python-lsp-server/test/plugins/test_mccabe_lint.py
  external-deps/python-lsp-server/test/plugins/test_pycodestyle_lint.py
  external-deps/python-lsp-server/test/plugins/test_pydocstyle_lint.py
  external-deps/python-lsp-server/test/plugins/test_pyflakes_lint.py
  external-deps/python-lsp-server/test/plugins/test_pylint_lint.py
  external-deps/python-lsp-server/test/plugins/test_references.py
  external-deps/python-lsp-server/test/plugins/test_signature.py
  external-deps/python-lsp-server/test/plugins/test_symbols.py
  external-deps/python-lsp-server/test/plugins/test_yapf_format.py
  external-deps/python-lsp-server/test/test_configuration.py
  external-deps/python-lsp-server/test/test_document.py
  external-deps/python-lsp-server/test/test_language_server.py
  external-deps/python-lsp-server/test/test_notebook_document.py
  external-deps/python-lsp-server/test/test_text_edit.py
  external-deps/python-lsp-server/test/test_uris.py
  external-deps/python-lsp-server/test/test_utils.py
  external-deps/python-lsp-server/test/test_workspace.py
Labels: type:Task

#22377 PR: Don't expose `SpyderPlugin` and `SpyderPluginWidget` as part of the public API
  changelogs/Spyder-6.md
  spyder/api/_version.py
  spyder/api/plugin_registration/registry.py
  spyder/api/plugins/__init__.py
  spyder/api/plugins/_old_api.py
  spyder/api/plugins/new_api.py
  spyder/app/mainwindow.py
  spyder/plugins/preferences/plugin.py
Labels: type:Techdebt, type:Task

#22379 PR: Update Qtconsole subrepo
  CONTRIBUTING.md
  external-deps/qtconsole/.github/workflows/linux-tests.yml
  external-deps/qtconsole/.github/workflows/macos-tests.yml
  external-deps/qtconsole/.github/workflows/windows-tests.yml
  external-deps/qtconsole/.gitignore
  external-deps/qtconsole/.gitrepo
  external-deps/qtconsole/docs/source/changelog.rst
  external-deps/qtconsole/docs/source/conf.py
  external-deps/qtconsole/qtconsole/ansi_code_processor.py
  external-deps/qtconsole/qtconsole/console_widget.py
  external-deps/qtconsole/qtconsole/frontend_widget.py
  external-deps/qtconsole/qtconsole/jupyter_widget.py
  external-deps/qtconsole/qtconsole/mainwindow.py
  external-deps/qtconsole/qtconsole/tests/test_00_console_widget.py
  external-deps/qtconsole/qtconsole/tests/test_ansi_code_processor.py
  external-deps/qtconsole/qtconsole/tests/test_comms.py
  external-deps/qtconsole/qtconsole/tests/test_jupyter_widget.py
  external-deps/qtconsole/requirements/environment.yml
  external-deps/qtconsole/setup.py
Labels: type:Task

#22382 PR: Pass `TMPDIR` env var to kernels (IPython console)
  external-deps/spyder-kernels/.gitrepo
  external-deps/spyder-kernels/spyder_kernels/customize/spydercustomize.py
  spyder/plugins/ipythonconsole/utils/kernelspec.py
Labels: type:Enhancement, component:IPython Console

#22385 PR: Update dependencies for 5.5.6
  binder/environment.yml
  external-deps/python-lsp-server/.gitrepo
  external-deps/python-lsp-server/CHANGELOG.md
  requirements/main.yml
  setup.py
  spyder/dependencies.py
Labels: type:Task

#22387 PR: Add in-app appeal message for donations (Application)
  spyder/api/widgets/status.py
  spyder/plugins/application/container.py
  spyder/plugins/application/plugin.py
  spyder/plugins/application/widgets/__init__.py
  spyder/plugins/application/widgets/about.py
  spyder/plugins/application/widgets/appeal_page/dark/assets/appeal.css
  spyder/plugins/application/widgets/appeal_page/dark/header_donations.svg
  spyder/plugins/application/widgets/appeal_page/dark/icon_donations.svg
  spyder/plugins/application/widgets/appeal_page/dark/index.html
  spyder/plugins/application/widgets/appeal_page/dark/spyder-logo.svg
  spyder/plugins/application/widgets/appeal_page/light/assets/appeal.css
  spyder/plugins/application/widgets/appeal_page/light/header_donations.svg
  spyder/plugins/application/widgets/appeal_page/light/icon_donations.svg
  spyder/plugins/application/widgets/appeal_page/light/index.html
  spyder/plugins/application/widgets/appeal_page/light/spyder-logo.svg
  spyder/plugins/application/widgets/status.py
  spyder/plugins/application/widgets/tests/__init__.py
  spyder/plugins/application/widgets/tests/test_status.py
  spyder/plugins/statusbar/plugin.py
  spyder/utils/icon_manager.py
  spyder/utils/palette.py
  spyder/widgets/browser.py
Labels: type:Enhancement, component:Main Window

#22394 PR: Restore `TMPDIR` in the kernel if it's available in the system
  external-deps/spyder-kernels/.gitrepo
  external-deps/spyder-kernels/spyder_kernels/customize/spydercustomize.py
  spyder/plugins/ipythonconsole/tests/test_ipythonconsole.py
  spyder/plugins/ipythonconsole/utils/kernelspec.py
Labels: type:Bug, component:IPython Console

#22395 PR: Some last minute fixes before releasing Spyder 6
  spyder/api/fonts.py
  spyder/api/shortcuts.py
  spyder/plugins/application/plugin.py
  spyder/plugins/application/widgets/status.py
  spyder/plugins/remoteclient/widgets/connectiondialog.py
Labels: type:Enhancement, component:Main Window, component:Remote client

#22397 PR: Update user-facing Changelog for Spyder 6.0
  RELEASE.md
  changelogs/Spyder-6.md
Labels: type:Task

#22399 PR: Fix issue where single-instance mode was not enforced (Installers)
  spyder/utils/programs.py
Labels: type:Bug, OS:Windows, Installers

#22401 PR: Update core dependencies for 6.0.0
  binder/environment.yml
  external-deps/qtconsole/.gitrepo
  external-deps/qtconsole/RELEASE.md
  external-deps/qtconsole/docs/source/changelog.rst
  external-deps/qtconsole/qtconsole/_version.py
  external-deps/spyder-kernels/.gitrepo
  external-deps/spyder-kernels/CHANGELOG.md
  external-deps/spyder-kernels/RELEASE.md
  external-deps/spyder-kernels/spyder_kernels/_version.py
  requirements/main.yml
  setup.py
  spyder/dependencies.py
  spyder/plugins/ipythonconsole/__init__.py
Labels: type:Task

#22403 PR: Minor fixes to Spyder 6 Changelog
  changelogs/Spyder-6.md
Labels: type:Task
