Repository spyder-ide/spyder, pull requests merged in 2024-05, with the labels that each got.

#22050 PR: Show `Editor` as title when the Editor is tabbed (Editor)
  spyder/plugins/editor/widgets/main_widget.py
Labels: type:Bug, component:Editor

#22057 PR: Make Matplotlib status bar widget show the right backend and fix some errors related to kernel restarts for options that require them
  external-deps/spyder-kernels/.gitrepo
  external-deps/spyder-kernels/spyder_kernels/comms/utils.py
  external-deps/spyder-kernels/spyder_kernels/console/kernel.py
  external-deps/spyder-kernels/spyder_kernels/console/shell.py
  spyder/plugins/ipythonconsole/confpage.py
  spyder/plugins/ipythonconsole/tests/conftest.py
  spyder/plugins/ipythonconsole/tests/test_ipythonconsole.py
  spyder/plugins/ipythonconsole/widgets/main_widget.py
  spyder/plugins/ipythonconsole/widgets/restartdialog.py
  spyder/plugins/ipythonconsole/widgets/shell.py
  spyder/plugins/ipythonconsole/widgets/status.py
Labels: type:Enhancement, component:IPython Console

#22053 PR: Fix introspection testing (CI)
  spyder/app/tests/conftest.py
  spyder/plugins/completion/plugin.py
  spyder/plugins/completion/providers/fallback/actor.py
  spyder/plugins/completion/providers/languageserver/provider.py
  spyder/plugins/completion/providers/languageserver/tests/conftest.py
  spyder/plugins/completion/providers/snippets/provider.py
  spyder/plugins/completion/providers/snippets/tests/conftest.py
  spyder/plugins/completion/tests/conftest.py
Labels: type:Bug, type:Task

#22059 PR: Use conda-lock files to incrementally update conda-based installers
  .github/scripts/installer_test.sh
  .github/workflows/installers-conda.yml
  installers-conda/build-environment.yml
  installers-conda/build_conda_pkgs.py
  installers-conda/build_installers.py
  installers-conda/resources/post-install.sh
  spyder/plugins/updatemanager/scripts/install.bat
  spyder/plugins/updatemanager/scripts/install.sh
  spyder/plugins/updatemanager/widgets/update.py
Labels: type:Enhancement, Installers

#21969 PR: Add ability to show plots for dataframes (Variable Explorer)
  spyder/widgets/collectionseditor.py
Labels: type:Enhancement, component:Variable Explorer

#22072 PR: Use Python 3.11 for our installers
  .github/workflows/build-subrepos.yml
  .github/workflows/installers-conda.yml
Labels: type:Enhancement, Installers

#21757 PR: Add backend for a new `Remote client` plugin
  .git-blame-ignore-revs
  binder/environment.yml
  requirements/main.yml
  setup.py
  spyder/api/asyncdispatcher.py
  spyder/api/plugins/enum.py
  spyder/api/utils.py
  spyder/dependencies.py
  spyder/plugins/remoteclient/__init__.py
  spyder/plugins/remoteclient/api/__init__.py
  spyder/plugins/remoteclient/api/client.py
  spyder/plugins/remoteclient/api/jupyterhub/__init__.py
  spyder/plugins/remoteclient/api/jupyterhub/auth.py
  spyder/plugins/remoteclient/api/jupyterhub/execute.py
  spyder/plugins/remoteclient/api/jupyterhub/utils.py
  spyder/plugins/remoteclient/api/protocol.py
  spyder/plugins/remoteclient/api/ssh.py
  spyder/plugins/remoteclient/plugin.py
  spyder/plugins/remoteclient/utils/__init__.py
  spyder/plugins/remoteclient/utils/installation.py
Labels: type:Enhancement, component:Remote client

#22005 PR: Editor migration missing TODOs (Editor)
  spyder/plugins/completion/plugin.py
  spyder/plugins/editor/panels/scrollflag.py
  spyder/plugins/editor/plugin.py
  spyder/plugins/editor/widgets/editorstack/editorstack.py
  spyder/plugins/editor/widgets/main_widget.py
  spyder/plugins/editor/widgets/tests/test_formatting.py
  spyder/plugins/projects/plugin.py
Labels: component:Editor, type:Techdebt

#22079 PR: Add UI for the remote client plugin
  spyder/api/config/mixins.py
  spyder/api/plugins/new_api.py
  spyder/api/shellconnect/main_widget.py
  spyder/api/utils.py
  spyder/config/manager.py
  spyder/config/tests/test_manager.py
  spyder/images/dark/connection_connected.svg
  spyder/images/dark/connection_disconnected.svg
  spyder/images/dark/connection_error.svg
  spyder/images/dark/connection_waiting.svg
  spyder/images/light/connection_connected.svg
  spyder/images/light/connection_disconnected.svg
  spyder/images/light/connection_error.svg
  spyder/images/light/connection_waiting.svg
  spyder/plugins/application/widgets/about.py
  spyder/plugins/ipythonconsole/plugin.py
  spyder/plugins/ipythonconsole/tests/test_ipythonconsole.py
  spyder/plugins/ipythonconsole/utils/kernel_handler.py
  spyder/plugins/ipythonconsole/widgets/client.py
  spyder/plugins/ipythonconsole/widgets/main_widget.py
  spyder/plugins/ipythonconsole/widgets/shell.py
  spyder/plugins/preferences/widgets/configdialog.py
  spyder/plugins/remoteclient/api/__init__.py
  spyder/plugins/remoteclient/api/client.py
  spyder/plugins/remoteclient/api/jupyterhub/__init__.py
  spyder/plugins/remoteclient/api/protocol.py
  spyder/plugins/remoteclient/api/ssh.py
  spyder/plugins/remoteclient/plugin.py
  spyder/plugins/remoteclient/widgets/__init__.py
  spyder/plugins/remoteclient/widgets/connectiondialog.py
  spyder/plugins/remoteclient/widgets/connectionstatus.py
  spyder/plugins/remoteclient/widgets/container.py
  spyder/utils/icon_manager.py
  spyder/utils/stylesheet.py
  spyder/widgets/config.py
  spyder/widgets/helperwidgets.py
  spyder/widgets/sidebardialog.py
Labels: type:Enhancement, component:Remote client

#22029 PR: Improve UX of the Plots plugin
  spyder/config/main.py
  spyder/plugins/plots/tests/__init__.py
  spyder/plugins/plots/tests/test_plugin.py
  spyder/plugins/plots/widgets/figurebrowser.py
  spyder/plugins/plots/widgets/main_widget.py
  spyder/plugins/plots/widgets/tests/test_plots_widgets.py
  spyder/utils/icon_manager.py
Labels: type:Enhancement, User Interface (UI), User Experience (UX), component:Plots

#22083 PR: Update core dependencies for 6.0.0 beta1
  binder/environment.yml
  external-deps/spyder-kernels/.gitrepo
  external-deps/spyder-kernels/CHANGELOG.md
  external-deps/spyder-kernels/spyder_kernels/console/tests/test_console_kernel.py
  requirements/main.yml
  setup.py
  spyder/dependencies.py
  spyder/plugins/ipythonconsole/__init__.py
Labels: type:Task

#22085 PR: Fix callable associated to `restart_action` (IPython console)
  spyder/plugins/ipythonconsole/tests/test_ipythonconsole.py
  spyder/plugins/ipythonconsole/widgets/main_widget.py
Labels: type:Bug, component:IPython Console

#22089 PR: Fix workflow glob (Installers)
  .github/workflows/installers-conda.yml
Labels: type:Bug, Installers

#22102 PR: Update macOS from 11 to 12 in installer workflow
  .github/workflows/installer-macos.yml
Labels: type:Task, Installers

#22103 PR: Update macOS from 11 to 12 in installer workflow
  .github/workflows/installers-conda.yml
Labels: type:Task, Installers

#22110 PR: Adjust emblems for projects menu icons
  spyder/images/dark/project_close.svg
  spyder/images/dark/project_delete.svg
  spyder/images/dark/project_new.svg
  spyder/images/dark/project_open.svg
  spyder/images/dark/project_preferences.svg
  spyder/images/light/project_close.svg
  spyder/images/light/project_delete.svg
  spyder/images/light/project_new.svg
  spyder/images/light/project_open.svg
  spyder/images/light/project_preferences.svg
Labels: type:Enhancement, component:Projects, User Interface (UI)

#22117 PR: Constrain setuptools for macOS standalone installer
  .github/workflows/installer-macos.yml
  installers/macOS/req-build.txt
Labels: type:Bug, OS:MacOS, Installers

#22100 PR: Fix detecting Matplotlib backend for its 3.9.0 version (IPython console)
  external-deps/spyder-kernels/.gitrepo
  external-deps/spyder-kernels/spyder_kernels/console/kernel.py
  external-deps/spyder-kernels/spyder_kernels/utils/mpl.py
Labels: type:Bug, component:IPython Console

#19784 PR: Remember undocked state of plugins when closed and allow to close Outline when the Editor is maximized or in an Editor window
  spyder/api/plugins/new_api.py
  spyder/api/widgets/main_widget.py
  spyder/api/widgets/mixins.py
  spyder/api/widgets/toolbars.py
  spyder/app/tests/conftest.py
  spyder/app/tests/test_mainwindow.py
  spyder/config/main.py
  spyder/plugins/base.py
  spyder/plugins/editor/widgets/main_widget.py
  spyder/plugins/editor/widgets/window.py
  spyder/plugins/layout/plugin.py
  spyder/plugins/mainmenu/api.py
  spyder/plugins/mainmenu/plugin.py
  spyder/plugins/outlineexplorer/main_widget.py
  spyder/plugins/outlineexplorer/plugin.py
  spyder/plugins/toolbar/container.py
  spyder/plugins/toolbar/plugin.py
  spyder/plugins/variableexplorer/widgets/arrayeditor.py
  spyder/plugins/variableexplorer/widgets/dataframeeditor.py
  spyder/plugins/variableexplorer/widgets/objectexplorer/objectexplorer.py
  spyder/plugins/workingdirectory/container.py
  spyder/plugins/workingdirectory/tests/test_workingdirectory.py
  spyder/utils/stylesheet.py
  spyder/widgets/collectionseditor.py
Labels: type:Enhancement, component:Editor, User Experience (UX), component:Main Window

#22120 PR: Enable comms to work across different Python versions (IPython console)
  external-deps/spyder-kernels/.gitrepo
  external-deps/spyder-kernels/spyder_kernels/comms/commbase.py
  external-deps/spyder-kernels/spyder_kernels/comms/frontendcomm.py
  external-deps/spyder-kernels/spyder_kernels/console/kernel.py
  external-deps/spyder-kernels/spyder_kernels/console/shell.py
  external-deps/spyder-kernels/spyder_kernels/console/tests/test_console_kernel.py
  external-deps/spyder-kernels/spyder_kernels/customize/namespace_manager.py
  external-deps/spyder-kernels/spyder_kernels/customize/spyderpdb.py
  spyder/app/tests/test_mainwindow.py
  spyder/plugins/debugger/api.py
  spyder/plugins/debugger/plugin.py
  spyder/plugins/debugger/widgets/framesbrowser.py
  spyder/plugins/debugger/widgets/main_widget.py
  spyder/plugins/ipythonconsole/comms/kernelcomm.py
  spyder/plugins/ipythonconsole/comms/tests/test_comms.py
  spyder/plugins/ipythonconsole/widgets/namespacebrowser.py
Labels: type:Bug, component:Debugger, component:IPython Console

#22108 PR: Replace `github.py` with `pygithub` package
  NOTICE.txt
  binder/environment.yml
  requirements/main.yml
  setup.py
  spyder/dependencies.py
  spyder/utils/external/github.py
  spyder/widgets/github/backend.py
Labels: type:Techdebt

#22077 PR: Try to decrease timeouts when running tests and check general tests robustness and speed (CI/Testing)
  conftest.py
  spyder/app/tests/conftest.py
  spyder/app/tests/spyder-boilerplate/spyder_boilerplate/spyder/plugin.py
  spyder/app/tests/test_mainwindow.py
  spyder/plugins/editor/tests/test_plugin.py
  spyder/plugins/editor/widgets/editorstack/editorstack.py
  spyder/plugins/editor/widgets/main_widget.py
  spyder/plugins/help/plugin.py
  spyder/plugins/history/tests/test_plugin.py
  spyder/plugins/ipythonconsole/widgets/status.py
  spyder/plugins/plots/tests/test_plugin.py
  spyder/plugins/plots/widgets/figurebrowser.py
  spyder/plugins/updatemanager/tests/test_update_manager.py
  spyder/widgets/tests/test_sidebardialog.py
Labels: type:Task

#22088 PR: Fix issue where Spyder's inline graphics preferences were not applied
  external-deps/spyder-kernels/.gitrepo
  external-deps/spyder-kernels/spyder_kernels/console/kernel.py
  external-deps/spyder-kernels/spyder_kernels/console/shell.py
  external-deps/spyder-kernels/spyder_kernels/console/start.py
  spyder/plugins/ipythonconsole/tests/conftest.py
  spyder/plugins/ipythonconsole/tests/test_ipythonconsole.py
  spyder/plugins/ipythonconsole/widgets/main_widget.py
  spyder/plugins/ipythonconsole/widgets/shell.py
Labels: type:Bug, component:IPython Console
