Repository spyder-ide/spyder, pull requests merged in 2024-07, with the labels that each got.

#22204 PR: Fix issues with installers discovered after 6.0.0b2 was released
  .github/workflows/installers-conda.yml
  installers-conda/build-environment.yml
  installers-conda/build_conda_pkgs.py
  installers-conda/build_installers.py
Labels: type:Bug, Installers

#22228 PR: Minor UI improvements to the Run entry in Preferences
  spyder/plugins/run/confpage.py
  spyder/plugins/run/models.py
  spyder/plugins/run/widgets.py
Labels: type:Enhancement, User Interface (UI), component:Run

#22183 PR: Update `README`, `RELEASE` and `Announcements` files
  Announcements.md
  README.md
  RELEASE.md
Labels: type:Task

#22234 PR: Improve Switcher UI
  spyder/api/fonts.py
  spyder/api/plugins/new_api.py
  spyder/api/widgets/menus.py
  spyder/plugins/completion/providers/languageserver/widgets/serversconfig.py
  spyder/plugins/completion/providers/snippets/widgets/snippetsconfig.py
  spyder/plugins/console/plugin.py
  spyder/plugins/debugger/widgets/framesbrowser.py
  spyder/plugins/editor/plugin.py
  spyder/plugins/editor/utils/switcher_manager.py
  spyder/plugins/editor/widgets/base.py
  spyder/plugins/findinfiles/widgets/results_browser.py
  spyder/plugins/help/plugin.py
  spyder/plugins/history/plugin.py
  spyder/plugins/ipythonconsole/plugin.py
  spyder/plugins/mainmenu/plugin.py
  spyder/plugins/onlinehelp/pydoc_patch.py
  spyder/plugins/remoteclient/widgets/connectiondialog.py
  spyder/plugins/remoteclient/widgets/connectionstatus.py
  spyder/plugins/run/widgets.py
  spyder/plugins/switcher/tests/test_switcher.py
  spyder/plugins/switcher/widgets/item.py
  spyder/plugins/switcher/widgets/switcher.py
  spyder/plugins/variableexplorer/widgets/arrayeditor.py
  spyder/plugins/variableexplorer/widgets/collectionsdelegate.py
  spyder/plugins/variableexplorer/widgets/dataframeeditor.py
  spyder/plugins/variableexplorer/widgets/objectexplorer/objectexplorer.py
  spyder/plugins/variableexplorer/widgets/objectexplorer/tree_model.py
  spyder/plugins/variableexplorer/widgets/texteditor.py
  spyder/utils/qthelpers.py
  spyder/utils/stylesheet.py
  spyder/widgets/collectionseditor.py
  spyder/widgets/elementstable.py
  spyder/widgets/helperwidgets.py
  spyder/widgets/reporterror.py
  spyder/widgets/sidebardialog.py
Labels: type:Enhancement, User Interface (UI), component:File Switcher

#22196 PR: Make QtWebEngine Optional
  spyder/api/plugins/new_api.py
  spyder/app/mainwindow.py
  spyder/plugins/help/plugin.py
  spyder/plugins/help/widgets.py
  spyder/plugins/ipythonconsole/widgets/main_widget.py
  spyder/plugins/onlinehelp/plugin.py
  spyder/plugins/onlinehelp/widgets.py
Labels: Package:PyQt, type:Task

#22231 PR: Fix errors when getting Matplotlib backend in the kernel (IPython console)
  spyder/plugins/ipythonconsole/tests/test_ipythonconsole.py
  spyder/plugins/ipythonconsole/utils/kernel_handler.py
  spyder/plugins/ipythonconsole/widgets/status.py
Labels: type:Bug, component:IPython Console

#22237 PR: Fix failing tests due to Numpy 2.0 (Testing)
  spyder/widgets/collectionseditor.py
  spyder/widgets/tests/test_collectioneditor.py
Labels: type:Task

#22199 PR: Fix error when plugins required for tabification are unavailable (Layout)
  spyder/plugins/breakpoints/plugin.py
  spyder/plugins/layout/plugin.py
  spyder/plugins/onlinehelp/plugin.py
  spyder/plugins/profiler/plugin.py
  spyder/plugins/pylint/plugin.py
Labels: type:Bug, component:Main Window

#22243 PR: Add missing space over masked label text (Variable Explorer - `ArrayEditor`)
  spyder/plugins/variableexplorer/widgets/arrayeditor.py
Labels: type:Bug, component:Variable Explorer

#22230 PR: Fix shortcuts for several Run and Debugger actions
  spyder/api/config/mixins.py
  spyder/api/shortcuts.py
  spyder/api/widgets/mixins.py
  spyder/app/mainwindow.py
  spyder/app/tests/test_mainwindow.py
  spyder/config/gui.py
  spyder/config/main.py
  spyder/config/manager.py
  spyder/plugins/console/widgets/shell.py
  spyder/plugins/debugger/plugin.py
  spyder/plugins/debugger/widgets/main_widget.py
  spyder/plugins/editor/plugin.py
  spyder/plugins/editor/widgets/codeeditor/codeeditor.py
  spyder/plugins/editor/widgets/editorstack/editorstack.py
  spyder/plugins/editor/widgets/main_widget.py
  spyder/plugins/editor/widgets/splitter.py
  spyder/plugins/editor/widgets/tabswitcher.py
  spyder/plugins/ipythonconsole/widgets/shell.py
  spyder/plugins/profiler/plugin.py
  spyder/plugins/pylint/plugin.py
  spyder/plugins/run/container.py
  spyder/plugins/run/plugin.py
  spyder/plugins/run/tests/test_run.py
  spyder/plugins/shortcuts/plugin.py
  spyder/plugins/shortcuts/tests/test_shortcuts.py
  spyder/plugins/shortcuts/widgets/table.py
  spyder/plugins/variableexplorer/widgets/arrayeditor.py
  spyder/plugins/variableexplorer/widgets/dataframeeditor.py
  spyder/widgets/findreplace.py
  spyder/widgets/tabs.py
Labels: type:Bug, component:Debugger, component:Run

#22198 PR: Backport of PR 22196 (Make QtWebEngine Optional)
  spyder/api/plugins/new_api.py
  spyder/app/mainwindow.py
  spyder/plugins/help/plugin.py
  spyder/plugins/help/widgets.py
  spyder/plugins/ipythonconsole/widgets/main_widget.py
  spyder/plugins/onlinehelp/plugin.py
  spyder/plugins/onlinehelp/widgets.py
Labels: Package:PyQt, type:Task

#21713 PR: Fix profiling results being hidden (Profiler)
  spyder/plugins/profiler/widgets/main_widget.py
Labels: type:Bug, component:Profiler

#22253 PR: Update conda-lock for change in release workflow
  .github/workflows/installers-conda.yml
  installers-conda/build_installers.py
  spyder/plugins/updatemanager/tests/test_update_manager.py
  spyder/plugins/updatemanager/workers.py
Labels: type:Task, Installers

#22223 PR: Fix Windows tunneling error when connecting to kernels (Remote client)
  requirements/windows.yml
  setup.py
  spyder/dependencies.py
  spyder/plugins/ipythonconsole/utils/client.py
  spyder/plugins/ipythonconsole/utils/kernel_handler.py
  spyder/plugins/ipythonconsole/utils/ssh.py
  spyder/plugins/ipythonconsole/widgets/client.py
  spyder/plugins/remoteclient/plugin.py
  spyder/plugins/remoteclient/widgets/container.py
Labels: type:Bug, OS:Windows, component:Remote client

#22232 PR: Tabify Outline next to Projects in default layout and other layout improvements and fixes
  CONTRIBUTING.md
  bootstrap.py
  spyder/api/plugin_registration/registry.py
  spyder/api/plugins/new_api.py
  spyder/app/mainwindow.py
  spyder/app/tests/test_mainwindow.py
  spyder/app/utils.py
  spyder/plugins/editor/widgets/main_widget.py
  spyder/plugins/editor/widgets/window.py
  spyder/plugins/layout/api.py
  spyder/plugins/layout/layouts.py
  spyder/plugins/layout/plugin.py
  spyder/plugins/outlineexplorer/plugin.py
  spyder/plugins/run/widgets.py
  spyder/widgets/dock.py
Labels: type:Bug, type:Enhancement, component:Main Window

#22200 PR: Improve implementation and UI of console envs menu (IPython console/Main interpreter)
  spyder/app/tests/test_mainwindow.py
  spyder/config/main.py
  spyder/plugins/completion/container.py
  spyder/plugins/completion/plugin.py
  spyder/plugins/completion/widgets/__init__.py
  spyder/plugins/completion/widgets/status.py
  spyder/plugins/completion/widgets/tests/__init__.py
  spyder/plugins/completion/widgets/tests/test_status.py
  spyder/plugins/editor/widgets/codeeditor/tests/test_introspection.py
  spyder/plugins/ipythonconsole/plugin.py
  spyder/plugins/ipythonconsole/tests/conftest.py
  spyder/plugins/ipythonconsole/tests/test_ipythonconsole.py
  spyder/plugins/ipythonconsole/widgets/main_widget.py
  spyder/plugins/maininterpreter/confpage.py
  spyder/plugins/maininterpreter/container.py
  spyder/plugins/maininterpreter/plugin.py
  spyder/plugins/maininterpreter/tests/test_plugin.py
  spyder/plugins/maininterpreter/widgets/status.py
  spyder/plugins/maininterpreter/widgets/tests/__init__.py
  spyder/plugins/maininterpreter/widgets/tests/test_status.py
  spyder/plugins/pylint/tests/test_pylint.py
  spyder/plugins/statusbar/plugin.py
  spyder/utils/conda.py
  spyder/utils/pyenv.py
  spyder/utils/tests/test_conda.py
  spyder/utils/tests/test_pyenv.py
  spyder/widgets/config.py
Labels: type:Enhancement, component:IPython Console, component:Main interpreter

#22265 PR: Use the correct micromamba for arm64 architecture on macOS (Installers)
  .github/workflows/installer-macos.yml
Labels: type:Bug, OS:MacOS, Installers

#22269 PR: Temporarily suspend notarizing the macOS installer
  .github/workflows/installers-conda.yml
Labels: type:Task, Installers

#22276 PR: Improve UI of status bar widgets (API/Completions)
  spyder/api/widgets/menus.py
  spyder/api/widgets/status.py
  spyder/plugins/completion/providers/languageserver/widgets/status.py
  spyder/plugins/ipythonconsole/widgets/status.py
  spyder/utils/icon_manager.py
Labels: type:Enhancement, component:Code Completion and linting, User Interface (UI), component:Main Window

#22270 PR: Remove a non-ascii file extension from QFileDialog filter
  spyder/config/utils.py
Labels: type:Bug, component:Editor

#22244 PR: Remove dependency on `pkg_resources` and use `importlib-metadata` instead
  binder/environment.yml
  conftest.py
  install_dev_repos.py
  installers/macOS/packages.py
  requirements/main.yml
  setup.py
  spyder/app/find_plugins.py
  spyder/dependencies.py
  spyder/plugins/completion/plugin.py
  spyder/utils/programs.py
  spyder/utils/tests/test_programs.py
Labels: type:Task

#22286 PR: Increase about dialog width to prevent cutting text on Windows (Application)
  spyder/plugins/application/widgets/about.py
Labels: type:Bug, OS:Windows, User Interface (UI), component:Main Window

#22288 PR: Fix several errors with missing plugins when setting a layout
  spyder/plugins/layout/api.py
  spyder/plugins/layout/plugin.py
Labels: type:Bug, component:Main Window

#22291 PR: Revert PR 22269 (Disable signing Mac app)
  .github/workflows/installers-conda.yml
Labels: type:Task, Installers

#22290 PR: Always create the local conda channel on CI, even for releases
  .github/workflows/installers-conda.yml
Labels: type:Bug, Installers

#22292 PR: Update custom button tab index when removing intermediate tabs without changing current selected tab (Widgets)
  spyder/widgets/tabs.py
Labels: type:Bug

#22293 PR: Fix resetting layout options (Layout)
  spyder/plugins/layout/container.py
  spyder/plugins/layout/plugin.py
  spyder/plugins/layout/widgets/dialog.py
Labels: type:Bug, component:Main Window

#22302 PR: Filter unnecessary stream messages in the kernel (IPython console)
  external-deps/spyder-kernels/.gitrepo
  external-deps/spyder-kernels/requirements/posix.txt
  external-deps/spyder-kernels/requirements/windows.txt
  external-deps/spyder-kernels/spyder_kernels/console/outstream.py
Labels: type:Enhancement, component:IPython Console

#22304 PR: Disable shortcuts for actions in the `View > Panes` menu when not visible (Layout)
  spyder/api/plugins/new_api.py
  spyder/app/mainwindow.py
  spyder/plugins/layout/plugin.py
Labels: type:Bug, component:Main Window

#22061 PR: New menu item for view options in array and dataframe editors
  spyder/plugins/variableexplorer/widgets/arrayeditor.py
  spyder/plugins/variableexplorer/widgets/dataframeeditor.py
  spyder/plugins/variableexplorer/widgets/preferences.py
  spyder/plugins/variableexplorer/widgets/tests/test_dataframeeditor.py
  spyder/plugins/variableexplorer/widgets/tests/test_preferences.py
Labels: component:Variable Explorer, User Interface (UI)
