Repository spyder-ide/spyder, pull requests merged in 2024-01, with the labels that each got.

#21667 PR: Fix errors when displaying the Symbols switcher
  spyder/app/tests/test_mainwindow.py
  spyder/plugins/editor/utils/switcher_manager.py
  spyder/plugins/switcher/api.py
  spyder/plugins/switcher/container.py
  spyder/plugins/switcher/plugin.py
  spyder/plugins/switcher/widgets/proxymodel.py
  spyder/plugins/switcher/widgets/switcher.py
Labels: type:Bug, component:File Switcher

#21566 PR: Add new options for font size and bottom edge for inline plot
  external-deps/spyder-kernels/.gitrepo
  external-deps/spyder-kernels/spyder_kernels/console/kernel.py
  spyder/config/main.py
  spyder/plugins/ipythonconsole/confpage.py
  spyder/plugins/ipythonconsole/tests/test_ipythonconsole.py
  spyder/plugins/ipythonconsole/widgets/main_widget.py
  spyder/plugins/ipythonconsole/widgets/shell.py
  spyder/plugins/variableexplorer/widgets/namespacebrowser.py
  spyder/plugins/variableexplorer/widgets/tests/test_namespacebrowser.py
Labels: type:Enhancement, component:IPython Console

#21598 PR: Change style of border around thumbnail of current plot
  spyder/plugins/plots/widgets/figurebrowser.py
Labels: User Interface (UI), component:Plots

#21631 PR: Update button text for editor changed files message box
  spyder/plugins/editor/widgets/editorstack/editorstack.py
Labels: type:Enhancement, component:Editor

#21707 PR: Fix several UI regressions and errors
  spyder/api/widgets/comboboxes.py
  spyder/api/widgets/menus.py
  spyder/api/widgets/toolbars.py
  spyder/app/mainwindow.py
  spyder/plugins/findinfiles/widgets/main_widget.py
  spyder/plugins/findinfiles/widgets/results_browser.py
  spyder/plugins/preferences/widgets/configdialog.py
  spyder/plugins/shortcuts/plugin.py
  spyder/plugins/variableexplorer/widgets/namespacebrowser.py
  spyder/utils/qthelpers.py
  spyder/widgets/collectionseditor.py
  spyder/widgets/dock.py
  spyder/widgets/simplecodeeditor.py
Labels: type:Bug, component:Variable Explorer, component:Preferences, User Interface (UI), component:Find in files, component:Main Window

#21715 PR: Change icon for "Remove all plots"
  spyder/plugins/plots/widgets/main_widget.py
Labels: User Interface (UI), component:Plots

#21710 PR: Improve hovers, completion hints and calltips
  spyder/app/tests/test_mainwindow.py
  spyder/plugins/editor/panels/linenumber.py
  spyder/plugins/editor/plugin.py
  spyder/plugins/editor/widgets/base.py
  spyder/plugins/editor/widgets/codeeditor/codeeditor.py
  spyder/plugins/editor/widgets/codeeditor/lsp_mixin.py
  spyder/plugins/editor/widgets/codeeditor/tests/test_codeeditor.py
  spyder/plugins/editor/widgets/codeeditor/tests/test_formatting.py
  spyder/plugins/editor/widgets/codeeditor/tests/test_hints_and_calltips.py
  spyder/plugins/editor/widgets/completion.py
  spyder/plugins/findinfiles/widgets/main_widget.py
  spyder/plugins/findinfiles/widgets/results_browser.py
  spyder/plugins/ipythonconsole/tests/test_ipythonconsole.py
  spyder/plugins/ipythonconsole/widgets/help.py
  spyder/widgets/calltip.py
  spyder/widgets/mixins.py
Labels: type:Bug, type:Enhancement, component:Editor, component:IPython Console, User Interface (UI), User Experience (UX)

#21704 PR: Fix error when computing the size hint of `ItemDelegate` in Python 3.10+
  spyder/widgets/helperwidgets.py
Labels: type:Bug, component:Preferences

#21695 PR: Fix triple-quoted docstring of a method (Editor)
  spyder/plugins/editor/plugin.py
Labels: type:Task

#21692 PR: Fix some tests failing on Python 3.12
  spyder/plugins/editor/tests/test_plugin.py
  spyder/plugins/editor/widgets/tests/test_warnings.py
  spyder/plugins/variableexplorer/widgets/objectexplorer/tests/test_objectexplorer.py
  spyder/widgets/tests/test_reporterror.py
Labels: type:Task

#21657 PR: Add icons for project actions
  spyder/images/dark/project_close.svg
  spyder/images/dark/project_delete.svg
  spyder/images/dark/project_new.svg
  spyder/images/dark/project_open.svg
  spyder/images/dark/project_preferences.svg
  spyder/images/dark/project_spyder.svg
  spyder/images/light/new_project.svg
  spyder/images/light/project_close.svg
  spyder/images/light/project_delete.svg
  spyder/images/light/project_new.svg
  spyder/images/light/project_open.svg
  spyder/images/light/project_preferences.svg
  spyder/images/light/project_spyder.svg
  spyder/images/projects.svg
  spyder/images/transparent.svg
  spyder/plugins/projects/widgets/main_widget.py
Labels: type:Enhancement, component:Projects, User Interface (UI)

#21723 PR: Make `get_spyder_conda_channel` return a tuple of None's if it fails (Utils)
  spyder/utils/conda.py
  spyder/workers/updates.py
Labels: type:Bug, component:Main Window

#21696 PR: Improve `renamed_tree` method (Editor)
  spyder/plugins/editor/plugin.py
Labels: type:Enhancement, component:Editor

#21734 PR: Create a base class for sidebar dialogs (Widgets)
  spyder/config/appearance.py
  spyder/config/main.py
  spyder/plugins/preferences/widgets/config_widgets.py
  spyder/plugins/preferences/widgets/configdialog.py
  spyder/widgets/sidebardialog.py
  spyder/widgets/tests/test_sidebardialog.py
Labels: component:Preferences, type:Task

#21740 PR: Remove old `python-lsp-black` related code
  spyder/config/lsp.py
  spyder/plugins/completion/providers/languageserver/provider.py
  spyder/plugins/editor/widgets/codeeditor/tests/conftest.py
Labels: component:Code Completion and linting, type:Task

#21741 PR: Update actions to checkout@v4 and cache@v4 (CI)
  .github/workflows/installer-macos.yml
  .github/workflows/installer-win.yml
  .github/workflows/installers-conda.yml
  .github/workflows/test-files.yml
  .github/workflows/test-linux.yml
  .github/workflows/test-mac.yml
  .github/workflows/test-win.yml
Labels: type:Task
