Repository spyder-ide/spyder, pull requests merged in 2024-11, with the labels that each got.

#22541 PR: Update Python versions used for testing on Windows and Mac (CI)
  .github/workflows/test-mac.yml
  .github/workflows/test-win.yml
Labels: type:Task

#22792 Backport PR #22541 on branch 6.x (PR: Update Python versions used for testing on Windows and Mac (CI))
  .github/workflows/test-mac.yml
  .github/workflows/test-win.yml
Labels: type:Task

#22805 Backport PR #22796 on branch 6.x (PR: Restore run actions to the context menu of `CodeEditor` (Editor) )
  .github/workflows/test-remoteclient.yml
  spyder/plugins/editor/widgets/codeeditor/codeeditor.py
  spyder/plugins/editor/widgets/codeeditor/lsp_mixin.py
Labels: type:Bug, component:Editor, User Experience (UX)

#22728 PR: Select full floating point numbers by double-clicking them
  spyder/plugins/ipythonconsole/tests/test_ipythonconsole.py
  spyder/widgets/mixins.py
Labels: type:Enhancement, component:Editor, component:IPython Console

#22819 PR: Fix enabled state of Run plugin actions when a file type doesn't have an associated configuration
  spyder/plugins/run/container.py
  spyder/widgets/mixins.py
Labels: type:Bug, component:Run

#22821 Backport PR #22819 on branch 6.x (PR: Fix enabled state of Run plugin actions when a file type doesn't have an associated configuration)
  spyder/plugins/run/container.py
  spyder/widgets/mixins.py
Labels: type:Bug, component:Run

#22820 PR: Register run metadata on renames for supported file extensions (Editor)
  spyder/app/tests/test_mainwindow.py
  spyder/plugins/editor/tests/test_plugin.py
  spyder/plugins/editor/widgets/main_widget.py
Labels: type:Bug, component:Editor

#22828 Backport PR #22820 on branch 6.x (PR: Register run metadata on renames for supported file extensions (Editor))
  spyder/app/tests/test_mainwindow.py
  spyder/plugins/editor/tests/test_plugin.py
  spyder/plugins/editor/widgets/main_widget.py
Labels: type:Bug, component:Editor

#22829 Backport PR #22826 on branch 6.x (PR: Try to set the monospace font size up to six times in `SpyderApplication` (Utils))
  spyder/utils/qthelpers.py
Labels: type:Bug, component:Main Window

#22696 PR: Update workflows to accommodate GitHub deprecation of macos-12 runners (CI)
  .github/workflows/installers-conda.yml
  .github/workflows/test-mac.yml
  spyder/utils/tests/test_programs.py
Labels: type:Task

#22848 Backport PR #22696 on branch 6.x (PR: Update workflows to accommodate GitHub deprecation of macos-12 runners (CI))
  .github/workflows/installers-conda.yml
  .github/workflows/test-mac.yml
  spyder/utils/tests/test_programs.py
Labels: type:Task

#22846 PR: Fix error with PyQt6 when pasting code with middle-click on Linux
  spyder/plugins/editor/widgets/base.py
Labels: type:Bug, Package:Qt

#22850 PR: Fix `UnboundLocalError` when removing and adding paths to Pythonpath Manager
  spyder/plugins/pythonpath/tests/test_utils.py
  spyder/plugins/pythonpath/utils.py
  spyder/plugins/pythonpath/widgets/pathmanager.py
Labels: type:Bug, type:Enhancement, component:Pythonpath manager

#22858 Backport PR #22850 on branch 6.x (PR: Fix `UnboundLocalError` when removing and adding paths to Pythonpath Manager)
  spyder/plugins/pythonpath/tests/test_utils.py
  spyder/plugins/pythonpath/utils.py
  spyder/plugins/pythonpath/widgets/pathmanager.py
Labels: type:Bug, type:Enhancement, component:Pythonpath manager

#22480 PR: Copy/cut entire line if nothing is selected (Editor)
  spyder/plugins/editor/widgets/base.py
  spyder/plugins/editor/widgets/codeeditor/codeeditor.py
  spyder/plugins/editor/widgets/codeeditor/tests/test_codeeditor.py
Labels: component:Editor, type:Feature

#22877 Backport PR #22861 on branch 6.x (PR: Add `overflow: hidden` to body and container to in-app appeal page (Application))
  spyder/plugins/application/widgets/appeal_page/dark/assets/appeal.css
  spyder/plugins/application/widgets/appeal_page/dark/index.html
  spyder/plugins/application/widgets/appeal_page/light/assets/appeal.css
  spyder/plugins/application/widgets/appeal_page/light/index.html
Labels: type:Bug, component:Main Window

#22791 PR: Run installer build workflow on both master and 6.x weekly (CI)
  .github/workflows/build-subrepos.yml
  .github/workflows/installers-conda.yml
  .github/workflows/purge-cache.yml
Labels: type:Task, Installers

#22881 PR: Use `jupyter-remote-desktop-proxy` for binder setup (Binder)
  binder/apt.txt
  binder/environment.yml
Labels: type:Task

#22883 Backport PR #22881 on branch 6.x (PR: Use `jupyter-remote-desktop-proxy` for binder setup (Binder))
  binder/apt.txt
  binder/environment.yml
Labels: type:Task

#22876 PR: Do not launch Spyder if installing in CI or batch/silent mode (Installers)
  .github/workflows/installers-conda.yml
  .github/workflows/test-files.yml
  .github/workflows/test-linux.yml
  .github/workflows/test-mac.yml
  .github/workflows/test-remoteclient.yml
  .github/workflows/test-win.yml
  installers-conda/resources/post-install.bat
  installers-conda/resources/post-install.sh
  installers-conda/resources/pre-install.bat
Labels: type:Enhancement, Installers

#22893 Backport PR #22876 on branch 6.x (PR: Do not launch Spyder if installing in CI or batch/silent mode (Installers))
  .github/workflows/installers-conda.yml
  .github/workflows/test-files.yml
  .github/workflows/test-linux.yml
  .github/workflows/test-mac.yml
  .github/workflows/test-remoteclient.yml
  .github/workflows/test-win.yml
  installers-conda/resources/post-install.bat
  installers-conda/resources/post-install.sh
  installers-conda/resources/pre-install.bat
Labels: type:Enhancement, Installers

#22895 Backport PR #22791 on branch 6.x (PR: Run installer build workflow on both master and 6.x weekly (CI))
  .github/workflows/build-subrepos.yml
  .github/workflows/installers-conda.yml
Labels: type:Task, Installers

#22940 PR: Fix several issues when getting selections to run them (Editor)
  spyder/app/tests/test_mainwindow.py
  spyder/plugins/editor/widgets/base.py
  spyder/plugins/editor/widgets/editorstack/editorstack.py
  spyder/plugins/editor/widgets/main_widget.py
Labels: type:Bug, component:Editor

#22943 Backport PR #22940 on branch 6.x (PR: Fix several issues when getting selections to run them (Editor))
  spyder/app/tests/test_mainwindow.py
  spyder/plugins/editor/widgets/base.py
  spyder/plugins/editor/widgets/editorstack/editorstack.py
  spyder/plugins/editor/widgets/main_widget.py
Labels: type:Bug, component:Editor

#22941 Backport PR #22928 on branch 6.x (PR: Fix saving modifications to default run parameters (Run))
  spyder/plugins/run/confpage.py
  spyder/plugins/run/widgets.py
Labels: type:Bug, component:Run

#22958 PR: Catch error when trying to compute the console banner (IPython console)
  spyder/plugins/ipythonconsole/widgets/shell.py
Labels: type:Bug, component:IPython Console

#22914 PR: Activate `Open last closed` shortcut in `EditorStack` (Editor)
  spyder/plugins/editor/widgets/editorstack/editorstack.py
  spyder/plugins/editor/widgets/main_widget.py
Labels: type:Bug, component:Editor, status:Ready For Review

#22960 Backport PR #22958 on branch 6.x (PR: Catch error when trying to compute the console banner (IPython console))
  spyder/plugins/ipythonconsole/widgets/shell.py
Labels: type:Bug, component:IPython Console

#22962 Backport PR #22914 on branch 6.x (PR: Activate `Open last closed` shortcut in `EditorStack` (Editor))
  spyder/plugins/editor/widgets/editorstack/editorstack.py
  spyder/plugins/editor/widgets/main_widget.py
Labels: type:Bug, component:Editor

#22927 PR: Improve the way users can select the interface font in Preferences (Appearance)
  CONTRIBUTING.md
  changelogs/Spyder-6.md
  spyder/api/_version.py
  spyder/api/widgets/comboboxes.py
  spyder/api/widgets/menus.py
  spyder/app/utils.py
  spyder/plugins/appearance/confpage.py
  spyder/widgets/config.py
Labels: type:Enhancement, component:Preferences, User Experience (UX)

#23002 Backport PR #22927 on branch 6.x (PR: Improve the way users can select the interface font in Preferences (Appearance))
  CONTRIBUTING.md
  changelogs/Spyder-6.md
  spyder/api/_version.py
  spyder/api/widgets/comboboxes.py
  spyder/api/widgets/menus.py
  spyder/app/utils.py
  spyder/plugins/appearance/confpage.py
  spyder/widgets/config.py
Labels: type:Enhancement, component:Preferences, User Experience (UX)

#23029 PR: Pin Jedi to 0.19.1 for now on Linux (CI)
  .github/scripts/install.sh
  spyder/app/tests/test_mainwindow.py
Labels: type:Task

#23022 PR: Handle error when trying to get invalid/unavailable custom syntax highlighting themes (Appearance)
  spyder/plugins/appearance/confpage.py
Labels: type:Bug, component:Preferences, component:Main Window

#23030 Backport PR #23029 on branch 6.x (PR: Pin Jedi to 0.19.1 for now on Linux (CI))
  .github/scripts/install.sh
  spyder/app/tests/test_mainwindow.py
Labels: type:Task

#23031 Backport PR #23022 on branch 6.x (PR: Handle error when trying to get invalid/unavailable custom syntax highlighting themes (Appearance))
  spyder/plugins/appearance/confpage.py
Labels: type:Bug, component:Preferences, component:Main Window

#23044 PR: Fix `FoldingPanel._expand_selection` to not select text an extra line below a folded region (Editor)
  spyder/plugins/editor/panels/codefolding.py
  spyder/plugins/editor/widgets/codeeditor/tests/test_folding.py
Labels: type:Bug, component:Editor

#23046 Backport PR #23044 on branch 6.x (PR: Fix `FoldingPanel._expand_selection` to not select text an extra line below a folded region (Editor))
  spyder/plugins/editor/panels/codefolding.py
  spyder/plugins/editor/widgets/codeeditor/tests/test_folding.py
Labels: type:Bug, component:Editor

#23069 PR: Fix small error in `get_spyder_conda_channel` (Utils)
  spyder/utils/conda.py
Labels: type:Bug

#23071 Backport PR #23069 on branch 6.x (PR: Fix small error in `get_spyder_conda_channel` (Utils))
  spyder/utils/conda.py
Labels: type:Bug

#22860 PR: Check `spyder-remote-services` version compatibility (Remote client)
  spyder/plugins/remoteclient/__init__.py
  spyder/plugins/remoteclient/api/client.py
  spyder/plugins/remoteclient/api/ssh.py
  spyder/plugins/remoteclient/plugin.py
  spyder/plugins/remoteclient/tests/test_plugin.py
  spyder/plugins/remoteclient/utils/installation.py
  spyder/plugins/remoteclient/widgets/container.py
Labels: type:Enhancement, component:Remote client

#23089 Backport PR #22860 on branch 6.x (PR: Check `spyder-remote-services` version compatibility (Remote client))
  spyder/plugins/remoteclient/__init__.py
  spyder/plugins/remoteclient/api/client.py
  spyder/plugins/remoteclient/api/ssh.py
  spyder/plugins/remoteclient/plugin.py
  spyder/plugins/remoteclient/tests/test_plugin.py
  spyder/plugins/remoteclient/utils/installation.py
  spyder/plugins/remoteclient/widgets/container.py
Labels: type:Enhancement, component:Remote client

#22965 PR: Initial traceback setup to use selected syntax style (IPython Console)
  external-deps/spyder-kernels/.gitrepo
  external-deps/spyder-kernels/spyder_kernels/console/kernel.py
  external-deps/spyder-kernels/spyder_kernels/console/shell.py
  external-deps/spyder-kernels/spyder_kernels/console/start.py
  external-deps/spyder-kernels/spyder_kernels/console/tests/test_console_kernel.py
  external-deps/spyder-kernels/spyder_kernels/customize/code_runner.py
  external-deps/spyder-kernels/spyder_kernels/customize/umr.py
  external-deps/spyder-kernels/spyder_kernels/utils/style.py
  spyder/app/tests/test_mainwindow.py
  spyder/plugins/ipythonconsole/widgets/shell.py
  spyder/utils/misc.py
Labels: type:Bug, type:Enhancement, component:IPython Console, User Interface (UI)

#23090 Backport PR #22965 on branch 6.x (PR: Initial traceback setup to use selected syntax style (IPython Console))
  external-deps/spyder-kernels/.gitrepo
  external-deps/spyder-kernels/spyder_kernels/console/kernel.py
  external-deps/spyder-kernels/spyder_kernels/console/shell.py
  external-deps/spyder-kernels/spyder_kernels/console/start.py
  external-deps/spyder-kernels/spyder_kernels/customize/code_runner.py
  external-deps/spyder-kernels/spyder_kernels/customize/umr.py
  external-deps/spyder-kernels/spyder_kernels/utils/style.py
  spyder/app/tests/test_mainwindow.py
  spyder/plugins/ipythonconsole/widgets/shell.py
  spyder/utils/misc.py
Labels: type:Bug, type:Enhancement, component:IPython Console, User Interface (UI)

#21891 PR: Pass paths from the Pythonpath manager to the Pylint plugin
  spyder/plugins/pylint/main_widget.py
  spyder/plugins/pylint/tests/test_pylint.py
Labels: type:Enhancement, component:Pylint

#23100 PR: Use style functions from `spyder-kernels` (IPython Console)
  spyder/plugins/ipythonconsole/tests/conftest.py
  spyder/plugins/ipythonconsole/utils/style.py
  spyder/plugins/ipythonconsole/widgets/shell.py
Labels: component:IPython Console, type:Task

#23079 PR: Update Remote client plugin to the new `spyder-remote-services` API
  external-deps/spyder-remote-services/.gitrepo
  external-deps/spyder-remote-services/environment.yml
  external-deps/spyder-remote-services/jupyter-config/spyder_remote_services.json
  external-deps/spyder-remote-services/pyproject.toml
  external-deps/spyder-remote-services/spyder_remote_services/__init__.py
  external-deps/spyder-remote-services/spyder_remote_services/__main__.py
  external-deps/spyder-remote-services/spyder_remote_services/app.py
  external-deps/spyder-remote-services/spyder_remote_services/jupyter_client/manager.py
  external-deps/spyder-remote-services/spyder_remote_services/jupyter_server/__init__.py
  external-deps/spyder-remote-services/spyder_remote_services/jupyter_server/kernelmanager.py
  external-deps/spyder-remote-services/spyder_remote_services/jupyter_server/serverapp.py
  external-deps/spyder-remote-services/spyder_remote_services/services/__init__.py
  external-deps/spyder-remote-services/spyder_remote_services/services/envs_manager/handlers.py
  external-deps/spyder-remote-services/spyder_remote_services/services/spyder_kernels/__init__.py
  external-deps/spyder-remote-services/spyder_remote_services/services/spyder_kernels/patches.py
  external-deps/spyder-remote-services/spyder_remote_services/services/spyder_kernels/provisioner.py
  external-deps/spyder-remote-services/tests/Dockerfile
  external-deps/spyder-remote-services/tests/client/api.py
  external-deps/spyder-remote-services/tests/client/auth.py
  external-deps/spyder-remote-services/tests/client/execute.py
  external-deps/spyder-remote-services/tests/client/installation.py
  external-deps/spyder-remote-services/tests/client/simulate.py
  external-deps/spyder-remote-services/tests/client/utils.py
  external-deps/spyder-remote-services/tests/client_api.py
  external-deps/spyder-remote-services/tests/docker-compose.yaml
  external-deps/spyder-remote-services/tests/test.py
  spyder/plugins/remoteclient/__init__.py
  spyder/plugins/remoteclient/api/client.py
  spyder/plugins/remoteclient/api/jupyterhub/__init__.py
Labels: type:Enhancement, component:Remote client

#23120 PR: Update translations for 6.0.3
  spyder/locale/de/LC_MESSAGES/spyder.po
  spyder/locale/es/LC_MESSAGES/spyder.po
  spyder/locale/fa/LC_MESSAGES/spyder.po
  spyder/locale/fr/LC_MESSAGES/spyder.po
  spyder/locale/hr/LC_MESSAGES/spyder.po
  spyder/locale/hu/LC_MESSAGES/spyder.po
  spyder/locale/ja/LC_MESSAGES/spyder.po
  spyder/locale/pl/LC_MESSAGES/spyder.po
  spyder/locale/pt_BR/LC_MESSAGES/spyder.po
  spyder/locale/ru/LC_MESSAGES/spyder.po
  spyder/locale/spyder.pot
  spyder/locale/te/LC_MESSAGES/spyder.po
  spyder/locale/uk/LC_MESSAGES/spyder.po
  spyder/locale/zh_CN/LC_MESSAGES/spyder.po
Labels: type:Task
