Repository spyder-ide/spyder, pull requests merged in 2024-12, with the labels that each got.

#23024 PR: Restore widget shortcuts to Preferences and allow to change them on the fly (Shortcuts)
  changelogs/Spyder-6.md
  conftest.py
  spyder/api/config/mixins.py
  spyder/api/plugins/new_api.py
  spyder/api/shortcuts.py
  spyder/api/widgets/mixins.py
  spyder/app/mainwindow.py
  spyder/app/tests/spyder-boilerplate/setup.py
  spyder/app/tests/spyder-boilerplate/spyder_boilerplate/spyder/plugin.py
  spyder/app/tests/test_mainwindow.py
  spyder/config/main.py
  spyder/config/manager.py
  spyder/config/tests/test_user.py
  spyder/config/user.py
  spyder/plugins/console/widgets/shell.py
  spyder/plugins/editor/widgets/codeeditor/tests/conftest.py
  spyder/plugins/editor/widgets/codeeditor/tests/test_codeeditor.py
  spyder/plugins/editor/widgets/editorstack/editorstack.py
  spyder/plugins/editor/widgets/editorstack/tests/conftest.py
  spyder/plugins/editor/widgets/editorstack/tests/test_editorstack.py
  spyder/plugins/editor/widgets/editorstack/tests/test_editorstack_and_outline.py
  spyder/plugins/editor/widgets/editorstack/tests/test_save.py
  spyder/plugins/editor/widgets/editorstack/tests/test_shortcuts.py
  spyder/plugins/editor/widgets/tabswitcher.py
  spyder/plugins/editor/widgets/tests/test_editorsplitter.py
  spyder/plugins/ipythonconsole/widgets/shell.py
  spyder/plugins/shortcuts/plugin.py
  spyder/plugins/shortcuts/tests/test_shortcuts.py
  spyder/plugins/shortcuts/utils.py
  spyder/plugins/shortcuts/widgets/table.py
  spyder/plugins/switcher/container.py
  spyder/widgets/tabs.py
Labels: type:Bug, component:Preferences

#23137 Backport PR #23024 on branch 6.x (PR: Restore widget shortcuts to Preferences and allow to change them on the fly (Shortcuts))
  changelogs/Spyder-6.md
  conftest.py
  spyder/api/config/mixins.py
  spyder/api/plugins/new_api.py
  spyder/api/shortcuts.py
  spyder/api/widgets/mixins.py
  spyder/app/mainwindow.py
  spyder/app/tests/spyder-boilerplate/setup.py
  spyder/app/tests/spyder-boilerplate/spyder_boilerplate/spyder/plugin.py
  spyder/app/tests/test_mainwindow.py
  spyder/config/main.py
  spyder/config/manager.py
  spyder/config/tests/test_user.py
  spyder/config/user.py
  spyder/plugins/console/widgets/shell.py
  spyder/plugins/editor/widgets/codeeditor/tests/conftest.py
  spyder/plugins/editor/widgets/codeeditor/tests/test_codeeditor.py
  spyder/plugins/editor/widgets/editorstack/editorstack.py
  spyder/plugins/editor/widgets/editorstack/tests/conftest.py
  spyder/plugins/editor/widgets/editorstack/tests/test_editorstack.py
  spyder/plugins/editor/widgets/editorstack/tests/test_editorstack_and_outline.py
  spyder/plugins/editor/widgets/editorstack/tests/test_save.py
  spyder/plugins/editor/widgets/editorstack/tests/test_shortcuts.py
  spyder/plugins/editor/widgets/tabswitcher.py
  spyder/plugins/editor/widgets/tests/test_editorsplitter.py
  spyder/plugins/ipythonconsole/widgets/shell.py
  spyder/plugins/shortcuts/plugin.py
  spyder/plugins/shortcuts/tests/test_shortcuts.py
  spyder/plugins/shortcuts/utils.py
  spyder/plugins/shortcuts/widgets/table.py
  spyder/plugins/switcher/container.py
  spyder/widgets/tabs.py
Labels: type:Bug, component:Preferences

#23055 PR: Choose Qt binding to install from `SPYDER_QT_BINDING` environment variable
  setup.py
  spyder/tests/test_dependencies_in_sync.py
Labels: Package:PyQt, type:Task, Package:Qt

#23142 Backport PR #23055 on branch 6.x (PR: Choose Qt binding to install from `SPYDER_QT_BINDING` environment variable)
  setup.py
  spyder/tests/test_dependencies_in_sync.py
Labels: Package:PyQt, type:Task, Package:Qt

#23144 PR: Fix `DeprecationWarning: module 'sre_constants' is deprecated`
  spyder/plugins/editor/widgets/codeeditor/codeeditor.py
  spyder/widgets/browser.py
  spyder/widgets/mixins.py
Labels: component:Editor, type:Task

#23145 PR: Don't register shortcuts for find/replace related actions that go in the Search menu (Editor)
  spyder/plugins/editor/widgets/main_widget.py
Labels: type:Bug, component:Editor, component:Main Window

#23161 PR: Register shortcuts for widgets directly (API)
  spyder/api/shortcuts.py
  spyder/app/tests/test_mainwindow.py
  spyder/plugins/editor/widgets/codeeditor/tests/conftest.py
  spyder/plugins/editor/widgets/codeeditor/tests/test_codeeditor.py
  spyder/plugins/editor/widgets/editorstack/tests/test_shortcuts.py
Labels: type:Bug, component:Main Window

#23162 Backport PR #23145 on branch 6.x (PR: Don't register shortcuts for find/replace related actions that go in the Search menu (Editor))
  spyder/plugins/editor/widgets/main_widget.py
Labels: type:Bug, component:Editor, component:Main Window

#23163 Backport PR #23161 on branch 6.x (PR: Register shortcuts for widgets directly (API))
  spyder/api/shortcuts.py
  spyder/app/tests/test_mainwindow.py
  spyder/plugins/editor/widgets/codeeditor/tests/conftest.py
  spyder/plugins/editor/widgets/codeeditor/tests/test_codeeditor.py
  spyder/plugins/editor/widgets/editorstack/tests/test_shortcuts.py
Labels: type:Bug, component:Main Window

#23165 PR: UI fixes for the Appearance config page and find/replace widget on Mac
  spyder/plugins/appearance/confpage.py
  spyder/widgets/findreplace.py
Labels: type:Enhancement, component:Preferences, User Interface (UI)

#23170 Backport PR #23165 on branch 6.x (PR: UI fixes for the Appearance config page and find/replace widget on Mac )
  spyder/plugins/appearance/confpage.py
  spyder/widgets/findreplace.py
Labels: type:Enhancement, component:Preferences, User Interface (UI)

#23177 PR: Remove from intro tour steps for unavailable plugins (Tours)
  spyder/plugins/tours/plugin.py
Labels: type:Bug, component:Main Window

#23179 Backport PR #23177 on branch 6.x (PR: Remove from intro tour steps for unavailable plugins (Tours))
  spyder/plugins/tours/plugin.py
Labels: type:Bug, component:Main Window

#23178 PR: Add release instructions on how to update the Conda-forge `rc` feedstock channel (Installers)
  RELEASE.md
Labels: type:Task

#23200 Backport PR #23178 on branch 6.x (PR: Add release instructions on how to update the Conda-forge `rc` feedstock channel (Installers))
  RELEASE.md
Labels: type:Task

#23201 PR: Update `spyder-kernels` to 3.0.2 and add constraint for `pyqt5-sip` on Python 3.8
  binder/environment.yml
  external-deps/spyder-kernels/.gitrepo
  external-deps/spyder-kernels/CHANGELOG.md
  external-deps/spyder-kernels/RELEASE.md
  external-deps/spyder-kernels/spyder_kernels/_version.py
  requirements/main.yml
  setup.py
  spyder/dependencies.py
  spyder/tests/test_dependencies_in_sync.py
Labels: type:Task

#23213 PR: Add constraint for `pyqt5-sip` on Python 3.8 (Dependencies)
  setup.py
  spyder/tests/test_dependencies_in_sync.py
Labels: type:Bug, dependencies

#23211 PR: Enable/disable the `Configuration per file` action according to the current file run configuration (Run)
  spyder/plugins/run/container.py
Labels: type:Bug, component:Run

#23215 Backport PR #23211 on branch 6.x (PR: Enable/disable the `Configuration per file` action according to the current file run configuration (Run))
  spyder/plugins/run/container.py
Labels: type:Bug, component:Run

#23217 PR: A couple of fixes for the Internal console
  spyder/plugins/console/widgets/main_widget.py
  spyder/plugins/console/widgets/shell.py
Labels: type:Bug, internal console

#23218 Backport PR #23217 on branch 6.x (PR: A couple of fixes for the Internal console)
  spyder/plugins/console/widgets/main_widget.py
  spyder/plugins/console/widgets/shell.py
Labels: type:Bug, internal console

#23233 PR: Fix error when inserting items in DataFrameEditor (Variable Explorer)
  spyder/plugins/variableexplorer/widgets/dataframeeditor.py
Labels: type:Bug, component:Variable Explorer

#23234 Backport PR #23233 on branch 6.x (PR: Fix error when inserting items in DataFrameEditor (Variable Explorer))
  spyder/plugins/variableexplorer/widgets/dataframeeditor.py
Labels: type:Bug, component:Variable Explorer

#23235 PR: Minor improvements to `RELEASE.md` release candidate section
  RELEASE.md
Labels: type:Task

#23236 Backport PR #23235 on branch 6.x (PR: Minor improvements to `RELEASE.md` release candidate section)
  RELEASE.md
Labels: type:Task

#23244 PR: Update Changelog, Announcements and metadata files for 6.0.3
  Announcements.md
  changelogs/Spyder-6.md
  scripts/org.spyder_ide.spyder.appdata.xml
Labels: type:Task

#23245 Backport PR #23244 on branch 6.x (PR: Update Changelog, Announcements and metadata files for 6.0.3)
  Announcements.md
  changelogs/Spyder-6.md
  scripts/org.spyder_ide.spyder.appdata.xml
Labels: type:Task

#23230 PR: Improve displaying several kernel error messages (IPython console)
  spyder/plugins/ipythonconsole/__init__.py
  spyder/plugins/ipythonconsole/utils/client.py
  spyder/plugins/ipythonconsole/utils/kernel_handler.py
Labels: type:Enhancement, component:IPython Console, User Experience (UX)

#23254 PR: Set python_min environment variable for subrepo conda package builds
  .github/workflows/build-subrepos.yml
Labels: type:Task, Installers

#23261 Backport PR #23254 on branch 6.x (PR: Set python_min environment variable for subrepo conda package builds)
  .github/workflows/build-subrepos.yml
Labels: type:Task, Installers

#23255 PR: Fix invalid workflow issue with `purge_cache.yml`
  .github/workflows/build-subrepos.yml
Labels: type:Task

#23262 Backport PR #23255 on branch 6.x (PR: Fix invalid workflow issue with `purge_cache.yml`)
  .github/workflows/build-subrepos.yml
Labels: type:Task

#23260 Backport PR #23230 on branch 6.x (PR: Improve displaying several kernel error messages (IPython console))
  spyder/plugins/ipythonconsole/__init__.py
  spyder/plugins/ipythonconsole/utils/client.py
  spyder/plugins/ipythonconsole/utils/kernel_handler.py
Labels: type:Enhancement, component:IPython Console, User Experience (UX)

#23231 PR: Improve reporting status and logger messages (Remote client)
  spyder/plugins/remoteclient/api/client.py
  spyder/plugins/remoteclient/widgets/connectionstatus.py
Labels: type:Enhancement, User Interface (UI), User Experience (UX), component:Remote client

#23264 Backport PR #23231 on branch 6.x (PR: Improve reporting status and logger messages (Remote client))
  spyder/plugins/remoteclient/api/client.py
  spyder/plugins/remoteclient/widgets/connectionstatus.py
Labels: type:Enhancement, User Interface (UI), User Experience (UX), component:Remote client

#23266 Backport PR #23263 on branch 6.x (PR: Skip checking for updates on unsupported platforms)
  spyder/plugins/updatemanager/widgets/update.py
Labels: type:Bug, component:Update manager

#23273 PR: Don't hide control debugger buttons from main toolbar while executing
  spyder/plugins/debugger/widgets/main_widget.py
Labels: type:Bug, component:Debugger

#23292 Backport PR #23273 on branch 6.x (PR: Don't hide control debugger buttons from main toolbar while executing)
  spyder/plugins/debugger/widgets/main_widget.py
Labels: type:Bug, component:Debugger

#23316 PR: Prevent Chinese input method to block edit input area
  spyder/plugins/ipythonconsole/widgets/control.py
  spyder/widgets/mixins.py
Labels: type:Bug, component:Editor, component:IPython Console

#23319 Backport PR #23316 on branch 6.x (PR: Prevent Chinese input method to block edit input area
  spyder/plugins/ipythonconsole/widgets/control.py
  spyder/widgets/mixins.py
Labels: type:Bug, component:Editor, component:IPython Console

#23320 PR: Make `TextEditBaseWidget.__move_line_or_selection` public
  spyder/plugins/editor/widgets/base.py
  spyder/plugins/editor/widgets/codeeditor/codeeditor.py
Labels: component:Editor, type:Task

#23360 PR: Fix detecting Micromamba on Windows for kernel activation (IPython console)
  spyder/plugins/ipythonconsole/utils/kernelspec.py
Labels: type:Bug, OS:Windows, component:IPython Console

#23362 Backport PR #23360 on branch 6.x (PR: Fix detecting Micromamba on Windows for kernel activation (IPython console))
  spyder/plugins/ipythonconsole/utils/kernelspec.py
Labels: type:Bug, OS:Windows, component:IPython Console

#23369 PR: Fix shortcut stop debugger
  spyder/plugins/editor/widgets/editorstack/editorstack.py
Labels: component:Editor, component:Debugger

#23380 Backport PR #23369 on branch 6.x (PR: Fix shortcut to stop the debugger)
  spyder/plugins/editor/widgets/editorstack/editorstack.py
Labels: component:Editor, component:Debugger

#23384 PR: Don't install `spyder-boilerplate` testing plugin in editable mode (CI)
  .github/scripts/install.sh
Labels: type:Task

#23385 Backport PR #23384 on branch 6.x (PR: Don't install `spyder-boilerplate` testing plugin in editable mode (CI))
  .github/scripts/install.sh
Labels: type:Task
