Repository spyder-ide/spyder, pull requests merged in 2024-02, with the labels that each got.

#21761 PR: Update to download-artifact@v4 and upload-artifact@v4 (CI)
  .github/workflows/installer-macos.yml
  .github/workflows/installer-win.yml
  .github/workflows/installers-conda.yml
Labels: type:Task

#21762 PR: Improve performance of workspace watcher (Projects)
  spyder/config/utils.py
  spyder/plugins/projects/tests/test_plugin.py
  spyder/plugins/projects/utils/watcher.py
Labels: type:Enhancement, component:Projects

#21763 PR: Fix error when trying to set an empty scale factor (Preferences)
  spyder/plugins/application/confpage.py
Labels: type:Bug, component:Preferences

#21766 PR: Build arm64 versions of Spyder's standalone macOS application
  .github/workflows/installer-macos.yml
  installers/macOS/req-build.txt
  installers/macOS/setup.py
Labels: type:Enhancement, OS:MacOS, Installers

#21770 PR: Use Python 3.9.14 for x86_64 macOS application build
  .github/workflows/installer-macos.yml
Labels: type:Bug, OS:MacOS, Installers

#21669 PR: Fix folding and make some performance improvements (Editor)
  spyder/plugins/completion/providers/languageserver/providers/document.py
  spyder/plugins/debugger/utils/breakpointsmanager.py
  spyder/plugins/editor/api/decoration.py
  spyder/plugins/editor/api/editorextension.py
  spyder/plugins/editor/extensions/snippets.py
  spyder/plugins/editor/panels/codefolding.py
  spyder/plugins/editor/panels/scrollflag.py
  spyder/plugins/editor/panels/tests/test_scrollflag.py
  spyder/plugins/editor/panels/utils.py
  spyder/plugins/editor/utils/decoration.py
  spyder/plugins/editor/widgets/base.py
  spyder/plugins/editor/widgets/codeeditor/codeeditor.py
  spyder/plugins/editor/widgets/codeeditor/lsp_mixin.py
  spyder/plugins/editor/widgets/codeeditor/tests/test_decorations.py
  spyder/plugins/editor/widgets/codeeditor/tests/test_folding.py
  spyder/plugins/editor/widgets/codeeditor/tests/test_hints_and_calltips.py
  spyder/plugins/editor/widgets/editorstack/tests/test_save.py
  spyder/utils/icon_manager.py
  spyder/widgets/mixins.py
Labels: type:Bug, type:Enhancement, component:Editor, component:Code Completion and linting, User Interface (UI)

#21647 PR: Update for new menuinst and friends and new Spyder feedstock (Installers)
  .github/scripts/installer_test.sh
  .github/workflows/build-subrepos.yml
  .github/workflows/installers-conda.yml
  installers-conda/build-environment.yml
  installers-conda/build_conda_pkgs.py
  installers-conda/build_installers.py
  installers-conda/certkeychain.sh
  installers-conda/resources/menuinst_cli.py
  installers-conda/resources/post-install.bat
  installers-conda/resources/post-install.sh
  installers-conda/resources/pre-install.bat
  installers-conda/resources/pre-install.sh
  installers-conda/resources/spyder-menu.json
  spyder/config/base.py
  spyder/plugins/updatemanager/scripts/install.bat
  spyder/plugins/updatemanager/scripts/install.sh
  spyder/utils/environ.py
Labels: type:Task, Installers

#21774 PR: Update core dependencies for 6.0.0 alpha4
  binder/environment.yml
  external-deps/spyder-kernels/.gitrepo
  external-deps/spyder-kernels/CHANGELOG.md
  requirements/main.yml
  setup.py
  spyder/dependencies.py
  spyder/plugins/ipythonconsole/__init__.py
Labels: type:Task

#21392 PR: Add macOS-arm64 target platform using M1 runner (Installers)
  .github/workflows/installers-conda.yml
Labels: type:Enhancement, Installers

#21783 PR: Always activate a conda environment for IPython consoles
  spyder/plugins/ipythonconsole/utils/kernelspec.py
Labels: type:Bug, component:IPython Console

#21788 PR: Avoid `conda run` capturing output in env activation (IPython console)
  spyder/app/tests/test_mainwindow.py
  spyder/plugins/editor/widgets/codeeditor/tests/test_hints_and_calltips.py
  spyder/plugins/ipythonconsole/tests/test_ipythonconsole.py
  spyder/plugins/ipythonconsole/utils/kernel_handler.py
  spyder/plugins/ipythonconsole/utils/kernelspec.py
  spyder/plugins/ipythonconsole/widgets/client.py
  spyder/plugins/ipythonconsole/widgets/main_widget.py
  spyder/plugins/ipythonconsole/widgets/mixins.py
  spyder/plugins/projects/widgets/main_widget.py
Labels: type:Bug, component:IPython Console

#21666 PR: Unify UI of editors in Variable Explorer and simplify code
  spyder/api/widgets/main_widget.py
  spyder/api/widgets/mixins.py
  spyder/plugins/variableexplorer/widgets/arrayeditor.py
  spyder/plugins/variableexplorer/widgets/dataframeeditor.py
  spyder/plugins/variableexplorer/widgets/main_widget.py
  spyder/plugins/variableexplorer/widgets/objectexplorer/objectexplorer.py
  spyder/plugins/variableexplorer/widgets/objectexplorer/tests/test_objectexplorer.py
  spyder/plugins/variableexplorer/widgets/objectexplorer/toggle_column_mixin.py
  spyder/plugins/variableexplorer/widgets/tests/test_dataframeeditor.py
  spyder/widgets/collectionseditor.py
Labels: component:Variable Explorer, User Interface (UI)

#21804 PR: Use UTF-8 by default for Python files per PEP3120
  spyder/utils/encoding.py
  spyder/utils/tests/copyright.py
  spyder/utils/tests/copyright.txt
  spyder/utils/tests/iso8859-9.py
  spyder/utils/tests/test_encoding.py
Labels: type:Bug, component:Editor

#21813 PR: Additional UI/UX improvements for Files and Projects
  spyder/api/widgets/mixins.py
  spyder/app/mainwindow.py
  spyder/app/utils.py
  spyder/config/utils.py
  spyder/plugins/explorer/widgets/explorer.py
  spyder/plugins/explorer/widgets/utils.py
  spyder/plugins/findinfiles/widgets/search_thread.py
  spyder/plugins/projects/plugin.py
  spyder/plugins/projects/utils/watcher.py
  spyder/plugins/projects/widgets/main_widget.py
  spyder/plugins/projects/widgets/projectexplorer.py
  spyder/plugins/variableexplorer/widgets/dataframeeditor.py
  spyder/plugins/variableexplorer/widgets/objectexplorer/objectexplorer.py
  spyder/plugins/variableexplorer/widgets/objectexplorer/toggle_column_mixin.py
  spyder/utils/icon_manager.py
  spyder/utils/stylesheet.py
  spyder/widgets/collectionseditor.py
Labels: type:Enhancement, component:Projects, User Interface (UI), User Experience (UX), component:File Explorer

#21784 PR: Do not use version in macOS artifact name and fix names for the future Spyder 6 installers (Installers)
  installers/macOS/setup.py
  spyder/plugins/application/container.py
  spyder/workers/updates.py
Labels: type:Bug, Installers

#21834 PR: Fix hangs when using Matplotlib interactive backends (IPython console)
  .github/scripts/install.sh
  binder/environment.yml
  external-deps/spyder-kernels/.github/workflows/linux-pip-tests.yml
  external-deps/spyder-kernels/.github/workflows/linux-tests.yml
  external-deps/spyder-kernels/.github/workflows/macos-tests.yml
  external-deps/spyder-kernels/.gitrepo
  external-deps/spyder-kernels/requirements/posix.txt
  external-deps/spyder-kernels/requirements/windows.txt
  external-deps/spyder-kernels/setup.py
  requirements/main.yml
  setup.py
  spyder/dependencies.py
Labels: type:Bug, component:IPython Console

#21842 PR: Update core dependencies for 5.5.2
  .github/scripts/install.sh
  binder/environment.yml
  external-deps/spyder-kernels/.gitrepo
  external-deps/spyder-kernels/CHANGELOG.md
  requirements/main.yml
  setup.py
  spyder/dependencies.py
Labels: type:Task
