Repository spyder-ide/spyder, pull requests merged in 2025-03, with the labels that each got.

#23721 PR: Use `AsyncDispatcher` as class decorator (API)
  changelogs/Spyder-6.md
  spyder/api/asyncdispatcher.py
  spyder/plugins/ipythonconsole/utils/client.py
  spyder/plugins/remoteclient/api/modules/base.py
  spyder/plugins/remoteclient/plugin.py
  spyder/plugins/remoteclient/tests/test_files.py
  spyder/plugins/remoteclient/widgets/container.py
Labels: type:Enhancement

#23846 PR: Close tour when it loses focus
  spyder/plugins/tours/widgets.py
Labels: type:Bug, component:Main Window

#23876 PR: Update Ubuntu to 22.04 because the 20.04 image will be removed (CI)
  .github/workflows/test-linux-qt6.yml
  .github/workflows/test-linux.yml
  .github/workflows/test-remoteclient.yml
Labels: type:Task

#23879 Backport PR #23876 on branch 6.x (PR: Update Ubuntu to 22.04 because the 20.04 image will be removed (CI))
  .github/workflows/test-linux.yml
  .github/workflows/test-remoteclient.yml
Labels: type:Task

#23874 Backport PR #23846 on branch 6.x (PR: Close tour when it loses focus)
  spyder/plugins/tours/widgets.py
Labels: type:Bug, component:Main Window

#23841 PR: Fix running `test_update_outline` on CI
  .github/scripts/run_tests.sh
  .github/workflows/test-linux-qt6.yml
  .github/workflows/test-linux.yml
  .github/workflows/test-mac.yml
  .github/workflows/test-remoteclient.yml
  .github/workflows/test-win.yml
  conftest.py
  spyder/app/tests/test_mainwindow.py
Labels: type:Task

#23848 PR: Give a more informative error message if font load fails while launching Spyder (Main window)
  binder/environment.yml
  requirements/main.yml
  setup.py
  spyder/app/mainwindow.py
  spyder/dependencies.py
Labels: type:Bug, component:Main Window

#23889 Backport PR #23848 on branch 6.x (PR: Give a more informative error message if font load fails while launching Spyder (Main window))
  binder/environment.yml
  requirements/main.yml
  setup.py
  spyder/app/mainwindow.py
  spyder/dependencies.py
Labels: type:Bug, component:Main Window

#23869 PR: Add validation for conda version, raise error if using version <4.9 and if conda executable can't be detected (IPython Console)
  spyder/plugins/ipythonconsole/utils/kernelspec.py
  spyder/utils/conda.py
Labels: type:Bug, component:IPython Console

#23891 Backport PR #23869 on branch 6.x (PR: Add validation for conda version, raise error if using version <4.9 and if conda executable can't be detected (IPython Console))
  spyder/plugins/ipythonconsole/utils/kernelspec.py
  spyder/utils/conda.py
Labels: type:Bug, component:IPython Console

#23892 PR: Declare `File` as super context when Run plugin is created
  spyder/app/tests/test_mainwindow.py
  spyder/plugins/run/container.py
Labels: type:Bug, component:Run

#23904 Backport PR #23892 on branch 6.x (PR: Declare `File` as super context when Run plugin is created)
  spyder/app/tests/test_mainwindow.py
  spyder/plugins/run/container.py
Labels: type:Bug, component:Run

#23905 PR: Set the current working directory used by the Run plugin directly in the Working directory plugin
  spyder/app/tests/test_mainwindow.py
  spyder/plugins/workingdirectory/plugin.py
Labels: type:Bug, component:Run

#23910 Backport PR #23905 on branch 6.x (PR: Set the current working directory used by the Run plugin directly in the Working directory plugin)
  spyder/app/tests/test_mainwindow.py
  spyder/plugins/workingdirectory/plugin.py
Labels: type:Bug, component:Run

#23918 PR: Add message for Pixi created envs when conda executable is not found (IPython Console)
  spyder/plugins/ipythonconsole/utils/kernelspec.py
Labels: component:IPython Console

#23926 Backport PR #23918 on branch 6.x (PR: Add message for Pixi created envs when conda executable is not found (IPython Console))
  spyder/plugins/ipythonconsole/utils/kernelspec.py
Labels: component:IPython Console

#23833 PR: Adjust index column to contents when clicking the button for that in dataframe editor (Variable Explorer)
  spyder/plugins/variableexplorer/widgets/dataframeeditor.py
Labels: type:Bug, component:Variable Explorer, User Interface (UI)

#23928 Backport PR #23833 on branch 6.x (PR: Adjust index column to contents when clicking the button for that in dataframe editor (Variable Explorer))
  spyder/plugins/variableexplorer/widgets/dataframeeditor.py
Labels: type:Bug, component:Variable Explorer, User Interface (UI)

#23932 PR: Fix `sig_current_directory_changed` signal of the Working directory plugin
  changelogs/Spyder-6.md
  spyder/app/tests/test_mainwindow.py
  spyder/plugins/explorer/plugin.py
  spyder/plugins/findinfiles/plugin.py
  spyder/plugins/ipythonconsole/plugin.py
  spyder/plugins/ipythonconsole/widgets/main_widget.py
  spyder/plugins/workingdirectory/container.py
  spyder/plugins/workingdirectory/plugin.py
Labels: type:Bug, component:Working directory

#23944 PR: Check async changes to debugger completions (IPython console)
  external-deps/spyder-kernels/.gitrepo
  external-deps/spyder-kernels/conftest.py
  external-deps/spyder-kernels/requirements/tests.txt
  external-deps/spyder-kernels/setup.py
  external-deps/spyder-kernels/spyder_kernels/console/kernel.py
  external-deps/spyder-kernels/spyder_kernels/console/tests/test_console_kernel.py
  external-deps/spyder-kernels/spyder_kernels/customize/spyderpdb.py
  external-deps/spyder-kernels/spyder_kernels/utils/tests/test_iofuncs.py
Labels: type:Task

#23946 PR: Update `spyder-kernels` to 3.1.0a1 (for Spyder 6.1.0a1)
  .github/workflows/installers-conda.yml
  binder/environment.yml
  external-deps/spyder-kernels/.gitrepo
  external-deps/spyder-kernels/CHANGELOG.md
  external-deps/spyder-kernels/spyder_kernels/_version.py
  installers-conda/build_installers.py
  requirements/main.yml
  setup.py
  spyder/dependencies.py
  spyder/plugins/ipythonconsole/__init__.py
Labels: type:Task

#23948 PR: Update Changelog for 6.1.0a1
  changelogs/Spyder-6.md
Labels: type:Task

#23920 PR: Prevent collapsing splitter widgets in the Plots plugin
  spyder/plugins/plots/widgets/figurebrowser.py
Labels: type:Bug, component:Plots

#23950 Backport PR #23920 on branch 6.x (PR: Prevent collapsing splitter widgets in the Plots plugin)
  spyder/plugins/plots/widgets/figurebrowser.py
Labels: type:Bug, component:Plots

#23955 PR: Update focused file for Run plugin after a `Save as` operation (Editor)
  spyder/app/tests/test_mainwindow.py
  spyder/plugins/editor/widgets/main_widget.py
Labels: type:Bug, component:Editor

#23845 PR: Make `infowidget` a `property` to prevent errors when it's garbage collected (IPython console)
  spyder/plugins/ipythonconsole/widgets/main_widget.py
Labels: type:Bug, component:IPython Console

#23956 Backport PR #23955 on branch 6.x (PR: Update focused file for Run plugin after a `Save as` operation (Editor))
  spyder/app/tests/test_mainwindow.py
  spyder/plugins/editor/widgets/main_widget.py
Labels: type:Bug, component:Editor

#23957 Backport PR #23845 on branch 6.x (PR: Make `infowidget` a `property` to prevent errors when it's garbage collected (IPython console))
  spyder/plugins/ipythonconsole/widgets/main_widget.py
Labels: type:Bug, component:IPython Console

#23954 PR: Allow to set keyboard shortcut for `Run in external terminal` action
  spyder/plugins/externalterminal/plugin.py
  spyder/plugins/run/container.py
Labels: type:Bug, User Experience (UX), component:Run

#23964 Backport PR #23903 on branch 6.x (PR: Fix text being cropped in some config pages (Preferences))
  spyder/plugins/completion/providers/languageserver/conftabs/otherlanguages.py
  spyder/plugins/completion/providers/snippets/conftabs.py
  spyder/plugins/editor/confpage.py
  spyder/plugins/explorer/widgets/fileassociations.py
  spyder/plugins/ipythonconsole/confpage.py
  spyder/plugins/remoteclient/widgets/connectiondialog.py
  spyder/widgets/config.py
  spyder/widgets/sidebardialog.py
Labels: type:Bug, component:Preferences, User Interface (UI)

#23966 Backport PR #23954 on branch 6.x (PR: Allow to set keyboard shortcut for `Run in external terminal` action)
  spyder/plugins/externalterminal/plugin.py
  spyder/plugins/run/container.py
Labels: type:Bug, User Experience (UX), component:Run

#23965 PR: Add option to disable searching files in the switcher (Projects)
  spyder/config/main.py
  spyder/plugins/projects/widgets/main_widget.py
Labels: type:Enhancement, component:Projects

#23967 Backport PR #23965 on branch 6.x (PR: Add option to disable searching files in the switcher (Projects))
  spyder/config/main.py
  spyder/plugins/projects/widgets/main_widget.py
Labels: type:Enhancement, component:Projects

#23968 PR: Use Bash to run the `spyder-remote-services` installation script (Remote client)
  spyder/plugins/remoteclient/utils/installation.py
Labels: type:Bug, component:Remote client

#23977 Backport PR #23968 on branch 6.x (PR: Use Bash to run the `spyder-remote-services` installation script (Remote client))
  spyder/plugins/remoteclient/utils/installation.py
Labels: type:Bug, component:Remote client

#23902 PR: Various minor fixes
  spyder/plugins/debugger/widgets/framesbrowser.py
  spyder/plugins/explorer/widgets/explorer.py
  spyder/plugins/run/plugin.py
  spyder/utils/vcs.py
Labels: type:Bug

#23732 PR: Fixes to make the app work with PySide6
  spyder/api/config/mixins.py
  spyder/api/widgets/comboboxes.py
  spyder/api/widgets/main_container.py
  spyder/api/widgets/main_widget.py
  spyder/api/widgets/mixins.py
  spyder/api/widgets/status.py
  spyder/app/tests/test_mainwindow.py
  spyder/plugins/completion/api.py
  spyder/plugins/debugger/widgets/breakpoint_table_view.py
  spyder/plugins/debugger/widgets/framesbrowser.py
  spyder/plugins/editor/api/decoration.py
  spyder/plugins/editor/utils/editor.py
  spyder/plugins/editor/utils/switcher_manager.py
  spyder/plugins/editor/widgets/codeeditor/codeeditor.py
  spyder/plugins/editor/widgets/editorstack/editorstack.py
  spyder/plugins/editor/widgets/main_widget.py
  spyder/plugins/editor/widgets/splitter.py
  spyder/plugins/explorer/widgets/explorer.py
  spyder/plugins/findinfiles/widgets/main_widget.py
  spyder/plugins/findinfiles/widgets/results_browser.py
  spyder/plugins/help/widgets.py
  spyder/plugins/ipythonconsole/widgets/control.py
  spyder/plugins/outlineexplorer/widgets.py
  spyder/plugins/plots/widgets/figurebrowser.py
  spyder/plugins/profiler/widgets/main_widget.py
  spyder/plugins/pylint/main_widget.py
  spyder/plugins/pythonpath/widgets/pathmanager.py
  spyder/plugins/switcher/widgets/switcher.py
  spyder/plugins/toolbar/container.py
  spyder/plugins/variableexplorer/widgets/namespacebrowser.py
  spyder/plugins/workingdirectory/container.py
  spyder/widgets/browser.py
  spyder/widgets/comboboxes.py
  spyder/widgets/findreplace.py
  spyder/widgets/onecolumntree.py
Labels: Package:PySide, type:Task

#23898 PR: Catch error when trying to connect to a non-existing connection file (IPython console)
  spyder/plugins/ipythonconsole/widgets/kernelconnect.py
  spyder/plugins/ipythonconsole/widgets/tests/test_kernelconnect.py
Labels: type:Bug, component:IPython Console

#23992 Backport PR #23898 on branch 6.x (PR: Catch error when trying to connect to a non-existing connection file (IPython console))
  spyder/plugins/ipythonconsole/widgets/kernelconnect.py
  spyder/plugins/ipythonconsole/widgets/tests/test_kernelconnect.py
Labels: type:Bug, component:IPython Console

#23993 Backport PR #23991 on branch 6.x (PR: Improve message we show when getting a variable fails (Variable Explorer))
  spyder/plugins/ipythonconsole/widgets/namespacebrowser.py
  spyder/plugins/variableexplorer/widgets/collectionsdelegate.py
Labels: type:Bug, component:Variable Explorer, User Experience (UX)

#23278 PR: Reduce calls to get environment variables in `SpyderKernelSpec` and raise timeout threshold to do that
  spyder/app/tests/test_mainwindow.py
  spyder/plugins/ipythonconsole/utils/kernelspec.py
  spyder/utils/environ.py
Labels: type:Enhancement, component:IPython Console

#24004 PR: More improvements to the message shown when a variable can't be displayed (Variable Explorer)
  spyder/plugins/ipythonconsole/widgets/namespacebrowser.py
Labels: type:Enhancement, component:Variable Explorer

#24005 Backport PR #24004 on branch 6.x (PR: More improvements to the message shown when a variable can't be displayed (Variable Explorer))
  spyder/plugins/ipythonconsole/widgets/namespacebrowser.py
Labels: type:Enhancement, component:Variable Explorer

#24006 PR: Update translations for 6.0.5
  spyder/locale/de/LC_MESSAGES/spyder.po
  spyder/locale/es/LC_MESSAGES/spyder.po
  spyder/locale/fa/LC_MESSAGES/spyder.po
  spyder/locale/fr/LC_MESSAGES/spyder.po
  spyder/locale/hr/LC_MESSAGES/spyder.po
  spyder/locale/hu/LC_MESSAGES/spyder.po
  spyder/locale/ja/LC_MESSAGES/spyder.po
  spyder/locale/pl/LC_MESSAGES/spyder.po
  spyder/locale/pt_BR/LC_MESSAGES/spyder.po
  spyder/locale/ru/LC_MESSAGES/spyder.po
  spyder/locale/spyder.pot
  spyder/locale/te/LC_MESSAGES/spyder.po
  spyder/locale/uk/LC_MESSAGES/spyder.po
  spyder/locale/zh_CN/LC_MESSAGES/spyder.po
Labels: type:Task

#24000 PR: Remove mamba from Spyder's installer build and base environment (Installers)
  installers-conda/build-environment.yml
  installers-conda/build_installers.py
  spyder/utils/conda.py
Labels: type:Bug, OS:Windows, Installers

#24013 Backport PR #24000 on branch 6.x (PR: Remove mamba from Spyder's installer build and base environment (Installers))
  installers-conda/build-environment.yml
  installers-conda/build_installers.py
  spyder/utils/conda.py
Labels: type:Bug, OS:Windows, Installers

#23978 PR: Fix case sensitivity and history when searching and replacing text in the Editor
  spyder/widgets/comboboxes.py
Labels: type:Bug, component:Editor

#24015 Backport PR #23978 on branch 6.x (PR: Fix case sensitivity and history when searching and replacing text in the Editor)
  spyder/widgets/comboboxes.py
Labels: type:Bug, component:Editor

#23720 PR: Refactor Remote Client kernel management
  changelogs/Spyder-6.md
  conftest.py
  runtests.py
  spyder/api/plugins/tests.py
  spyder/api/utils.py
  spyder/plugins/ipythonconsole/api.py
  spyder/plugins/ipythonconsole/plugin.py
  spyder/plugins/ipythonconsole/widgets/client.py
  spyder/plugins/ipythonconsole/widgets/main_widget.py
  spyder/plugins/ipythonconsole/widgets/shell.py
  spyder/plugins/ipythonconsole/widgets/tests/conftest.py
  spyder/plugins/ipythonconsole/widgets/tests/test_remotekernels.py
  spyder/plugins/remoteclient/api/__init__.py
  spyder/plugins/remoteclient/api/manager.py
  spyder/plugins/remoteclient/api/modules/__init__.py
  spyder/plugins/remoteclient/api/modules/base.py
  spyder/plugins/remoteclient/api/modules/file_services.py
  spyder/plugins/remoteclient/plugin.py
  spyder/plugins/remoteclient/tests/conftest.py
  spyder/plugins/remoteclient/tests/fixtures.py
  spyder/plugins/remoteclient/tests/test_files.py
  spyder/plugins/remoteclient/tests/test_plugin.py
  spyder/plugins/remoteclient/widgets/container.py
Labels: type:Enhancement, component:IPython Console, component:Remote client

#24008 PR: Fix `Check for updates at startup` checkbox being ignored when an update is declined (Update manager)
  spyder/plugins/updatemanager/widgets/update.py
Labels: type:Bug, component:Update manager

#24018 Backport PR #24008 on branch 6.x (PR: Fix `Check for updates at startup` checkbox being ignored when an update is declined (Update manager))
  spyder/plugins/updatemanager/widgets/update.py
Labels: type:Bug, component:Update manager

#24026 PR: Improve text of option to search files in the switcher (Projects)
  spyder/app/tests/test_mainwindow.py
  spyder/plugins/ipythonconsole/tests/test_ipythonconsole.py
  spyder/plugins/projects/widgets/main_widget.py
Labels: type:Enhancement, component:Projects, type:Task

#24027 Backport PR #24026 on branch 6.x (PR: Improve text of option to search files in the switcher (Projects))
  spyder/app/tests/test_mainwindow.py
  spyder/plugins/ipythonconsole/tests/test_ipythonconsole.py
  spyder/plugins/projects/widgets/main_widget.py
Labels: type:Enhancement, component:Projects, type:Task

#24033 PR: Update translations for 6.0.5 (part 2)
  spyder/locale/de/LC_MESSAGES/spyder.po
  spyder/locale/es/LC_MESSAGES/spyder.po
  spyder/locale/fa/LC_MESSAGES/spyder.po
  spyder/locale/fr/LC_MESSAGES/spyder.po
  spyder/locale/hr/LC_MESSAGES/spyder.po
  spyder/locale/hu/LC_MESSAGES/spyder.po
  spyder/locale/ja/LC_MESSAGES/spyder.po
  spyder/locale/pl/LC_MESSAGES/spyder.po
  spyder/locale/pt_BR/LC_MESSAGES/spyder.po
  spyder/locale/ru/LC_MESSAGES/spyder.po
  spyder/locale/spyder.pot
  spyder/locale/te/LC_MESSAGES/spyder.po
  spyder/locale/uk/LC_MESSAGES/spyder.po
  spyder/locale/zh_CN/LC_MESSAGES/spyder.po
Labels: type:Task

#24014 PR: Return an iterable from `ls` method of `SpyderRemoteFileServicesAPI` (Remote client)
  external-deps/spyder-remote-services/.gitrepo
  external-deps/spyder-remote-services/spyder_remote_services/services/files/base.py
  external-deps/spyder-remote-services/spyder_remote_services/services/files/handlers.py
  spyder/plugins/remoteclient/api/modules/file_services.py
  spyder/plugins/remoteclient/tests/test_files.py
Labels: type:Enhancement, component:Remote client

#24047 PR: Change donations link from Open Collective to our own page
  .github/FUNDING.yml
  README.md
  scripts/org.spyder_ide.spyder.appdata.xml
  spyder/plugins/application/widgets/appeal_page/dark/index.html
  spyder/plugins/application/widgets/appeal_page/light/index.html
Labels: type:Task

#24048 Backport PR #24047 on branch 6.x (PR: Change donations links from Open Collective to our own page)
  .github/FUNDING.yml
  README.md
  scripts/org.spyder_ide.spyder.appdata.xml
  spyder/plugins/application/widgets/appeal_page/dark/index.html
  spyder/plugins/application/widgets/appeal_page/light/index.html
Labels: type:Task

#24051 PR: Update Changelog, Announcements and metadata files for 6.0.5
  Announcements.md
  changelogs/Spyder-6.md
  scripts/org.spyder_ide.spyder.appdata.xml
Labels: type:Task

#24052 Backport PR #24051 on branch 6.x (PR: Update Changelog, Announcements and metadata files for 6.0.5)
  Announcements.md
  changelogs/Spyder-6.md
  scripts/org.spyder_ide.spyder.appdata.xml
Labels: type:Task

#24078 PR: Fix editing of large ints in the Variable Explorer
  spyder/plugins/variableexplorer/widgets/collectionsdelegate.py
  spyder/widgets/tests/test_collectioneditor.py
Labels: type:Bug, component:Variable Explorer

#24086 PR: Fix connecting to remote host with key file and passphrase (Remote client)
  binder/environment.yml
  requirements/main.yml
  setup.py
  spyder/dependencies.py
  spyder/plugins/remoteclient/plugin.py
  spyder/plugins/remoteclient/widgets/connectiondialog.py
Labels: type:Bug, component:Remote client

#24100 Backport PR #24086 on branch 6.x (PR: Fix connecting to remote host with key file and passphrase (Remote client))
  binder/environment.yml
  requirements/main.yml
  setup.py
  spyder/dependencies.py
  spyder/plugins/remoteclient/plugin.py
  spyder/plugins/remoteclient/widgets/connectiondialog.py
Labels: type:Bug, component:Remote client
