Repository spyder-ide/spyder, pull requests merged in 2025-08, with the labels that each got.

#24776 PR: Handle websocket message errors (IPython console)
  external-deps/spyder-remote-services/.gitrepo
  external-deps/spyder-remote-services/spyder_remote_services/app.py
  spyder/plugins/ipythonconsole/utils/websocket_client.py
  spyder/plugins/remoteclient/api/modules/base.py
Labels: type:Bug, component:IPython Console

#24807 PR: Allow plugins to hook into search actions (Application/Editor/IPython Console)
  changelogs/Spyder-6.md
  spyder/api/plugins/new_api.py
  spyder/plugins/application/container.py
  spyder/plugins/application/plugin.py
  spyder/plugins/application/tests/test_plugin.py
  spyder/plugins/editor/api/actions.py
  spyder/plugins/editor/plugin.py
  spyder/plugins/editor/widgets/main_widget.py
  spyder/plugins/help/plugin.py
  spyder/plugins/ipythonconsole/plugin.py
  spyder/plugins/onlinehelp/plugin.py
Labels: type:Enhancement, component:Editor, component:IPython Console, component:Main Window

#24817 PR: Update `max_min_col` after removing column in dataframe editor (Variable Explorer)
  spyder/plugins/variableexplorer/widgets/dataframeeditor.py
  spyder/plugins/variableexplorer/widgets/tests/test_dataframeeditor.py
Labels: type:Bug, component:Variable Explorer

#24801 PR: Allow to zoom in/out with Ctrl + mouse wheel (IPython console)
  external-deps/qtconsole/.gitrepo
  external-deps/qtconsole/SECURITY.md
  external-deps/qtconsole/qtconsole/console_widget.py
  external-deps/qtconsole/qtconsole/tests/test_00_console_widget.py
  external-deps/qtconsole/qtconsole/tests/test_comms.py
  external-deps/qtconsole/requirements/environment.yml
Labels: type:Enhancement, component:IPython Console

#24678 PR: Delete options to configure pycodestyle (Preferences)
  spyder/app/tests/test_mainwindow.py
  spyder/config/lsp.py
  spyder/plugins/completion/providers/languageserver/conftabs/__init__.py
  spyder/plugins/completion/providers/languageserver/conftabs/formatting.py
  spyder/plugins/completion/providers/languageserver/conftabs/linting.py
  spyder/plugins/completion/providers/languageserver/provider.py
  spyder/plugins/completion/providers/languageserver/tests/conftest.py
  spyder/plugins/completion/tests/test_configdialog.py
  spyder/plugins/editor/api/actions.py
  spyder/plugins/editor/panels/tests/test_scrollflag.py
  spyder/plugins/editor/tests/conftest.py
  spyder/plugins/editor/widgets/codeeditor/tests/test_formatting.py
  spyder/plugins/editor/widgets/codeeditor/tests/test_warnings.py
  spyder/plugins/editor/widgets/editorstack/editorstack.py
  spyder/plugins/editor/widgets/main_widget.py
Labels: component:Code Completion and linting, component:Preferences, type:Task

#24842 PR: Add methods to (un)register call handlers to `ShellWidget` (IPython console)
  spyder/app/tests/test_mainwindow.py
  spyder/plugins/debugger/widgets/main_widget.py
  spyder/plugins/ipythonconsole/widgets/shell.py
  spyder/plugins/ipythonconsole/widgets/status.py
Labels: type:Bug, component:IPython Console

#24847 PR: Remove `PYTHONEXECUTABLE` from `os.environ` upon launching Spyder
  spyder/app/start.py
Labels: type:Bug, OS:MacOS, component:IPython Console

#24839 PR: Prevent project creation on directories that have colons (Projects)
  spyder/plugins/projects/widgets/projectdialog.py
Labels: type:Bug, component:Projects

#24837 PR: Test using Python 3.12 across all platforms and remove skips (CI)
  .github/workflows/test-linux.yml
  .github/workflows/test-mac.yml
  .github/workflows/test-win.yml
  spyder/app/tests/test_mainwindow.py
  spyder/plugins/ipythonconsole/tests/test_ipythonconsole.py
Labels: type:Task

#24875 PR: Remove depreciated `locale.getdefaultlocale`
  spyder/config/base.py
Labels: Package:Python3, type:Task, upstream

#24895 PR: Prevent test failures on Mac and Windows (CI)
  .github/workflows/test-mac.yml
  .github/workflows/test-win.yml
  spyder/app/tests/test_mainwindow.py
  spyder/widgets/tests/test_sidebardialog.py
Labels: type:Task

#24902 PR: Update Changelog, Announcements and metadata files for 6.0.8
  Announcements.md
  changelogs/Spyder-6.md
  scripts/org.spyder_ide.spyder.appdata.xml
Labels: type:Task

#24904 Backport PR #24902 on branch 6.x (PR: Update Changelog, Announcements and metadata files for 6.0.8)
  Announcements.md
  changelogs/Spyder-6.md
  scripts/org.spyder_ide.spyder.appdata.xml
Labels: type:Task
