Repository spyder-ide/spyder, pull requests merged in 2025-02, with the labels that each got.

#23580 PR: Fix setting custom run configurations for multiple executors (Run)
  spyder/app/tests/conftest.py
  spyder/app/tests/test_mainwindow.py
  spyder/config/main.py
  spyder/plugins/externalterminal/plugin.py
  spyder/plugins/ipythonconsole/tests/test_ipythonconsole.py
  spyder/plugins/run/container.py
  spyder/plugins/run/widgets.py
Labels: type:Bug, component:Run

#23609 Backport PR #23580 on branch 6.x (PR: Fix setting custom run configurations for multiple executors (Run))
  spyder/app/tests/conftest.py
  spyder/app/tests/test_mainwindow.py
  spyder/config/main.py
  spyder/plugins/externalterminal/plugin.py
  spyder/plugins/ipythonconsole/tests/test_ipythonconsole.py
  spyder/plugins/run/container.py
  spyder/plugins/run/widgets.py
Labels: type:Bug, User Experience (UX), component:Run

#23613 PR: Update translations for 6.0.4
  spyder/locale/de/LC_MESSAGES/spyder.po
  spyder/locale/es/LC_MESSAGES/spyder.po
  spyder/locale/fa/LC_MESSAGES/spyder.po
  spyder/locale/fr/LC_MESSAGES/spyder.po
  spyder/locale/hr/LC_MESSAGES/spyder.po
  spyder/locale/hu/LC_MESSAGES/spyder.po
  spyder/locale/ja/LC_MESSAGES/spyder.po
  spyder/locale/pl/LC_MESSAGES/spyder.po
  spyder/locale/pt_BR/LC_MESSAGES/spyder.po
  spyder/locale/ru/LC_MESSAGES/spyder.po
  spyder/locale/spyder.pot
  spyder/locale/te/LC_MESSAGES/spyder.po
  spyder/locale/uk/LC_MESSAGES/spyder.po
  spyder/locale/zh_CN/LC_MESSAGES/spyder.po
Labels: type:Task

#23633 PR: Improve functionality for color scheme Cancel button (Preferences)
  spyder/plugins/appearance/confpage.py
  spyder/plugins/appearance/widgets.py
Labels: type:Bug, component:Preferences

#23645 Backport PR #23633 on branch 6.x (PR: Improve functionality for color scheme Cancel button (Preferences))
  spyder/plugins/appearance/confpage.py
  spyder/plugins/appearance/widgets.py
Labels: type:Bug, component:Preferences

#23646 PR: Update translations for 6.0.4 (part 2)
  spyder/locale/de/LC_MESSAGES/spyder.po
  spyder/locale/es/LC_MESSAGES/spyder.po
  spyder/locale/fa/LC_MESSAGES/spyder.po
  spyder/locale/fr/LC_MESSAGES/spyder.po
  spyder/locale/hr/LC_MESSAGES/spyder.po
  spyder/locale/hu/LC_MESSAGES/spyder.po
  spyder/locale/ja/LC_MESSAGES/spyder.po
  spyder/locale/pl/LC_MESSAGES/spyder.po
  spyder/locale/pt_BR/LC_MESSAGES/spyder.po
  spyder/locale/ru/LC_MESSAGES/spyder.po
  spyder/locale/spyder.pot
  spyder/locale/te/LC_MESSAGES/spyder.po
  spyder/locale/uk/LC_MESSAGES/spyder.po
  spyder/locale/zh_CN/LC_MESSAGES/spyder.po
Labels: type:Task

#23648 PR: Fix error in debugger with Python 3.12.5+
  .github/workflows/test-files.yml
  .github/workflows/test-linux.yml
  external-deps/spyder-kernels/.gitrepo
  external-deps/spyder-kernels/spyder_kernels/customize/spyderpdb.py
Labels: type:Bug, component:Debugger

#23660 PR: Disable shell history for both zsh and bash when installing update for macOS (Installers)
  spyder/plugins/updatemanager/widgets/update.py
Labels: type:Bug, OS:MacOS, Installers, component:Update manager

#23661 Backport PR #23660 on branch 6.x (PR: Disable shell history for both zsh and bash when installing update for macOS (Installers))
  spyder/plugins/updatemanager/widgets/update.py
Labels: type:Bug, OS:MacOS, Installers, component:Update manager

#23662 PR: Update `spyder-kernels` to 3.0.3
  binder/environment.yml
  external-deps/spyder-kernels/.gitrepo
  external-deps/spyder-kernels/CHANGELOG.md
  external-deps/spyder-kernels/spyder_kernels/_version.py
  requirements/main.yml
  setup.py
  spyder/dependencies.py
Labels: type:Task

#23667 PR: Update Changelog, Announcements and metadata files for 6.0.4
  Announcements.md
  changelogs/Spyder-6.md
  scripts/org.spyder_ide.spyder.appdata.xml
Labels: type:Task

#23670 Backport PR #23667 on branch 6.x (PR: Update Changelog, Announcements and metadata files for 6.0.4)
  Announcements.md
  changelogs/Spyder-6.md
  scripts/org.spyder_ide.spyder.appdata.xml
Labels: type:Task

#23239 PR: Update Spyder conda builds for PRs to accommodate split packaging (Installers)
  .github/workflows/build-subrepos.yml
  .github/workflows/installers-conda.yml
  installers-conda/build_conda_pkgs.py
Labels: type:Task, Installers

#23678 Backport PR #23239 on branch 6.x (PR: Update Spyder conda builds for PRs to accommodate split packaging (Installers))
  .github/workflows/build-subrepos.yml
  .github/workflows/installers-conda.yml
  installers-conda/build_conda_pkgs.py
Labels: type:Task, Installers

#23687 PR: Set icon in constructor for `ConfigDialog` (Widgets)
  spyder/plugins/preferences/widgets/configdialog.py
Labels: type:Bug, type:Task

#23689 Backport PR #23687 on branch 6.x (PR: Set icon in constructor for `ConfigDialog` (Widgets))
  spyder/plugins/preferences/widgets/configdialog.py
Labels: type:Bug, type:Task

#23668 PR: Prevent to add `site-packages` directories placed inside `AppData` ones to the Pythonpath manager
  spyder/plugins/pythonpath/tests/test_utils.py
  spyder/plugins/pythonpath/utils.py
Labels: type:Bug, component:Pythonpath manager

#23702 Backport PR #23668 on branch 6.x (PR: Prevent to add `site-packages` directories placed inside `AppData` ones to the Pythonpath manager)
  spyder/plugins/pythonpath/tests/test_utils.py
  spyder/plugins/pythonpath/utils.py
Labels: type:Bug, component:Pythonpath manager

#23724 PR: Don't show move, undock and close actions in the Options menu of new editor windows
  spyder/plugins/editor/widgets/editorstack/editorstack.py
Labels: type:Bug, component:Editor, User Experience (UX)

#23731 Backport PR #23724 on branch 6.x (PR: Don't show move, undock and close actions in the Options menu of new editor windows)
  spyder/plugins/editor/widgets/editorstack/editorstack.py
Labels: type:Bug, component:Editor, User Experience (UX)

#23632 PR: Show environments with the same name in different paths in the `New console in environment` menu
  spyder/plugins/ipythonconsole/widgets/main_widget.py
  spyder/utils/conda.py
  spyder/utils/pyenv.py
  spyder/utils/tests/test_conda.py
Labels: type:Bug, component:Main interpreter

#23735 Backport PR #23632 on branch 6.x (PR: Show environments with the same name in different paths in the `New console in environment` menu)
  spyder/plugins/ipythonconsole/widgets/main_widget.py
  spyder/utils/conda.py
  spyder/utils/pyenv.py
  spyder/utils/tests/test_conda.py
Labels: type:Bug, component:Main interpreter

#23727 PR: Add string that contains `UNC` to benign errors (IPython console)
  spyder/plugins/ipythonconsole/widgets/client.py
Labels: type:Bug, OS:Windows, component:IPython Console

#23747 Backport PR #23727 on branch 6.x (PR: Add string that contains `UNC` to benign errors (IPython console))
  spyder/plugins/ipythonconsole/widgets/client.py
Labels: type:Bug, OS:Windows, component:IPython Console

#23118 PR: Add workflow to run tests with PyQt6 (CI)
  .github/scripts/install.sh
  .github/workflows/test-linux-qt6.yml
  runtests.py
  setup.py
  spyder/app/tests/test_mainwindow.py
  spyder/plugins/editor/widgets/codeeditor/codeeditor.py
  spyder/plugins/editor/widgets/codeeditor/tests/test_codeeditor.py
  spyder/plugins/editor/widgets/codeeditor/tests/test_decorations.py
  spyder/plugins/editor/widgets/codeeditor/tests/test_goto.py
  spyder/plugins/editor/widgets/editorstack/tests/test_editorstack_and_outline.py
  spyder/plugins/editor/widgets/editorstack/tests/test_save.py
  spyder/plugins/ipythonconsole/tests/test_ipythonconsole.py
  spyder/plugins/ipythonconsole/utils/kernel_handler.py
  spyder/plugins/run/tests/test_run.py
  spyder/plugins/variableexplorer/widgets/collectionsdelegate.py
  spyder/tests/test_dependencies_in_sync.py
Labels: type:Enhancement, type:Task, Package:Qt

#23754 PR: Fix workflow to run tests with PyQt6 (CI)
  .github/workflows/test-linux-qt6.yml
Labels: type:Task

#23748 PR: Try to recover files from autosave before the main window is visible (Editor)
  spyder/app/mainwindow.py
  spyder/plugins/editor/plugin.py
  spyder/plugins/editor/tests/test_plugin.py
  spyder/plugins/editor/utils/autosave.py
  spyder/plugins/editor/widgets/main_widget.py
Labels: type:Bug, component:Editor, User Experience (UX)

#23758 Backport PR #23748 on branch 6.x (PR: Try to recover files from autosave before the main window is visible (Editor))
  spyder/app/mainwindow.py
  spyder/plugins/editor/plugin.py
  spyder/plugins/editor/tests/test_plugin.py
  spyder/plugins/editor/utils/autosave.py
  spyder/plugins/editor/widgets/main_widget.py
Labels: type:Bug, component:Editor, User Experience (UX)

#23781 PR: Fix inconsistency between menu entries and button tooltips for Run cell buttons (Editor)
  spyder/plugins/editor/plugin.py
Labels: type:Bug, component:Editor, User Interface (UI)

#23788 PR: Fix some issues in our test suite (CI)
  conftest.py
  spyder/app/tests/test_mainwindow.py
Labels: type:Task

#23787 Backport PR #23781 on branch 6.x (PR: Fix inconsistency between menu entries and button tooltips for Run cell buttons (Editor))
  spyder/plugins/editor/plugin.py
Labels: type:Bug, component:Editor, User Interface (UI)

#23793 Backport PR #23788 on branch 6.x (PR: Fix some issues in our test suite (CI))
  conftest.py
  spyder/app/tests/test_mainwindow.py
Labels: type:Task

#23722 PR: Fix code folding in cloned editors (Editor)
  spyder/plugins/editor/tests/test_plugin.py
  spyder/plugins/editor/widgets/codeeditor/codeeditor.py
  spyder/plugins/editor/widgets/codeeditor/lsp_mixin.py
Labels: type:Bug, component:Editor

#23794 Backport PR #23722 on branch 6.x (PR: Fix code folding in cloned editors (Editor))
  spyder/plugins/editor/tests/test_plugin.py
  spyder/plugins/editor/widgets/codeeditor/codeeditor.py
  spyder/plugins/editor/widgets/codeeditor/lsp_mixin.py
Labels: type:Bug, component:Editor

#23801 PR: Fix indent guides at startup and for cloned editors (Editor)
  spyder/plugins/editor/widgets/codeeditor/codeeditor.py
  spyder/plugins/editor/widgets/codeeditor/lsp_mixin.py
Labels: type:Bug, component:Editor

#21769 PR: Add option to prepend or append Pythonpath Manager paths to `sys.path`
  binder/environment.yml
  changelogs/Spyder-6.md
  external-deps/spyder-kernels/.gitrepo
  external-deps/spyder-kernels/spyder_kernels/console/kernel.py
  external-deps/spyder-kernels/spyder_kernels/console/start.py
  external-deps/spyder-kernels/spyder_kernels/console/tests/test_console_kernel.py
  external-deps/spyder-kernels/spyder_kernels/customize/spydercustomize.py
  requirements/main.yml
  setup.py
  spyder/app/tests/conftest.py
  spyder/app/tests/test_mainwindow.py
  spyder/config/lsp.py
  spyder/config/main.py
  spyder/dependencies.py
  spyder/plugins/completion/api.py
  spyder/plugins/completion/plugin.py
  spyder/plugins/completion/providers/languageserver/provider.py
  spyder/plugins/ipythonconsole/plugin.py
  spyder/plugins/ipythonconsole/utils/kernelspec.py
  spyder/plugins/ipythonconsole/utils/tests/test_spyder_kernel.py
  spyder/plugins/ipythonconsole/widgets/main_widget.py
  spyder/plugins/ipythonconsole/widgets/shell.py
  spyder/plugins/pythonpath/container.py
  spyder/plugins/pythonpath/plugin.py
  spyder/plugins/pythonpath/widgets/pathmanager.py
  spyder/plugins/pythonpath/widgets/tests/test_pathmanager.py
  spyder/utils/environ.py
  spyder/utils/icon_manager.py
  spyder/utils/tests/conftest.py
  spyder/utils/tests/test_environ.py
Labels: type:Feature, component:Pythonpath manager

#23806 Backport PR #23801 on branch 6.x (PR: Fix indent guides at startup and for cloned editors (Editor))
  spyder/plugins/editor/widgets/codeeditor/codeeditor.py
  spyder/plugins/editor/widgets/codeeditor/lsp_mixin.py
Labels: type:Bug, component:Editor

#23812 PR: Handle `TypeError` when loading a `.spydata` file (Variable Explorer)
  spyder/plugins/variableexplorer/widgets/namespacebrowser.py
Labels: type:Bug, component:Variable Explorer

#23814 PR: Ignore `OSError` when trying to load data (Variable Explorer)
  spyder/plugins/variableexplorer/widgets/namespacebrowser.py
Labels: type:Bug, component:Variable Explorer

#23827 Backport PR #23812 on branch 6.x (PR: Handle `TypeError` when loading a `.spydata` file (Variable Explorer))
  spyder/plugins/variableexplorer/widgets/namespacebrowser.py
Labels: type:Bug, component:Variable Explorer

#23834 Backport PR #23814 on branch 6.x (PR: Ignore `OSError` when trying to load data (Variable Explorer))
  spyder/plugins/variableexplorer/widgets/namespacebrowser.py
Labels: type:Bug, component:Variable Explorer

#23837 Backport PR #23782 on branch 6.x (PR: Fix format specifier for integers in array and dataframe editors (Variable explorer))
  spyder/plugins/variableexplorer/widgets/arrayeditor.py
  spyder/plugins/variableexplorer/widgets/dataframeeditor.py
Labels: type:Bug, component:Variable Explorer
