Repository spyder-ide/spyder, pull requests merged in 2025-01, with the labels that each got.

#23390 PR: Add missing `__init__()` calls in a couple of places
  spyder/widgets/findreplace.py
  spyder/widgets/tabs.py
Labels: type:Bug, Package:PySide

#23393 Backport PR #23390 on branch 6.x (PR: Add missing `__init__()` calls in a couple of places)
  spyder/widgets/findreplace.py
  spyder/widgets/tabs.py
Labels: type:Bug, Package:PySide

#23327 PR: Replace set with list when searching for installed program
  spyder/utils/programs.py
Labels: type:Bug

#23403 Backport PR #23327 on branch 6.x (PR: Replace set with list when searching for installed program)
  spyder/utils/programs.py
Labels: type:Bug

#23410 PR: Avoid error in `PathComboBox` (Widgets)
  spyder/widgets/comboboxes.py
Labels: type:Bug, component:Preferences

#23411 Backport PR #23410 on branch 6.x (PR: Avoid error in `PathComboBox` (Widgets))
  spyder/widgets/comboboxes.py
Labels: type:Bug, component:Preferences

#23417 PR: Recreate thumbnails list after dropping one in a new position (Plots)
  spyder/plugins/plots/widgets/figurebrowser.py
Labels: type:Bug, component:Plots

#23418 Backport PR #23417 on branch 6.x (PR: Recreate thumbnails list after dropping one in a new position (Plots))
  spyder/plugins/plots/widgets/figurebrowser.py
Labels: type:Bug, component:Plots

#22996 PR: Add multi-cursor support to the Editor
  spyder/config/main.py
  spyder/plugins/editor/confpage.py
  spyder/plugins/editor/panels/codefolding.py
  spyder/plugins/editor/panels/scrollflag.py
  spyder/plugins/editor/tests/test_plugin.py
  spyder/plugins/editor/widgets/codeeditor/codeeditor.py
  spyder/plugins/editor/widgets/codeeditor/multicursor_mixin.py
  spyder/plugins/editor/widgets/codeeditor/tests/test_multicursor.py
  spyder/plugins/editor/widgets/editorstack/editorstack.py
  spyder/plugins/editor/widgets/editorstack/helpers.py
  spyder/plugins/editor/widgets/main_widget.py
Labels: type:Enhancement, component:Editor

#23447 PR: Fix code style for some multicursor tests (Editor)
  spyder/plugins/editor/widgets/codeeditor/tests/test_multicursor.py
Labels: type:Task

#23461 Backport PR #23460 on branch 6.x (PR: Avoid error when getting an object's value to copy it (Variable Explorer))
  spyder/widgets/collectionseditor.py
Labels: type:Bug, component:Variable Explorer

#23376 PR: Display a button to select the entire row when hovering it in `CollectionsEditor` (Variable Explorer)
  spyder/plugins/variableexplorer/widgets/collectionsdelegate.py
  spyder/plugins/variableexplorer/widgets/objectexplorer/toggle_column_mixin.py
  spyder/utils/icon_manager.py
  spyder/widgets/collectionseditor.py
  spyder/widgets/tests/test_collectioneditor.py
Labels: type:Enhancement, component:Variable Explorer, User Experience (UX)

#23444 PR: Add command line option to connect to an existing kernel at startup (IPython console)
  changelogs/Spyder-6.md
  spyder/api/_version.py
  spyder/app/cli_options.py
  spyder/plugins/ipythonconsole/plugin.py
  spyder/plugins/ipythonconsole/widgets/main_widget.py
Labels: type:Enhancement, component:IPython Console

#23471 Backport PR #23444 on branch 6.x (PR: Add command line option to connect to an existing kernel at startup (IPython console))
  changelogs/Spyder-6.md
  spyder/api/_version.py
  spyder/app/cli_options.py
  spyder/plugins/ipythonconsole/plugin.py
  spyder/plugins/ipythonconsole/widgets/main_widget.py
Labels: type:Enhancement, component:IPython Console

#23452 PR: Make shortcuts for actions that control the debugger global again
  spyder/config/main.py
  spyder/plugins/debugger/widgets/main_widget.py
  spyder/plugins/editor/widgets/editorstack/editorstack.py
  spyder/plugins/shortcuts/tests/test_shortcuts.py
Labels: type:Bug, component:Debugger

#23420 PR: Catch error when checking for updates (Update Manager)
  spyder/plugins/updatemanager/widgets/update.py
  spyder/plugins/updatemanager/workers.py
Labels: type:Bug, component:Update manager

#23474 Backport PR #23452 on branch 6.x (PR: Make shortcuts for actions that control the debugger global again)
  spyder/config/main.py
  spyder/plugins/debugger/widgets/main_widget.py
  spyder/plugins/editor/widgets/editorstack/editorstack.py
  spyder/plugins/shortcuts/tests/test_shortcuts.py
Labels: type:Bug, component:Debugger

#23475 Backport PR #23420 on branch 6.x (PR: Catch error when checking for updates (Update Manager))
  spyder/plugins/updatemanager/widgets/update.py
  spyder/plugins/updatemanager/workers.py
Labels: type:Bug, component:Update manager

#23477 PR: Filter frames that come from Spyder-kernels in tracebacks and fix tracebacks in Python 3.8 (IPython console)
  external-deps/spyder-kernels/.github/workflows/linux-pip-tests.yml
  external-deps/spyder-kernels/.github/workflows/linux-tests.yml
  external-deps/spyder-kernels/.gitrepo
  external-deps/spyder-kernels/RELEASE.md
  external-deps/spyder-kernels/spyder_kernels/console/kernel.py
  external-deps/spyder-kernels/spyder_kernels/console/shell.py
  spyder/plugins/ipythonconsole/tests/test_ipythonconsole.py
Labels: type:Bug, type:Enhancement, component:IPython Console

#23500 Backport PR #23477
  external-deps/spyder-kernels/.github/workflows/linux-pip-tests.yml
  external-deps/spyder-kernels/.github/workflows/linux-tests.yml
  external-deps/spyder-kernels/.gitrepo
  external-deps/spyder-kernels/spyder_kernels/console/kernel.py
  external-deps/spyder-kernels/spyder_kernels/console/shell.py
  spyder/plugins/ipythonconsole/tests/test_ipythonconsole.py
Labels: type:Bug, type:Enhancement, component:IPython Console

#23481 PR: Add `ipython_pygments_lexers` as a new dependency
  binder/environment.yml
  requirements/main.yml
  setup.py
  spyder/dependencies.py
  spyder/plugins/ipythonconsole/widgets/debugging.py
Labels: type:Task

#23505 PR: Fix Re-run cell when the last executed cell is not in the current file (Run)
  spyder/app/tests/test_mainwindow.py
  spyder/plugins/editor/widgets/main_widget.py
  spyder/plugins/run/container.py
Labels: type:Bug, component:Run

#23506 Backport PR #23505 on branch 6.x (PR: Fix Re-run cell when the last executed cell is not in the current file (Run))
  spyder/app/tests/test_mainwindow.py
  spyder/plugins/editor/widgets/main_widget.py
  spyder/plugins/run/container.py
Labels: type:Bug, component:Run

#23513 PR: Improve reliability of some tests and fix teardown error for another one
  spyder/app/tests/test_mainwindow.py
  spyder/plugins/editor/widgets/main_widget.py
Labels: type:Task

#23517 Backport PR #23513 on branch 6.x (PR: Improve reliability of some tests and fix teardown error for another one)
  spyder/app/tests/test_mainwindow.py
  spyder/plugins/editor/widgets/main_widget.py
Labels: type:Task

#23511 PR: Fix error when executing in a dedicated console and the interpreter doesn't have spyder-kernels installed or its right version
  spyder/plugins/ipythonconsole/widgets/main_widget.py
Labels: type:Bug, component:IPython Console

#23525 Backport PR #23511 on branch 6.x (PR: Fix error when executing in a dedicated console and the interpreter doesn't have spyder-kernels installed or its right version)
  spyder/plugins/ipythonconsole/widgets/main_widget.py
Labels: type:Bug, component:IPython Console

#23562 PR: Give more descriptive names to the shortcuts that control the Debugger
  spyder/config/main.py
  spyder/plugins/debugger/plugin.py
  spyder/plugins/debugger/widgets/main_widget.py
  spyder/plugins/shortcuts/tests/test_shortcuts.py
Labels: type:Enhancement, component:Debugger

#23565 Backport PR #23562 on branch 6.x (PR: Give more descriptive names to the shortcuts that control the Debugger)
  spyder/config/main.py
  spyder/plugins/debugger/plugin.py
  spyder/plugins/debugger/widgets/main_widget.py
  spyder/plugins/shortcuts/tests/test_shortcuts.py
Labels: type:Enhancement, component:Debugger

#23381 PR: Add remote filesystem API to the Remote client plugin
  changelogs/Spyder-6.md
  external-deps/spyder-remote-services/.gitrepo
  external-deps/spyder-remote-services/jupyter-config/spyder_remote_services.json
  external-deps/spyder-remote-services/pyproject.toml
  external-deps/spyder-remote-services/spyder_remote_services/app.py
  external-deps/spyder-remote-services/spyder_remote_services/services/__init__.py
  external-deps/spyder-remote-services/spyder_remote_services/services/files/__init__.py
  external-deps/spyder-remote-services/spyder_remote_services/services/files/base.py
  external-deps/spyder-remote-services/spyder_remote_services/services/files/handlers.py
  spyder/api/asyncdispatcher.py
  spyder/api/utils.py
  spyder/plugins/remoteclient/api/__init__.py
  spyder/plugins/remoteclient/api/jupyterhub/auth.py
  spyder/plugins/remoteclient/api/jupyterhub/execute.py
  spyder/plugins/remoteclient/api/jupyterhub/utils.py
  spyder/plugins/remoteclient/api/manager.py
  spyder/plugins/remoteclient/api/modules/__init__.py
  spyder/plugins/remoteclient/api/modules/base.py
  spyder/plugins/remoteclient/api/modules/file_services.py
  spyder/plugins/remoteclient/plugin.py
  spyder/plugins/remoteclient/tests/conftest.py
  spyder/plugins/remoteclient/tests/test_files.py
  spyder/plugins/remoteclient/tests/test_plugin.py
  spyder/plugins/remoteclient/utils/installation.py
Labels: type:Enhancement, component:Remote client

#23524 PR : Add validation for theme color changes (Preferences)
  spyder/plugins/appearance/widgets.py
Labels: type:Bug, component:Preferences

#23579 Backport PR #23524 on branch 6.x (PR : Add validation for theme color changes (Preferences))
  spyder/plugins/appearance/widgets.py
Labels: type:Bug, component:Preferences

#23377 PR: Improve message when a variable can't be viewed due to a missing module (Variable Explorer)
  spyder/plugins/ipythonconsole/widgets/namespacebrowser.py
Labels: type:Enhancement, component:Variable Explorer

#23584 Backport PR #23377 on branch 6.x (PR: Improve message when a variable can't be viewed due to a missing module (Variable Explorer))
  spyder/plugins/ipythonconsole/widgets/namespacebrowser.py
Labels: type:Enhancement, component:Variable Explorer

#23498 PR: Fix `--connect-to-kernel` cli option when a project is loaded at startup
  spyder/plugins/ipythonconsole/plugin.py
  spyder/plugins/ipythonconsole/widgets/client.py
  spyder/plugins/ipythonconsole/widgets/main_widget.py
  spyder/plugins/ipythonconsole/widgets/shell.py
  spyder/plugins/projects/plugin.py
  spyder/plugins/projects/widgets/main_widget.py
Labels: type:Bug, component:Projects, component:IPython Console

#23589 Backport PR #23498 on branch 6.x (PR: Fix `--connect-to-kernel` cli option when a project is loaded at startup)
  spyder/plugins/ipythonconsole/plugin.py
  spyder/plugins/ipythonconsole/widgets/client.py
  spyder/plugins/ipythonconsole/widgets/main_widget.py
  spyder/plugins/ipythonconsole/widgets/shell.py
  spyder/plugins/projects/plugin.py
  spyder/plugins/projects/widgets/main_widget.py
Labels: type:Bug, component:Projects, component:IPython Console

#23598 PR: Catch error when there's no keyring backend available (Config)
  spyder/config/manager.py
Labels: type:Bug, component:Remote client

#23600 Backport PR #23598 on branch 6.x (PR: Catch error when there's no keyring backend available (Config))
  spyder/config/manager.py
Labels: type:Bug, component:Remote client

#23578 PR: Restore functionality to open Main interpreter preferences from Python env statusbar widget
  spyder/plugins/ipythonconsole/plugin.py
  spyder/plugins/ipythonconsole/widgets/main_widget.py
  spyder/plugins/ipythonconsole/widgets/status.py
Labels: type:Enhancement, component:IPython Console

#23606 Backport PR #23578 on branch 6.x (PR: Restore functionality to open Main interpreter preferences from Python env statusbar widget)
  spyder/plugins/ipythonconsole/plugin.py
  spyder/plugins/ipythonconsole/widgets/main_widget.py
  spyder/plugins/ipythonconsole/widgets/status.py
Labels: type:Enhancement, component:IPython Console
