Repository spyder-ide/spyder, pull requests merged in 2025-10, with the labels that each got.

#25089 PR: Update `python-lsp-ruff` to >=2.3.0 (Dependencies)
  .github/workflows/test-files.yml
  .github/workflows/test-remoteclient.yml
  binder/environment.yml
  requirements/main.yml
  setup.py
  spyder/dependencies.py
Labels: type:Bug, component:Code Completion and linting, upstream

#25094 Backport PR #25089 on branch 6.x (PR: Update `python-lsp-ruff` to >=2.3.0 (Dependencies))
  .github/workflows/test-files.yml
  .github/workflows/test-remoteclient.yml
  binder/environment.yml
  requirements/main.yml
  setup.py
  spyder/dependencies.py
Labels: type:Bug, component:Code Completion and linting, upstream

#25093 Backport PR #25092 on branch 6.x (PR: Fix calling `_confirm_install` method in `UpdateManagerWidget`)
  spyder/plugins/updatemanager/widgets/update.py
Labels: type:Bug, component:Update manager

#25100 PR: Add new features included in the last 6.1.0 pre-releases to Changelog
  changelogs/Spyder-6.md
Labels: type:Task

#25103 PR: Update `spyder-kernels` to 3.1.0 (for Spyder 6.1.0)
  binder/environment.yml
  external-deps/spyder-kernels/.gitrepo
  external-deps/spyder-kernels/CHANGELOG.md
  external-deps/spyder-kernels/spyder_kernels/_version.py
  requirements/main.yml
  setup.py
  spyder/dependencies.py
  spyder/plugins/ipythonconsole/__init__.py
Labels: type:Task

#25108 PR: Update Changelog, Announcements and metadata files for 6.1.0
  Announcements.md
  changelogs/Spyder-6.md
  scripts/org.spyder_ide.spyder.appdata.xml
Labels: type:Task

#25042 PR: Rework Editor indent prefs to separate char & width options
  spyder/config/main.py
  spyder/plugins/editor/confpage.py
Labels: type:Enhancement, component:Editor, component:Preferences, User Interface (UI), User Experience (UX)

#25118 Backport PR #25042 on branch 6.x (PR: Rework Editor indent prefs to separate char & width options)
  spyder/config/main.py
  spyder/plugins/editor/confpage.py
Labels: type:Enhancement, component:Editor, component:Preferences, User Interface (UI), User Experience (UX)

#25032 PR: Allow aborting connections (Remote client)
  spyder/plugins/remoteclient/api/manager/base.py
  spyder/plugins/remoteclient/api/manager/jupyterhub.py
  spyder/plugins/remoteclient/api/manager/ssh.py
  spyder/plugins/remoteclient/api/protocol.py
  spyder/plugins/remoteclient/plugin.py
  spyder/plugins/remoteclient/widgets/connectiondialog.py
  spyder/plugins/remoteclient/widgets/connectionstatus.py
  spyder/plugins/remoteclient/widgets/container.py
Labels: type:Enhancement, User Experience (UX), component:Remote client

#25124 Backport PR #25032 on branch 6.x (PR: Allow aborting connections (Remote client))
  spyder/plugins/remoteclient/api/manager/base.py
  spyder/plugins/remoteclient/api/manager/jupyterhub.py
  spyder/plugins/remoteclient/api/manager/ssh.py
  spyder/plugins/remoteclient/api/protocol.py
  spyder/plugins/remoteclient/plugin.py
  spyder/plugins/remoteclient/widgets/connectiondialog.py
  spyder/plugins/remoteclient/widgets/connectionstatus.py
  spyder/plugins/remoteclient/widgets/container.py
Labels: type:Enhancement, User Experience (UX), component:Remote client

#25131 Backport PR #25128 on branch 6.x (PR: Fix several errors when closing remote consoles (IPython console))
  spyder/plugins/ipythonconsole/utils/websocket_client.py
  spyder/plugins/ipythonconsole/widgets/client.py
  spyder/plugins/ipythonconsole/widgets/main_widget.py
  spyder/plugins/ipythonconsole/widgets/status.py
Labels: type:Bug, component:IPython Console

#25135 PR: Restore Shortcuts as one of Application's optional plugins
  spyder/plugins/application/plugin.py
Labels: type:Bug, component:Main Window

#25136 Backport PR #25135 on branch 6.x (PR: Restore Shortcuts as one of Application's optional plugins)
  spyder/plugins/application/plugin.py
Labels: type:Bug, component:Main Window

#24936 PR: Restore tree expanded/collapsed state after new symbols arrive (Outline)
  spyder/plugins/outlineexplorer/widgets.py
Labels: type:Enhancement, component:Outline Explorer, User Experience (UX)

#25144 Backport PR #24936 on branch 6.x (PR: Restore tree expanded/collapsed state after new symbols arrive (Outline))
  spyder/plugins/outlineexplorer/widgets.py
Labels: type:Enhancement, component:Outline Explorer, User Experience (UX)

#25145 Backport PR #25046 on branch 6.x (PR: Add run configurations to run/debug/profile `.pyw` files)
  spyder/plugins/debugger/plugin.py
  spyder/plugins/ipythonconsole/plugin.py
  spyder/plugins/profiler/plugin.py
Labels: type:Enhancement, component:Run
