Repository spyder-ide/spyder, pull requests merged in 2025-07, with the labels that each got.

#24664 PR: Adjust Source menu, underline errors by default & fix menu text
  spyder/config/main.py
  spyder/plugins/application/container.py
  spyder/plugins/debugger/plugin.py
  spyder/plugins/debugger/widgets/main_widget.py
  spyder/plugins/editor/api/actions.py
  spyder/plugins/editor/confpage.py
  spyder/plugins/editor/plugin.py
  spyder/plugins/editor/widgets/codeeditor/codeeditor.py
  spyder/plugins/editor/widgets/editorstack/editorstack.py
  spyder/plugins/editor/widgets/main_widget.py
  spyder/plugins/findinfiles/plugin.py
  spyder/plugins/help/utils/tutorial.rst
  spyder/plugins/ipythonconsole/widgets/kernelconnect.py
  spyder/plugins/ipythonconsole/widgets/main_widget.py
  spyder/plugins/projects/widgets/main_widget.py
  spyder/plugins/remoteclient/widgets/container.py
  spyder/plugins/run/container.py
  spyder/plugins/shortcuts/plugin.py
Labels: type:Enhancement, User Interface (UI), User Experience (UX), component:Main Window

#24665 PR: Fix remote client connections dialog unresponsive
  spyder/plugins/remoteclient/plugin.py
Labels: type:Bug, component:Remote client

#24494 PR: Add context menu actions for remote filesystems (Files)
  spyder/plugins/editor/utils/editor.py
  spyder/plugins/editor/widgets/main_widget.py
  spyder/plugins/explorer/widgets/main_widget.py
  spyder/plugins/explorer/widgets/remote_explorer.py
  spyder/plugins/remoteclient/api/modules/file_services.py
Labels: type:Enhancement, component:File Explorer, component:Remote client

#24645 PR: Add a JupyterHub connection page to the remote connections dialog (Remote client)
  spyder/plugins/ipythonconsole/plugin.py
  spyder/plugins/ipythonconsole/widgets/main_widget.py
  spyder/plugins/remoteclient/api/protocol.py
  spyder/plugins/remoteclient/plugin.py
  spyder/plugins/remoteclient/tests/fixtures.py
  spyder/plugins/remoteclient/widgets/__init__.py
  spyder/plugins/remoteclient/widgets/connectiondialog.py
  spyder/plugins/remoteclient/widgets/connectionstatus.py
Labels: type:Enhancement, User Interface (UI), component:Remote client

#24640 PR: Additional improvements for `ElementsTable` (Widgets)
  spyder/api/plugin_registration/_confpage.py
  spyder/utils/icon_manager.py
  spyder/widgets/config.py
  spyder/widgets/elementstable.py
  spyder/widgets/emptymessage.py
  spyder/widgets/helperwidgets.py
Labels: type:Enhancement, User Interface (UI)

#24673 PR: Reorganize Tools, View and Help menus for better UX
  changelogs/Spyder-6.md
  spyder/plugins/application/container.py
  spyder/plugins/application/plugin.py
  spyder/plugins/completion/providers/languageserver/conftabs/advanced.py
  spyder/plugins/help/plugin.py
  spyder/plugins/ipythonconsole/plugin.py
  spyder/plugins/layout/plugin.py
  spyder/plugins/mainmenu/api.py
  spyder/plugins/preferences/plugin.py
  spyder/plugins/preferences/widgets/container.py
  spyder/plugins/pythonpath/plugin.py
  spyder/plugins/remoteclient/plugin.py
  spyder/plugins/shortcuts/plugin.py
  spyder/plugins/tours/container.py
  spyder/plugins/tours/plugin.py
  spyder/plugins/updatemanager/container.py
  spyder/plugins/updatemanager/plugin.py
Labels: type:Enhancement, User Interface (UI), User Experience (UX), component:Main Window

#24692 PR: Fix getting options from manager instead of `jupyter_api` (IPython console)
  spyder/plugins/ipythonconsole/widgets/main_widget.py
Labels: type:Bug, component:IPython Console

#24699 PR: Hotfix for erros on setting and updating kernel specs (Remote client)
  spyder/plugins/remoteclient/api/modules/base.py
  spyder/plugins/remoteclient/plugin.py
Labels: type:Bug, component:Remote client

#24712 PR: Keep editor-only actions always enabled in the Edit menu (Editor)
  spyder/plugins/editor/widgets/main_widget.py
Labels: type:Enhancement, component:Editor, component:Main Window

#24540 PR: Use GitHub's digest feature for release assets (Update manager)
  .github/workflows/installers-conda.yml
  spyder/plugins/updatemanager/tests/test_update_manager.py
  spyder/plugins/updatemanager/workers.py
Labels: type:Enhancement, component:Update manager

#24706 PR: Unload remote client manager on stop or close (Remote client)
  spyder/plugins/remoteclient/plugin.py
Labels: type:Bug, component:Remote client

#24718 PR: Fix error when getting length of string with special emojis (Utils)
  spyder/utils/qstringhelpers.py
Labels: type:Bug, component:Editor

#24657 PR: Don't clear console when executing code in a dedicated one
  spyder/app/tests/test_mainwindow.py
  spyder/plugins/ipythonconsole/widgets/main_widget.py
Labels: type:Bug, component:IPython Console, User Experience (UX)

#24641 PR: Fix showing elapsed time since kernel start (IPython console)
  spyder/plugins/ipythonconsole/tests/test_ipythonconsole.py
  spyder/plugins/ipythonconsole/widgets/client.py
  spyder/plugins/ipythonconsole/widgets/main_widget.py
Labels: type:Bug, component:IPython Console

#24558 PR: Support Polars data frames in Variable Explorer
  external-deps/spyder-kernels/.gitrepo
  external-deps/spyder-kernels/SECURITY.md
  external-deps/spyder-kernels/requirements/tests.txt
  external-deps/spyder-kernels/setup.py
  external-deps/spyder-kernels/spyder_kernels/comms/commbase.py
  external-deps/spyder-kernels/spyder_kernels/console/kernel.py
  external-deps/spyder-kernels/spyder_kernels/console/tests/test_console_kernel.py
  external-deps/spyder-kernels/spyder_kernels/utils/nsview.py
  external-deps/spyder-kernels/spyder_kernels/utils/tests/test_nsview.py
  spyder/plugins/ipythonconsole/widgets/namespacebrowser.py
  spyder/plugins/variableexplorer/widgets/collectionsdelegate.py
  spyder/plugins/variableexplorer/widgets/dataframeeditor.py
  spyder/plugins/variableexplorer/widgets/tests/test_dataframeeditor.py
  spyder/plugins/variableexplorer/widgets/tests/test_namespacebrowser.py
Labels: type:Enhancement, component:Variable Explorer

#24728 PR: Remove unused Rope file (Utils)
  spyder/plugins/ipythonconsole/tests/test_ipythonconsole.py
  spyder/utils/introspection/rope_patch.py
Labels: type:Task

#24737 PR: Fix uncommenting code in files with tabs (Editor)
  spyder/plugins/editor/widgets/codeeditor/codeeditor.py
Labels: type:Bug, component:Editor

#24555 PR: Remove blank lines and white space characters when running cells if their contents are copied (IPython console)
  spyder/plugins/ipythonconsole/plugin.py
Labels: type:Bug, component:IPython Console, User Interface (UI)

#24758 PR: Update changelog with new features and fixes in 6.1.0a4
  changelogs/Spyder-6.md
Labels: type:Task

#24761 PR: Update `spyder-kernels` to 3.1.0a3 and `python-lsp-server` to 1.13.0 (for Spyder 6.1.0a4)
  binder/environment.yml
  external-deps/python-lsp-server/.gitrepo
  external-deps/python-lsp-server/.well-known/funding-manifest-urls
  external-deps/python-lsp-server/CHANGELOG.md
  external-deps/python-lsp-server/CONFIGURATION.md
  external-deps/python-lsp-server/SECURITY.md
  external-deps/python-lsp-server/pylsp/__main__.py
  external-deps/python-lsp-server/pylsp/config/schema.json
  external-deps/python-lsp-server/pylsp/hookspecs.py
  external-deps/python-lsp-server/pylsp/plugins/type_definition.py
  external-deps/python-lsp-server/pylsp/python_lsp.py
  external-deps/python-lsp-server/pyproject.toml
  external-deps/python-lsp-server/test/plugins/test_type_definition.py
  external-deps/python-lsp-server/test/test_python_lsp.py
  external-deps/spyder-kernels/.gitrepo
  external-deps/spyder-kernels/CHANGELOG.md
  external-deps/spyder-kernels/spyder_kernels/_version.py
  external-deps/spyder-kernels/spyder_kernels/comms/commbase.py
  external-deps/spyder-kernels/spyder_kernels/comms/tests/test_commbase.py
  requirements/main.yml
  setup.py
  spyder/dependencies.py
  spyder/plugins/ipythonconsole/__init__.py
Labels: type:Task

#24763 PR: Update Announcements and Changelog for 6.1.0a4
  Announcements.md
  changelogs/Spyder-6.md
Labels: type:Task

#24770 PR: Fix issue `dirname: missing operand` when `PACKAGE_PATH` is not set
  installers-conda/resources/post-install.sh
Labels: type:Bug, Installers

#24735 PR: Make final clarifications to menus UI text
  changelogs/Spyder-6.md
  spyder/api/plugins/_old_api.py
  spyder/api/plugins/new_api.py
  spyder/api/widgets/main_widget.py
  spyder/plugins/application/container.py
  spyder/plugins/editor/widgets/codeeditor/tests/test_indentation.py
  spyder/plugins/editor/widgets/editorstack/editorstack.py
  spyder/plugins/editor/widgets/main_widget.py
  spyder/plugins/editor/widgets/window.py
  spyder/plugins/layout/plugin.py
  spyder/plugins/mainmenu/api.py
  spyder/plugins/mainmenu/plugin.py
  spyder/plugins/toolbar/plugin.py
Labels: type:Enhancement, User Interface (UI), component:Main Window

#24791 PR: Handle Pandas version mismatch when getting dataframe with numeric index (Variable Explorer)
  spyder/plugins/ipythonconsole/widgets/namespacebrowser.py
Labels: type:Enhancement, component:Variable Explorer, User Experience (UX)

#24726 PR: Allow plugins to hook into edit actions (Application/Editor/IPython Console)
  changelogs/Spyder-6.md
  spyder/api/plugins/new_api.py
  spyder/config/main.py
  spyder/plugins/application/container.py
  spyder/plugins/application/plugin.py
  spyder/plugins/application/tests/test_plugin.py
  spyder/plugins/editor/api/actions.py
  spyder/plugins/editor/plugin.py
  spyder/plugins/editor/widgets/main_widget.py
  spyder/plugins/ipythonconsole/plugin.py
  spyder/plugins/ipythonconsole/widgets/main_widget.py
  spyder/plugins/ipythonconsole/widgets/shell.py
Labels: type:Enhancement, component:Editor, component:IPython Console, component:Main Window

#24795 PR: Put cursor in the middle of braces when code snippets are not available (Editor)
  spyder/plugins/editor/extensions/snippets.py
Labels: type:Bug, component:Editor, User Experience (UX)
