Repository spyder-ide/spyder, pull requests merged in 2025-04, with the labels that each got.

#24072 PR: Revert removing mamba from base environment specification
  installers-conda/build_installers.py
Labels: type:Bug, Installers

#24102 Backport PR #24072 on branch 6.x (PR: Revert removing mamba from base environment specification)
  installers-conda/build_installers.py
Labels: type:Bug, Installers

#24103 Backport PR #24042 on branch 6.x (PR: Skip some tests to make the suite more reliable (CI))
  spyder/app/tests/test_mainwindow.py
Labels: type:Task

#24106 PR: Catch error when computing max of columms in dataframe editor (Variable Explorer)
  spyder/plugins/variableexplorer/widgets/dataframeeditor.py
Labels: type:Bug, component:Variable Explorer

#24110 Backport PR #24106 on branch 6.x (PR: Catch error when computing max of columms in dataframe editor (Variable Explorer))
  spyder/plugins/variableexplorer/widgets/dataframeeditor.py
Labels: type:Bug, component:Variable Explorer

#24112 PR: Don't advance line when running code if there's selected text (Editor)
  spyder/plugins/editor/widgets/main_widget.py
Labels: type:Bug, component:Editor

#24115 Backport PR #24112 on branch 6.x (PR: Don't advance line when running code if there's selected text (Editor))
  spyder/plugins/editor/widgets/main_widget.py
Labels: type:Bug, component:Editor

#24127 Backport PR #24009 on branch 6.x (PR: Disable fullscreen mode when running on WSL (Layout))
  spyder/config/utils.py
  spyder/plugins/layout/container.py
Labels: type:Bug, OS:Windows, component:Main Window

#24129 Backport PR #24095 on branch 6.x (PR: Make the `Help Spyder` action not depend on QtWebEngine (Application))
  .github/scripts/remove_check_qtwebengine.sh
  .github/workflows/test-linux.yml
  spyder/plugins/application/widgets/status.py
Labels: type:Enhancement, component:Main Window

#24137 Backport PR #24114 on branch 6.x (PR: Drop unnecessary runtime dependency on `setuptools`)
  binder/environment.yml
  requirements/main.yml
  setup.py
  spyder/dependencies.py
Labels: type:Task

#24155 Backport PR #24105 on branch 6.x (PR: Respect case sensitivity of working directory when running code (IPython console))
  external-deps/spyder-kernels/.gitrepo
  external-deps/spyder-kernels/spyder_kernels/customize/code_runner.py
  spyder/plugins/ipythonconsole/tests/test_ipythonconsole.py
Labels: type:Bug, component:IPython Console

#23463 PR: Make `CodeEditor` mouse shortcuts configurable (Editor)
  spyder/config/main.py
  spyder/plugins/editor/confpage.py
  spyder/plugins/editor/panels/scrollflag.py
  spyder/plugins/editor/panels/tests/test_scrollflag.py
  spyder/plugins/editor/widgets/codeeditor/codeeditor.py
  spyder/plugins/editor/widgets/editorstack/editorstack.py
  spyder/plugins/editor/widgets/mouse_shortcuts.py
Labels: type:Enhancement, component:Editor

#24156 PR: Use link to our webpage for donations when no web widgets are available (Application)
  spyder/plugins/application/widgets/status.py
  spyder/plugins/ipythonconsole/tests/test_ipythonconsole.py
  spyder/plugins/layout/container.py
Labels: type:Task

#24162 Backport PR #24156 on branch 6.x (PR: Use link to our webpage for donations when no web widgets are available (Application))
  spyder/plugins/application/widgets/status.py
  spyder/plugins/ipythonconsole/tests/test_ipythonconsole.py
  spyder/plugins/layout/container.py
Labels: type:Task

#24131 PR: Use checksum to verify downloaded asset for updating Spyder (Update manager)
  .github/workflows/installers-conda.yml
  spyder/plugins/updatemanager/tests/test_update_manager.py
  spyder/plugins/updatemanager/widgets/update.py
  spyder/plugins/updatemanager/workers.py
Labels: type:Enhancement, component:Update manager

#24074 PR: Improve message when trying to view object with an attribute that references a generator
  spyder/plugins/ipythonconsole/widgets/namespacebrowser.py
Labels: type:Enhancement, component:Variable Explorer

#24174 Backport PR #24074 on branch 6.x (PR: Improve message when trying to view object with an attribute that references a generator)
  spyder/plugins/ipythonconsole/widgets/namespacebrowser.py
Labels: type:Enhancement, component:Variable Explorer

#24085 Backport PR #24078 on branch 6.x (PR: Fix editing of large ints in the Variable Explorer)
  spyder/plugins/variableexplorer/widgets/collectionsdelegate.py
  spyder/widgets/tests/test_collectioneditor.py
Labels: type:Bug, component:Variable Explorer

#24177 Backport PR #24145 on branch 6.x (PR: Restore `Quit` action in IPython console context menu)
  spyder/plugins/ipythonconsole/api.py
  spyder/plugins/ipythonconsole/widgets/main_widget.py
  spyder/plugins/ipythonconsole/widgets/shell.py
Labels: type:Enhancement, component:IPython Console

#24176 PR: Add Matplotlib font cache message to benign errors (IPython console)
  spyder/plugins/ipythonconsole/widgets/client.py
Labels: type:Bug, component:IPython Console

#24181 PR: Add API to display an empty message in any dockable plugin (API)
  changelogs/Spyder-6.md
  spyder/api/shellconnect/main_widget.py
  spyder/api/shellconnect/mixins.py
  spyder/api/widgets/main_widget.py
  spyder/config/main.py
  spyder/plugins/application/confpage.py
  spyder/plugins/debugger/widgets/framesbrowser.py
  spyder/plugins/debugger/widgets/main_widget.py
  spyder/plugins/editor/confpage.py
  spyder/plugins/findinfiles/widgets/main_widget.py
  spyder/plugins/ipythonconsole/tests/test_ipythonconsole.py
  spyder/plugins/layout/plugin.py
  spyder/plugins/plots/widgets/figurebrowser.py
  spyder/plugins/plots/widgets/main_widget.py
  spyder/plugins/profiler/widgets/main_widget.py
  spyder/plugins/projects/plugin.py
  spyder/plugins/projects/widgets/main_widget.py
  spyder/plugins/pylint/main_widget.py
  spyder/plugins/variableexplorer/widgets/main_widget.py
  spyder/plugins/variableexplorer/widgets/namespacebrowser.py
  spyder/widgets/helperwidgets.py
Labels: type:Bug, type:Enhancement, User Interface (UI), component:Main Window

#22564 PR: Allow plugins to hook into file actions (API)
  changelogs/Spyder-6.md
  spyder/api/plugins/new_api.py
  spyder/api/widgets/menus.py
  spyder/api/widgets/tests/test_menus.py
  spyder/app/mainwindow.py
  spyder/app/tests/test_mainwindow.py
  spyder/config/main.py
  spyder/plugins/application/container.py
  spyder/plugins/application/plugin.py
  spyder/plugins/application/tests/conftest.py
  spyder/plugins/application/tests/test_container.py
  spyder/plugins/application/tests/test_plugin.py
  spyder/plugins/editor/api/actions.py
  spyder/plugins/editor/plugin.py
  spyder/plugins/editor/widgets/completion.py
  spyder/plugins/editor/widgets/editorstack/editorstack.py
  spyder/plugins/editor/widgets/editorstack/tests/conftest.py
  spyder/plugins/editor/widgets/editorstack/tests/test_editorstack.py
  spyder/plugins/editor/widgets/editorstack/tests/test_editorstack_and_outline.py
  spyder/plugins/editor/widgets/editorstack/tests/test_save.py
  spyder/plugins/editor/widgets/editorstack/tests/test_shortcuts.py
  spyder/plugins/editor/widgets/main_widget.py
  spyder/plugins/editor/widgets/tests/test_editorsplitter.py
  spyder/plugins/editor/widgets/window.py
  spyder/plugins/explorer/plugin.py
  spyder/plugins/projects/plugin.py
  spyder/plugins/variableexplorer/plugin.py
  spyder/widgets/tabs.py
Labels: type:Enhancement, component:Plugins, component:Main Window

#24204 PR: Fix several issues in the Layout plugin
  spyder/plugins/layout/plugin.py
  spyder/plugins/layout/widgets/dialog.py
Labels: type:Bug, type:Enhancement, User Experience (UX), component:Main Window

#24215 PR: Avoid rounding scaling for figure browser to zero (Plots)
  spyder/plugins/plots/widgets/figurebrowser.py
Labels: type:Bug, component:Plots

#24216 Backport PR #24215 on branch 6.x (PR: Avoid rounding scaling for figure browser to zero (Plots))
  spyder/plugins/ipythonconsole/tests/test_ipythonconsole.py
  spyder/plugins/plots/widgets/figurebrowser.py
Labels: type:Bug, component:Plots

#24195 PR: Fix applying changes to custom color schemes to open files (Editor)
  spyder/plugins/appearance/confpage.py
Labels: type:Bug, component:Editor

#24218 Backport PR #24195 on branch 6.x (PR: Fix applying changes to custom color schemes to open files (Editor))
  spyder/plugins/appearance/confpage.py
Labels: type:Bug, component:Editor

#24194 PR: Add option to show/hide file name toolbar (Editor)
  spyder/config/main.py
  spyder/plugins/editor/confpage.py
  spyder/plugins/editor/tests/conftest.py
  spyder/plugins/editor/widgets/editorstack/editorstack.py
  spyder/plugins/editor/widgets/main_widget.py
Labels: type:Enhancement, component:Editor

#24234 PR: Fix failing tests on macOS (CI)
  spyder/plugins/editor/widgets/codeeditor/tests/test_warnings.py
Labels: OS:MacOS, type:Task

#24233 Backport PR #24227 on branch 6.x (PR: Kill persistent `python.exe` tasks on Windows test workflows (CI))
  .github/workflows/test-win.yml
Labels: type:Task

#24235 Backport PR #24234 on branch 6.x (PR: Fix failing tests on macOS (CI))
  spyder/plugins/editor/widgets/codeeditor/tests/test_warnings.py
Labels: OS:MacOS, type:Task

#24223 PR: Add multicursor paste behavior configuration to Preferences (Editor)
  spyder/config/main.py
  spyder/plugins/editor/confpage.py
  spyder/plugins/editor/widgets/codeeditor/multicursor_mixin.py
Labels: type:Enhancement, component:Editor, component:Preferences

#24144 PR: Use `spyder-updater` to handle updates (Installers)
  spyder/plugins/updatemanager/utils.py
  spyder/plugins/updatemanager/widgets/status.py
  spyder/plugins/updatemanager/widgets/update.py
  spyder/plugins/updatemanager/workers.py
Labels: type:Enhancement, Installers

#24213 PR: Update `python-lsp-server` and `qtconsole` subrepos
  external-deps/python-lsp-server/.github/workflows/static.yml
  external-deps/python-lsp-server/.gitrepo
  external-deps/python-lsp-server/CHANGELOG.md
  external-deps/python-lsp-server/pylsp/_utils.py
  external-deps/python-lsp-server/pylsp/workspace.py
  external-deps/python-lsp-server/test/plugins/test_completion.py
  external-deps/python-lsp-server/test/test_utils.py
  external-deps/python-lsp-server/test/test_workspace.py
  external-deps/qtconsole/.github/workflows/linux-tests.yml
  external-deps/qtconsole/.github/workflows/macos-tests.yml
  external-deps/qtconsole/.github/workflows/windows-tests.yml
  external-deps/qtconsole/.gitrepo
  external-deps/qtconsole/qtconsole/jupyter_widget.py
  external-deps/qtconsole/qtconsole/tests/test_inprocess_kernel.py
  external-deps/qtconsole/requirements/environment.yml
  external-deps/qtconsole/setup.py
Labels: type:Task

#24245 PR: Remove unnecessary workflow triggers (CI)
  .github/workflows/test-files.yml
  .github/workflows/test-linux-qt6.yml
  .github/workflows/test-linux.yml
  .github/workflows/test-mac.yml
  .github/workflows/test-remoteclient.yml
  .github/workflows/test-win.yml
Labels: type:Task

#24248 Backport PR #24245 on branch 6.x (PR: Remove unnecessary workflow triggers (CI))
  .github/workflows/test-files.yml
  .github/workflows/test-linux.yml
  .github/workflows/test-mac.yml
  .github/workflows/test-remoteclient.yml
  .github/workflows/test-win.yml
Labels: type:Task

#24250 PR: Remove `CONF` usage in `MouseShortcutEditor` (Editor)
  spyder/plugins/editor/widgets/mouse_shortcuts.py
Labels: component:Editor, type:Task

#24255 PR: Catch error when `xdg-open` is missing and show message instead (Files)
  spyder/plugins/editor/widgets/editorstack/editorstack.py
  spyder/plugins/explorer/widgets/explorer.py
Labels: type:Bug, component:File Explorer

#24258 Backport PR #24255 on branch 6.x (PR: Catch error when `xdg-open` is missing and show message instead (Files))
  spyder/plugins/editor/widgets/editorstack/editorstack.py
  spyder/plugins/explorer/widgets/explorer.py
Labels: type:Bug, component:File Explorer

#23287 PR: Refactor how the installers are built
  .github/workflows/installers-conda.yml
  installers-conda/build_conda_pkgs.py
  installers-conda/build_installers.py
  installers-conda/resources/base_env.yml
  installers-conda/resources/condarc
  installers-conda/resources/construct.yaml
  installers-conda/resources/osx_pkg_welcome.rtf
  installers-conda/resources/osx_pkg_welcome.rtf.tmpl
  installers-conda/resources/runtime_env.yml
  installers-conda/utils.py
Labels: type:Task, Installers

#24257 PR: Follow-up to removing `CONF` from `mouse_shortcuts` (Editor)
  spyder/plugins/editor/widgets/mouse_shortcuts.py
Labels: component:Editor, type:Task

#24244 PR: Update workflow actions to address some warnings (CI)
  .github/workflows/build-subrepos.yml
  .github/workflows/installers-conda.yml
  .github/workflows/test-files.yml
  .github/workflows/test-linux-qt6.yml
  .github/workflows/test-linux.yml
  .github/workflows/test-mac.yml
  .github/workflows/test-remoteclient.yml
  .github/workflows/test-win.yml
Labels: type:Task

#24270 Backport PR #24178 on branch 6.x (PR: Restore breakpoints after auto-formatting a file (Editor))
  spyder/plugins/editor/widgets/codeeditor/lsp_mixin.py
Labels: type:Bug, component:Editor

#24273 PR: Remove qtwebengine patch from feedstock for 6.0.5+ (Installers)
  installers-conda/build_conda_pkgs.py
Labels: type:Bug, Installers

#24262 Backport PR #24244 on branch 6.x (PR: Update workflow actions to address some warnings (CI))
  .github/workflows/build-subrepos.yml
  .github/workflows/installers-conda.yml
  .github/workflows/test-files.yml
  .github/workflows/test-linux.yml
  .github/workflows/test-mac.yml
  .github/workflows/test-remoteclient.yml
  .github/workflows/test-win.yml
Labels: type:Task

#24276 PR: Add new features and improvements for 6.1.0 to our Changelog
  changelogs/Spyder-6.md
Labels: type:Task

#24278 PR: Update Announcements and Changelog for 6.1.0a2
  Announcements.md
  changelogs/Spyder-6.md
Labels: type:Task

#24279 PR: Do not scroll to the bottom if last plot is not selected (Plots)
  spyder/plugins/plots/widgets/figurebrowser.py
Labels: type:Bug, User Experience (UX), component:Plots

#24294 PR: Skip some tests about warnings on Mac because they became flaky
  spyder/app/tests/test_mainwindow.py
  spyder/plugins/editor/widgets/codeeditor/tests/test_warnings.py
Labels: type:Task

#24266 PR: Plot histogram from dataframe editor (Variable Explorer)
  spyder/plugins/variableexplorer/widgets/collectionsdelegate.py
  spyder/plugins/variableexplorer/widgets/dataframeeditor.py
  spyder/plugins/variableexplorer/widgets/namespacebrowser.py
  spyder/plugins/variableexplorer/widgets/tests/test_dataframeeditor.py
  spyder/plugins/variableexplorer/widgets/tests/test_namespacebrowser.py
  spyder/widgets/collectionseditor.py
  spyder/widgets/tests/test_collectioneditor.py
Labels: component:Variable Explorer, User Experience (UX), type:Feature, status:Ready For Review

#24296 Backport PR #24294 on branch 6.x (PR: Skip some tests about warnings on Mac because they became flaky)
  spyder/app/tests/test_mainwindow.py
  spyder/plugins/editor/widgets/codeeditor/tests/test_warnings.py
Labels: type:Task

#24150 PR: Show contents of Numpy string arrays in the Variable Explorer
  external-deps/spyder-kernels/.github/workflows/linux-pip-tests.yml
  external-deps/spyder-kernels/.github/workflows/linux-tests.yml
  external-deps/spyder-kernels/.gitrepo
  external-deps/spyder-kernels/spyder_kernels/utils/nsview.py
  external-deps/spyder-kernels/spyder_kernels/utils/tests/test_nsview.py
Labels: type:Enhancement, component:Variable Explorer

#24303 PR: Fix error when resizing not visible `PaneEmptyWidget`'s
  spyder/widgets/helperwidgets.py
Labels: type:Bug, component:Main Window

#24311 PR: Remove 6.x branch from weekly scheduled installer build
  .github/workflows/installers-conda.yml
Labels: type:Task, Installers

#24322 PR: Fix grammatical error in updater script (Installers)
  spyder/plugins/updatemanager/scripts/install.bat
  spyder/plugins/updatemanager/scripts/install.sh
Labels: type:Bug, User Interface (UI), Installers

#24326 Backport PR #24322 on branch 6.x (PR: Fix grammatical error in updater script (Installers))
  spyder/plugins/updatemanager/scripts/install.bat
  spyder/plugins/updatemanager/scripts/install.sh
Labels: type:Bug, User Interface (UI), Installers
