Repository spyder-ide/spyder, pull requests merged in 2025-09, with the labels that each got.

#24877 PR: Update IPython constraint to support 9.x versions (Dependencies)
  binder/environment.yml
  external-deps/qtconsole/.gitrepo
  external-deps/qtconsole/qtconsole/ansi_code_processor.py
  external-deps/qtconsole/qtconsole/jupyter_widget.py
  external-deps/qtconsole/qtconsole/mainwindow.py
  external-deps/spyder-kernels/.gitrepo
  external-deps/spyder-kernels/pyproject.toml
  external-deps/spyder-kernels/requirements/posix.txt
  external-deps/spyder-kernels/requirements/windows.txt
  external-deps/spyder-kernels/setup.py
  external-deps/spyder-kernels/spyder_kernels/console/kernel.py
  external-deps/spyder-kernels/spyder_kernels/console/shell.py
  external-deps/spyder-kernels/spyder_kernels/console/start.py
  external-deps/spyder-kernels/spyder_kernels/console/tests/test_console_kernel.py
  requirements/main.yml
  setup.py
  spyder/app/tests/test_mainwindow.py
  spyder/dependencies.py
  spyder/plugins/ipythonconsole/comms/kernelcomm.py
  spyder/plugins/ipythonconsole/tests/test_ipythonconsole.py
  spyder/plugins/ipythonconsole/widgets/debugging.py
  spyder/plugins/ipythonconsole/widgets/shell.py
Labels: component:IPython Console, type:Task

#24868 PR: Use icon instead of background color to report errors in regular expressions (Find)
  spyder/plugins/findinfiles/widgets/main_widget.py
  spyder/plugins/findinfiles/widgets/tests/test_widgets.py
Labels: type:Bug, User Interface (UI), component:Find in files

#24781 PR: Optionally show traceback on errors raised in console when getting or setting variables (Variable Explorer)
  spyder/plugins/variableexplorer/widgets/collectionsdelegate.py
Labels: type:Enhancement, component:Variable Explorer, User Interface (UI)

#24953 PR: Fix some test failures (CI)
  .github/scripts/install.sh
  spyder/app/tests/test_mainwindow.py
  spyder/plugins/ipythonconsole/tests/test_ipythonconsole.py
Labels: type:Task

#24951 PR: Fix stuck drag cursor rendering (Editor)
  spyder/plugins/editor/widgets/codeeditor/codeeditor.py
Labels: type:Bug, component:Editor

#24943 PR: Support docstring linting options via Ruff (Completions/Linting)
  spyder/app/tests/test_mainwindow.py
  spyder/plugins/completion/providers/languageserver/conftabs/__init__.py
  spyder/plugins/completion/providers/languageserver/conftabs/docstring.py
  spyder/plugins/completion/providers/languageserver/conftabs/linting.py
  spyder/plugins/completion/providers/languageserver/provider.py
  spyder/plugins/completion/tests/test_configdialog.py
Labels: component:Code Completion and linting, type:Feature

#24972 PR: Don't clear console after applying a new color scheme (IPython console)
  spyder/plugins/ipythonconsole/widgets/shell.py
Labels: type:Bug, component:IPython Console, User Experience (UX)

#24934 PR: Add uninstall shortcut for Linux and macOS (Installers)
  .github/scripts/installer_test.sh
  .github/workflows/installers-conda.yml
  installers-conda/build_installers.py
  installers-conda/resources/construct.yaml
  installers-conda/resources/osx_pkg_welcome.rtf
  installers-conda/resources/post-install.sh
  installers-conda/resources/uninstall-menu.json
  installers-conda/resources/uninstall-spyder.sh
  installers-conda/resources/uninstall.icns
  installers-conda/resources/uninstall.png
  spyder/widgets/github/tests/test_github_backend.py
Labels: type:Enhancement, User Interface (UI), Installers

#24994 PR: Cast page name to string when adding it to `SidebarDialog` (Widgets)
  spyder/widgets/sidebardialog.py
Labels: type:Bug, component:Remote client

#24986 PR: Fix updater checksum comparison with `sha256` prefix
  spyder/plugins/updatemanager/widgets/update.py
  spyder/plugins/updatemanager/workers.py
Labels: type:Bug, component:Update manager

#24995 PR: Prevent using Pyside 6.9+ and require PyQt 6.9+
  changelogs/Spyder-6.md
  spyder/requirements.py
Labels: type:Bug, Package:PySide

#24996 PR: Revert Python version of installer's base environment to 3.11
  installers-conda/resources/base_env.yml
  spyder/plugins/updatemanager/tests/test_update_manager.py
  spyder/plugins/updatemanager/workers.py
Labels: type:Bug, Installers, component:Update manager

#24826 PR: Update connection info after editing it and fix some bugs with remote consoles and file explorer (Remote client/IPython console/Files)
  spyder/app/mainwindow.py
  spyder/plugins/explorer/plugin.py
  spyder/plugins/explorer/widgets/main_widget.py
  spyder/plugins/explorer/widgets/remote_explorer.py
  spyder/plugins/ipythonconsole/widgets/client.py
  spyder/plugins/ipythonconsole/widgets/main_widget.py
  spyder/plugins/remoteclient/api/manager/base.py
  spyder/plugins/remoteclient/api/modules/base.py
  spyder/plugins/remoteclient/plugin.py
  spyder/plugins/remoteclient/widgets/connectiondialog.py
  spyder/plugins/remoteclient/widgets/connectionpages.py
  spyder/plugins/remoteclient/widgets/connectionstatus.py
  spyder/plugins/remoteclient/widgets/container.py
Labels: type:Bug, component:IPython Console, component:File Explorer, component:Remote client

#25003 PR: Fix typographical error in macOS installer welcome page
  installers-conda/resources/osx_pkg_welcome.rtf
Labels: type:Bug, User Interface (UI), Installers

#25004 PR: Reorganize Editor preferences and improve UI text
  spyder/plugins/editor/confpage.py
  spyder/plugins/editor/widgets/main_widget.py
Labels: type:Enhancement, component:Editor, component:Preferences, User Interface (UI), User Experience (UX)

#25023 PR: Clarify and polish UI text for keyboard shortcuts pref pane
  spyder/plugins/shortcuts/confpage.py
  spyder/plugins/shortcuts/widgets/table.py
Labels: type:Enhancement, component:Preferences, User Interface (UI)

#25031 PR: Use `windows-2022` image on Windows workflows (CI)
  .github/workflows/build-subrepos.yml
  .github/workflows/installers-conda.yml
  .github/workflows/test-win.yml
Labels: type:Task

#25021 PR: Use consistant terms for syntax highlighting theme in prefs
  spyder/plugins/appearance/confpage.py
  spyder/plugins/appearance/widgets.py
Labels: component:Preferences, User Interface (UI), type:Task

#25028 PR: Increase default max console buffer and warn if it's big (IPython console)
  spyder/config/main.py
  spyder/plugins/ipythonconsole/confpage.py
Labels: type:Enhancement, component:IPython Console, component:Preferences, User Interface (UI), User Experience (UX)

#25040 PR: Update translations for 6.1.0
  spyder/locale/de/LC_MESSAGES/spyder.po
  spyder/locale/es/LC_MESSAGES/spyder.po
  spyder/locale/fa/LC_MESSAGES/spyder.po
  spyder/locale/fr/LC_MESSAGES/spyder.po
  spyder/locale/hr/LC_MESSAGES/spyder.po
  spyder/locale/hu/LC_MESSAGES/spyder.po
  spyder/locale/ja/LC_MESSAGES/spyder.po
  spyder/locale/pl/LC_MESSAGES/spyder.po
  spyder/locale/pt_BR/LC_MESSAGES/spyder.po
  spyder/locale/ru/LC_MESSAGES/spyder.po
  spyder/locale/spyder.pot
  spyder/locale/te/LC_MESSAGES/spyder.po
  spyder/locale/uk/LC_MESSAGES/spyder.po
  spyder/locale/zh_CN/LC_MESSAGES/spyder.po
  spyder/plugins/explorer/widgets/remote_explorer.py
  spyder/plugins/profiler/confpage.py
Labels: type:Task

#25050 Backport PR #25047 on branch 6.x (PR: Improve how Spyder/Spyder-kernels feedstock branches are set (Installers))
  installers-conda/build_conda_pkgs.py
Labels: type:Bug, Installers

#25060 PR: Update `spyder-kernels` constraint to prevent pip install error
  binder/environment.yml
  changelogs/Spyder-6.md
  requirements/main.yml
  setup.py
  spyder/dependencies.py
  spyder/plugins/ipythonconsole/__init__.py
Labels: type:Task

#25072 Backport PR #25045 on branch 6.x (PR: Add Google option to lint docstrings with Ruff (Completion and linting))
  spyder/plugins/completion/providers/languageserver/conftabs/linting.py
Labels: type:Enhancement, component:Code Completion and linting

#25077 PR: Fix some strings for translation
  spyder/app/tests/test_mainwindow.py
  spyder/plugins/explorer/widgets/remote_explorer.py
  spyder/plugins/profiler/confpage.py
Labels: type:Task

#25085 Backport PR #25063 on branch 6.x (PR: Fix issue where checksum comparison fails if the actual digest begins with any of the characters sha256)
  installers-conda/build_conda_pkgs.py
  spyder/app/tests/test_mainwindow.py
  spyder/plugins/updatemanager/widgets/update.py
  spyder/plugins/updatemanager/workers.py
Labels: type:Bug, component:Update manager
